body {
    font-family: "IRANSansWeb" !important;
    direction: rtl;
    text-align: right;
    background: #eaeaea;
}

.glyphicon {
    font-family: "Glyphicons Halflings" !important;
}

.glyphicon-asterisk:before {
    content: "\2a";
}
.glyphicon-plus:before {
    content: "\2b";
}
.glyphicon-euro:before {
    content: "\20ac";
}
.glyphicon-minus:before {
    content: "\2212";
}
.glyphicon-cloud:before {
    content: "\2601";
}
.glyphicon-envelope:before {
    content: "\2709";
}
.glyphicon-pencil:before {
    content: "\270f";
}
.glyphicon-glass:before {
    content: "\e001";
}
.glyphicon-music:before {
    content: "\e002";
}
.glyphicon-search:before {
    content: "\e003";
}
.glyphicon-heart:before {
    content: "\e005";
}
.glyphicon-star:before {
    content: "\e006";
}
.glyphicon-star-empty:before {
    content: "\e007";
}
.glyphicon-user:before {
    content: "\e008";
}
.glyphicon-film:before {
    content: "\e009";
}
.glyphicon-th-large:before {
    content: "\e010";
}
.glyphicon-th:before {
    content: "\e011";
}
.glyphicon-th-list:before {
    content: "\e012";
}
.glyphicon-ok:before {
    content: "\e013";
}
.glyphicon-remove:before {
    content: "\e014";
}
.glyphicon-zoom-in:before {
    content: "\e015";
}
.glyphicon-zoom-out:before {
    content: "\e016";
}
.glyphicon-off:before {
    content: "\e017";
}
.glyphicon-signal:before {
    content: "\e018";
}
.glyphicon-cog:before {
    content: "\e019";
}
.glyphicon-trash:before {
    content: "\e020";
}
.glyphicon-home:before {
    content: "\e021";
}
.glyphicon-file:before {
    content: "\e022";
}
.glyphicon-time:before {
    content: "\e023";
}
.glyphicon-road:before {
    content: "\e024";
}
.glyphicon-download-alt:before {
    content: "\e025";
}
.glyphicon-download:before {
    content: "\e026";
}
.glyphicon-upload:before {
    content: "\e027";
}
.glyphicon-inbox:before {
    content: "\e028";
}
.glyphicon-play-circle:before {
    content: "\e029";
}
.glyphicon-repeat:before {
    content: "\e030";
}
.glyphicon-refresh:before {
    content: "\e031";
}
.glyphicon-list-alt:before {
    content: "\e032";
}
.glyphicon-flag:before {
    content: "\e034";
}
.glyphicon-headphones:before {
    content: "\e035";
}
.glyphicon-volume-off:before {
    content: "\e036";
}
.glyphicon-volume-down:before {
    content: "\e037";
}
.glyphicon-volume-up:before {
    content: "\e038";
}
.glyphicon-qrcode:before {
    content: "\e039";
}
.glyphicon-barcode:before {
    content: "\e040";
}
.glyphicon-tag:before {
    content: "\e041";
}
.glyphicon-tags:before {
    content: "\e042";
}
.glyphicon-book:before {
    content: "\e043";
}
.glyphicon-print:before {
    content: "\e045";
}
.glyphicon-font:before {
    content: "\e047";
}
.glyphicon-bold:before {
    content: "\e048";
}
.glyphicon-italic:before {
    content: "\e049";
}
.glyphicon-text-height:before {
    content: "\e050";
}
.glyphicon-text-width:before {
    content: "\e051";
}
.glyphicon-align-left:before {
    content: "\e052";
}
.glyphicon-align-center:before {
    content: "\e053";
}
.glyphicon-align-right:before {
    content: "\e054";
}
.glyphicon-align-justify:before {
    content: "\e055";
}
.glyphicon-list:before {
    content: "\e056";
}
.glyphicon-indent-left:before {
    content: "\e057";
}
.glyphicon-indent-right:before {
    content: "\e058";
}
.glyphicon-facetime-video:before {
    content: "\e059";
}
.glyphicon-picture:before {
    content: "\e060";
}
.glyphicon-map-marker:before {
    content: "\e062";
}
.glyphicon-adjust:before {
    content: "\e063";
}
.glyphicon-tint:before {
    content: "\e064";
}
.glyphicon-edit:before {
    content: "\e065";
}
.glyphicon-share:before {
    content: "\e066";
}
.glyphicon-check:before {
    content: "\e067";
}
.glyphicon-move:before {
    content: "\e068";
}
.glyphicon-step-backward:before {
    content: "\e069";
}
.glyphicon-fast-backward:before {
    content: "\e070";
}
.glyphicon-backward:before {
    content: "\e071";
}
.glyphicon-play:before {
    content: "\e072";
}
.glyphicon-pause:before {
    content: "\e073";
}
.glyphicon-stop:before {
    content: "\e074";
}
.glyphicon-forward:before {
    content: "\e075";
}
.glyphicon-fast-forward:before {
    content: "\e076";
}
.glyphicon-step-forward:before {
    content: "\e077";
}
.glyphicon-eject:before {
    content: "\e078";
}
.glyphicon-chevron-left:before {
    content: "\e079";
}
.glyphicon-chevron-right:before {
    content: "\e080";
}
.glyphicon-plus-sign:before {
    content: "\e081";
}
.glyphicon-minus-sign:before {
    content: "\e082";
}
.glyphicon-remove-sign:before {
    content: "\e083";
}
.glyphicon-ok-sign:before {
    content: "\e084";
}
.glyphicon-question-sign:before {
    content: "\e085";
}
.glyphicon-info-sign:before {
    content: "\e086";
}
.glyphicon-screenshot:before {
    content: "\e087";
}
.glyphicon-remove-circle:before {
    content: "\e088";
}
.glyphicon-ok-circle:before {
    content: "\e089";
}
.glyphicon-ban-circle:before {
    content: "\e090";
}
.glyphicon-arrow-left:before {
    content: "\e091";
}
.glyphicon-arrow-right:before {
    content: "\e092";
}
.glyphicon-arrow-up:before {
    content: "\e093";
}
.glyphicon-arrow-down:before {
    content: "\e094";
}
.glyphicon-share-alt:before {
    content: "\e095";
}
.glyphicon-resize-full:before {
    content: "\e096";
}
.glyphicon-resize-small:before {
    content: "\e097";
}
.glyphicon-exclamation-sign:before {
    content: "\e101";
}
.glyphicon-gift:before {
    content: "\e102";
}
.glyphicon-leaf:before {
    content: "\e103";
}
.glyphicon-eye-open:before {
    content: "\e105";
}
.glyphicon-eye-close:before {
    content: "\e106";
}
.glyphicon-warning-sign:before {
    content: "\e107";
}
.glyphicon-plane:before {
    content: "\e108";
}
.glyphicon-random:before {
    content: "\e110";
}
.glyphicon-comment:before {
    content: "\e111";
}
.glyphicon-magnet:before {
    content: "\e112";
}
.glyphicon-chevron-up:before {
    content: "\e113";
}
.glyphicon-chevron-down:before {
    content: "\e114";
}
.glyphicon-retweet:before {
    content: "\e115";
}
.glyphicon-shopping-cart:before {
    content: "\e116";
}
.glyphicon-folder-close:before {
    content: "\e117";
}
.glyphicon-folder-open:before {
    content: "\e118";
}
.glyphicon-resize-vertical:before {
    content: "\e119";
}
.glyphicon-resize-horizontal:before {
    content: "\e120";
}
.glyphicon-hdd:before {
    content: "\e121";
}
.glyphicon-bullhorn:before {
    content: "\e122";
}
.glyphicon-certificate:before {
    content: "\e124";
}
.glyphicon-thumbs-up:before {
    content: "\e125";
}
.glyphicon-thumbs-down:before {
    content: "\e126";
}
.glyphicon-hand-right:before {
    content: "\e127";
}
.glyphicon-hand-left:before {
    content: "\e128";
}
.glyphicon-hand-up:before {
    content: "\e129";
}
.glyphicon-hand-down:before {
    content: "\e130";
}
.glyphicon-circle-arrow-right:before {
    content: "\e131";
}
.glyphicon-circle-arrow-left:before {
    content: "\e132";
}
.glyphicon-circle-arrow-up:before {
    content: "\e133";
}
.glyphicon-circle-arrow-down:before {
    content: "\e134";
}
.glyphicon-globe:before {
    content: "\e135";
}
.glyphicon-tasks:before {
    content: "\e137";
}
.glyphicon-filter:before {
    content: "\e138";
}
.glyphicon-fullscreen:before {
    content: "\e140";
}
.glyphicon-dashboard:before {
    content: "\e141";
}
.glyphicon-heart-empty:before {
    content: "\e143";
}
.glyphicon-link:before {
    content: "\e144";
}
.glyphicon-phone:before {
    content: "\e145";
}
.glyphicon-usd:before {
    content: "\e148";
}
.glyphicon-gbp:before {
    content: "\e149";
}
.glyphicon-sort:before {
    content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
    content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
    content: "\e152";
}
.glyphicon-sort-by-order:before {
    content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
    content: "\e154";
}
.glyphicon-sort-by-attributes:before {
    content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
    content: "\e156";
}
.glyphicon-unchecked:before {
    content: "\e157";
}
.glyphicon-expand:before {
    content: "\e158";
}
.glyphicon-collapse-down:before {
    content: "\e159";
}
.glyphicon-collapse-up:before {
    content: "\e160";
}
.glyphicon-log-in:before {
    content: "\e161";
}
.glyphicon-flash:before {
    content: "\e162";
}
.glyphicon-log-out:before {
    content: "\e163";
}
.glyphicon-new-window:before {
    content: "\e164";
}
.glyphicon-record:before {
    content: "\e165";
}
.glyphicon-save:before {
    content: "\e166";
}
.glyphicon-open:before {
    content: "\e167";
}
.glyphicon-saved:before {
    content: "\e168";
}
.glyphicon-import:before {
    content: "\e169";
}
.glyphicon-export:before {
    content: "\e170";
}
.glyphicon-send:before {
    content: "\e171";
}
.glyphicon-floppy-disk:before {
    content: "\e172";
}
.glyphicon-floppy-saved:before {
    content: "\e173";
}
.glyphicon-floppy-remove:before {
    content: "\e174";
}
.glyphicon-floppy-save:before {
    content: "\e175";
}
.glyphicon-floppy-open:before {
    content: "\e176";
}
.glyphicon-credit-card:before {
    content: "\e177";
}
.glyphicon-transfer:before {
    content: "\e178";
}
.glyphicon-cutlery:before {
    content: "\e179";
}
.glyphicon-header:before {
    content: "\e180";
}
.glyphicon-compressed:before {
    content: "\e181";
}
.glyphicon-earphone:before {
    content: "\e182";
}
.glyphicon-phone-alt:before {
    content: "\e183";
}
.glyphicon-tower:before {
    content: "\e184";
}
.glyphicon-stats:before {
    content: "\e185";
}
.glyphicon-sd-video:before {
    content: "\e186";
}
.glyphicon-hd-video:before {
    content: "\e187";
}
.glyphicon-subtitles:before {
    content: "\e188";
}
.glyphicon-sound-stereo:before {
    content: "\e189";
}
.glyphicon-sound-dolby:before {
    content: "\e190";
}
.glyphicon-sound-5-1:before {
    content: "\e191";
}
.glyphicon-sound-6-1:before {
    content: "\e192";
}
.glyphicon-sound-7-1:before {
    content: "\e193";
}
.glyphicon-copyright-mark:before {
    content: "\e194";
}
.glyphicon-registration-mark:before {
    content: "\e195";
}
.glyphicon-cloud-download:before {
    content: "\e197";
}
.glyphicon-cloud-upload:before {
    content: "\e198";
}
.glyphicon-tree-conifer:before {
    content: "\e199";
}
.glyphicon-tree-deciduous:before {
    content: "\e200";
}
.glyphicon-briefcase:before {
    content: "\1f4bc";
}
.glyphicon-calendar:before {
    content: "\1f4c5";
}
.glyphicon-pushpin:before {
    content: "\1f4cc";
}
.glyphicon-paperclip:before {
    content: "\1f4ce";
}
.glyphicon-camera:before {
    content: "\1f4f7";
}
.glyphicon-lock:before {
    content: "\1f512";
}
.glyphicon-bell:before {
    content: "\1f514";
}
.glyphicon-bookmark:before {
    content: "\1f516";
}
.glyphicon-fire:before {
    content: "\1f525";
}
.glyphicon-wrench:before {
    content: "\1f527";
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
}

.hidden {
    display: none !important;
}
.row {
    width: 100%;
    padding: 0;
    margin: 0;
}
.fullyCenterContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayFlex {
    display: flex;
}
.loaderDiv {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000c7;
}

.loader_200 {
    width: 260px !important;
    height: 290px !important;
    background-size: 300px;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: var(--koochita-yellow)90;*/
}

.loaderDiv .processBar {
    max-width: 400px;
    width: 95%;
    height: 20px;
    background: #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.loaderDiv .processBar .percentBar {
    z-index: 1;
}
.loaderDiv .processBar .bar {
    right: 0;
    height: 100%;
    background: var(--koochita-yellow);
    position: absolute;
    border-radius: 20px;
}

.mainBodySection {
    position: fixed;
    width: calc(100% - 250px);
    height: calc(100vh - 0px);
    left: 0;
    direction: rtl;
    text-align: right;
    padding: 15px;
}
.mainBodySection > .row {
    height: 100%;
}
.userName {
    position: absolute;
    right: 53px;
    border-radius: 20px 0 0 20px;
    width: 75%;
    padding-top: 5px;
    padding-right: 30px;
    height: 33px;
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.25);
}
/*.mainBodySection > div {*/
/*    height: 100%;*/
/*}*/
.resizeImgClass {
    width: 100%;
}

.newTicketCount {
    width: 20px;
    height: 20px;
    background: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: solid 1px red;
    animation: glowTicketNumber 2s infinite;
}

.mainHeader {
    background: white;
    width: 100%;
    height: 60px;
    right: 0;
    top: 0;
    border-bottom: solid 1px var(--lightBordreGray);
    display: none;
    align-items: center;
    padding: 0px 10px 0 0px;
}
.mainHeader .mainLogo {
    height: 75%;
    width: auto;
    margin-left: auto;
}
.mainLogo {
    height: 75%;
    width: auto;
    margin-left: auto;
}
.mainHeader .mainLogo img {
    height: 100%;
}
.mainLogo img {
    height: 100%;
}
.mainHeader .headerButton {
    margin-left: 20px;
    font-size: 22px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: #3e3e3e;
    background: #d3d3d378;
    position: relative;
}
.mainHeader .headerButton .newNum {
    position: absolute;
    left: -5px;
    bottom: -5px;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
    background: red;
    color: white;
    animation: glowTicketNumber 2s infinite;
}

.mainHeader .businessName {
    font-size: 22px;
    font-weight: bold;
    padding: 0px 20px;
    border-radius: 5px;
    background: var(--koochita-yellow);
    box-shadow: 2px 2px 3px 2px #00000078;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0px auto;
}
.businessName {
    font-size: 22px;
    font-weight: bold;
    padding: 0px 20px;
    border-radius: 5px;
    background: var(--koochita-yellow);
    box-shadow: 2px 2px 3px 2px #00000078;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0px auto;
}
.mainHeader .businessName select {
    background: none;
    border: none;
    cursor: pointer;
}
.businessName select {
    background: none;
    border: none;
    cursor: pointer;
}

.mainHeader .userInfoSec {
    display: flex;
    margin-left: 30px;
}
.userInfoSec {
    padding: 15px 10px;
    align-items: center;
    display: flex;
    margin-left: 30px;
}
.circle {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.mainHeader .userInfoSec .userPic {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
}
.userPic {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #db3700;
    z-index: 10;
}
.mainHeader .userInfoSec .topDropDown {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.mainHeader .userInfoSec .topDropDown .text {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*.mainHeader .userInfoSec .topDropDown .text:after{*/
/*    content: '\E04A';*/
/*    font-family: 'Shazde_Regular' !important*/
/*}*/
.mainHeader .userInfoSec .topDropDown .dropDownMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
    top: 100%;
    right: 0;
    transition: 0.3s;
    max-height: 0;
    overflow: hidden;
    z-index: 1;
}
.mainHeader .userInfoSec .topDropDown .dropDownMenu .item {
    padding: 0 14px;
    margin-bottom: 5px;
    font-size: 17px;
    color: black;
    text-decoration: none;
}
.mainHeader .userInfoSec .topDropDown .dropDownMenu.open {
    max-height: 1000px;
    box-shadow: 0 3px 3px 1px #00000063;
}

.mainSidebar {
    background-color: #eeeeee;
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;

    /* border-left: solid 1px var(--lightBordreGray); */
    /* Rectangle 2 */
}
.progressBarSection {
    display: flex;
    flex-direction: row;
}

/* .mainSidebar .progressBarSection {
    display: none;
    border-bottom: solid 1px var(--lightBordreGray);
    padding: 20px;
} */
.progressBarSection .text {
    font-size: 15px;
    font-weight: bold;
    padding-left: 6px;
}
.progressBarSection .progressBarDiv {
    width: 60%;
    height: 10px;
    position: relative;
    background: #80808038;
    border-radius: 30px;
    margin-top: 5px;
    overflow: hidden;
}
.progressBarSection .progressBarDiv .full {
    position: absolute;
    right: 0;
    background: var(--koochita-blue);
    height: 100%;
    width: 0%;
    border-radius: 30px;
}

.mainSidebar .sideMenuSection {
    background-color: #ffffff;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.mainSidebar.hasSideProgressBar .sideMenuSection {
    height: calc(100vh - 150px);
}
.mainSidebar .sideMenuSection .sideNavRow {
    border-bottom: solid 1px var(--lightBordreGray);
    transition: 0.3s;
}
.mainSidebar .sideMenuSection .sideNavRow .sideNavHeader {
    font-size: 14px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    color: #d4d4d4;
}
.mainSidebar .sideMenuSection .sideNavRow .sideNavHeader svg path {
    fill: #d4d4d4;
}
.mainSidebar .sideMenuSection .sideNavRow.able .sideNavHeader {
    font-size: 14px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    color: #5a5a5a;
}
.mainSidebar .sideMenuSection .sideNavRow.able .sideNavHeader svg path {
    fill: #5a5a5a;
}
.mainSidebar .sideMenuSection .sideNavRow.open.able .sideNavHeader {
    color: #ffff;
    background-color: #db3700;
    fill: white;
}

.mainSidebar .sideMenuSection .sideNavRow.open.able .sideNavHeader svg path {
    fill: white;
}
.mainSidebar .sideMenuSection .sideNavRow.open .sideNavHeader.hasBody:after {
    transform: rotate(0deg);
}
.mainSidebar .sideMenuSection .sideNavRow .sideNavBody {
    display: none;
}
.mainSidebar .sideMenuSection .sideNavRow .sideNavBody .sideNavItem {
    background-color: #ffffff !important;
    transition: 0.3s;
    color: #0000007a !important;
    cursor: pointer;
    padding: 7px 0px 7px 20px;
    font-weight: bold;
    border-radius: 10px;
    margin: 3px 5px;
    font-size: 12px;
}

.mainSidebar .sideMenuSection .sideNavRow.able .selected,
.mainSidebar .sideMenuSection .sideNavRow.able :hover {
    background-color: #db3700;
    color: #ffffff;
    text-decoration: none;
    /* border-radius: 10px; */
    fill: white;
    cursor: pointer !important;
}
/* .mainSidebar .sideMenuSection .sideNavRow.able a:hover {
    color: #db3700 !important;
} */

.itemsAdd {
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.itemsDelete {
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    border-left: 1px solid #d5d5d5;
    line-height: 20px;
    text-align: right;
    color: #db3700;
}
.mainSidebar .sideMenuSection .sideNavRow.able .selected svg path,
.mainSidebar .sideMenuSection .sideNavRow.able :hover svg path {
    fill: white;
}

.mainSidebar .sideMenuSection .sideNavRow.open .sideNavBody {
    background-color: white !important;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.mainSidebar .sideMenuSection .sideNavRow.open .sideNavBody ul {
    background-color: white !important;
    color: #5a5a5a;
}
.mainSidebar .sideMenuSection .sideNavRow.open .sideNavBody ul li {
    background-color: white !important;
    color: #5a5a5a;
}
.mainSidebar .sideMenuSection .sideNavRow.open .sideNavBody ul li:hover {
    background-color: white !important;
    color: #db3700;
}

.mainSidebar .sideMenuSection .sideNavRow.able .sideNavBody .sideNavItem a {
    background-color: #ffffff !important;
    transition: 0.3s;
    color: #0000007a !important;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    margin: 3px 5px;
    font-size: 12px;
}

.mainSidebar .sideMenuSection .sideNavRow.open .sideNavBody ul li:hover a {
    color: #db3700 !important;
}

.mainSidebar .sideMenuSection .sideNavRow.showInBottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    text-align: center;
}
.mainSidebar .sideMenuSection .sideNavRow.showInBottom .sideNavHeader {
    justify-content: center;
    font-weight: bold;
    color: var(--koochita-red);
}

label {
    margin-bottom: 0;
}

.mainBackWhiteBody {
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 4px 1px #cccccc;
    padding: 10px;
    overflow: auto;
    max-height: 100%;
}

.mainBackWhiteBody .head {
    font-weight: bold;
    font-size: 21px;
    border-bottom: solid 1px lightgray;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.mainBackWhiteBody .descriptions {
    font-size: 15px;
    color: #2b2b2b;
}
.mainBackWhiteBody .descriptions.danger {
    color: red;
}

.buttonGroupBottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: solid 1px var(--lightBordreGray);
    padding-top: 10px;
}
.buttonGroupBottom.center {
    justify-content: center;
}

.doLoginButton {
    background: var(--koochita-light-green);
    border: none;
    box-shadow: 1px 1px 4px 2px #276761;
}
.doLoginButton:hover {
    background: var(--koochita-light-green);
}

.notifAlertBP {
    width: fit-content;
    text-align: center;
    position: fixed;
    bottom: -100%;
    right: auto;
    left: auto;
    direction: rtl;
    z-index: 10000;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 12px 3px grey;
    background-color: #0076ac;

    padding: 10px;
    font-size: 1.2em;
    color: white;
    transition: 0.5s;
}
.greenAlertBP {
    background-color: var(--koochita-light-green);
}
.redAlertBP {
    background-color: #8b0000;
}
.topAlertBP {
    bottom: 0;
}
.rightAlertBP {
    right: 1%;
    left: auto;
}
.leftAlertBP {
    right: auto;
    left: 1%;
}
.alertDarkBackBP {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    z-index: 999999;
    justify-content: center;
    display: none;
}
.alertBoxBP {
    background-color: white;
    z-index: 10000;
    position: fixed;
    top: 10%;
    direction: rtl;
    border-radius: 10px;
}
.alertTitleBP {
    padding: 10px;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 5px;
    line-height: 32px;

    color: white;
    border-radius: 10px 10px 0 0;
}
.offerTitleBP {
    background-color: var(--koochita-yellow);
}
.warningTitleBP {
    background-color: #761c19;
}
.alertDescriptionBoxBP {
    padding: 10px 20px;
    text-align: center;
}
.alertDescriptionBP {
    font-size: 14px;
    font-weight: 800;
    line-height: 30px;
}
.alertBtnBP {
    width: fit-content;
    line-height: 20px;
    padding: 6px 12px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    margin-bottom: 5px;
}
.alertBtnBP:hover {
    opacity: 0.75;
}
.rightBtnBP {
    background-color: #761c19;
    margin-left: 15px;
}
.leftBtnBP {
    float: left;
    background-color: var(--koochita-green);
    margin-right: 15px;
}

.circleButton {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 2px 1px #0000007d;
    transition: 0.3s;
}
.circleButton:hover {
    transform: scale(1.1);
}
.circleButton.deleteBut {
    background: red;
}
.circleButton.editBut {
    background: blue;
}
.editBtn {
    padding: 0 9px;
    display: flex;
    font-size: 13px;
    align-items: center;
}
.btnSuccess {
    cursor: pointer !important;
    color: white;
    background-color: #0076a3;
}
.btnAlert {
    cursor: pointer !important;
    color: white;
    background-color: #707070;
}
.btnError {
    cursor: pointer !important;
    background-color: #db3700;
    color: white;
}
.circleButton.yellowBut {
    background: yellowgreen;
}
.boxRoom {
    margin-left: 10px !important;
    width: 30%;
}
.fileBtn {
    margin-right: 5px;
    background-color: #0076a3;
    color: white;
    text-align: center;
    border: none;
}
#searchResult {
    padding-right: 10px;
    width: 80%;
    color: white;
    z-index: 10;
    position: absolute;
    top: 39px;
    right: 55px;
    background-color: #2b2b2b;
}
.followerModal .searchSec {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}
.followerModal .searchSec .inputSec {
    display: flex;
    align-items: center;
    background: #80808036;
    justify-content: center;
    border-radius: 13px;
}
.followerModal .searchSec .inputSec > input {
    width: 100%;
    border: none;
    padding: 0px 10px;
    background: none;
}
.followerModal .searchSec .inputSec > div {
    border: none;
    background: none;
    font-size: 20px;
    padding-left: 5px;
}

.createTicketModal .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.createTicketModal .modal-footer > button {
    margin: 0px 5px;
    border-radius: 24px;
    padding: 5px 25px;
}
.createTicketModal .specLabel {
    width: 110px;
    font-size: 14px;
}
.createTicketModal .specInput {
    color: black;
    background: #add8e645;
    border: none;
    border-radius: 25px;
    padding: 5px 15px;
}
.createTicketModal .specGroup {
    display: flex;
}
.createTicketModal .addFile {
    background: var(--koochita-light-green);
    color: white;
    padding: 3px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.createTicketModal .filesSection {
    display: flex;
    flex-wrap: wrap;
}
.createTicketModal .filesSection .file {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 5px 0px;
    background: var(--koochita-yellow);
    padding: 4px 10px;
    border-radius: 20px;
}
.createTicketModal .filesSection .file .closeI {
    cursor: pointer;
    color: red;
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 3px;
}
.cursorPointer {
    cursor: pointer;
}
.height100Percent {
    height: 100%;
}
.createTicketModal .filesSection .file .name {
}
.borderLeft {
    border-left: 1px solid #d8d8d8;
}
.borderRight {
    border-right: 1px solid #d8d8d8;
}

.notificationHeader.off .newNum {
    display: none;
}
.notificationHeader.off .icOn {
    display: none;
}
.notificationHeader.off .icOff {
    display: inline-block;
}
.notificationHeader.on .newNum {
    display: flex;
}
.notificationHeader.on .icOn {
    display: inline-block;
    animation: notificationBelt 2s infinite;
}
.notificationHeader.on .icOff {
    display: none;
}
.logoBox {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    height: 83px;
    background: #ffffff;
}
.logoBoxheader {
    margin-bottom: 15px;
    position: relative;
    width: 20%;
    height: 64px;
    background: #ffffff;
}
.stepView {
    background: #fcffff;
    border: 1px solid #444444;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: fit-content;
    cursor: pointer;
}
.stepView:hover {
    background-color: #dfdfdf;
}
.typeLogo {
    font-family: "segoe" !important;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    bottom: -7px;
    right: 7px;
    position: absolute;
    width: 135px;
    height: 39px;
    background: #db3700;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
.blackLayer {
    display: none;
    z-index: 50;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
#boxMake {
    flex-wrap: wrap;
    display: flex;
}
.formTitle {
    display: flex;
    border-bottom: solid 1px lightgray;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}
.formTitleProgress {
    width: 40%;
}
.dropdown-item {
    text-align: right;
}

.main-sparkline8-hd {
    direction: rtl;
}

.hidden {
    display: none !important;
}

.calendar > table {
    width: 100%;
}

.clickable {
    cursor: pointer;
    color: #d1b676;
}

.btn-success,
.btn-primary {
    color: white !important;
}

.modal-header {
    direction: rtl !important;
}

#myModal {
    width: 40%;
    padding: 20px;
    left: 30%;
    top: 200px;
    direction: rtl;
}

#myModal .modal-content {
    padding: 30px;
}

.green {
    background-color: #31a033 !important;
    color: white !important;
}

.red {
    background-color: #ca0e0e !important;
    color: white !important;
}

.back {
    float: left;
    color: #ca0e0e;
    cursor: pointer;
}
.mgbtn5 {
    margin-left: 5px;
    margin-top: 5px;
}
@media (max-width: 766px) {
    .notifAlertBP {
        position: fixed;
        bottom: -100%;
        z-index: 9999;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .topAlertBP {
        bottom: 74px;
    }

    .alertBoxBP {
        width: 90%;
        top: 15%;
    }

    .alertBtnBP {
        width: 100px;
    }
}
@media only screen and (max-width: 1350px) and (min-width: 960px) {
    .boxRoom {
        width: 48%;
    }
}
@media only screen and (max-width: 960px) and (min-width: 800px) {
    .boxRoom {
        width: 98%;
    }
}
@media (max-width: 800px) {
    .formTitleProgress {
        width: 100%;
    }
    .formTitle {
        flex-direction: column;
    }
    #boxMake {
        flex-wrap: wrap;
    }
    .inputBoxTour {
        width: 100% !important;
    }
    #mainSideBar {
        top: 75px;
        margin-right: 5px;
        z-index: 100;
        transition: 0.5s;
        width: 0px;
        border-radius: 20px;
    }
    .mainBodySection {
        width: 100%;
        top: 60px;
    }
    .mainHeader {
        z-index: 100;
        position: relative;
        display: block;
    }
    .menuBtn {
        align-items: center;
        display: flex;
        cursor: pointer;
        background-color: var(--koochita-red);
        height: 60px;
        position: relative;
        z-index: 100;
    }
    .logoBox {
        display: none;
    }
    .userName {
        display: none;
    }
    .sideMenuSection {
    }
}
@media (min-width: 801px) {
    .blackLayer {
        display: none !important;
    }
    .userName {
        display: block !important;
    }
    #mainSideBar {
        width: 250px !important;
    }
}
@media (max-width: 400px) {
    .topAlertBP {
        bottom: 67px;
    }
}

@keyframes glowTicketNumber {
    0% {
        background: red;
        color: white;
    }
    50% {
        background: none;
        color: red;
    }
    100% {
        background: red;
        color: white;
    }
}

@keyframes notificationBelt {
    0% {
        color: black;
        transform: rotate(45deg);
    }
    50% {
        color: red;
        transform: rotate(-45deg);
    }
    100% {
        color: black;
        transform: rotate(45deg);
    }
}
/* a:any-link {
    cursor: unset !important;
} */
a:hover {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #bebebe;
}
::-webkit-scrollbar-thumb:hover {
    background: #969696;
}
:root {
    --koochita-blue: #0076a3;
    --koochita-dark-green: #053a3e;
    --koochita-green: #0d6650;
    --koochita-yellow: #fcc156;
    --koochita-light-green: #4dc7bc;
    --koochita-font: #444444;
    --lightBordreGray: #707070;
    --koochita-gray: #e5e5e5;
    --koochita-red: #db3700;
    --koochita-lightgray: #f8f8f8;
    --koochita-shadow: #00000033;
}
