
.height100{
    height: 100%;
}
.selected {
    background-color: #fcc15691;
}

.spIcons {
    display: inline-block;
}

.suggest {
    display: inline-block;
    cursor: pointer;
}

.globalSearchWithBox {
    width: 40%;
}

#globalSearchResult {
    width: 100%;
}

.resizeImgClass {
    width: 100% !important;
    height: auto !important;
}

.createBusinessPage .kindOfBusinessOwnerSection{
    width: 100%;
    height: 50px;
    border: 2px solid #7d7d7d;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.createBusinessPage .kindOfBusinessOwnerSection .inputSec{
    width: 40px;
    border-left: 2px dashed black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.createBusinessPage .kindOfBusinessOwnerSection .content{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    margin-right: 10px;
}
.createBusinessPage .kindOfBusinessOwnerSection .content > i{

}
.createBusinessPage .kindOfBusinessOwnerSection .content > p{
    margin: 0;
    margin-right: 10px;
}

.createBusinessPage .businessType{
    width: 100%;
    cursor: pointer;
    border: 2px solid #7d7d7d;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.createBusinessPage .businessType .picSection{
    float: right;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.createBusinessPage .businessType .textSec{
    width: calc(100% - 100px);
    padding-right: 20px;
}
.createBusinessPage .businessType .textSec h5{
    font-weight: bold;
    margin: 0px;
}
.createBusinessPage .businessType .textSec p{
    margin: 0px;
    color: gray;
    font-size: 13px;
    margin-top: 5px;
}

.createBusinessPage .createBusinessStep5 .numOfUserInBusiness{
    padding: 3px 0 10px 30px;
    font-size: 15px;
    width: 50%;
}

.shareHolderCard{
    background-color: #fcc1560f;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px var(--koochita-yellow);
    margin-bottom: 30px;
}
.shareHolderCard > .title{
    font-size: 19px;
    width: 100%;
    color: #aa0800;
    font-weight: bold;
    margin-bottom: 10px;
}
.shareHolderCard > .content{
    display: flex;
    justify-content: space-between;
}

.shareHolderCard .deleteButton{
    cursor: pointer;
    background: var(--koochita-red);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    border: none;
    margin-right: auto;
    display: flex;
    margin-top: 10px;
}
.shareHolderCard .content .inputRow{
    width: 49%;
}
.shareHolderCard .content .picSec{
    width: 49%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.shareHolderCard .picSec .uploadPicSection{
    height: 200px;
    width: 100%;
    border: solid 1px #c7c7c7;
    flex-wrap: wrap;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}
.shareHolderCard .picSec > .title{
    color: var(--koochita-green);
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}
.shareHolderCard .uploadPicSection .labelForClick{
    cursor: pointer;
    z-index: 99;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 100%;
    color: black;
}
.shareHolderCard .uploadPicSection .uploadPic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    flex-direction: column;
    font-size: 18px;
    color: black;
    opacity: 1;
}
