/*1st box of style*/

a {
    color: #298bca;
}

a:hover, .im-topnav.dark a:hover, .im-topnav.dark ul > li > a:hover, .im-topnav.light a:hover, .im-topnav.light ul > li > a:hover, .im-navigation.dark a:hover, .im-navigation.dark ul > li > a:hover, .im-navigation.light a:hover, .im-navigation.light ul > li > a:hover, .im-main-header.dark a:hover, .im-main-header.dark ul > li > a:hover, .im-main-header.light a:hover, .im-main-header.light ul > li > a:hover, .im-main-header.dark .im-header-links .top-menu ul li a:hover, .im-main-header.light .im-header-links .top-menu ul li a:hover, .im-top-footer.dark a:hover, .im-footer.dark ul > li > a:hover, .im-top-footer.light a:hover, .im-footer.light ul > li > a:hover, .im-navigation .primary-menu > ul > li > ul.sub-menu > li > a:hover, .iranomag-meta .im-meta-item a:hover, .im-entry-title a:hover, .widget_pop_btn a.active, .im-top-footer.dark .widget_impv_display_widget .widget_pop_btn a.active, .im-top-footer.light .widget_impv_display_widget .widget_pop_btn a.active, .im-widget-entry-header h4.im-widget-entry-title a:hover, .widget li .rsswidget:hover, .widget_recent_comments .recentcomments a:hover, .widget_tag_cloud .tagcloud a:hover, .im-top-footer.dark .widget_tag_cloud .tagcloud a:hover, .im-top-footer.light .widget_tag_cloud .tagcloud a:hover, .widget_meta ul li a:hover, .widget ul li a:hover, .im-top-footer.dark .widget ul li a:hover, .im-top-footer.light .widget ul li a:hover, .im-vc-video-large.light .im-entry-title a:hover, .mobile-menu li a:hover, .im-post-vote-item a:hover, .im-entry-pages .nav-before:hover, .im-entry-pages .nav-after:hover, .im-topnav .top-menu > ul > li > ul.sub-menu > li > a:hover, .im-404-search ul li a:hover, .im-post-download-item-exlink a:hover {
    color: #33aefd;
}

.bypostauthor .im-comment-box {
    background-color: rgba(51, 174, 253, 0.065);
    border-color: rgba(51, 174, 253, 0.25);
}

.bypostauthor .im-comment-box .im-comment-details {
    border-color: rgba(51, 174, 253, 0.2);
}

.review-line, .im-tag-title .fa, .im-404-box {
    background-color: #298bca;
}

input:hover, select:hover, textarea:hover, input:focus, select:focus, textarea:focus {
    border-color: #33aefd;
    box-shadow: rgba(41, 139, 202, 0.5) 0 0 5px;
}

input[type=submit] {
    background-color: #298bca;
    border-color: #2376ac;
}

input[type=submit]:hover, input[type=submit]:focus {
    background-color: #33aefd;
    border-color: #2b94d7;
}

.mega-menu-item-header .mega-menu-item-header-title a:hover {
    color: #33aefd !important;
}

#back-to-top {
    border-color: #298bca;
    color: #298bca;
}

#back-to-top:hover {
    border-color: #33aefd;
    color: #33aefd;
}

@media (max-width: 768px) {
    #back-to-top {
        background-color: #298bca;
    }
}

.widget_categories .widget-head-bar {
    background-color: #298bca;
}

.widget_tag_cloud .tagcloud a:hover, .im-top-footer.dark .widget_tag_cloud .tagcloud a:hover {
    border-color: #33aefd;
}

.nav-links > a:hover {
    border-color: #33aefd;
}

.nav-links .current {
    background-color: #33aefd;
    border: 1px solid #298bca;
}

.im-2col-featured {
    background-color: #33aefd;
}

.im-2col-featured:before {
    border-right-color: #1f6898;
}

.im-svg #im-bar, #review-avg-svg #review-avg-bar {
    stroke: #298bca;
}

.im-post-download {
    background-color: rgba(41, 139, 202, 0.075);
    border-color: rgba(41, 139, 202, 0.25);
}

.im-post-download-title {
    color: rgba(37, 125, 182, 0.9);
}

.im-post-download-list li .fa {
    background-color: #216fa2;
}

.im-post-download-item-title {
    color: rgba(33, 111, 162, 0.9);
}

.im-post-download-item-desc {
    color: rgba(33, 111, 162, 0.75);
}

.im-post-download-item-exlink a {
    color: rgba(45, 153, 222, 0.75);
}

.im-entry-content th {
    background-color: #298bca;
    border-color: #257db6;
}

.im-entry-content tr:hover {
    background-color: rgba(41, 139, 202, 0.05);
}

.im-catlink-color-3193, .im-catlink-color-3193:hover {
    background-color: #666;
}

.im-catlink-color-2079, .im-catlink-color-2079:hover {
    background-color: #666;
}

.im-catlink-color-6121, .im-catlink-color-6121:hover {
    background-color: #666;
}

.menu-item-category-61 > a:hover {
    color: #80cbc4 !important;
}

.menu-item-category-61 .im_mega_menu_holder {
    border-color: #80cbc4 !important;
}

.im-bar-61 {
    stroke: #80cbc4 !important;
}

.im-catlink-color-61 {
    background-color: #80cbc4;
}

.widget-head-61 .widget-head-bar, .im-top-footer.dark .widget-head-61 .widget-head-bar {
    background-color: #80cbc4;
}

.carousel-61:hover .im-carousel-background:after {
    background-color: rgba(128, 203, 196, 0.65);
}

.carousel-61:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(128, 203, 196, 0.95), transparent);
}

.content-block-1:hover .block-61 {
    background: linear-gradient(to right, rgb(96, 152, 147), rgb(128, 203, 196), transparent);
}

.content-block-2:hover .block-61 {
    background: linear-gradient(to right, transparent, rgb(128, 203, 196), rgb(96, 152, 147));
}

@media (max-width: 768px) {
    .content-block:hover .block-61 {
        background: rgb(128, 203, 196);
    }
}

.im-archive-61 {
    border-color: #80cbc4;
}

.im-catlink-color-1238, .im-catlink-color-1238:hover {
    background-color: #666;
}

.im-catlink-color-1237, .im-catlink-color-1237:hover {
    background-color: #666;
}

.im-catlink-color-7010, .im-catlink-color-7010:hover {
    background-color: #666;
}

.im-catlink-color-6805, .im-catlink-color-6805:hover {
    background-color: #666;
}

.im-catlink-color-54, .im-catlink-color-54:hover {
    background-color: #666;
}

.menu-item-category-554 > a:hover {
    color: #c62828 !important;
}

.menu-item-category-554 .im_mega_menu_holder {
    border-color: #c62828 !important;
}

.im-bar-554 {
    stroke: #c62828 !important;
}

.im-catlink-color-554 {
    background-color: #c62828;
}

.widget-head-554 .widget-head-bar, .im-top-footer.dark .widget-head-554 .widget-head-bar {
    background-color: #c62828;
}

.carousel-554:hover .im-carousel-background:after {
    background-color: rgba(198, 40, 40, 0.65);
}

.carousel-554:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(198, 40, 40, 0.95), transparent);
}

.content-block-1:hover .block-554 {
    background: linear-gradient(to right, rgb(149, 30, 30), rgb(198, 40, 40), transparent);
}

.content-block-2:hover .block-554 {
    background: linear-gradient(to right, transparent, rgb(198, 40, 40), rgb(149, 30, 30));
}

@media (max-width: 768px) {
    .content-block:hover .block-554 {
        background: rgb(198, 40, 40);
    }
}

.im-archive-554 {
    border-color: #c62828;
}

.im-catlink-color-1908, .im-catlink-color-1908:hover {
    background-color: #666;
}

.im-catlink-color-5810, .im-catlink-color-5810:hover {
    background-color: #666;
}

.im-catlink-color-7017, .im-catlink-color-7017:hover {
    background-color: #666;
}

.im-catlink-color-3167, .im-catlink-color-3167:hover {
    background-color: #666;
}

.im-catlink-color-1111, .im-catlink-color-1111:hover {
    background-color: #666;
}

.im-catlink-color-2073, .im-catlink-color-2073:hover {
    background-color: #666;
}

.im-catlink-color-2076, .im-catlink-color-2076:hover {
    background-color: #666;
}

.im-catlink-color-2075, .im-catlink-color-2075:hover {
    background-color: #666;
}

.im-catlink-color-851, .im-catlink-color-851:hover {
    background-color: #666;
}

.im-catlink-color-982, .im-catlink-color-982:hover {
    background-color: #666;
}

.im-catlink-color-1635, .im-catlink-color-1635:hover {
    background-color: #666;
}

.im-catlink-color-1636, .im-catlink-color-1636:hover {
    background-color: #666;
}

.im-catlink-color-993, .im-catlink-color-993:hover {
    background-color: #666;
}

.im-catlink-color-1637, .im-catlink-color-1637:hover {
    background-color: #666;
}

.im-catlink-color-2070, .im-catlink-color-2070:hover {
    background-color: #666;
}

.im-catlink-color-1436, .im-catlink-color-1436:hover {
    background-color: #666;
}

.im-catlink-color-2074, .im-catlink-color-2074:hover {
    background-color: #666;
}

.im-catlink-color-1206, .im-catlink-color-1206:hover {
    background-color: #666;
}

.im-catlink-color-940, .im-catlink-color-940:hover {
    background-color: #666;
}

.im-catlink-color-1322, .im-catlink-color-1322:hover {
    background-color: #666;
}

.im-catlink-color-2072, .im-catlink-color-2072:hover {
    background-color: #666;
}

.im-catlink-color-1233, .im-catlink-color-1233:hover {
    background-color: #666;
}

.im-catlink-color-791, .im-catlink-color-791:hover {
    background-color: #666;
}

.im-catlink-color-2069, .im-catlink-color-2069:hover {
    background-color: #666;
}

.im-catlink-color-2077, .im-catlink-color-2077:hover {
    background-color: #666;
}

.im-catlink-color-2067, .im-catlink-color-2067:hover {
    background-color: #666;
}

.im-catlink-color-2068, .im-catlink-color-2068:hover {
    background-color: #666;
}

.im-catlink-color-1638, .im-catlink-color-1638:hover {
    background-color: #666;
}

.im-catlink-color-2245, .im-catlink-color-2245:hover {
    background-color: #666;
}

.im-catlink-color-2071, .im-catlink-color-2071:hover {
    background-color: #666;
}

.im-catlink-color-814, .im-catlink-color-814:hover {
    background-color: #666;
}

.menu-item-category-171 > a:hover {
    color: #a1887f !important;
}

.menu-item-category-171 .im_mega_menu_holder {
    border-color: #a1887f !important;
}

.im-bar-171 {
    stroke: #a1887f !important;
}

.im-catlink-color-171 {
    background-color: #a1887f;
}

.widget-head-171 .widget-head-bar, .im-top-footer.dark .widget-head-171 .widget-head-bar {
    background-color: #a1887f;
}

.carousel-171:hover .im-carousel-background:after {
    background-color: rgba(161, 136, 127, 0.65);
}

.carousel-171:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(161, 136, 127, 0.95), transparent);
}

.content-block-1:hover .block-171 {
    background: linear-gradient(to right, rgb(121, 102, 95), rgb(161, 136, 127), transparent);
}

.content-block-2:hover .block-171 {
    background: linear-gradient(to right, transparent, rgb(161, 136, 127), rgb(121, 102, 95));
}

@media (max-width: 768px) {
    .content-block:hover .block-171 {
        background: rgb(161, 136, 127);
    }
}

.im-archive-171 {
    border-color: #a1887f;
}

.menu-item-category-144 > a:hover {
    color: #ffca28 !important;
}

.menu-item-category-144 .im_mega_menu_holder {
    border-color: #ffca28 !important;
}

.im-bar-144 {
    stroke: #ffca28 !important;
}

.im-catlink-color-144 {
    background-color: #ffca28;
}

.widget-head-144 .widget-head-bar, .im-top-footer.dark .widget-head-144 .widget-head-bar {
    background-color: #ffca28;
}

.carousel-144:hover .im-carousel-background:after {
    background-color: rgba(255, 202, 40, 0.65);
}

.carousel-144:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(255, 202, 40, 0.95), transparent);
}

.content-block-1:hover .block-144 {
    background: linear-gradient(to right, rgb(191, 152, 30), rgb(255, 202, 40), transparent);
}

.content-block-2:hover .block-144 {
    background: linear-gradient(to right, transparent, rgb(255, 202, 40), rgb(191, 152, 30));
}

@media (max-width: 768px) {
    .content-block:hover .block-144 {
        background: rgb(255, 202, 40);
    }
}

.im-archive-144 {
    border-color: #ffca28;
}

.im-catlink-color-6751, .im-catlink-color-6751:hover {
    background-color: #666;
}

.im-catlink-color-7077, .im-catlink-color-7077:hover {
    background-color: #666;
}

.im-catlink-color-63, .im-catlink-color-63:hover {
    background-color: #666;
}

.menu-item-category-45 > a:hover {
    color: #6d4c41 !important;
}

.menu-item-category-45 .im_mega_menu_holder {
    border-color: #6d4c41 !important;
}

.im-bar-45 {
    stroke: #6d4c41 !important;
}

.im-catlink-color-45 {
    background-color: #6d4c41;
}

.widget-head-45 .widget-head-bar, .im-top-footer.dark .widget-head-45 .widget-head-bar {
    background-color: #6d4c41;
}

.carousel-45:hover .im-carousel-background:after {
    background-color: rgba(109, 76, 65, 0.65);
}

.carousel-45:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(109, 76, 65, 0.95), transparent);
}

.content-block-1:hover .block-45 {
    background: linear-gradient(to right, rgb(82, 57, 49), rgb(109, 76, 65), transparent);
}

.content-block-2:hover .block-45 {
    background: linear-gradient(to right, transparent, rgb(109, 76, 65), rgb(82, 57, 49));
}

@media (max-width: 768px) {
    .content-block:hover .block-45 {
        background: rgb(109, 76, 65);
    }
}

.im-archive-45 {
    border-color: #6d4c41;
}

.menu-item-category-46 > a:hover {
    color: #512da8 !important;
}

.menu-item-category-46 .im_mega_menu_holder {
    border-color: #512da8 !important;
}

.im-bar-46 {
    stroke: #512da8 !important;
}

.im-catlink-color-46 {
    background-color: #512da8;
}

.widget-head-46 .widget-head-bar, .im-top-footer.dark .widget-head-46 .widget-head-bar {
    background-color: #512da8;
}

.carousel-46:hover .im-carousel-background:after {
    background-color: rgba(81, 45, 168, 0.65);
}

.carousel-46:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(81, 45, 168, 0.95), transparent);
}

.content-block-1:hover .block-46 {
    background: linear-gradient(to right, rgb(61, 34, 126), rgb(81, 45, 168), transparent);
}

.content-block-2:hover .block-46 {
    background: linear-gradient(to right, transparent, rgb(81, 45, 168), rgb(61, 34, 126));
}

@media (max-width: 768px) {
    .content-block:hover .block-46 {
        background: rgb(81, 45, 168);
    }
}

.im-archive-46 {
    border-color: #512da8;
}

.im-catlink-color-3174, .im-catlink-color-3174:hover {
    background-color: #666;
}

.menu-item-category-44 > a:hover {
    color: #cddc39 !important;
}

.menu-item-category-44 .im_mega_menu_holder {
    border-color: #cddc39 !important;
}

.im-bar-44 {
    stroke: #cddc39 !important;
}

.im-catlink-color-44 {
    background-color: #cddc39;
}

.widget-head-44 .widget-head-bar, .im-top-footer.dark .widget-head-44 .widget-head-bar {
    background-color: #cddc39;
}

.carousel-44:hover .im-carousel-background:after {
    background-color: rgba(205, 220, 57, 0.65);
}

.carousel-44:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(205, 220, 57, 0.95), transparent);
}

.content-block-1:hover .block-44 {
    background: linear-gradient(to right, rgb(154, 165, 43), rgb(205, 220, 57), transparent);
}

.content-block-2:hover .block-44 {
    background: linear-gradient(to right, transparent, rgb(205, 220, 57), rgb(154, 165, 43));
}

@media (max-width: 768px) {
    .content-block:hover .block-44 {
        background: rgb(205, 220, 57);
    }
}

.im-archive-44 {
    border-color: #cddc39;
}

.menu-item-category-47 > a:hover {
    color: #01579b !important;
}

.menu-item-category-47 .im_mega_menu_holder {
    border-color: #01579b !important;
}

.im-bar-47 {
    stroke: #01579b !important;
}

.im-catlink-color-47 {
    background-color: #01579b;
}

.widget-head-47 .widget-head-bar, .im-top-footer.dark .widget-head-47 .widget-head-bar {
    background-color: #01579b;
}

.carousel-47:hover .im-carousel-background:after {
    background-color: rgba(1, 87, 155, 0.65);
}

.carousel-47:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(1, 87, 155, 0.95), transparent);
}

.content-block-1:hover .block-47 {
    background: linear-gradient(to right, rgb(1, 65, 116), rgb(1, 87, 155), transparent);
}

.content-block-2:hover .block-47 {
    background: linear-gradient(to right, transparent, rgb(1, 87, 155), rgb(1, 65, 116));
}

@media (max-width: 768px) {
    .content-block:hover .block-47 {
        background: rgb(1, 87, 155);
    }
}

.im-archive-47 {
    border-color: #01579b;
}

.im-catlink-color-3177, .im-catlink-color-3177:hover {
    background-color: #666;
}

.im-catlink-color-7122, .im-catlink-color-7122:hover {
    background-color: #666;
}

.im-catlink-color-7052, .im-catlink-color-7052:hover {
    background-color: #666;
}

.im-catlink-color-4307, .im-catlink-color-4307:hover {
    background-color: #666;
}

.im-catlink-color-6582, .im-catlink-color-6582:hover {
    background-color: #666;
}

.im-catlink-color-3178, .im-catlink-color-3178:hover {
    background-color: #666;
}

.im-catlink-color-3190, .im-catlink-color-3190:hover {
    background-color: #666;
}

.im-catlink-color-3179, .im-catlink-color-3179:hover {
    background-color: #666;
}

.im-catlink-color-6478, .im-catlink-color-6478:hover {
    background-color: #666;
}

.im-catlink-color-6777, .im-catlink-color-6777:hover {
    background-color: #666;
}

.im-catlink-color-7112, .im-catlink-color-7112:hover {
    background-color: #666;
}

.im-catlink-color-1201, .im-catlink-color-1201:hover {
    background-color: #666;
}

.im-catlink-color-3183, .im-catlink-color-3183:hover {
    background-color: #666;
}

.im-catlink-color-58, .im-catlink-color-58:hover {
    background-color: #666;
}

.im-catlink-color-3169, .im-catlink-color-3169:hover {
    background-color: #666;
}

.im-catlink-color-1039, .im-catlink-color-1039:hover {
    background-color: #666;
}

.menu-item-category-57 > a:hover {
    color: #ff3d00 !important;
}

.menu-item-category-57 .im_mega_menu_holder {
    border-color: #ff3d00 !important;
}

.im-bar-57 {
    stroke: #ff3d00 !important;
}

.im-catlink-color-57 {
    background-color: #ff3d00;
}

.widget-head-57 .widget-head-bar, .im-top-footer.dark .widget-head-57 .widget-head-bar {
    background-color: #ff3d00;
}

.carousel-57:hover .im-carousel-background:after {
    background-color: rgba(255, 61, 0, 0.65);
}

.carousel-57:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(255, 61, 0, 0.95), transparent);
}

.content-block-1:hover .block-57 {
    background: linear-gradient(to right, rgb(191, 46, 0), rgb(255, 61, 0), transparent);
}

.content-block-2:hover .block-57 {
    background: linear-gradient(to right, transparent, rgb(255, 61, 0), rgb(191, 46, 0));
}

@media (max-width: 768px) {
    .content-block:hover .block-57 {
        background: rgb(255, 61, 0);
    }
}

.im-archive-57 {
    border-color: #ff3d00;
}

.im-catlink-color-56, .im-catlink-color-56:hover {
    background-color: #666;
}

.im-catlink-color-2080, .im-catlink-color-2080:hover {
    background-color: #666;
}

.im-catlink-color-3170, .im-catlink-color-3170:hover {
    background-color: #666;
}

.im-catlink-color-7087, .im-catlink-color-7087:hover {
    background-color: #666;
}

.im-catlink-color-3180, .im-catlink-color-3180:hover {
    background-color: #666;
}

.im-catlink-color-51, .im-catlink-color-51:hover {
    background-color: #666;
}

.im-catlink-color-36, .im-catlink-color-36:hover {
    background-color: #666;
}

.im-catlink-color-6584, .im-catlink-color-6584:hover {
    background-color: #666;
}

.im-catlink-color-1260, .im-catlink-color-1260:hover {
    background-color: #666;
}

.im-catlink-color-6726, .im-catlink-color-6726:hover {
    background-color: #666;
}

.im-catlink-color-3182, .im-catlink-color-3182:hover {
    background-color: #666;
}

.im-catlink-color-2081, .im-catlink-color-2081:hover {
    background-color: #666;
}

.im-catlink-color-6017, .im-catlink-color-6017:hover {
    background-color: #666;
}

.im-catlink-color-40, .im-catlink-color-40:hover {
    background-color: #666;
}

.im-catlink-color-39, .im-catlink-color-39:hover {
    background-color: #666;
}

.im-catlink-color-37, .im-catlink-color-37:hover {
    background-color: #666;
}

.menu-item-category-60 > a:hover {
    color: #8e24aa !important;
}

.menu-item-category-60 .im_mega_menu_holder {
    border-color: #8e24aa !important;
}

.im-bar-60 {
    stroke: #8e24aa !important;
}

.im-catlink-color-60 {
    background-color: #8e24aa;
}

.widget-head-60 .widget-head-bar, .im-top-footer.dark .widget-head-60 .widget-head-bar {
    background-color: #8e24aa;
}

.carousel-60:hover .im-carousel-background:after {
    background-color: rgba(142, 36, 170, 0.65);
}

.carousel-60:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(142, 36, 170, 0.95), transparent);
}

.content-block-1:hover .block-60 {
    background: linear-gradient(to right, rgb(107, 27, 128), rgb(142, 36, 170), transparent);
}

.content-block-2:hover .block-60 {
    background: linear-gradient(to right, transparent, rgb(142, 36, 170), rgb(107, 27, 128));
}

@media (max-width: 768px) {
    .content-block:hover .block-60 {
        background: rgb(142, 36, 170);
    }
}

.im-archive-60 {
    border-color: #8e24aa;
}

.im-catlink-color-2082, .im-catlink-color-2082:hover {
    background-color: #666;
}

.im-catlink-color-3172, .im-catlink-color-3172:hover {
    background-color: #666;
}

.im-catlink-color-7072, .im-catlink-color-7072:hover {
    background-color: #666;
}

.im-catlink-color-7088, .im-catlink-color-7088:hover {
    background-color: #666;
}

.im-catlink-color-3191, .im-catlink-color-3191:hover {
    background-color: #666;
}

.menu-item-category-65 > a:hover {
    color: #00b0ff !important;
}

.menu-item-category-65 .im_mega_menu_holder {
    border-color: #00b0ff !important;
}

.im-bar-65 {
    stroke: #00b0ff !important;
}

.im-catlink-color-65 {
    background-color: #00b0ff;
}

.widget-head-65 .widget-head-bar, .im-top-footer.dark .widget-head-65 .widget-head-bar {
    background-color: #00b0ff;
}

.carousel-65:hover .im-carousel-background:after {
    background-color: rgba(0, 176, 255, 0.65);
}

.carousel-65:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(0, 176, 255, 0.95), transparent);
}

.content-block-1:hover .block-65 {
    background: linear-gradient(to right, rgb(0, 132, 191), rgb(0, 176, 255), transparent);
}

.content-block-2:hover .block-65 {
    background: linear-gradient(to right, transparent, rgb(0, 176, 255), rgb(0, 132, 191));
}

@media (max-width: 768px) {
    .content-block:hover .block-65 {
        background: rgb(0, 176, 255);
    }
}

.im-archive-65 {
    border-color: #00b0ff;
}

.im-catlink-color-1112, .im-catlink-color-1112:hover {
    background-color: #666;
}

.im-catlink-color-6455, .im-catlink-color-6455:hover {
    background-color: #666;
}

.im-catlink-color-1151, .im-catlink-color-1151:hover {
    background-color: #666;
}

.im-catlink-color-1329, .im-catlink-color-1329:hover {
    background-color: #666;
}

.im-catlink-color-1094, .im-catlink-color-1094:hover {
    background-color: #666;
}

.menu-item-category-66 > a:hover {
    color: #00bcd4 !important;
}

.menu-item-category-66 .im_mega_menu_holder {
    border-color: #00bcd4 !important;
}

.im-bar-66 {
    stroke: #00bcd4 !important;
}

.im-catlink-color-66 {
    background-color: #00bcd4;
}

.widget-head-66 .widget-head-bar, .im-top-footer.dark .widget-head-66 .widget-head-bar {
    background-color: #00bcd4;
}

.carousel-66:hover .im-carousel-background:after {
    background-color: rgba(0, 188, 212, 0.65);
}

.carousel-66:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(0, 188, 212, 0.95), transparent);
}

.content-block-1:hover .block-66 {
    background: linear-gradient(to right, rgb(0, 141, 159), rgb(0, 188, 212), transparent);
}

.content-block-2:hover .block-66 {
    background: linear-gradient(to right, transparent, rgb(0, 188, 212), rgb(0, 141, 159));
}

@media (max-width: 768px) {
    .content-block:hover .block-66 {
        background: rgb(0, 188, 212);
    }
}

.im-archive-66 {
    border-color: #00bcd4;
}

.im-catlink-color-3189, .im-catlink-color-3189:hover {
    background-color: #666;
}

.menu-item-category-50 > a:hover {
    color: #558b2f !important;
}

.menu-item-category-50 .im_mega_menu_holder {
    border-color: #558b2f !important;
}

.im-bar-50 {
    stroke: #558b2f !important;
}

.im-catlink-color-50 {
    background-color: #558b2f;
}

.widget-head-50 .widget-head-bar, .im-top-footer.dark .widget-head-50 .widget-head-bar {
    background-color: #558b2f;
}

.carousel-50:hover .im-carousel-background:after {
    background-color: rgba(85, 139, 47, 0.65);
}

.carousel-50:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(85, 139, 47, 0.95), transparent);
}

.content-block-1:hover .block-50 {
    background: linear-gradient(to right, rgb(64, 104, 35), rgb(85, 139, 47), transparent);
}

.content-block-2:hover .block-50 {
    background: linear-gradient(to right, transparent, rgb(85, 139, 47), rgb(64, 104, 35));
}

@media (max-width: 768px) {
    .content-block:hover .block-50 {
        background: rgb(85, 139, 47);
    }
}

.im-archive-50 {
    border-color: #558b2f;
}

.im-catlink-color-7092, .im-catlink-color-7092:hover {
    background-color: #666;
}

.im-catlink-color-1164, .im-catlink-color-1164:hover {
    background-color: #666;
}

.im-catlink-color-1639, .im-catlink-color-1639:hover {
    background-color: #666;
}

.menu-item-category-62 > a:hover {
    color: #ff6d00 !important;
}

.menu-item-category-62 .im_mega_menu_holder {
    border-color: #ff6d00 !important;
}

.im-bar-62 {
    stroke: #ff6d00 !important;
}

.im-catlink-color-62 {
    background-color: #ff6d00;
}

.widget-head-62 .widget-head-bar, .im-top-footer.dark .widget-head-62 .widget-head-bar {
    background-color: #ff6d00;
}

.carousel-62:hover .im-carousel-background:after {
    background-color: rgba(255, 109, 0, 0.65);
}

.carousel-62:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(255, 109, 0, 0.95), transparent);
}

.content-block-1:hover .block-62 {
    background: linear-gradient(to right, rgb(191, 82, 0), rgb(255, 109, 0), transparent);
}

.content-block-2:hover .block-62 {
    background: linear-gradient(to right, transparent, rgb(255, 109, 0), rgb(191, 82, 0));
}

@media (max-width: 768px) {
    .content-block:hover .block-62 {
        background: rgb(255, 109, 0);
    }
}

.im-archive-62 {
    border-color: #ff6d00;
}

.im-catlink-color-7023, .im-catlink-color-7023:hover {
    background-color: #666;
}

.im-catlink-color-6101, .im-catlink-color-6101:hover {
    background-color: #666;
}

.im-catlink-color-41, .im-catlink-color-41:hover {
    background-color: #666;
}

.im-catlink-color-42, .im-catlink-color-42:hover {
    background-color: #666;
}

.im-catlink-color-6583, .im-catlink-color-6583:hover {
    background-color: #666;
}

.im-catlink-color-7121, .im-catlink-color-7121:hover {
    background-color: #666;
}

.im-catlink-color-6998, .im-catlink-color-6998:hover {
    background-color: #666;
}

.im-catlink-color-7076, .im-catlink-color-7076:hover {
    background-color: #666;
}

.im-catlink-color-3186, .im-catlink-color-3186:hover {
    background-color: #666;
}

.im-catlink-color-53, .im-catlink-color-53:hover {
    background-color: #666;
}

.im-catlink-color-3192, .im-catlink-color-3192:hover {
    background-color: #666;
}

.im-catlink-color-3188, .im-catlink-color-3188:hover {
    background-color: #666;
}

.im-catlink-color-3181, .im-catlink-color-3181:hover {
    background-color: #666;
}

.im-catlink-color-6955, .im-catlink-color-6955:hover {
    background-color: #666;
}

.im-catlink-color-1013, .im-catlink-color-1013:hover {
    background-color: #666;
}

.im-catlink-color-3166, .im-catlink-color-3166:hover {
    background-color: #666;
}

.im-catlink-color-6128, .im-catlink-color-6128:hover {
    background-color: #666;
}

.im-catlink-color-59, .im-catlink-color-59:hover {
    background-color: #666;
}

.im-catlink-color-3168, .im-catlink-color-3168:hover {
    background-color: #666;
}

.im-catlink-color-1640, .im-catlink-color-1640:hover {
    background-color: #666;
}

.im-catlink-color-1263, .im-catlink-color-1263:hover {
    background-color: #666;
}

.im-catlink-color-64, .im-catlink-color-64:hover {
    background-color: #666;
}

.im-catlink-color-67, .im-catlink-color-67:hover {
    background-color: #666;
}

.im-catlink-color-7042, .im-catlink-color-7042:hover {
    background-color: #666;
}

.im-catlink-color-55, .im-catlink-color-55:hover {
    background-color: #666;
}

.im-catlink-color-6393, .im-catlink-color-6393:hover {
    background-color: #666;
}

.im-catlink-color-6941, .im-catlink-color-6941:hover {
    background-color: #666;
}

.im-catlink-color-3185, .im-catlink-color-3185:hover {
    background-color: #666;
}

.menu-item-category-49 > a:hover {
    color: #e91e63 !important;
}

.menu-item-category-49 .im_mega_menu_holder {
    border-color: #e91e63 !important;
}

.im-bar-49 {
    stroke: #e91e63 !important;
}

.im-catlink-color-49 {
    background-color: #e91e63;
}

.widget-head-49 .widget-head-bar, .im-top-footer.dark .widget-head-49 .widget-head-bar {
    background-color: #e91e63;
}

.carousel-49:hover .im-carousel-background:after {
    background-color: rgba(233, 30, 99, 0.65);
}

.carousel-49:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(233, 30, 99, 0.95), transparent);
}

.content-block-1:hover .block-49 {
    background: linear-gradient(to right, rgb(175, 23, 74), rgb(233, 30, 99), transparent);
}

.content-block-2:hover .block-49 {
    background: linear-gradient(to right, transparent, rgb(233, 30, 99), rgb(175, 23, 74));
}

@media (max-width: 768px) {
    .content-block:hover .block-49 {
        background: rgb(233, 30, 99);
    }
}

.im-archive-49 {
    border-color: #e91e63;
}

.im-catlink-color-3165, .im-catlink-color-3165:hover {
    background-color: #666;
}

.im-catlink-color-1054, .im-catlink-color-1054:hover {
    background-color: #666;
}

.im-catlink-color-7096, .im-catlink-color-7096:hover {
    background-color: #666;
}

.im-catlink-color-3176, .im-catlink-color-3176:hover {
    background-color: #666;
}

.im-catlink-color-3187, .im-catlink-color-3187:hover {
    background-color: #666;
}

.im-catlink-color-34, .im-catlink-color-34:hover {
    background-color: #666;
}

.menu-item-category-48 > a:hover {
    color: #00838f !important;
}

.menu-item-category-48 .im_mega_menu_holder {
    border-color: #00838f !important;
}

.im-bar-48 {
    stroke: #00838f !important;
}

.im-catlink-color-48 {
    background-color: #00838f;
}

.widget-head-48 .widget-head-bar, .im-top-footer.dark .widget-head-48 .widget-head-bar {
    background-color: #00838f;
}

.carousel-48:hover .im-carousel-background:after {
    background-color: rgba(0, 131, 143, 0.65);
}

.carousel-48:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(0, 131, 143, 0.95), transparent);
}

.content-block-1:hover .block-48 {
    background: linear-gradient(to right, rgb(0, 98, 107), rgb(0, 131, 143), transparent);
}

.content-block-2:hover .block-48 {
    background: linear-gradient(to right, transparent, rgb(0, 131, 143), rgb(0, 98, 107));
}

@media (max-width: 768px) {
    .content-block:hover .block-48 {
        background: rgb(0, 131, 143);
    }
}

.im-archive-48 {
    border-color: #00838f;
}

.im-catlink-color-6032, .im-catlink-color-6032:hover {
    background-color: #666;
}

.im-catlink-color-6985, .im-catlink-color-6985:hover {
    background-color: #666;
}

.menu-item-category-33 > a:hover {
    color: #9e9d24 !important;
}

.menu-item-category-33 .im_mega_menu_holder {
    border-color: #9e9d24 !important;
}

.im-bar-33 {
    stroke: #9e9d24 !important;
}

.im-catlink-color-33 {
    background-color: #9e9d24;
}

.widget-head-33 .widget-head-bar, .im-top-footer.dark .widget-head-33 .widget-head-bar {
    background-color: #9e9d24;
}

.carousel-33:hover .im-carousel-background:after {
    background-color: rgba(158, 157, 36, 0.65);
}

.carousel-33:hover .im-carousel-entry {
    background: linear-gradient(to top, rgba(158, 157, 36, 0.95), transparent);
}

.content-block-1:hover .block-33 {
    background: linear-gradient(to right, rgb(119, 118, 27), rgb(158, 157, 36), transparent);
}

.content-block-2:hover .block-33 {
    background: linear-gradient(to right, transparent, rgb(158, 157, 36), rgb(119, 118, 27));
}

@media (max-width: 768px) {
    .content-block:hover .block-33 {
        background: rgb(158, 157, 36);
    }
}

.im-archive-33 {
    border-color: #9e9d24;
}

.im-catlink-color-5372, .im-catlink-color-5372:hover {
    background-color: #666;
}

.im-catlink-color-7032, .im-catlink-color-7032:hover {
    background-color: #666;
}

.im-catlink-color-52, .im-catlink-color-52:hover {
    background-color: #666;
}

.im-catlink-color-6040, .im-catlink-color-6040:hover {
    background-color: #666;
}

.im-catlink-color-7101, .im-catlink-color-7101:hover {
    background-color: #666;
}

.list_countdown p {
    color: #000
}

a.btn .btn-icon.wishlist {
    background: #ff4557;
}

/*2nd box of styles*/

.wpb_animate_when_almost_visible {
    opacity: 1;
}

/*3rd box of styles*/

footer ul {
    padding: 0 !important;
}

.content-2col .im-entry {
    min-height: 15px !important;
}





/*AmirAbbasMMS codes*/

 .gnTopPics {
     direction: rtl;
     background-color: #d3d2d2;
 }

.gnWhiteBox {
    background-color: white;
    margin: 20px 0 0;
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
}

.gnContentsCategory {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gnColOFContentsCategory {
    width: 100%;
}
.categoryRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.categoryRTL{
    direction: rtl;
    text-align: right;
}
.categoryLTR{
    direction: ltr;
    text-align: right;
}
.gnUl {
    list-style: none;
    padding: 5px;
    margin: 5px 5px 10px 0px;
    background-color: #f3f3f3;
}
.gnLi {
    padding: 2px 0;
}
.gnTitleOfPlaces {
    font-size: 1.2em;
    font-weight: 400;
}
.gnNumberOfPlaces {
    color: #92321b;
    float: left;
}

.gnInput {
    width: 100%;
    padding: 2px 7px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ebebeb;
    line-height: 30px;
    margin: 5px 0;
}

.gnInputonInput {
    width: 80%;
    padding-left: 3%;
    border: none;
    background-color: transparent;
}
.listContentPlaceHolder{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.listContentPlaceHolder .header{
    height: 16px;
}
.placeHolder .imgPlaceHolder{
    height: 200px;
    border-radius: 15px;
}
.articleCityResultRow{
    padding: 0px 20px;
    cursor: pointer;
    transition: .3s;
}
.articleCityResultRow:hover{
    color: white;
    background: var(--koochita-blue);
}
.citySearchLabel{
    color: #333;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid #80808021 1px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.emptyListSafarnameh .emptyRow{
    background: #e2c8c2;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
}
.headerList{
    width: 100%;
    margin: 0;
    padding: 5px 15px;
    font-size: 23px;
    border-bottom: solid 1px #80808052;
    margin-bottom: 15px;
}
.gnSearchInputBtn {
    background-color: #0076ac;
    color: white;
    border-radius: 5px;
    font-size: 1.5em !important;
    margin: 0px -5px !important;
    padding: 0px 7px !important;
    line-height: 31px;
    float: left;
}

.gnAdvertise {
    padding-bottom: 12px;
}
.gnAdvertiseText {
    color: #30b4a6;
}
.gnAdvertiseImage {
    width: 100%;
    height: auto;
}
textarea:focus{
    outline: none;
    box-shadow: none;
}
textarea:hover{
    outline: none;
    box-shadow: none;
}


#helpBtnMainDiv {
  display: none;
}


/*just gardeshname style*/

.gnReturnBackBtn {
    background-color: var(--koochita-yellow);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0 0;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
}
.gnReturnBackBtn:hover {
    opacity: 0.75;
}


/*just article style*/

.gnMainPicOfArticle {
    position: relative;
    padding: 15px 0;
}
.gnMainPicOfArticleText {
    width: 96%;
    position: absolute;
    bottom: -45px;
    left: 50%;
    margin-left: -48%;
    padding: 20px 20px 10px;
    background: white;
}

/*userDescription and labels*/
.gnUserDescription {
    background-color: #ebebeb;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 5px 0;
    padding: 15px;
}

.gnLabels {
    color: var(--koochita-blue);
    font-size: 1.2em;
    font-weight: 500;
    line-height: 50px;
}

.gnTags {
    display: inline-block;
    margin: 0 5px;
}


.im-widget-thumb_rightSide {
    position: relative !important;
    width: 100%;
}
.im-widget-entry_rightSide {
    margin: 10px 0 0 !important;
}


.im-entry-header_rightSide {
    padding: 5px !important;
}

.im-entry-title_rightSide {
    color: white !important;
    padding: 0 !important;
}

.rightCategory .categoryRow{
    padding: 6px;
    margin: 0px 0px;
    cursor: pointer;
    border-bottom: solid 1px #e0e0e0;
    transition: .3s;
    position: relative;
}
.rightCategory .categoryRow .subMenus{
    position: absolute;
    display: flex;
    right: 100%;
    top: 0;
    overflow: hidden;
    width: 0px;
    transition: .3s;
    background: white;
    color: var(--koochita-blue);
    z-index: 99;
}
.rightCategory .categoryRow .subMenus > div{
    width: 49%;
    display: flex;
    flex-direction: column;
}
.rightCategory .categoryRow .subMenus > div > a{
    color: black;
    padding: 5px;
    transition: .3s;
}
.rightCategory .categoryRow .subMenus > div > a:hover{
    background: var(--koochita-blue);
    color: white;
    border-radius: 13px;
}
.rightCategory .categoryRow:hover{
    border-radius: 0px 20px 20px 0px;
    background-color: var(--koochita-blue);
    color: white;
}
.rightCategory .categoryRow:hover .subMenus{
    width: 100%;
    border-radius: 10px 0px 10px 10px;
    padding: 5px 10px;
    box-shadow: 0px 0px 3px 2px #5f5f5f6b;
}
.rightCategory .categoryRow:hover .count{
    background-color: white;
    color: var(--koochita-blue);
}
.rightCategory .categoryRow:hover .name{
    color: white;
}
.rightCategory .categoryRow .info{
    display: flex;
}
.rightCategory .categoryRow .next{
    font-size: 20px;
    line-height: 20px;
}
.rightCategory .categoryRow .name{
    color: black;
}
.rightCategory .categoryRow .count{
    color: white;
    background: var(--koochita-blue);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: .3s;
}
.rightCategory .categoryRow .next{

}

.safarnamehTags{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.safarnamehTags .tag{
    color: var(--koochita-blue);
    /*padding: 4px 0px;*/
    font-size: 13px;
    border-radius: 15px;
    cursor: pointer;
    /*margin-left: 20px;*/
}

.commentFeedbackChoices{
    display: flex;
    justify-content: space-between;
}
.commentFeedbackChoices .right{
    display: flex;
}
.commentFeedbackChoices .right .like{
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}
.commentFeedbackChoices .icon{
    font-size: 1.7em;
}
.commentFeedbackChoices .right .like .LikeIconEmpty{

}
.commentFeedbackChoices .left #share_box{
    left: -55px !important;
    right: auto !important;
}
.commentFeedbackChoices .right .like .EmptyCommentIco{

}
.commentFeedbackChoices .right .like .LikeIconEmpty.full:before{
    content: '\E057' !important;
    color: var(--koochita-green);
}
.commentFeedbackChoices .right .like .DisLikeIconEmpty{

}
.commentFeedbackChoices .right .like .DisLikeIconEmpty.full:before{
    content: '\E058' !important;
    color: var(--koochita-red);
}
.commentFeedbackChoices .left{
    display: flex;
    justify-content: flex-end;
}
.commentFeedbackChoices .left .postShareChoice {
    margin-left: 20px;
    padding: 0px 15px;
    position: relative;
}
.commentFeedbackChoices .left .commentsShareIconFeedback:before{
    width: 20px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideSafarnamehSearch .header{
    display: flex;
}
.sideSafarnamehSearch .header > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideSafarnamehSearch .title{
    width: 50%;
}
.sideSafarnamehSearch .tab{
    width: 25%;
    font-weight: bold;
    cursor: pointer;
}
.sideSafarnamehSearch .tab.selected{
    width: 25%;
    border-bottom: 3px solid var(--koochita-blue);
}
.sideSafarnamehSearch .searchInputElems{
    width: 100%;
    background: #f2f2f2;
    border: none;
    font-size: 13px;
    padding: 5px;
    margin-top: 10px;
}
.sideSafarnamehSearch .searchIcon{
    position: absolute;
    left: 4px;
    cursor: pointer;
    border: none;
    background: var(--koochita-blue);
    color: white;
    height: 30px;
    width: 30px;
    top: 2px;
    border-radius: 7px;
}

@media (max-width: 768px) {
    .gnTopPics {
        background-color: white;
    }
    .gnWhiteBox {
        margin: 15px -15px;
        padding: 15px !important;
    }
    .gnMainPicOfArticle {
        margin: -15px;
    }
}

@media (max-width:1260px) {
    .gnSearcBtn {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 812px) {
    .widget-head-554 > .widget-title {
        font-size: 13px !important;
    }

}

@media (min-width: 768px) and (max-width: 865px) {
    .widget-head-44 > .widget-title {
        font-size: 11px !important;
    }
}

@media (max-width:992px) {
    .container {
        width: 100% !important;
    }
}

@media (min-width: 992px) and (max-width:1189px) {
    .container {
        width: 1024px;
    }
}

@media (min-width: 1189px) and (max-width:1260px) {
    .container {
        width: 1180px;
    }
}

