/*1st Box Of Styles*/

.class_passengerPane {
    text-align: center !important;
    background-color: white;
    position: absolute;
    padding: 10px;
    top: 25px;
    left: 0;
    border-radius: 5px;
}

.class_passengerOldPane {
    text-align: center !important;
    position: absolute;
    background-color: #ebebeb;
    padding: 10px;
    top: 45px;
    left: 0;
    border-radius: 5px;
    width: 200px;
}

.minusPlusBtn {
    width: 17px;
    height: 17px;
    cursor: pointer;
    display: inline-block;
    background-image: url('../../images/icons.jpg');
    background-size: 72px;
}

@media screen and (max-width: 600px) {
    .minusPlusBtn {
        width: 44px;
        height: 44px;
        background-size: 185px;
    }
}

/*inline styles*/

#importantInformation {
    display: inline-block;
!important;
}

#interestNews {
    display: inline-block;
!important;
}

.passengersInfosMainDiv {
    display: inline-block;
    font-weight: 900;
    position: relative
}

#passengerNoSelectPane {
    text-align: right !important;
}

#childNoSpan {
    margin: 10px;
    font-size: 60%;
    color: #00AF87
}

#infantNoSpan {
    margin: 10px;
    font-size: 60%;
    color: #00AF87
}

.revisionOfCapacityChanges {
    display: inline-block;
    font-size: 0.9em;
}

#hurryUpErr {
    font-size: 0.9em;
    color: red
}

#hurryUpErr > span:nth-child(1) {
    font-size: 1.3em;
    font-weight: 900
}

#searchAgain {
    font-size: 0.9em;
    color: red
}

.flightCapacityNotification {
    font-size: 1.3em;
    font-weight: 900
}

