.cpBody {
    background-color: white;
    direction: rtl;
}

/*css of header*/
.cpHeader {
    padding: 5px 0;
}

.cpHeaderRouteOfCityName {
    font-size: 0.8em;
    font-weight: 500;
}

.cpHeaderCityName {
    margin-top: 20px;
    font-size: 2em;
    font-weight: 800
}

/*end of css of header*/

/*css of main box*/
.cpMainBox {
    background-color: #e5e5e5;
    margin: 15px 0 !important;
    padding: 15px 15px 15px 0 !important;
}

.cpPic {
    width: 100%;
    height: auto;
    max-height: 330px;
}

.zpr{
    padding-right: 0px;
}
.underSlider{
    display: flex;
    padding: 0;
    margin-top: 10px;
}
.cityPagePics{
    width: 98%;
    margin-right: 0;
}
.infoLittleMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
}
.cpLittleMenuImg{
    margin-bottom: 10px;
}

/*css of little menu*/
.cpLittleMenu {
    color: #30b4a6 !important;
    border: 1px solid lightgray;
    text-align: center;
    cursor: pointer;
    padding: 1px !important;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cpLittleMenu:hover {
    border: 2px solid #30b4a6;
}

.textCityPageIcon {
    color: black;
    font-size: 11px;
    font-weight: 600;
}

/*end of css of little menu*/
/*end of css of main box*/

.cpTitle {
    font-size: 18px;
    font-weight: 700;
    padding: 7px 0;
}

.cpDescription {
    padding: 25px;
    text-align: justify;
    font-size: 18px;
    padding-top: 0px;
}

/*css of firends box*/
.cpFriendsBoxPic {
    width: 88%;
    display: inline-block;
}

.cpFriendsEachPic {
    width: 24.3%;
    height: 120px;
    display: inline-block;
    cursor: pointer;
}

.cpFriendsOthersPic {
    width: 12%;
    float: left;
    text-align: center;
    padding: 4% 0;
    background-color: var(--koochita-light-green);
    height: 120px;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
}

.cpFriendsFooter {
    text-align: center;
    margin: 10px 0;
    font-weight: 500;
}

/*end of css of firends box*/

.cpMap {
    width: 100%;
    height: 500px;
    position: relative;
}
.reviewPlaceHolderTextLine{
    width: 100%;
    margin-bottom: 0px;
    height: 7px;
}
.reviewPicPlaceHolder{
    width: 100%;
    height: 200px;
}

.cpMapCategory {
    width: 9%;
    cursor: pointer;
}

/*css of borders*/
.cpBorderTop {
    border-top: 2px solid #f3f3f3;
    margin: 2px 0;
}

.cpBorderRight {
    border-right: 2px solid #f3f3f3;
}

.cpBorderLeft {
    border-left: 2px solid #f3f3f3;
}

.cpBorderBottom {
    margin: 2px 0;
    cursor: default;
}
.content-2col, .content-column, .content-featured{
    margin-bottom: 0px;
}
.articleDiv{
    border-top: 2px solid #f3f3f3;
    margin-bottom: 20px;
    border-bottom: 2px solid #f3f3f3;
    padding-top: 20px;
}
/*end of css of borders*/

.cpBorderBottom .btn-success , .seeAllArticlesBtn{
    background-color: #30b4a6;
    border-radius: 10px;
    font-size: 20px;
}

/*css of comment box*/
.cpCommentBox {
    /*max-height: 4250px;*/
    overflow: hidden;
}
/*end of css of comment box*/


.widget {
    position: relative;
    margin-bottom: 35px
}

.widget-head {
    position: relative;
    height: 20px;
    margin: 10px 0 20px;
}

.widget-title {
    background-color: #fff;
    color: rgba(0, 0, 0, .75);
    display: block;
    height: 20px;
    line-height: 18px;
    font-size: 15px;
    padding: 0 15px;
    position: absolute;
    top: calc(50% - 10px);
    right: 30px;
    margin: 0;
    z-index: 11
}

.widget-head-bar,
.widget-head-line {
    display: block;
    height: 3px;
    position: absolute;
    top: 50%
}

.widget-head-bar {
    background-color: rgba(0, 0, 0, .5);
    width: 30px;
    z-index: 10
}

.widget-head-line {
    background-color: rgba(0, 0, 0, .075);
    width: 100%;
    z-index: 9
}

.widget-head.dark {
    background-color: rgba(0, 0, 0, .9);
    position: relative;
    height: 40px;
    line-height: 40px;
    margin: 0 -30px
}

.widget-head.dark .widget-title {
    background-color: transparent;
    color: rgba(255, 255, 255, .75);
    right: 15px
}

.widget-head.dark .widget-head-bar,
.widget-head.dark .widget-head-line {
    display: none
}

.widget ul {
    margin: 0;
    padding: 0
}

.widget ul li {
    list-style: none;
    margin-bottom: 13px;
    position: relative;
    height: 60px;
}
.marg5{
    margin-top: 5px;
}

.widget ul li a {
    color: rgba(0, 0, 0, .75);
    height: 100%;
    overflow: hidden;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.im-widget {
    min-height: 85px
}

.im-widget-view-all-list {
    position: absolute!important;
    top: 0;
    left: 10px;
    margin: 0!important;
    padding: 0;
    z-index: 12
}

.im-widget-view-all {
    background-color: #fff;
    color: rgba(0, 0, 0, .45);
    position: absolute;
    top: 3px;
    left: 10px;
    font-family: iran-medium, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
    padding: 0 10px;
    z-index: 12;
    white-space: nowrap
}

.im-widget-entry-featured-title,
.im-widget-entry-header .im-widget-entry-title {
    font-family: iran-medium, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 500
}

.im-widget-featured {
    border-bottom: none!important;
    margin-bottom: 2px!important;
    padding-bottom: 0!important
}

.im-widget-thumb {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 100%;
}

.im-widget-thumb-featured {
    width: 100%;
    display: block
}

.im-widget-thumb a,
.im-widget-thumb-featured .im-widget-thumb-featured-link {
    display: block!important
}

.im-widget-thumb-featured .im-widget-thumb-featured-link:after {
    background-color: rgba(0, 0, 0, .05)
}

.im-widget-thumb a:after {
    background-color: rgba(0, 0, 0, 0)
}

.im-widget-thumb a:after,
.im-widget-thumb-featured .im-widget-thumb-featured-link:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.im-widget-featured:hover .im-widget-thumb-featured .im-widget-thumb-featured-link:after,
.im-widget:hover .im-widget-thumb a:after {
    background-color: rgba(0, 0, 0, .25);
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.im-widget-thumb-featured img {
    width: 100%;
    height: auto
}

.im-widget-thumb img {
    width: 100%
}

.im-widget-entry {
    margin-right: 110px
}

.im-widget-entry-list {
    margin: 0
}

.im-widget-entry-featured {
    background: linear-gradient(to top, rgba(0, 0, 0, .8), transparent);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5
}

.im-widget-entry-header .im-widget-entry-title {
    line-height: 1.6;
    margin: 0;
    width: 100%;
    justify-content: flex-start;
    display: inline-block !important;
}

.im-widget-entry-featured-title {
    line-height: 1.8;
    margin: 0
}

.im-widget-entry-header .im-widget-entry-title a {
    margin-top: -2px
}

.mainArticleDiv{
    position: absolute;
    bottom: 0px;
    color: white;
    z-index: 9;
    padding-right: 30px;
}
.withColor{
    color: white !important;
}
.mainReviewSection{
    float: left;
    overflow: hidden;
    padding-right: 2px;
    padding-left: 0;
    margin-top: 13px;
    border-right: 2px solid #f3f3f3;
}

.im-widget-entry-featured-title a {
    color: #fff!important;
    display: block!important;
    padding: 10px 35px 0
}

.im-widget-entry-featured-title a:hover {
    color: #fff!important
}

.im-widget-entry-featured .iranomag-meta {
    padding: 5px 35px 15px
}

.im-widget-entry-featured .iranomag-meta .im-meta-item,
.im-widget-entry-featured .iranomag-meta .im-meta-item a {
    color: rgba(255, 255, 255, .45)
}

.im-entry-category .im-meta-item a {
    color: #fff!important
}

.im-widget-entry-featured .im-entry-category {
    margin: 0
}

.im-widget-entry-featured .im-entry-category .iranomag-meta {
    padding: 0 35px
}

.im-widget-entry-footer {
    margin-top: 7px
}

.widget_impv_display_widget .im-widget-tabs {
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 25px;
    z-index: 12
}

.widget_impv_display_widget .im-widget-tabs li {
    display: inline-block
}

.widget_impv_display_widget .im-widget-tabs li a {
    color: rgba(0, 0, 0, .45);
    display: block;
    padding: 0 7px;
    font-family: iran-medium, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 500
}

.widget_impv_display_widget .widget-head-bar {
    background-color: #f43939
}

.widget_pop_body {
    display: block
}

.widget-title .rsswidget img {
    vertical-align: middle;
    margin-left: 5px
}

.widget_rss li .rsswidget {
    line-height: 1.8;
    font-family: iran-bold, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-top: -5px
}

.widget_rss li .rss-date {
    color: rgba(0, 0, 0, .35);
    display: block;
    line-height: 1.5;
    font-family: iran-medium, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: 500;
    margin-top: 7px
}

.widget_rss li .rssSummary {
    color: rgba(0, 0, 0, .85);
    line-height: 2;
    font-family: iran, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-top: 7px
}

/*css of {ng-app="mainApp"}*/
.homepage_shelves_widget {
    min-height: 0px;
}

/*.image_wrapper {*/
/*    height: 130px;*/
/*}*/

.cpMainSug .swiper-slide {
    margin-top: 15px;
}

h3{
    margin: 0px;
}

.cityImgSlider{
    cursor: pointer;
    overflow: hidden;
    height: 330px;
}
.topImage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigatorLinks{
    color: var(--koochita-dark-green);
    transition: .2s !important;
    font-size: 15px;
}
.navigatorLinks:hover{
    color: var(--koochita-yellow);
}

.cpLittleMenu{
    transition: .3s !important;
}
.showMoreText::before{
    bottom: -13px;
}
.postsMainDivInSpecificMode .quantityOfLikes{
    width: 100%;
    font-size: 23px;
    padding-top: 10px;
    text-align: right;
    line-height: 15px;
    justify-content: flex-end;
    display: flex;
    color: #1876a3;
}
.postsMainDivInSpecificMode .quantityOfLikes div{
    display: flex;
    margin-left: 10px;
}
.postsMainDivInSpecificMode .postMainDivShown{
    width: 97%;
    border: solid 1px #f3f3f3;
    margin: 1%;
    box-shadow: 0 0 5px 0px #646464;
    margin-bottom: 15px;
}
.postsMainDivInSpecificMode .photosCol{
    margin-bottom: 9px;
}

.content-2col .im-entry{
    min-height: auto;
}


.cpNameLabel{
    font-size: 10px;
    margin-left: 4px;
}
.cpMapSec{
    padding: 0px;
}

@media (max-width: 992px) {

    .cpMainBox {
        padding: 15px !important;
    }

}

@media (max-width: 992px) and (min-width: 768px) {
    .commentWriterExperienceDetails {
        width: 100% !important;
    }
}

@media (max-width: 991px) {
    .cpBody{
        width: 95% !important;
        max-width: 100%;
    }
    .widget ul{
        padding-top: 20px;
    }
}

@media (max-width:768px) {
    .widget-title {
        font-size: 14px
    }
    .im-widget-entry-featured-title {
        font-size: 16px
    }
    .im-widget-entry-featured-title {
        font-size: 14px
    }
    .im-widget-entry-header .im-widget-entry-title {
        font-size: 13px;
        width: 100%;
    }

    .cpMapList {
        justify-content: space-around;
        overflow: auto;
    }
    .cpMapCategory {
        width: 10%;
    }
    /*.image_wrapper {*/
    /*    height: 200px;*/
    /*}*/

    .image_wrapper.landscape.landscapeWide .image {
        width: 100%;
    }

    .content-2col .im-entry {
        min-height: 45px !important;
    }

    .cpDescription{
        padding: 25px 20px;
        background: white;
        border-top: solid 1px #4dc7bc52;
        border-bottom: solid 1px #4dc7bc52;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 0px;
        font-weight: normal;
        font-size: 14px;
    }
    .im-entry-title{
        padding-bottom: 50px !important;
    }


    .cpMainBox{
        background: #f8f8f8;
    }
    .cpMainBody{
        background: #f8f8f8;
    }
    .cpShowOnSlider{
        position: absolute;
        top: 50px;
        z-index: 9;
        margin: 0px auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cpShowOnSlider .cpStateName{
        background: white;
        font-size: 25px;
        padding: 3px 12px;
        border-radius: 40px;
        border: solid 3px lightgray;
        box-shadow: 2px 2px 5px 2px #00000073;
        display: flex;
        align-items: center;
    }
    .cpShowOnSlider .cpCityName{
        margin-top: 13px;
        font-size: 18px;
        background: #101010cf;
        color: white;
        padding: 5px 13px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        border: solid 1px;
    }
    .cpBody{
        width: 100% !important;
        margin: 0px;
        padding: 0px;
    }
    .cpBody .cpMainBox{
        padding: 0px !important;
        margin: 0px !important;
    }
    .swiper-button-prev, .swiper-button-next{
        display: none;
    }
    .cityPagePics{
        width: 100%;
    }
    .cpBody .cpMainBox .cpSliderSec{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .cpBody .cpMainBox .cpListsInPhone{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 5px;
    }
    .cityImgSlider{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
    .cpBody .cpMainBox .cpListsInPhone .cpLittleMenu{
        color: #333 !important;
        background: white;
        border: solid 1px lightgrey;
        width: 24%;
        border-radius: 10px;
        margin: 1px;
    }
    .cpBody .cpMainBox .cpListsInPhone .cpLittleMenu .cityPageIcon{
        color: #333 !important;
        height: 50px;
    }
    .cpBody .cpMainBox .cpListsInPhone .cpLittleMenu .textCityPageIcon{
        font-weight: normal;
        color: #333 !important;
    }


    .articleDiv{
        border-top: none;
        margin-bottom: 0px;
        border-bottom: none;
        padding-top: 0px;
        background: #f8f8f8;
        padding-bottom: 8px;
    }
    .articleDiv .topPlacesDivInCity{
        background: white;
        margin-top: 0px;
        padding-top: 25px;
    }
    .articleDiv .widget ul li{
        list-style: none !important;
        margin-bottom: 10px !important;
        position: relative !important;
        border-bottom: solid 1px #4dc7bc52 ;
        padding-bottom: 10px !important;
        height: auto;
    }
    .articleDiv .widget ul li:last-of-type{
        border-bottom: none !important;
        margin-bottom: 0px !important;
    }
    .im-widget-thumb{
        height: 70px;
    }
    .articleDiv .widget ul{
        border: solid 2px #4dc7bc52;
        margin: 0px 5px;
        padding: 5px;
        border-top: 0px;
        padding-top: 20px;
    }
    .im-widget-entry-header .im-widget-entry-title{
        font-size: 16px;
    }
    .articleDiv .im-entry-thumb-link{
        height: 190px !important;
    }
    .widget{
        margin-bottom: 15px;
    }
    .cpMapSec{
        padding: 25px 0px;
        margin: 0px 0px;
    }

}

@media (max-width:540px) {

    .cpMapCategory {
        width: 50px;
        margin: 0px 2px;
    }
    .cpMapList {
        justify-content: flex-start;
    }
}

@media (max-width:400px) {

    .posted-on .im-meta-item{
        width: 100% !important;
    }
}
