/*1st box of styles*/

.mainDiv {
    width: 90%;
    margin: 5% auto;
    direction: rtl;
}

.inputBox {
    padding: 2px 7px;
    font-size: 0.8em;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ebebeb;
    line-height: 30px;
    margin: 10px 0;
    position: relative;
}

.inputBoxText {
    width: 35%;
    border-left: 1px solid #d8d8d8;
    display: inline-block;
}

.inputBoxInput {
    width: 65%;
    text-align: center;
    border: none;
    float: left;
    background-color: transparent;
}

.inputBoxSelect {
    width: 20%;
    border: none;
    background-color: transparent;
}

/*input[type="checkbox"] {*/
/*background-color: var(--koochita-light-green);*/
/*}*/

/*2nd box of styles*/

.afterBuyIcon {
    font-family: shazde_regular2 !important;
    display: inline-block;
}

.redStar:before {
    content: '\E00B';
    font-size: 0.5em;
    color: #92321b;
    position: absolute;
    top: -5px;
    left: -10px;
    font-family: Shazde_Regular2 !important;
}

.bottomArrowIcon:before {
    content: '\E04A';
    color: black;
}

/*3rd box of styles*/

.check-box__item {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

/*4th box of styles*/

.afterBuyBtn {
    color: white;
    line-height: 15px;
    display: inline-block;
    border-radius: 7px;
    text-align: center;
    margin: 5px 0;
    font-size: 1.1em;
}

/*5th box of styles*/

.inlineBorder {
    border-bottom: 1.8px solid #aeaeae;
    margin: 10px 0;
}

/*6th box of styles*/


.stay_time {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #00000085;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.show_time {
    width: 50%;
    height: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85px;
    flex-direction: column;
    direction: rtl;
}

/*inline styles*/
.applyDiscountBtn {
    background-color: var(--koochita-light-green);
    line-height: 22px;
    margin: 0 !important;
}

.applyDiscountErrText {
    font-size: 0.8em;
    color: red;
    float: left;
    margin-right: 10px
}

.usersPointsMainDiv {
    background-color: #d2fefa;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 14px #c5c5c5
}

.payPointsText {
    display: inline-block;
    color: var(--koochita-light-green) !important;
}

.crossOneThousand {
    background-color: #92321b;
    color: white;
    margin-top: 2px;
    cursor: text;
}

.discountVerifiedAmountMainBox {
    width: 10%;
    background-color: var(--koochita-light-green);
    color: white;
    border: none
}

.payBtnFinalVerification {
    background-color: var(--koochita-light-green);
    line-height: 22px;
}

.amountOfPointsToPay {
    font-size: 0.8em;
    color: red;
    display: inline-block;
    margin-right: 10px
}
