body {
    min-width: 320px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #bebebe;
}
::-webkit-scrollbar-thumb:hover {
    background: #969696;
}

/*1st style Box*/

.homepage_shelves_widget {
    min-height: 100px
}

.icon-mainpage {
    width: 50px;
    height: 50px;
    background: #FFF;
    position: absolute;
    bottom: -14%;
    right: 43%;
    border-radius: 100%;
    border: 1px solid #CCC
}

.icon-mainpage span {
    color: var(--koochita-light-green);
    font-size: 26px;
    line-height: 50px
}

#middle-box:hover {
    background: #ededed !important
}

.o-slider-next {
    left: 24%;
    right: auto
}

.o-slider-prev span {
    top: 250px !important
}

.o-slider-next span {
    top: 250px !important
}

.o-slider-pagination {
    width: 25% !important;
    top: 450px
}

.loader {
    background-image: url('../../images/loading.gif');
    width: 100px;
    height: 100px;
}

.mainDivLoader {
    display: flex;
    justify-content: center;
    align-items: center
}


.phoneBanner {
    background-image: url('../../images/phoneBanner.jpg');
    background-size: 100% 100%;
    height: 90vh;
}

.dateLabel {
    position: relative;
    width: 150px;
    height: 30px;
    /*border: 1px solid #e5e5e5;*/
    border-radius: 3px;
    /*box-shadow: 0 7px 12px -7px #e5e5e5 inset;*/
    margin: 0 !important;
    cursor: pointer;
    float: right;
    max-width: 40%;
}

.dateLabel_phone {
    height: 30px;
}

.inputDateLabel {
    background: transparent;
    width: 100px;
    border: none;
    /*font-size: 75%;*/
    position: absolute;
    top: 5px;
    right: 35px;
    cursor: pointer;
}

.inputDateLabel_phone {
    width: 85%;
    border: none;
    font-size: 30px;
    line-height: 40px;
    position: absolute;
    top: 7px;
    right: 65px;
}

.minusPlusBtn {
    width: 17px;
    height: 17px;
    cursor: pointer;
    display: inline-block;
    background-image: url('../../images/icons.jpg');
    background-size: 72px;
}


.searchDivForScrollClass {
    max-height: 390px;
    /*overflow: auto;*/
    float: right;
    border: solid #E5E5E5 !important;
    border-radius: 10px !important;
}

.searchDivForScroll_phone {
    max-height: 290px;
    overflow: auto;
    border: solid #E5E5E5 !important;
    border-radius: 10px 10px 0 0 !important;
}

.searchDivForScroll-button {
    float: right;
    border-style: inherit !important;
    border-radius: 10px 0 0 10px !important;
    /*margin-bottom: 8px;*/
}

.searchDivForScroll-phoneButton {
    width: 42%;
    margin: 0 !important;
    border-style: inherit !important;
    border-radius: 0 0 0 10px !important;
    font-size: 20px;
}

/*inline styles*/

#homeHero-id {
    padding: 0 !important;
    /*background-image: url('`s://static.tacdn.com/img2/branding/homepage/home-tab1-hero-1367x520-beach-prog.jpg');*/
    width: 100%;
    background-position: 50% bottom;
}

#sliderBarDIV {
    max-width: 100%;
    overflow: hidden;
}

#mainDivContainerMainPage {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.mainDivSearchInputMainPage {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    margin: 0 5%;
    z-index: 100;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainDivSearchInputPhonePage > div {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.mainDivSearchInputPhonePage > div:nth-child(1) {
    width: 45%;
}

.mainDivSearchInputPhonePage > div:not(:first-child) {
    width: 60%;
}

.mainDivSearchInputPhonePage > div:not(:first-child) > div:nth-child(1) {
    width: 70%;
    float: right;
    max-height: 300px;
    overflow: auto;
    border-radius: 0 25px 25px 0;
}

.mainDivSearchInputPhonePage > div:not(:first-child) > div:nth-child(2) {
    width: 30%;
    border-radius: 25px 0 0 25px;
    margin: 0 !important;
}

.mainDivSearchInputPhonePage > div:not(:first-child) > div:nth-child(1) > div {
    padding: 10px !important;
}

.searchDivForScroll-phoneButton > button {
    font-size: 30px;
    line-height: 54px;
}

.mainDivSearchInputPhonePage > div:not(:first-child) > div:nth-child(2) > button {
    font-size: 35px;
    line-height: 64px;
}

.mainDivSearchInputPhonePage > div:not(:first-child) > div input {
    width: 100%;
    font-size: 35px;
    line-height: 50px !important;
    float: right;
    border: none;
    margin-right: 5px
}

/*.searchPanes {*/
/*    position: fixed;*/
/*    left: 10%;*/
/*    right: 10%;*/
/*    top: 10%;*/
/*    bottom: auto;*/
/*    overflow: auto;*/
/*    max-height: 80%;*/
/*    z-index: 9999;*/
/*    padding: 48px 16px;*/
/*}*/

/*.searchPanes > div:nth-child(3) > select, .searchPanes > div:nth-child(3) > div {*/
/*    margin-top: 25px;*/
/*}*/

/*.searchPanes > div:nth-child(3) > div > button {*/
/*    color: #FFF;*/
/*    background-color: var(--koochita-light-green);*/
/*    border-color: var(--koochita-light-green);*/
/*}*/

.spSearchDivForScroll {
    position: relative;
}

input[type="text"].searchPaneInput::-webkit-input-placeholder {
    font-size: 1.3em;
    font-weight: 500;
}

.hotelIcon::before {
    font-family: Shazde_Regular2 !important;
    content: '\e000';
}

.restaurantIcon::before {
    font-family: Shazde_Regular2 !important;
    content: '\e001';
}

.touristAttractions::before {
    font-family: Shazde_Regular2 !important;
    content: '\e002';
}

.souvenirIcon::before {
    font-family: Shazde_Regular2 !important;
    content: '\e005';
}

.traditionalFood::before {
    font-family: Shazde_Regular2 !important;
    content: '\e006';
}

.adventure::before {
    font-family: Shazde_Regular2 !important;
    content: '\e009';
}

.pop-up-Panes {
    position: fixed;
    left: 30%;
    right: 30%;
    top: 19%;
    bottom: auto;
    overflow: auto;
    max-height: 500px;
    z-index: 10000001;
}

.pop-up-Panes > div:nth-child(3) > select, .pop-up-Panes > div:nth-child(3) > div {
    margin-top: 25px;
}

.pop-up-Panes > div:nth-child(3) > div > button {
    color: #FFF;
    background-color: var(--koochita-light-green);
    border-color: var(--koochita-light-green);
}

.mainSearchDivPcSize {
    width: 40%;
    padding: 10px 0px;
    background: white;
}

#firstPageSearchBtn {
    background-color: inherit;
}

#firstPageSearchBtn > button {
    height: auto;
}

#searchPane .ui_close_x {
    width: 70px;
    height: 70px;
}

#searchPane .ui_close_x:before {
    font-size: 50px;
    line-height: 70px;
}

div.ppr_rup.ppr_priv_global_nav_action_profile .login-button.ui_button {
    top: 0;
}

div.ppr_rup.ppr_priv_homepage_hero .placement_wrap {
    display: block;
}

div.ppr_rup.ppr_priv_homepage_hero .placement_wrap .placement_wrap_row {
    display: block;
}

div.ppr_rup.ppr_priv_homepage_hero .placement_wrap .placement_wrap_cell {
    display: block;
}

.prw_rup.prw_shelves_rebrand_poi_shelf_item_widget.ui_column.is-6-mobile.ng-scope,
.prw_rup.prw_shelves_rebrand_poi_shelf_item_widget.ui_column.is-6-mobile.ng-scope .poi {
    width: 100%;
    flex-basis: auto;
}

.middleBannerPhotoBanner > a, .innerStripedBackGround > a, .middleBannerPhotoBanner > a,
.middleBannerPhotoDiv .smallOne > a, .middleBannerPhotoDiv .middleOne > a, .middleBannerPhotoDiv .largeOne > a {
    height: 100%;
    display: block;
}


.console-container {
    /*width: 40%;*/
    /*padding: 60px 5px 5px;*/
}


.mainBannerSlider {
    position: relative;
    top: 0;
    width: 100%;
    height: 450px;
}

.eachPicOfSlider {
    width: 100%;
}

.textInSlideMain {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.6) 0%, transparent 70%);
}

.textInSlide {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 30px;
    font-size: 20px;
}

.stateName {
    font-size: 12px;
    padding-right: 21px;
}

.sliderTextBox{
    position: absolute;
    top: 30%;
    right: 4%;
    left:67%;
    z-index: 9;
    font-size: 35px;
}

.sliderText{
    font-family: Afsane !important;
    white-space: pre-wrap;
    text-align: center;
    display: flow-root;
    line-height: 40px;
}

.imgOfSliderBox {
    position: relative;
    background: none;
    overflow: hidden;
}

.imgOfSlider {
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-width: 600px;
    max-height: 100%;
    width: auto;
}

.landingPicture{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 90%;
    height: 90vh;
    border-radius: 11px;
    cursor: pointer;
    position: relative;
}

.sidePics1{
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topSidePic1{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomSidePic1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.travelUsImg{
    width: 50%;
}

.topStartButton{
    width: 49%;
    font-size: 26px;
    border-radius: 15px;
    padding: 20px 0px;
    font-weight: bold;
    background: #307da2;
}

.landingClick > img{
    width: 100%;
}

.landingClick{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1550px) {
    .imgOfSlider {
        max-width: 420px;
        max-height: 100%;
    }
}

@media (max-width: 1100px) {
    .imgOfSlider {
        max-width: 95%;
        max-height: 230px;
        width: auto;
        right: auto;
        left: auto;
    }
    .mainDivSearchInputMainPage{
        top: 40%;
    }
}

@media (min-width: 1100px) {
    .mainSearchDivPcSize {
        width: 25% !important;
    }
}

@media (max-width: 1100px) and (min-width: 992px){
    .sliderTextBox {
        font-size: 30px;
    }
}

@media (max-width: 992px) and (min-width: 767px){
    .mainSearchDivPcSize {
        width: 50% !important;
    }
}

@media (max-width: 992px) {

    .landingClick > img{
        width: auto;
        height: 100%;
    }

    .searchPanes {
        left: 5%;
        right: 5%;
    }

    .sliderText{
        display: none;
    }
}

@media (max-width: 767px) {
    .mainDivSearchInputMainPage {
        margin: 0 !important;
    }

    .mainSearchDivPcSize {
        width: 100% !important;
    }

    .eachPicOfSlider {
        width: auto !important;
        position: absolute;
        height: 100%;
    }

    div.ppr_rup.ppr_priv_homepage_shelves .homepage_shelves_widget:last-child {
        margin-bottom: 100px;
    }

    .placement_wrap_cell .mainBannerSlider {
        height: 350px;
        margin-bottom: 0;
    }

    .mainDivSearchInputMainPage {
        left: 20%;
        right: 20%;
        width: initial;
    }

    .console-container {
        width: 100%;
    }


    .mainSearchDivPcSize .mainPageMainSearchText{
        text-align: center;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mainDivSearchInputMainPage {
        left: 30%;
        right: 32%;
    }
    .mainDivSearchInputMainPage .mainSearchDivPcSize{
        padding: 4px 0px;
        border-radius: 30px !important;
    }
    .mainDivSearchInputMainPage .mainSearchDivPcSize .searchIcon:before{
        transform: rotateZ(90deg);
    }
    .mainDivSearchInputMainPage.nearMe{
        left: 34%;
        right: 37%;
        top: 65%;
        border: none;
    }
    .mainDivSearchInputMainPage.nearMe .mainSearchDivPcSize{
        padding: 7px 0px;
        background: #101010cf;
        border: none !important;
    }
    .mainDivSearchInputMainPage.nearMe .mainPageMainSearchText{
        color: white;
        font-size: 15px;
        top: 65%;
    }
}


@media (max-width: 630px) {

    .topSidePic1{
        height: 175px;
    }

    .bottomSidePic1{
        flex-direction: column;
    }

    .travelUsImg{
        width: 100%;
    }

    .topStartButton{
        width: 85%;
    }

    .searchPanes {
        left: 2%;
        right: 2%
    }

    .lp_others_noMessages {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 600px) {
    .minusPlusBtn {
        width: 44px;
        height: 44px;
        background-size: 185px;
    }
}

@media (max-width: 400px) {
    .lp_others_noMessages {
        font-size: 0.9em;
    }
}
