/*1st box of message*/


.alaki::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.alaki::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.alaki::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/*2nd box of syles*/

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    color: #666666;
}

input[type="checkbox"] + label span, input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    /*margin: -2px 10px 0 0;*/
    vertical-align: middle;
    background: url('../../images/check_radio_sheet.png') left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span, input[type="radio"]:checked + label span {
    background: url('../../images/check_radio_sheet.png') -19px top no-repeat;

}

.labelForCheckBox:before {
    background-color: transparent !important;
    border: none !important;
    content: "" !important;
}

/*inline styles*/

#inbox {
    vertical-align: top;
}

#MAIN #inbox {
    width: auto;
}

#selectAllImg {
    display: inline-block;
    margin-left: 5px;
    background-size: 13px;
    background-position: 0 -66px;
    width: 13px;
    height: 14px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

#selectAll {
    color: #16174f;
}

.confirmationForDelete {
    display: inline-block;
    margin-left: 5px;
    background-size: 14px;
    background-position: 0 -2px;
    width: 13px;
    height: 13px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

.confirmationForDeleteInput {
    background: transparent;
    border: none;
    margin-right: -5px
}

.blockListBtn {
    display: inline-block;
    margin-left: 5px;
    background-size: 13px;
    background-position: 0 -50px;
    width: 13px;
    height: 15px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

.reportPromptBtn {
    display: inline-block;
    margin-left: 3px;
    background-size: 15px;
    background-position: 0 -39px;
    width: 13px;
    height: 15px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

#dateIcon {
    display: inline-block;
    margin-right: 5px;
    background-size: 10px;
    background-position: 4px -62px;
    width: 16px;
    height: 8px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

#select-title {
    text-align: center;
    background-color: white
}

#MESSAGES_CONTENT > .vt-align-top {
    width: 185px;
}

#MESSAGES_CONTENT > #PROFILE_MESSAGING {
    width: 100%;
}

#PROFILE_MESSAGING .alignLeft > div {
    height: 500px;
    display: flex;
    flex-direction: column;
}

#tableId {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#tableId > tr {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#sendMsgDiv {
    margin:0;
    width: 100%;
}

#sendMsgDiv .row {
    margin: 0;
}

.resultStyles {
    max-height: 160px;
    overflow: auto;
    padding-top: 10px;
    border: solid #ccc;
    margin-top: -3px;
    border-radius: 0 0 5px 5px;
    border-width: 0 1px 1px;
}

.topicLabel {
    float: right;
    margin-right: 202px
}

.messagesLabel {
    float: right;
    margin-right: 218px
}

#msg {
    width: 350px;
    height: 130px;
    resize: none;
}

#submit {
    background-color: var(--koochita-light-green);
    border-color: var(--koochita-light-green);
}

.msgErr {
    color: red;
    margin-top: 20px
}

#reportPrompt {
    visibility: hidden;
    position: fixed;
    left: 25%;
    right: 25%;
    top: 15%;
    bottom: auto;
}

#reportPrompt .header_text, #deleteMsg .header_text {
    font-size: 18px;
    font-weight: 700;
}

#reportPrompt::before, #blockPrompt::before, #deleteMsg::before, .showMsgContainerStyles::before {
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

#reportPrompt .body_text.alaki {
    max-height: 300px;
    overflow: auto;
    margin-top: 11px;
}

#reportPrompt .body_text.alaki .submitOptions button, #blockPrompt .body_text .submitOptions button {
    background-color: var(--koochita-light-green);
    border-color: var(--koochita-light-green);
}

#reportPrompt .ui_close_x, #blockPrompt .ui_close_x, #deleteMsg .ui_close_x, .showMsgContainerStyles .ui_close_x {
    right: initial;
    left: 0;
}

#blocks .ui_input_checkbox {
    float: right;
}

#memberTags {
    padding: 0 0 5px 10px;
}

.showMsgContainerStyles {
    visibility: hidden;
    bottom: auto;
    left: 32%;
    position: fixed;
    right: auto;
    top: 15%;
}

.showMsgContainerStyles .subheader_text {
    text-align: justify;
}

#blockPrompt {
    visibility: hidden;
    position: fixed;
    left: 28%;
    right: 28%;
    top: 29%;
    bottom: auto;
    padding: 25px 35px;
}

#blockPrompt .header_text {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

#blockPrompt p, #deleteMsg p {
    font-size: 13px;
    line-height: 1.8;
    text-align: justify;

}

#deleteMsg p {
    margin-bottom: -15px;
    font-size: 15px;
}

#deleteMsg {
    visibility: hidden;
    position: fixed;
    left: 37%;
    right: 37%;
    top: 29%;
    bottom: auto;
}

.deleteSelectedMessagesBtn {
    background-color: var(--koochita-light-green);
    border-color: var(--koochita-light-green);
}

#customDefinedReport {
    height: auto;
    margin-top: 5px;
    min-height: 100px;
    padding: 5px !important;
    width: 100%;
}

#custom-define-report {
    visibility: hidden
}

.responseSubheaderParagraph {
    font-size: 16px;
    color: #000;
    max-height: 200px;
    height: 200px;
    overflow: auto;
    line-height: 1.8;
}

.sendFromMainDiv {
    display: inline-block;
    margin-left: 5px;
    background-size: 15px;
    background-position: 0 -38px;
    width: 13px;
    height: 15px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

.topicMainDiv {
    display: inline-block;
    margin-left: 5px;
    background-size: 15px;
    background-position: 0 -38px;
    width: 13px;
    height: 15px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

.showMsgDiv {
    cursor: pointer;
    width: 35%;
    text-align: center
}

.mc-badge-collection-container .modules-membercenter-badge-collection .memberBadges {
    float: inherit;
    display: inline-block;
}

.saveLeftNav .menu_bar a.saveLink:hover, .saveLeftNav .menu_bar a.saveLink strong:hover {
    text-decoration: none;
}

#MAIN .m2m_copy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}

#MESSAGES_CONTENT .saveLeftNav .selectedFolder {
    padding: 0;
}

#tableId td.width-15per {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_form fieldset {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#contact_form fieldset .form-group {
    margin: 0 0 10px;
}

#contact_form fieldset .control-label {
    margin: 0 0 5px;
    float: right;
}

#contact_form fieldset .messagesInputsMainDiv {
    width: 100%;
}

.footerOptimizer {
    width: 100%;
    height: 40px;
}

#MESSAGES_CONTENT div.messagingButton {
    display: flex;
    align-items: center;
}

#reportContainer {
    margin: 0;
}

#reportContainer div {
    padding: 0;
}

@media (max-width: 1250px) {

    #reportPrompt {
        right: 20%;
        left: 20%;
    }

    #blockPrompt, .showMsgContainerStyles {
        right: 23%;
        left: 23%;
    }

    #deleteMsg {
        left: 35%;
        right: 35%;
    }

}

@media (max-width: 1035px) {

    #reportPrompt {
        right: 15%;
        left: 15%;
    }

    #blockPrompt, .showMsgContainerStyles {
        left: 20%;
        right: 20%;
    }

    #deleteMsg {
        left: 32%;
        right: 32%;
    }

}

@media (max-width: 890px) {

    #reportPrompt {
        right: 9%;
        left: 9%;
        padding: 15px 35px 15px 15px;
    }

    #blockPrompt, .showMsgContainerStyles {
        left: 12%;
        right: 12%;
    }

    #deleteMsg {
        left: 30%;
        right: 30%;
        padding: 35px;
    }

}

@media (max-width: 700px) {

    #reportPrompt {
        right: 2%;
        left: 2%;
        padding: 35px 10px 35px 10px;
    }

    #blockPrompt, .showMsgContainerStyles {
        left: 2%;
        right: 2%;
    }

    #deleteMsg {
        left: 24%;
        right: 24%;
    }
}

@media (max-width: 550px) {

    #MESSAGES_CONTENT a.saveLink {
        font-size: 10px;
    }

    #MESSAGES_CONTENT > .vt-align-top {
        width: 160px;
    }

    #MAINWRAP #BODYCON .messagesHeading {
        margin: 10px;
        font-size: 25px;
    }

    #deleteMsg {
        left: 20%;
        right: 20%;
    }
}

@media (min-width: 480px) and (max-width: 520px) {

    /*.responsiveSendMode {*/
    /*    display: flex;*/
    /*}*/

    #contact_form .contactFormFieldset, #msg {
        width: 300px;
    }
}

@media (max-width: 480px) {

    #contact_form fieldset, #msg {
        width: 300px;
    }

    #MESSAGES_CONTENT {
        flex-direction: column;
    }

    #MESSAGES_CONTENT > .vt-align-top {
        width: 100%;
    }

    #MESSAGES_CONTENT .saveLeftNav {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid #ccc;
        padding: 3px 0;
        margin: 0;
        border-width: 1px 0;
    }

    #MESSAGES_CONTENT .saveLeftNav .menu_bar {
        width: 33.33333%;
        text-align: center;
        padding: 6px 0;
    }

    #MESSAGES_CONTENT .saveLeftNav div.displayFolder {
        border: none;
    }

    .floatLeft.affix {
        top: 0;
        width: 100%;
        background: white;
        z-index: 1;
    }

    .messagesActionsBar.affix {
        top: 59px;
        justify-content: center;
    }

    #sendMsgDiv {
        margin-top: 50px;
    }

    #deleteMsg {
        left: 12%;
        right: 12%;
    }
}

@media (max-width: 370px) {

    #tableId td.width-20per, .inboxHeaders .SortNavOn.width-20per {
        width: 30%;
    }

    .memberProfile div.messagingButton, #MESSAGES_CONTENT div.messagingButton {
        margin: 1px 2px 5px 0;
    }

    #deleteMsg {
        left: 6%;
        right: 6%;
    }
}


