.showingPhotosModal .mainAlbumPic{
    width: auto;
    height: 100%;
    position: absolute;
    transition: 0.2s;
}
.showingPhotosModal .showingPhotosTitle {
    background-color: var(--koochita-blue);
    color: white;
    font-weight: 700;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px 5px 0 0;
}

.showingPhotosModal .commentWriterDetailsShow {
    padding: 5px 20px;
    margin: 0%;
    width: 100%;
    border-bottom: 2px solid #3c4043;
    background-color: #303134;
}

.showingPhotosModal .commentWriterDetailsShow , .showingPhotosModal .answersWriterDetailsShow {
    display: inline-block;
    width: 100%;
}

.showingPhotosModal .commentWriterPicShow, .showingPhotosModal .answersWriterPicShow {
    width: 55px;
    height: 55px;
    background-color: #E5E5E5;
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.showingPhotosModal .commentWriterPicShow > img {
    width: 100%;
    height: 100%;
}

.showingPhotosModal #photographerSlideUserPic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.showingPhotosModal .modal-content .postMainDivHeader , .showingPhotosModal .modal-content .showingPhotosTitle {
    text-align: right;
}

.showingPhotosModal .feedBackBtn{
    margin-bottom: 8px;
}

.showingPhotosModal .photosFeedBackBtn {
    float: left;
    display: flex;
    width: 24%;
    margin-top: 10px;
    flex-direction: column;
    /*max-width: 210px;*/
}

.showingPhotosModal .chooseSidePhotoAlbum{
    border: var(--koochita-blue) solid 3px;
    border-radius: 0px !important;
}

.showingPhotosModal .commentWriterExperienceDetails {
    padding: 0;
}

.showingPhotosModal .commentWriterExperienceDetails > div {
    font-size: 10px;
    margin-top: 4px
}

.showingPhotosModal .commentWriterExperienceDetails , .showingPhotosModal .answersWriterExperienceDetails {
    display: inline-block;
    float: right;

}

.showingPhotosModal #photoAlbumUploadTimeOnScreen {
    color: #9aa0a6;
}

.showingPhotosModal .photosModalLikeBox , .showingPhotosModal .photosModalDislikeBox {
    text-align: center;
    float: right;
    padding-right: 25px;
    cursor: pointer;
}

.showingPhotosModal .likeBoxIcon::before {
    content: '\E1F9';
    font-family: Shazde_Regular2 !important;
    font-size: 20px;
    position: absolute;
    top: -7px;
}

.showingPhotosModal .likeBoxIconClicked::before {
    content: '\E057';
    font-family: Shazde_Regular2 !important;
    font-size: 20px;
    position: absolute;
    top: -7px;
}

.showingPhotosModal .photosModalLikeBox:hover {
    color: red;
}

.showingPhotosModal .col-xs-6.dislikeBox {
    padding: 0 16px 0 0;
    text-align: center;
}

.showingPhotosModal .dislikeBoxIcon::before {
    content: '\E1F8';
    font-family: Shazde_Regular2 !important;
    font-size: 20px;
    position: absolute;
    top: -4px;
}

.showingPhotosModal .dislikeBoxIconClicked::before {
    content: '\E058';
    font-family: Shazde_Regular2 !important;
    font-size: 20px;
    position: absolute;
    top: -4px;
    right: 3px;
}

.showingPhotosModal .photosModalDislikeBox:hover {
    color: darkred;
}

.showingPhotosModal .modal-dialog {
    width: 1000px;
}

.showingPhotosModal .feedbackStatistic {
    text-align: center;
    direction: rtl;
}

.showingPhotosModal .userInfoPhotoAlbum{
    margin-bottom: 15px;
    border-bottom: solid #3c4043;
    width: 100%;
    background: #303134;
    padding-top: 9px;
    padding-right: 11px;
    display: flex;
    padding-bottom: 5px;
    direction: rtl;
}

.showingPhotosModal .userInfoPhotoAlbum.hideOnScreen {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 0px;
}
.showingPhotosModal .userInfoPhotoAlbum.hideOnScreen .userPictureDiv{
    margin-left: 10px;
}

.showingPhotosModal .rightColPhotosModalMainDiv {
    display: inline-block;
    border-left: 2px solid #3c4043;
    overflow: auto;
    height: auto;
    margin: 0;
    background-color: #141518;
    padding: 0;
}

.showingPhotosModal .rightColPhotosShowingModal {
    transition: 0.25s;
    margin-bottom: 5px;
    width: 48%;
    cursor: pointer;
    float: right;
    margin-left: 2%;
    position:relative;
    height: 115px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.showingPhotosModal .leftColPhotosModalMainDiv {
    padding: 25px 70px 25px;
    position: relative;
}

.showingPhotosModal .selectedPhotoShowingModal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showingPhotosModal .photosDescriptionShowingModal {
    display: inline-block;
    border-top: 2px solid #3c4043;
    color: #666666;
    text-align: right;
    direction: rtl;
    background-color: #303134;
    margin: 0;
    width: 100%;
    padding: 0px 20px;
}

#showingPhotosModal .modal-content {
    border-radius: 0;
}

#showingPhotosMainDivHeader > button.close:before,
#showingSitePicsModal > button.close:before {
    display: none;
}
#showingReviewPicsModal > button.close:before,
#showingReviewPicsModal > button.close:before {
    display: none;
}

#showingPhotosMainDivHeader > button.close,
#showingSitePicsModal > button.close {
    float: left;
    margin: 8px 0 0 15px;
    font-size: 30px;
    color: white;
    opacity: 1;
}

.modal-open .modal {
    /*backdrop-filter: blur(2px);*/
    background-color: #000000c7;
}

.photoAlbumLikeSection{
    color: rgb(154, 160, 166);
    display: block;
    justify-content: center;
    align-items: center;
}

.photoAlbumTopUserName{
    display: flex !important;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 0px;
}

.photoAlbumTopLikeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0px;
    border-radius: 50px;
    background-color: #303134;
}
.likePhotoAlbum{
    border-radius: 50px;
    background-color: #303134;
    float: right;
    padding: 0px 10px;
    color: #609beb;
}
.likePhotoAlbum:before{
    content: '\E1F9';
    font-family: Shazde_Regular2 !important;
    font-size: 35px;
    width: 35px;
}
.fullLikePhotoAlbum{
    color: red;
}
.fullLikePhotoAlbum:before{
    content: '\E057';
    font-family: Shazde_Regular2 !important;
    font-size: 35px;
    width: 35px;
}
.disLikePhotoAlbum{
    border-radius: 50px;
    background-color: #303134;
    margin-right: 11px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    color: #609beb;
}
.disLikePhotoAlbum:before{
    content: '\E1F8';
    font-family: Shazde_Regular2 !important;
    font-size: 35px;
    width: 35px;
}

.fullDisLikePhotoAlbum{
    color: darkred;
}
.fullDisLikePhotoAlbum:before{
    content: '\E058';
    font-family: Shazde_Regular2 !important;
    font-size: 35px;
    width: 35px;
}
.sidePhotoAlbumDiv{
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px 10px 0px 5px;
    max-height: 75vh;
}
@media (max-width:1188px) and (min-width: 992px) {

    .showingPhotosModal .modal-dialog {
        width: 970px;
    }
}

@media (max-width:992px) and (min-width: 768px) {
    .showingPhotosModal .modal-dialog {
        width: 750px;
    }

    .showingPhotosModal .commentWriterExperienceDetails {
         width: 60%;
    }

    .showingPhotosModal .photosFeedBackBtn {
        width: 30%;
    }

    /*.userInfoPhotoAlbum {*/
    /*    flex-direction: column;*/
    /*}*/

    .showingPhotosModal .userProfileName {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .sidePhotoAlbumDiv{
        overflow-y: hidden;
        overflow-x: auto;
    }
    .showingPhotosModal .modal-dialog {
        width: auto;
    }

    .showingPhotosModal .commentWriterExperienceDetails {
        width: 51%;
    }

    .showingPhotosModal .photosFeedBackBtn {
        width: 207px;
    }

    .showingPhotosModal .modal-content .display-flex {
        display: block;
    }

    .showingPhotosModal .rightColPhotosShowingModal {
        width: 18%;
        margin:0 0 10px 1.8%;
        float: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .showingPhotosModal .rightColPhotosModalMainDiv {
        border-left: none;
        border-top: 2px solid #e5e5e5;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px 5px;
        direction: rtl;
        margin: 5px 1%;
        width: 98%;
    }

    .showingPhotosModal .leftColPhotosModalMainDiv {
        padding: 0px 5% 0px;
    }

    .showingPhotosModal .selectedPhotoShowingModal {
        height: 55vh;
    }

    .showingPhotosModal .userPictureDiv{
        overflow: hidden;
        border-radius: 50% !important;
        width: 45px !important;
        height: 45px !important;
    }
}

@media (max-width:630px)  {
    .showingPhotosModal #photographerSlideFeedBackBtns {
        display: flex !important;
        width: 100%;
        justify-content: center;
    }

    .showingPhotosModal .commentWriterExperienceDetails {
        width: 74%;
    }

    .showingPhotosModal .dislikeBoxIconClicked::after {
        right: 7px;
    }

    /*.showingPhotosModal .selectedPhotoShowingModal {*/
    /*    height: 320px;*/
    /*}*/
}

@media (max-width:480px)  {
    /*.showingPhotosModal .selectedPhotoShowingModal {*/
    /*    height: 250px;*/
    /*}*/

    .showingPhotosModal .rightColPhotosShowingModal {
        width: 100px;
    }
}
