/*1st box of Styles*/

#saves-all-trips .all-trips-header .header-sort-container .sort-options li.selected:after {
    position: relative !important;
    right: -65px !important;
}

.ui_tabs {
    white-space: inherit !important;
}

.helpSpans p {
    font-size: 14px;
    line-height: 2em;
    text-align: justify;
}

.nextBtnsHelp {
    margin-left: 5px !important;
}

/*inline styles*/

#sort-option-recent {
    padding-right: 20px;
    border-radius: 2px
}

#saves-view-tabs {
    position: relative;
    margin-right: 12px;
}

#targetHelp_6 {
    width: 30%;
    float: right;
}

#targetHelp_7 {
    width: 33%;
    float: right;
}

#targetHelp_8 {
    width: 37%;
    float: right;
}

#myTripPageHelpBtn > a > div {
    background-size: 28px;
    background-position: 0 -29px;
    width: 28px;
    height: 28px;
    background-image: url('../../images/help_share.png');
    background-repeat: no-repeat;
}

.isNotInFilterCurrent {
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    float: left
}

.helpBubble .isNotInFilter {
    border: 1px solid #333;
    background-color: black;
    border-radius: 50%;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    float: left
}