.userPhotoWritingReview {
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

.nameAndAddress h4.propertyaddress {
    font-size: 2em !important;
}

h2.pageTitle {
    color: var(--koochita-light-green) !important;
}

.ratingTextWritingReview {
    color: var(--koochita-light-green);
    float: right;
    margin-right: 40px;
}

#ReviewTitle, #ReviewText {
    width: 100%;
}

#targetHelp_7 > label {
    float: none !important;
}

#CHAR_MIN {
    line-height: 3em;
}

#TRIP_TYPE {
    direction: rtl;
}

#src {
    padding: 5px;
    border-radius: 4px;
    width: 40%;
}

#result {
    max-height: 160px;
    overflow: auto;
    margin-top: 10px;
    /*border: 2px solid #e5e5e5;*/
    /*border-radius: 5px;*/
    padding: 5px;
}

#FRAUD_LABEL_FLY > label {
    text-align: justify;
}

#SBMT_WRP > div:not(:nth-child(2)) {
    padding: 5px 22px 7px;
}

#SBMT_WRP > div:nth-child(3), #SBMT_WRP > div:nth-child(4) {
    border-color: #963019;
}

#SBMT_WRP > div:nth-child(3) > a, #SBMT_WRP > div:nth-child(4) > span {
    color: #963019;
}

#errMsg {
    color: #963019
}

#photo, #submit {
    display: none;
}

#submitPhotoDiv {
    visibility: hidden;
}

#fileName {
    color: #963019
}

#userPhoto {
    margin-right: 13px;
    width: 150px;
}

#close_btn > div {
    cursor: pointer;
    color: #963019 !important;
    position: absolute;
    top: -18px;
    right: 0;
    background: url('../../images/estelah.png');
    background-position: -2px -49px;
    background-size: 44px;
    width: 35px;
    display: block;
    height: 35px;
}

#RECENT_REVIEWS_COL > a {
    cursor: pointer;
    float: left;
}

#RECENT_REVIEWS_COL > a > div {
    background-size: 28px;
    background-position: 0 -29px;
    width: 28px;
    height: 28px;
    background-image: url('../../images/help_share.png');
    background-repeat: no-repeat;
}

#add-photo {
    padding: 0px;
    width: 860px;
    height: 90%;
    top: 5%;
    position: fixed;
    left: 50%;
    margin-left: -430px;
    display: none;
}

#photoUploadHeader {
    top: -20px;
}

#close-but {
    left: 0 !important;
}

#styleDeleteUserPicFromComment {
    cursor: pointer;
    color: #963019 !important;
    position: absolute;
    top: -18px;
    right: 0;
    background: url("../../images/estelah.png");
    background-position: -2px -49px;
    background-size: 44px;
    width: 35px;
    display: block;
    height: 35px;
}

#isNotInFilterCurrReview {
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    float: left
}

#isNotInFilterReview {
    border: 1px solid #333;
    background-color: black;
    border-radius: 50%;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    float: left
}