.share_boxDiv, #share_box_mobile{
    background: #FFF;
    position: absolute;
    right: 0;
    bottom: -195px;
    z-index: 10;
    box-shadow: rgb(136, 136, 136) 1px 4px 8px;
    padding: 2px;
    left: 140px;
}

#share_box_mobile {
    left: -24px;
    right: -145px;
    bottom: -240px;
}

.share_boxDiv::before, #share_box_mobile::before {
    content: '';
    position: absolute;
    left: 55px;
    top: -10px;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    -webkit-filter: drop-shadow(0 0 0 #b7b7b7);
    filter: drop-shadow(0 0 0 #b7b7b7);
    box-shadow: 0 0 0 #b7b7b7 \9;
    -webkit-filter: drop-shadow(0 0 0 #999);
    filter: drop-shadow(0 0 0 #999);
}

.share_boxDiv > a, #share_box_mobile > a {
    cursor: pointer;
    float: right;
    display: inline-block;
    width: 100%;
    padding: 0 5px;
}
.share_boxDiv > a > img, #share_box_mobile > a > img{
    width: 20px;
    height: 20px;
}

.share_boxDiv > a > div {
    color: #16174f;
}

#share_box_mobile > a > div {
    font-size: 12px;
    margin-right: 5px;
    float: right;
    display: inline-block;
    color: #16174f;
}

#share_box_mobile > a > div:hover {
    color: var(--koochita-blue);
}

.share_boxDiv > a:hover, #share_box_mobile > a:hover {
    background-color: #E5E5E5;
}

.share_boxDiv > span, #share_box_mobile > span {
    cursor: pointer;
    float: right;
    margin-left: 5px;
    line-height: 28px;
    font-size: 14px;
}

#copyImgInputShareLink {
    position: absolute;
    right: 5px;
    width: 15px;
    top: 1px;
}

.inputBoxInputSharePage {
    width: 95%;
    text-align: left;
    border: none;
    float: left;
    background-color: transparent;
    padding-left: 5px;
    line-height: 2;
    font-size: 10px;
}

.inputBoxSharePage {
    width: 95%;
    /*padding: 2px 7px;*/
    font-size: 0.8em;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ebebeb;
    line-height: 30px;
    margin: 5px 5px 0;
}

.shareBoxModalForMobile .modalBody{
    display: flex;
    flex-direction: column;
}
.shareBoxModalForMobile .modalBody > a{
    color: black;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    border-bottom: solid 1px lightgray;
    padding-bottom: 15px;
}
.shareBoxModalForMobile .modalBody > a > img{
    width: 30px;
    height: 30px;
}

/*#lastDivOfShareBox > a {*/
/*    cursor: pointer;*/
/*    float: left;*/
/*}*/

/*#lastDivOfShareBox > a > div {*/
/*    background-size: 28px;*/
/*    background-position: 0 -29px;*/
/*    width: 28px;*/
/*    height: 28px;*/
/*    background-image: url('../../images/help_share.png');*/
/*    background-repeat: no-repeat;*/
/*}*/

/*#lastDivOfShareBox > div {*/
/*    cursor: pointer;*/
/*    background-size: 28px;*/
/*    background-position: 0 0;*/
/*    width: 28px;*/
/*    height: 28px;*/
/*    background-image: url('../../images/help_share.png');*/
/*    background-repeat: no-repeat;*/
/*    float: right;*/
/*    margin-left: 5px;*/
/*}*/
