body {
    min-width: 0;
}

.userProfilePageCoverImg {
    background-color: darkgrey;
    width: 100%;
    height: 300px;
}

.mainBodyUserProfile {
    background-color: #f5f5f5;
    display: inline-block;
    width: 100%;
}

.mainDivContainerProfilePage {
    max-width: 1188px;
    padding: 0 24px;
}

.circleBase {
    border-radius: 50%;
    background: #ccc;
}

.profilePicUserProfile {
    border: 10px solid white;
    position: absolute;
    width: 170px;
    height: 170px;
    bottom: 2px;
    right: -85px;
    z-index: 1;
}

.userProfileInfo {
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    position: absolute;
    right: 0;
    top: -90px;
    padding: 5px 95px 5px 25px;
    cursor: default;
}

.userProfileInfo > div:first-child {
    font-weight: 700;
}

.userProfileInfo > div:not(:last-child) {
    font-size: 20px;
}

.postsMainFiltrationBar , .userProfilePostsFiltration {
    background-color: white;
    padding: 0;
    direction: rtl;
    display: inline-block;
    width: 100%;
}

.userProfilePostsFiltration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.postsMainFiltrationBar {
    padding-right: 70px;
}

.userPageBodyTopBar {
    padding: 0;
    float: inherit;
    width: 800px;
    position: relative;
}

.postsMainFiltrationBar > span:hover {
    border-bottom: 5px solid var(--koochita-blue);
}

.userProfilePostsFiltration > span:nth-child(2),
.userProfilePostsFiltration > span:nth-child(3) {
    width: 12%;
}

.userProfilePostsFiltration > span:nth-child(4),
.userProfilePostsFiltration > span:nth-child(6) {
    width: 9%;
}

.userProfilePostsFiltration > span:nth-child(5) {
    width: 10%;
}

.userProfilePostsFiltration > span:first-child {
    width: 16%;
}

.userProfilePostsFiltration > span:last-child {
    width: 18%;
}

.userPosts .showUsersPostsLink,
.userArticles .showUsersArticlesLink,
.userQuestions .showUsersQAndAsLink,
.userPhotosAndVideos .showUsersPhotosAndVideosLink {
    border-bottom: 5px solid var(--koochita-blue);
}

.postsMainFiltrationBar > span , .userProfilePostsFiltration > span {
    margin: 0 30px;
    font-size: 14px;
    padding: 10px 0 5px;
    border-bottom: 5px solid white;
    cursor: pointer;
    float: right;
}

.otherActivitiesChoices::after {
    content: '\E04A';
    font-family: Shazde_Regular2 !important;
    margin-right: 5px;
}

.userProfileActivitiesDetailsMainDiv {
    margin-top: 20px;
}

.userProfilePostsFiltrationContainer {
    width: 100%;
}

.userProfilePostsFiltrationContainer .userProfilePostsFiltration , .userProfilePostsSearchContainer{
    background-color: white;
    color: #777777;
}

.userProfilePostsFiltrationContainer .userProfilePostsFiltration > span:hover {
    color: var(--koochita-blue);
}

.userProfilePostsFiltrationContainer .userProfilePostsFiltration > span {
    float: right;
    margin: 0 16px;
    border-bottom: none;
    padding-bottom: 10px;
}

.userProfilePostsFiltrationContainer .userProfilePostsFiltration > span:first-child {
    font-weight: 700;
    font-size: 14px;
    color: var(--koochita-blue);
    padding: 8px 0;
}

.userProfilePostsSearchContainer {
    display: inline-block;
    width: 100%;
    padding: 5px 15px 5px 0;
    margin-bottom: 5px;
}

.userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(1) {
    float: right;
}

.userPostsPage .userProfilePostsSearchContainer > span,
.userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(2) > span,
.userArticlesPage .userProfilePostsSearchContainer > span,
.userQuestionsPage .userProfilePostsSearchContainer > span {
    margin: 0 15px;
    font-size: 14px;
    padding: 5px 0;
    /*border-bottom: 5px solid white;*/
    cursor: pointer;
    float: left;
}

.userProfilePostsSearchContainer > span:hover {
    color: var(--koochita-blue);
}

.userProfilePostsSearchContainer .inputBox {
    float: right;
    width: 60%;
}

.inputBox {
    padding: 2px 10px;
    font-size: 0.8em;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ebebeb;
    line-height: 1.42857143;
    /*margin: 10px 0;*/
    width: auto;
}

.inputBox textarea {
    outline: none;
}

.inputBoxInputSearch {
    text-align: right;
    margin-top: 3px;
    height: 21px;
    resize: none;
    width: 100%;
    float: right;
    font-size: 12px;
    border: none;
    background-color: transparent;
}

.rightColBoxes {
    background-color: white;
    padding: 0 10px 15px;
}

.mainDivHeaderText {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    margin: 20px 0;
    position: relative;
}

.mainDivHeaderText > h3, .mainDivHeaderText > div {
    font-size: 17px;
    font-weight: 700;
    line-height: 32px;
    position: absolute;
    top: 5px;
    right: -5px;
    background: white;
    padding: 0 10px;
    color: var(--koochita-blue);
    margin: 0;
}

.mainDivHeaderText > div {
    right: inherit;
    color: darkblue;
    font-size: 13px;
    font-weight: 500;
    top: 4px;
    left: -10px;
    cursor: pointer;
}

.userProfileLevelDetails {
    position: relative;
    padding: 5px 25px 30px;
}

.levelIconDiv.currentLevel {
    position: absolute;
    right: 40px;
    top: 5px;
}

.levelIconDiv.nextLevel {
    position: absolute;
    left: 11px;
    top: 5px;
}

.upperBox {
    background-color: var(--koochita-blue);
    width: 40px;
    height: 33px;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    border-color: black;
    position: absolute;
    left: -5px;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    cursor: default;
    text-align: center;
}

.userProfileLevelDetails .inner {
    transform: rotate(45deg);
    background-color: var(--koochita-blue);
    border: 3px solid black;
    width: 30px;
    height: 30px;
    top: 5px;
    left: -15px;
    position: relative;
    border-radius: 5px;
}

.userProfileLevelDetails .outer {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 20px;
    height: 40px;
    overflow: hidden;
    transform: rotate(90deg);
}

.levelDetailsMainDiv {
    text-align: right;
    padding-right: 45px;
    font-size: 15px;
}

.levelDetailsPoints {
    direction: rtl;
}

.w3-black {
    border: 2px solid black;
    float: right;
    width: 100%;
    margin-top: 10px;
    background-color: black;
}

.userProfileLevelDetails .w3-blue {
    background-color: var(--koochita-blue) !important;
    float: right;
    height: 8px;
}

.medalsMainBox {
    height: 130px ;
    overflow: hidden;
}

.picturesMainBox {
    height: 90px ;
    overflow: hidden;
}

.picturesDiv {
    display: inline-block;
    width: 32%;
    margin: 0;
    height: 90px;
    border: 1px solid black;
    cursor: pointer;
}

.medalsDiv {
    display: inline-block;
    width: 30%;
    margin: 5px 1%;
    height: 110px;
    border: 1px solid black;
}

.activitiesMainDiv {
    padding: 5px 15px;
}

.activitiesLinesDiv {
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0;
    position: relative;
}

.activitiesLinesDiv:first-child {
    padding: 0 0 5px;
}

.activitiesLinesDiv:first-child > div {
    top: -5px;
}

.activityTitle {
    position: absolute;
    /*font-size: 14px;*/
    color: #888888;
    top: 10px;
    right: 0;
    cursor: default;
    padding: 0 5px;
    background-color: white;
}

.activityNumbers {
    position: absolute;
    /*font-size: 14px;*/
    color: var(--koochita-blue);
    top: 10px;
    left: 0;
    cursor: pointer;
    padding: 0 5px;
    background-color: white;
}

/*posts page styles*/

.postsMainDivInSpecificMode {
    padding: 0;
    float: right;
}

.postsLeftDivInSpecificMode {
    padding: 0 5px 0 0;
}

.postsRightDivInSpecificMode {
    padding: 0 0 0 5px;
}

.postsMainDivInSpecificMode  .postMainDivShown {
    padding: 10px;
}

.postsMainDivInSpecificMode .photosCol > div:nth-child(1) {
    height: 210px;
}

.postsMainDivInSpecificMode .commentPhotosMainDiv {
    margin: 0;
}

.postsMainDivInSpecificMode , .commentPhotosShow{
    border-bottom: none;
}

.postsMainDivInSpecificMode .quantityOfLikes {
    border-top: 1px solid #E5E5E5;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    padding-top: 10px;
    text-align: right;
}

.quantityOfLikes > span, .feedbackStatistic > span {
    color: var(--koochita-blue);
}

.numberOfPhotosMainDiv {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 15px;
    color: white;
    text-align: center;
    padding: 4px 20px;
    border: none !important;
}

.numberOfPhotos {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

.postTextShown {
    overflow: hidden;
}

.showMoreText {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 10px;
    display: inline-block;
}

.showMoreText::before {
    content: '\E091';
    font-family: shazdemosafer-tour !important;
    font-size: 35px;
    color: var(--koochita-light-green);
    position: absolute;
    bottom: -23px;
    left: 0;
}

.showLessText {
    color: var(--koochita-light-green);
    cursor: pointer;
}

.commentWriterDetailsShow {
    display: inline-block;
    width: 100%;
}

.commentWriterPicShow {
    width: 55px;
    height: 55px;
    background-color: #E5E5E5;
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.commentWriterExperienceDetails {
    color: #666666;
    margin-bottom: 10px;
    direction: rtl;
    text-align: right;
    padding-right: 65px;
}

.userProfileName {
    display: inline-block;
    font-size: 15px;
}

.commentWriterExperiencePlace  {
    color: #16174f;
    cursor: pointer;
    font-size: 10px;
}

.commentContentsShow > p {
    word-break: normal;
    text-align: justify;
}

.commentPhotosShow {
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.photosCol > div {
    margin-top: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.photosCol img {
    cursor: pointer;
}

.postsMainDivInSpecificMode .photosCol {
    border-top: 1px solid #E5E5E5;
}

.postMainDivShown , .postsFiltersMainDiv {
    float: right;
    direction: rtl;
    background: white;
    /*margin-top: 10px;*/
    padding: 10px 20px;
}

.commentWriterExperienceParticipation , .userProfileName , .userProfileNameAnswers {
    color: var(--koochita-blue);
    cursor: pointer;
}

/*photos and videos*/

.userProfilePhotosAndVideos  .userProfilePostsSearchContainer .inputBox {
    width: 100%;
}

.sharedPhotosAndVideos {
    width: 49%;
    border: 3px solid white;
    display: inline-block;
    float: right;
    height: 200px;
    margin-top: 5px;
    background-color: #888888;
    cursor: pointer;
}

.sharedPhotosAndVideos:nth-child(even) {
    margin-right: 2%;
}

/*answers and questions*/

.userProfileQAndA .userProfilePostsSearchContainer .inputBox ,
.userProfileArticles .userProfilePostsSearchContainer .inputBox {
    width: 50%;
}

.answersBoxMainDiv {
    position: relative;
    margin-top: 10px;
    padding: 10px 10px 0;
    background-color: white;
}

.answersOptionsBoxes {
    background-color: #e5e5e5;
    display: inline-block;
    float: right;
    direction: rtl;
    margin: 5px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.answersActions {
    top: 15px !important;
}

.answersActions {
    position: absolute;
    top: 5px;
    left: 15px;
    height: 32px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answersActionsIcon {
    position: relative;
}

.answersActionsIcon::before {
    content: '\E091';
    font-family: shazdemosafer-tour !important;
    font-size: 35px;
    color: #666;
}

.questionsActionsMoreDetails {
    background-color: #E5E5E5;
    color: #7f7f7f;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 5px;
    font-weight: 500;
    z-index: 1;
}

.questionsActionsMoreDetails > span {
    padding: 5px 0;
    display: block;
    text-align: right;
    cursor: pointer;
}

.questionsActionsMoreDetails > span:hover {
    color: var(--koochita-blue);
}

.questionsActionsMoreDetails > span:not(:last-child) {
    border-bottom: 1px solid #999999;
}

.showingQuestionCompletely {
    background-color: #E5E5E5;
    border-radius: 10px;
    color: #7f7f7f;
    padding: 8px 5px;
    position: absolute;
    top: 20px;
    left: 75px;
    font-weight: 500;
    cursor: pointer;
}

.answersWriterDetailsShow {
    display: inline-block;
    width: 100%;
}

.answersWriterPicShow {
    width: 55px;
    height: 55px;
    background-color: #E5E5E5;
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.answersWriterExperienceDetails {
    display: inline-flex;
    flex-direction: column;
    color: #666666;
    margin-bottom: 10px;
    direction: rtl;
    float: right;
    text-align: right;
    width: 60%;
}

.answersWriterExperienceDetails > div:last-child {
    text-align: right;
}

.userProfileNameAnswers {
    color: var(--koochita-blue);
    cursor: pointer;
    font-size: 19px;
    line-height: 1.7;
}

.answersWriterExperiencePlace {
    color: #16174f;
    cursor: pointer;
}

.questionContentMainBox {
    border-bottom: 1px solid #E5E5E5;
    padding: 0 10px 30px;
    text-align: justify;
    direction: rtl;
    font-size: 14px;
    line-height: 1.6;
}

.questionSubMenuBar {
    padding: 8px 0;
    display: inline-block;
    width: 100%;
}

.questionSubMenuBar .replyBtn {
    padding: 2px 20px;
    margin-left: 10px;
    cursor: pointer;
    float: left;
}

.numberOfAnswers {
    float: right;
    color: #a0a0a0;
    font-weight: 600;
    direction: rtl;
    margin-left: 10px;
}

.numberOfAnswers > span {
    color: var(--koochita-blue);
}

.showAnswersToggle {
    float: right;
    color: darkblue;
    position: relative;
    cursor: pointer;
    /*font-weight: 600;*/
}

.showAnswersToggle::before {
    content: '\E04A';
    font-family: shazdemosafer-tour !important;
    font-size: 14px;
    position: absolute;
    left: -15px;
    top: -1px;
}

.replyBtn {
    background-color: var(--koochita-yellow);
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

.answerPlaceMainDiv , .newAnswerPlaceMainDiv {
    margin: 10px 0 5px;
    display: inline-block;
    width: 100%;
}

.theOne .answerPlaceMainDiv {
    padding-top: 30px;
    position: relative;
}

.answerPlaceMainDiv {
    border-top: 1px solid #e5e5e5;
    margin-top: 0;
    padding-top: 10px;
}

.newAnswerPlaceMainDiv{
    margin-top: 20px;
    border-top: 1px solid #E5E5E5;
    padding: 10px 0;
}

.answerWriterProfilePic , .newAnswerWriterProfilePic {
    float: right;
    margin-left: 5px;
}

.answerPlaceMainDiv .answerWriterProfilePic {
    width: 50px;
    height: 50px;
    margin-top: 7px;
}

.answerBoxText {
    background-color: #eaeaea;
    padding: 25px 10px;
    position: relative;
    text-align: justify;
    direction: rtl;
    display: inline-block;
    float: right;
    width: 80%;
    border-radius: 10px;
}

.answerBoxText .replyWriterUsername {
    font-size: 14px;
    top: 5px;
}

.answerBoxText .answerSmileyIcon {
    bottom: 20px;
}

.replyWriterUsername {
    color: var(--koochita-blue);
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 10px;
    direction: rtl;
    cursor: default;
}

.commentSmileyIcon , .answerSmileyIcon {
    position: absolute;
    left: 15px;
    bottom: 10px;
    cursor: pointer;
}

.answerBoxText .answerSmileyIcon {
    bottom: 20px;
}

.answerStatistics {
    position: absolute;
    bottom: -23px;
    right: 10px;
    font-size: 14px;
}

.numberOfLikeAnswer , .likeAnswer:hover {
    color: red;
}

.answerStatistics .numberOfLikeAnswer::before {
    position: relative;
    left: inherit;
    top: inherit;
    color: red;
    font-size: 20px;
}

.numberOfDislikeAnswer , .dislikeAnswer:hover {
    color: darkred;
}

.answerStatistics .numberOfDislikeAnswer::before {
    position: relative;
    left: inherit;
    top: 3px;
    color: darkred;
    font-size: 20px;
}

.numberOfLikeAnswer::before {
    content: '\E057';
    font-family: shazdemosafer-tour !important;
    position: absolute;
    left: -80px;
    top: 36px;
}

.numberOfDislikeAnswer::before {
    content: '\E058';
    font-family: shazdemosafer-tour !important;
    position: absolute;
    left: -40px;
    top: 43px;
}

.answerStatistics .numberOfLikeAnswer::before {
    position: relative;
    left: inherit;
    top: inherit;
    color: red;
    font-size: 20px;
}


.answerStatistics .numberOfDislikeAnswer::before {
    position: relative;
    left: inherit;
    top: 3px;
    color: darkred;
    font-size: 20px;
}

.actionToAnswer {
    display: inline-block;
    float: right;
    font-size: 35px;
    margin: 10px 20px 0 0;
}

.likeAnswer , .dislikeAnswer , .likeAnswerClicked , .dislikeAnswerClicked {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    /*margin: 20px 20px 0 0;*/
    float: right;
}

.likeAnswer::before {
    content: '\E1F9';
    font-family: Shazde_Regular2 !important;
    position: absolute;
    left: -5px;
    top: -13px;
}

.likeAnswerClicked::before {
    content: '\E057';
    font-family: Shazde_Regular2 !important;
    position: absolute;
    left: -4.5px;
    top: -13px;
}

.dislikeAnswer::before {
    content: '\E1F8';
    font-family: Shazde_Regular2 !important;
    position: absolute;
    left: -8px;
    top: -9px;
}

.dislikeAnswerClicked::before {
    content: '\E058';
    font-family: Shazde_Regular2 !important;
    position: absolute;
    left: -4.5px;
    top: -9px;
}

.newAnswerPlaceMainDiv .inputBox {
    width: 90%;
    float: right;
    position: relative;
}

.newAnswerWriterProfilePic {
    width: 45px;
    height: 45px;
    float: right;
    margin-left: 5px;
}

.newAnswerPlaceMainDiv .inputBoxInput {
    text-align: right;
    font-size: 12px;
    border: none;
    height: 39px;
    background-color: transparent;
}

.newAnswerPlaceMainDiv textarea {
    text-align: right;
    margin-top: 15px;
    height: 35px;
    resize: none;
    width: 94%;
    float: right;
}

.replyAnswerTitle {
    color: var(--koochita-blue);
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 10px;
    direction: rtl;
    cursor: default;
}

.newCommentPlaceMainDiv .commentSmileyIcon {
    top: 20px;
    left: 7px;
}

.replyToCommentMainDiv .commentSmileyIcon {
    top: 20px;
    left: 7px;
}

.seePrevAnswers {
    color: darkblue;
    position: absolute;
    left: 87px;
    top: 5px;
    cursor: pointer;
}

.seeNextAnswers {
    color: darkblue;
    position: absolute;
    left: 87px;
    bottom: -22px;
    cursor: pointer;
}

/*articles*/

.usersArticlesMainDiv {
    background-color: white;
    padding: 20px;
    display: inline-block;
    width: 100%;
}

.usersArticlesMainDiv:not(:nth-child(2)){
    margin-top: -5px;
}

.articleImgMainDiv {
    float: right;
    width: 45%;
    height: 180px;
    border: 1px solid black;
    margin: 5px 0;
    cursor: pointer;
}

.articleImgMainDiv > img {
    width: 100%;
}

.articleDetailsMainDiv {
    float: right;
    width: 55%;
    padding-right: 25px;
    margin: 5px 0;
}

.articleTagsMainDiv {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.articleTags {
    background-color: rgba(0,0,0,0.5);
    color: white;
    float: right;
    padding: 1px 8px;
    border-radius: 3px;
}

.articleTitleMainDiv {
    font-size: 13px;
    font-weight: 700;
    float: right;
    width: 100%;
    text-align: right;
    padding: 10px 0;
}

.articleTitleMainDiv > a, .articleTitleMainDiv > a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.articleSummarizedContentMainDiv {
    text-align: justify;
    color: #666666;
    direction: rtl;
    line-height: 2;
    font-size: 12px;
    padding: 5px 0 10px;
    float: right;
    cursor: default;
}

.articleSpecificationsMainDiv {
    display: inline-block;
    width: 100%;
    color: #888888;
}

.articleSpecificationsMainDiv > div {
    float: right;
    direction: rtl;
    margin-left: 15px;
    cursor: default;
}

.articleCommentsMainDiv {
    position: relative;
    padding-right: 23px;
}

.articleCommentsMainDiv::before {
    content: '\E06B';
    font-family: Shazde_Regular2 !important;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: -5px;
}

.articleWriterMainDiv::before {
    content: '\E06E';
    font-family: Shazde_Regular2 !important;
}

.articleWatchListMainDiv {
    position: relative;
    padding-right: 20px;
}

.articleWatchListMainDiv::before {
    content: '\E050';
    font-family: Shazde_Regular2 !important;
    position: absolute;
    right: 0;
    top: -3px;
    font-size: 15px;
}

/*responsive for tablets*/

@media (max-width: 1188px) {

    .userProfilePostsFiltrationContainer .userProfilePostsFiltration > span:first-child {
        font-size: 12px;
    }

    .userProfilePostsFiltrationContainer .userProfilePostsFiltration > span {
        margin: 0 10px;
        font-size: 13px;
    }

    .userPostsPage .userProfilePostsSearchContainer > span,
    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(2) > span,
    .userArticlesPage .userProfilePostsSearchContainer > span{
        margin: 0 7px;
        font-size: 13px;
    }

    .userQuestionsPage .userProfilePostsSearchContainer > span {
        margin: 0 6px;
        font-size: 12px;
    }

    .answerBoxText {
        width: 78%;
    }

    .actionToAnswer {
        margin: 10px 10px 0 0;
    }
}

@media (max-width: 992px) {
    /*top bar*/

    .userPageBodyTopBar {
        width: 100%;
        padding: 0 85px 0 0;
    }

    .profilePicUserProfile {
        right: 0;
    }

    .userProfileInfo {
        right: 100px;
    }

    .postsMainFiltrationBar {
        direction: rtl;
        padding-right: 13%;
    }

    .postsMainFiltrationBar > span {
        display: flex;
        justify-content: center;
        margin: 0 2.6%;
        float: right;
    }

    .showUsersPostsLink {
        width: 8%;
    }

    .showUsersPhotosAndVideosLink {
        width: 13%;
    }

    .showUsersQAndAsLink {
        width: 18.1%;
    }

    .showUsersArticlesLink {
        width: 7.1%;
    }

    .showUsersScores {
        width: 8%;
    }

    .otherActivitiesChoices {
        width: 13.8%;
    }

    /*main bar*/

    .userProfileActivitiesDetailsMainDiv {
        padding: 0;
    }

    .userProfileDetailsMainDiv {
        padding: 0 0 0 10px;
    }

    .userProfilePostsFiltrationContainer .userProfilePostsFiltration > span {
        margin: 0 1%;
        font-size: 12px;
    }

    .mainDivContainerProfilePage {
        padding: 0 10px;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer {
        padding: 5px 5px 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        direction: rtl;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(2) > span {
        font-size: 11px;
        margin: 0 1.7%;
        word-spacing: -1px;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(2) {
        width: 70%;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > span:nth-child(2) {
        width: 17.5%;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > span:nth-child(3) {
        width: 16%;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > span:nth-child(5) {
        width: 20%;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > span:nth-child(6) {
        width: 11.5%;
    }

    .answerBoxText {
        width: 73%;
    }

    .usersArticlesMainDiv {
        padding: 20px 10px;
    }

    .articleDetailsMainDiv {
        padding-right: 5px;
    }

    .articleSpecificationsMainDiv > div {
        margin-left: 10px;
    }

    .articleSpecificationsMainDiv > div:last-child {
        margin-left: 0;
    }

    .articleWatchListMainDiv {
        padding-right: 15px;
    }
}

@media (max-width: 768px) {
    .mainDivContainerProfilePage {
        padding: 0;
    }

    /*top bar*/
    .userPageBodyTopBar {
        padding: 0 85px 0 5px;
    }

    .profilePicUserProfile {
        right: 10px;
    }

    .postsMainFiltrationBar > span {
        font-size: 12px;
    }

    .profilePicUserProfile {
        width: 160px;
        height: 160px;
    }

    .userProfileInfo {
        top: -80px;
        right: 90px;
    }

    .userProfileInfo > div:not(:last-child) {
        font-size: 17px;
    }

    .userProfileDetailsMainDiv {
        padding: 0 5px;
    }

    /*main bar*/

    .userProfileActivitiesDetailsMainDiv {
        padding: 0 5px;
    }

    .postsLeftDivInSpecificMode {
        padding: 0 2.5px 0 0;
    }

    .postsRightDivInSpecificMode {
        padding: 0 0 0 2.5px;
    }

    .answerBoxText {
        width: 78%;
    }

}

@media (max-width: 630px) {
    /*top bar*/
    .userPageBodyTopBar {
        display: flex;
        justify-content: center;
    }

    .profilePicUserProfile {
        right: inherit;
        bottom: 150px;
        width: 150px;
        height: 150px;
    }

    .userProfileInfo {
        right: inherit;
        top: -95px;
        padding: 5px 25px;
    }

    .userPageBodyTopBar {
        padding: 0;
    }

    .postsMainFiltrationBar {
        margin: 0 5px;
        padding-right: 0;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(2) > span {
        margin: 0 0.8%;
    }

    .userQuestionsPage .userProfilePostsSearchContainer > span {
        font-size: 11px;
    }

    .newAnswerPlaceMainDiv .inputBox {
        width: 88%;
    }

    .answerBoxText {
        width: 72%;
    }
}

@media (max-width: 480px) {

    /*topBar*/

    .postsMainFiltrationBar {
        overflow-x: scroll;
        float: right;
        white-space: nowrap;
        direction: rtl;
        display: flex;
        scrollbar-width: none;
    }

    .postsMainFiltrationBar > span {
        float: initial;
        width: auto;
    }

    .postsLeftDivInSpecificMode, .postsRightDivInSpecificMode {
        width: 100%;
        padding: 0;
    }

    .userProfilePostsFiltrationContainer .userProfilePostsFiltration {
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        justify-content: right;
    }

    .userProfilePostsFiltrationContainer .userProfilePostsFiltration > span {
        width: auto;
    }

    .userPostsPage .userProfilePostsSearchContainer > span {
        font-size: 12px;
    }

    .userPostsPage .userProfilePostsSearchContainer,
    .userPhotosAndVideosPage .userProfilePostsSearchContainer,
    .userQuestionsPage .userProfilePostsSearchContainer,
    .userArticlesPage .userProfilePostsSearchContainer {
        padding: 5px 5px 5px 0;
    }

    .sharedPhotosAndVideos {
        width: 100%;
        margin: 5px 0  0 !important;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:first-child {
        width: 43%;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(4) {
        display: block;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(2) > span {
        margin: 0 10px;
        width: auto !important;
    }

    .userQuestionsPage .userProfilePostsSearchContainer > span {
        width: 23%;
        text-align: left;
    }

    .userQuestionsPage .userProfilePostsSearchContainer div.clear-both {
        display: block;
    }

    .userProfileQAndA .userProfilePostsSearchContainer .inputBox {
        width: 65%;
    }

    .newAnswerPlaceMainDiv .inputBox {
        width: 82%;
    }

    .questionSubMenuBar .replyBtn {
        margin-left: 0;
    }

    .answerBoxText {
        width: 81%;
    }

    .actionToAnswer {
        display: flex;
        float: left;
        margin: 0 0 0 7%;
    }

    .actionToAnswer > div {
        margin-right: 10px;
    }

    .seeNextAnswers, .seePrevAnswers {
        left: 7%;
    }

    .articleImgMainDiv, .articleDetailsMainDiv {
        width: 100%;
    }

    .usersArticlesMainDiv {
        border-bottom: 1px solid #e5e5e5;
    }
}


