.stepsMilestoneMainDiv {
    display: inline-block;
    position: relative;
}
.textTopHeader{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 15px;
    text-align: center
}

.bodyStyle {
    width: 100%;
    min-height: 35vh;
    background-color: whitesmoke;
    direction: rtl;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 1em !important;
    flex-direction: column;
    align-items: center;
}
.topSection{
    border: 3px solid var(--koochita-yellow);
    border-radius: 20px;
    background: white;
}
.box {
    position: relative;
    height: auto;
}
.lineBetweenDot{
    width: 3px;
    height: 5px;
    background-color: var(--koochita-dark-green);
}
.headerOfBox {
    background-color: var(--koochita-dark-green);
    color: white;
    padding: 15px;
    font-size: 2em;
    border-radius: 18px 18px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bodyOfBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-top: 10px;
}

.stepTitle {
    font-size: 17px;
    font-weight: 600;
    text-align: justify;
}

.boxNotice {
    width: 75%;
    position: relative;
    bottom: 0;
    color: #963019;
    font-size: 17px;
}

.stepNotice {
    font-size: 17px;
    color: #963019;
}

.bodyOfSteps {
    position: relative;
    margin: 0 2%;
    width: 96%;
    padding: 3%;
    padding-top: 0px;
}
.footerBox1{
    background-color: var(--koochita-dark-green);
    padding: 5px;
    border: 3px solid var(--koochita-yellow);
    display: inline-block;
    justify-content: space-between;
    width: calc(100% - 115px);
    height: 56px;
}
.footerOfBox {
    height: 45px;
}

.btn:hover, .btn:active {
    color: white;
    opacity: 0.8;
    border-radius: 5px;
}

.btn:focus {
    color: white;
    border-radius: 5px;
}

.boxNextBtn {
    background: var(--koochita-green);
    border-color: var(--koochita-green);
    float: left;
    color: white;
    font-size: 30px;
    border-radius: 16px 0px 0px 16px;
    width: 115px;
    transition: .2s;
}
.boxNextBtn:hover{
    border-radius: 30px 0px 0px 30px !important;
}

.boxPreviousBtn {
    background: var(--koochita-red);
    border-color: var(--koochita-red);
    float: right;
    color: white;
    font-size: 30px;
    border-radius: 0px 16px 16px 0px;
    width: 115px;
    transition: .2s;
}
.boxPreviousBtn:hover{
    border-radius: 0px 30px 30px 0px !important;
}

.steps {
    border-radius: 50%;
    background-color: var(--koochita-dark-green);
}

.bigCircle {
    width: 25px;
    height: 25px;
}

.middleCircle {
    width: 17px;
    height: 17px;
    margin: 4px;
    z-index: 10;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
}

.littleCircle {
    width: 9px;
    height: 9px;
    margin: 5px;
    z-index: 100;
    margin-right: 8px;
    position: absolute;
    top: 3px;
}

.completeStep {
    background-color: var(--koochita-red);
}
.completeStepCenter{
    background: var(--koochita-yellow);
}
#selectCategoryDiv{
    display: flex;
    justify-content: space-between;
}

.categories {
    margin: 1px;
    padding: 10px 0;
    width: 15%;
    /*display: inline-block;*/
    border: 3px solid var(--koochita-yellow);
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    transition: .2s;
    color: var(--koochita-yellow);
    background-color: var(--koochita-dark-green);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.categories:hover {
    border: 1.5px solid #30b4a6;
}

.selectCategoryDiv {
    width: 25%;
    display: flex;
    background-color: var(--koochita-dark-green);
    border-radius: 0px 0px 0px 17px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px;
    border: solid 3px var(--koochita-light-green);
}
.stepHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}
.nameOfSelectCategory {
    font-weight: 500;
    color: #30b4a6;
    font-size: 17px;
}

.iconsOfCategories {
    font-size: 40px;
    direction: rtl;
    margin: 4% 1%;
    line-height: 40px;
    cursor: pointer;
    color: var(--koochita-yellow);
}
.categories > div{
    text-align: center;
}

.iconOfSelectCategory {
    font-size: 30px;
    margin: 0;
    line-height: 40px;
    cursor: default;
    color: var(--koochita-light-green);
}

.stepInputBox {
    display: flex !important;
    padding: 10px 7px;
    border: 2px solid var(--koochita-yellow);
    border-radius: 5px;
    background-color: #ebebeb;
    margin: 10px 0;
    font-size: 18px;
}

.stepInputBoxText {
    padding-left: 10px;
    border-left: 2px solid var(--koochita-yellow);
    display: inline-block;
}
.overMapButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.mapButton{
    font-size: 25px;
    background: var(--koochita-green);
    border-radius: 15px;
}
.mapButton:hover{
    font-size: 25px;
    background: var(--koochita-green);
    border-radius: 15px;
}
.stepInputBoxInput {
    direction: rtl;
    text-align: center;
    border: none;
    background-color: transparent;
}

.stepInputBoxRequired {
    display: inline-block;
    position: relative
}

.stepInputIconRequired {
    font-size: 15px;
    color: #92321b;
    margin-left: 10px;
}
.inputFliedRow{
    display: flex;
    align-items: center;
}
.addresText {
    width: 100%;
    resize: none;
    border-radius: 5px;
    background-color: #EEEEEE;
    padding: 8px;
    margin: 12px 0 0;
    border: 2px solid var(--koochita-yellow);
}
.dotDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px 0px 0px 0px;
    border: solid 1px;
    padding: 0px 10px;
    background-color: var(--koochita-green);
}
#stepName {
    font-size: 1em;
    position: relative;
    margin: 6px;
    font-weight: bold;
    color: var(--koochita-yellow);
}

#map {
    height: 150px;
    border: 1px solid var(--koochita-light-green);
    border-radius: 5px;
    padding: 10px;
}

.mapBtn {
    background: var(--koochita-light-green);
    border-color: var(--koochita-light-green);
    color: white;
    width: 100%;
    margin: 10px 0;
}

.listItem {
    padding: 10px 0px;
    border-bottom: 1px solid var(--koochita-yellow);
}

.subListItem {
    display: inline-block;
    width: auto;
}

.detailListItem {
    display: inline-block;
    padding-left: 20px;
    min-width: 30%;
}
.selectInput{
    border: 3px solid var(--koochita-yellow);
    padding: 0px 15px;
    font-size: 20px;
    border-radius: 9px;
}
.deletedSlid{
    position: absolute;
    width: 100%;
    height: 0;
    background-color: #000000c7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .2s;
}
.step6pic:hover .deletedSlid{
    height: 100%;
}


.step5Title {
    display: inline-block;
    float: right;
    font-weight: bold;
    font-size: 24px;
    margin-left: 22px;
    padding-left: 26px;
    width: 100%;
    margin-bottom: 26px;
}
.detailListItem > div{
    font-size: 15px;
    margin: 5px 0px;
}
.detailListItem > div > label{
    cursor: pointer;
}

.step5Description {
    font-weight: 500;
    margin: 5px 0;
}

.step5NewPlace {
    margin: 5px 10px;
    display: inline-block;
    width: 100%;
}

.step5AddPlace {
    background: var(--koochita-light-green);
    border-color: var(--koochita-light-green);
    color: white;
    margin: 0 5px;
}

.step5RemovePlace {
    background: #963019;
    border-color: #963019;
    color: white;
}

.step6picBox {
    width: 150px;
    padding: 7px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.step6pic {
    height: 130px;
    position: relative;
    color: var(--koochita-light-green);
    background-color: #e5e5e5;
    border: 1px solid #cccccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.step6plusText {
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
}

.step6plusIcon {
    position: relative;
    font-size: 3em;
}

.step6picText {
    padding: 10px;
}

/* Customize the label (the checkBoxDiv) */
.checkBoxDiv {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: 400;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 30px;
}

/* Hide the browser's default checkbox */
.checkBoxDiv input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    height: 25px;
    right: 0px;
    width: 25px;
    background-color: #a7a7a7;
    border-radius: 8px;
}

/* On mouse-over, add a grey background color */
.checkBoxDiv:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBoxDiv input:checked ~ .checkmark {
    background-color: #44b390;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkBoxDiv input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkBoxDiv .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.choosedCategory{
    border-color: #30b4a6;
    color :#30b4a6;
    border-radius: 50px;
    background-color: var(--koochita-dark-green);
}
.choosedCategory > div{
    color :#30b4a6 !important;
}

.resultSearch{
    padding: 5px 10px;
    transition: .2s;
}
.resultSearch:hover{
    background: var(--koochita-light-green);
    border-radius: 10px;
}
.addressSection{
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: solid 1px;
}
body{
    min-width: auto;
}
.innerPicAddPlace{
    width: 263px;
    height: 285px;
    position: absolute;
    top: -65px;
    left: -75px;
    z-index: 12;
}
.footerTextBoxAddPlace{
    padding: 10px 15px;
    font-size: 12px;
    line-height: 2;
    position: relative;
    text-align: center;
    bottom: 0px;
    right: 0px;
}
.addPlaceDropZone{
    min-height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dragDropTextAddPlace{
    font-size: 14px;
    font-weight: bold;
    border: 2px dashed #9996;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    min-height: 300px;
}
.sampleDescription{
    border: solid 1px var(--koochita-yellow);
    border-radius: 8px;
    color: gray;
    padding: 15px;
    text-align: justify;
    font-size: 14px;
    margin-top: 15px;
}
.plusIcon{
    background: green;
    color: white;
    font-size: 35px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.showOnMobile{
    display: none;
}
.showOnPc{
    display: flex;
}
.step1Header{
    text-align: center;
    font-size: 30px;
    padding: 15px;
    font-weight: bold
}
.marginRight{
    margin-right: 40px
}
.matInputTopDiv{
    width: 49%;
}
.endSectionButton{
    width: 100%;
    border-radius: 30px 30px 30px 30px !important;
}
.endSectionFooter{
    display: none;
}
.textTopTopHeader{
    display: inline-block
}

#materialRow{
    width: 100%;
}
.stepInputBoxMat{
    width: 100%;
}
@media (max-width: 1200px) {
    .container{
        width: auto;
    }
}
@media (max-width: 992px){
    .categories{
        font-size: 18px;
    }
}

@media (max-width: 900px){
    .showOnMobile{
        display: flex;
    }
    .showOnPc{
        display: none;
    }
    .stepTitle{
        font-size: 15px;
    }
    .headerOfBox{
        font-size: 1.6em;
    }
}

@media (max-width: 800px) {
    .step1Header{
        font-size: 25px;
    }
    .headerOfBox{
        flex-direction: column;
        text-align: center;
    }
    .stepsMilestoneMainDiv{
        margin-top: 15px;
    }
}

@media (max-width: 700px) {
    .endSectionButton{
        font-size: 14px;
    }
    .step5Title{
        margin-bottom: 10px;
    }
    .listItemHotelKind{
        flex-direction: column;
    }
    .stepNotice{
        font-size: 13px;
        text-align: center;
    }
    .headerCategoryName, .stepInputBoxRequired, .stepInputBoxInput, .addresText, .mapButton{
        font-size: 11px !important;
        font-weight: bold;
    }
    .boxNotice{
        width: 100%;
        font-size: 13px;
        margin-bottom: 15px;
    }
    .textTopTopHeader{
        font-size: 15px;
    }
    .step1Header{
        font-size: 15px;
        font-weight: bold;
    }
    #stepName{
        font-size: 14px;
    }
    .bodyStyle{
        padding-top: 10px !important;
    }
    .textTopHeader{
        font-size: 18px;
    }
    #selectCategoryDiv{
        flex-wrap: wrap;
        justify-content: center;
    }
    .categories{
        width: 30%;
        font-size: 13px;
    }
    .box{
        width: 100%;
    }
    .inputFliedRow{
        flex-direction: column;
        align-items: baseline;
    }
    .inputFlied{
        flex-direction: row;
        width: 100%;
    }
    .marginRight{
        margin-right: 0px;
    }
    .stepInputBox{
        width: 100%;
    }
    .detailListItem{
        min-width: 49%;
    }
    .stepTitle{
        font-weight: 400;
        width: 100%;
        padding: 0;
        text-align: center;
        font-size: 14px;
        margin-bottom: 14px;
    }
    .bodyOfBox{
        flex-direction: column;
        align-items: center;
    }
    .selectCategoryDiv{
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .stepHeader{
        text-align: center;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
}

@media (max-width: 500px) {
    .stepHeader{
        width: auto;
    }
}