body{
    position: relative;
}
.grayBackGround{
    background: #f2f2f2;
}
.headerSecondSection{
    display: none !important;
}
/*.headerSearchBar{*/
/*    display: none !important;*/
/*}*/

.mainAllBody{
    direction: rtl;
    text-align: right;
}

.mainHeader{
    background: white;
}

.headerSecondLi{
    font-weight: normal !important;
}
.showHeader{
    border-top: solid 1px lightgrey;
    background: white;
    padding-bottom: 10px;
}

.mainHeaderButts{
    display: flex;
    justify-content: flex-end;
}
.mainHeaderButts > div{
    cursor: pointer;
    font-size: 12px;
}
.mainHeaderButts > div .text{
    font-size: 1em;
}
.mainHeaderButts > div:hover .text{
    border-bottom: solid 1px;
}
.mainHeaderButts .BookMarkIconEmptyAfter{
    margin: 0px 10px;
    padding: 0px 10px;
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
}
.mainHeaderButts .emptyShareIconAfter{

}
.mainHeaderButts .emptyShareIconAfter:after{
    font-size: 2.7em;
    position: relative;
    right: 1em;
    width: 1em;
    margin-right: 5px;
    line-height: initial;
}
.mainHeaderButts .BookMarkIconEmptyAfter:after, .emptyCameraIconAfter:after{
    font-size: 2em;
    margin-right: 5px;
}

.showHeader .inff .address{
    color: gray;
    font-size: 12px;
}
.showBody{
    padding: 15px 0px;
    padding-bottom: 50vh;
}
.bodySec{
    background: white;
    border: solid 1px #dedede;
    margin: 5px 0px;
    position: relative;
}
.showBody .infoSec{
    padding: 10px;
    height: 420px
}
.showBody .infoSec .boldText{
    font-size: 20px;
    font-weight: bold;
}
.showBody .infoSec .normText{
    font-weight: 100;
    margin-top: 5px;
    font-size: 12px;
}
.showBody .infoSec .groupSec{
    margin-top: 10px;
    border-top: solid 1px #f3f3f3;
    padding-top: 10px;
}
.showBody .infoSec .groupSec .mr4bef:before{
    margin-left: 5px;
}
.showBody .infoSec .weekTime{
    padding: 0px 10px;
    margin-top: 5px;
}
.showBody .infoSec .weekTime > div{
    display: flex;
}
.showBody .infoSec .weekTime span{
    width: 100px;
}
.showBody .infoSec .weekTime span.closse{
    color: red;
}
.showBody .infoSec .phone{
    color: var(--koochita-blue);
    margin-right: auto;
    display: flex;
    margin-top: 5px;
    justify-content: flex-end;
}
.showBody .infoSec .phone:after{
    margin-right: 5px;
}

.showBody .infoSec .groupSec .ratingButtons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 30px;
}
.showBody .infoSec .groupSec .ratingButtons > div{
    width: 45%;
    background: none;
    border: solid 1px;
    line-height: 30px;
    cursor: pointer;
    flex-direction: column;
    transition: max-height .3s;
}
.showBody .infoSec .groupSec .ratingButtons .DisLikeIconEmpty:before ,.LikeIconEmpty:before{
    direction: ltr;
    width: 30px;
    display: flex;
}
.showBody .infoSec .groupSec .ratingButtons .likeSec{
    color: var(--koochita-blue);
}
.showBody .infoSec .groupSec .ratingButtons.youRate .likeSec.selected{
    color: white;
    background: var(--koochita-blue);
}
.showBody .infoSec .groupSec .ratingButtons.youRate .disLikeSec.selected{
    color: white;
    background: var(--koochita-red);
}
.showBody .infoSec .groupSec .ratingButtons .likeSec:hover{
    color: white;
    background: var(--koochita-blue);
}
.showBody .infoSec .groupSec .ratingButtons .disLikeSec{
    color: var(--koochita-red);
}
.showBody .infoSec .groupSec .ratingButtons .disLikeSec:hover{
    color: white;
    background: var(--koochita-red);
}
.showBody .infoSec .groupSec .ratingButtons .result{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s;
}
.showBody .infoSec .groupSec .ratingButtons .result > div{
    display: flex;
    font-size: 12px;
}
.showBody .infoSec .groupSec .ratingButtons .result > div .name{
    width: 60px;
}
.showBody .infoSec .groupSec .ratingButtons .result > div .num{

}
.showBody .infoSec .groupSec .ratingButtons .icon{

}
.showBody .infoSec .groupSec .ratingButtons .icon .count{
    font-size: 18px;
    display: none;
}
.showBody .infoSec .groupSec .ratingButtons.youRate .icon .count{
    display: block !important;
}
.showBody .infoSec .groupSec .ratingButtons.youRate .icon{
    border-bottom: solid 1px;
    margin: 0px 15px;
}
.showBody .infoSec .groupSec .ratingButtons.youRate .result{
    max-height: 400px;
}

.showBody .imgSliderSec{
    overflow: hidden;
}
.fastAccess{
    display: flex;
}
.fastAccess .tab{
    padding: 10px;
    margin: 0px 10px;
    /*color: #a0a0a0;*/
    color: black;
    cursor: pointer;
    transition: .3s;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
}
.fastAccess .tab .text{
    font-size: 1em;
}
.fastAccess .tab.selected{
    color: var(--koochita-blue);
    border-bottom: solid 2px;
}
.fastAccess .tab:before{
    font-size: 1.4em;
    margin-left: 5px;
}
.fastAccess .tab:hover{
    color: var(--koochita-blue);
}

.infoSec .iWasHere{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 5px;
    border: solid 1px;
    font-size: 8px;
    padding: 2px 5px;
    color: red;
    transition: .3s;
    cursor: pointer;
}
.infoSec .iWasHere:hover, .iWasHere.selected{
    color: white;
    background: red;
}
.infoSec .iWasHere:before{
    font-size: 13px;
}

.showBody .map{
    height: 500px;
}
.adver.sideMap{
    height: 245px;
}
.adver.fullRow{
    height: 100px;
}

.topInfoFixed{
    position: fixed;
    width: 100%;
    height: 130px;
    background: white;
    z-index: 999;
    border-bottom: solid 1px #afafaf;
    box-shadow: 0px 0px 5px 2px #7d7d7d;
    top: -130px;
    transition: .5s;
    overflow: hidden;
}
.topInfoFixed.open{
    top: 0px !important;
}

.topInfoFixed .info .address{
    color: gray;
    font-size: 12px;
}
.topInfoFixed .pic {
    width: 100px;
    margin-right: auto;
    overflow: hidden;
    height: 70px;
    margin-top: 15px;
    box-shadow: 0px 0px 5px 2px #bfbfbf;
}
.topInfoFixed .pic > img{
    width: 100%;
}
.topInfoFixed .tabRow {
    display: flex;
    position: absolute;
    bottom: 0;
}
.topInfoFixed .mainHeaderButts{
    margin-left: 20px;
    margin-top: 5px;
}

.pad-15{
    padding: 15px;
}
.headerSec{
    margin-top: 0;
    border-bottom: solid 1px #f7f7f7;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.headerSec:before{
    margin-left: 10px;
}
.yourReviewHeader{
    background: var(--koochita-blue);
    color: white;
    margin: 0;
    padding: 10px;
    position: relative;
}
.yourReviewHeader .iconClose{
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 40px;
    display: none;
}
.inputReviewSec .firsRow{
    display: flex;
    padding: 10px;
}
.uPic50{
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.inputReviewSec .firsRow .Inp{
    width: calc(100% - 50px);
    padding: 15px;
    color: black;
    height: 80px;
    border: none;
}
.reviewButs{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.reviewButs .but{
    background: #e5e5e5;
    margin: 3px 0px;
    padding: 7px 7px;
    border-radius: 0px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    width: 49%;
    justify-content: center;
}
.reviewButs .but:before{
    font-size: 30px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 4px;
}
.reviewButs .but.addVideo360Icon:before, .but.addFriendIcon:before{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 35px;
    padding-bottom: 5px;
}

.showWhenNeed{
    display: none;
}
.openReviewSec{
    z-index: 999999;
}
.openReviewSec .reviewShowSection:before{
    content: '';
    background: #3d3d3df0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
}
.openReviewSec .showWhenNeed{
    display: block;
}
.openReviewSec .bodySec{
    border: none;
}
.openReviewSec .yourReviewHeader .iconClose{
    display: block;
}
.openReviewSec .bodySec .inputReviewSec .firsRow .Inp{
    min-height: 170px;
}
.reviewQues{
    background: #e5e5e5;
    padding: 15px 9px;
    width: 100%;
    text-align: right;
    height: 200px;
}
.reviewSubmit{
    background-color: var(--koochita-blue);
    color: white;
    font-weight: 700;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
}


.createPageMainBody hr{
    width: 100%;
}
.descriptionText{
    margin-bottom: 10px;
    color: #646464;
    font-size: 12px;
}
.importantInput label{
    display: flex;
}
.importantInput label:after{
    content: '*';
    color: red;
    font-size: 18px;
    margin-right: 5px;
}
.createPageMainBody{

}
.createPageMainBody .bodd{
    padding: 10px;
}
.createPageMainBody .bodd .MainHeader{
    margin: 0px 0px 20px 0px;
    font-weight: bold;
    border-bottom: solid 1px #f7f7f7;
    padding: 10px 0px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.createPageMainBody .bodd .indicator{
    position: relative;
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.createPageMainBody .bodd .indicator .squer{
    width: 50px;
    height: 50px;
    background: white;
    border: solid 1px gray;
    text-align: center;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
}
.createPageMainBody .bodd .indicator .squer.selected, .line.selected{
    background: var(--koochita-blue) !important;
    border-color: var(--koochita-blue) !important;
    color: white !important;
}

.createPageMainBody .bodd .indicator .line{
    width: calc(50% - 73px);
    position: absolute;
    height: 7px;
    top: 22px;
    background: white;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}
.createPageMainBody .bodd .descInputSec{
    margin-bottom: 30px;
    font-size: 15px;
}
.shopMapInput{
    position: relative;
    height: 400px;
    width: 100%;
}
.myLocationButton{
    background: #ffbaba;
    border: none;
    margin-right: 10px;
    padding: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.myLocationButton > img{
    width: 50px;
}

.submitSection{
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
}
.submitSection .row{
    background: #ffffffa6;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 15px;
    width: 100%;
    margin: 0px;
}
.submitSection .row > button{
    margin: 0px 10px;
    border-radius: 0px;
    border: none;
    padding: 5px 15px;
}
.submitSection .nextButton{
    color: white;
    background: var(--koochita-green);
}
.submitSection .prevButton{
    font-weight: bold;
    background: white;
    padding-bottom: 3px;
}
.headerRowInput{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    margin-bottom: 0 !important;
}
.timeSection{

}
.timeSection .timeRow{
    display: flex;
    margin: 15px 0px;
    align-items: center;
}
.timeSection .timeRow .text{
    margin-left: 10px;
    font-weight: bold;
    width: 120px;
}
.timeSection .timeRow .smTex{
    margin: 0px 5px;
    margin-right: 20px;
    font-size: 11px;
}
.checkboxDiv{
    display: flex;
    margin-right: 20px;
    align-items: center;
    font-size: 12px;
}
.checkboxDiv label{
    cursor: pointer;
    margin-left: 5px;
}
.checkboxDiv input{
    display: block;
    width: 20px;
    height: 20px;
}

.openCloseInputShow{
    margin: 0px 10px;
    background: #fcc156;
    padding: 5px;
    font-size: 10px;
    border: solid 1px gray;
    cursor: pointer;
    border-radius: 20px;
}
.openCloseInputDiv input{
    display: none;
}
.openCloseInputDiv .openCloseInputShow:after{
    content: 'تعطیل هستم';
    padding: 5px;
    display: inline-flex;
    font-weight: normal;
    border-radius: 20px;
}
.openCloseInputDiv .openCloseInputShow:before{
    content: 'باز هستم';
    padding: 5px;
    background: white;
    font-weight: bold;
    display: inline-flex;
    border-radius: 20px;
}

.openCloseInputDiv.checked .openCloseInputShow{
    background: #ff6e6e;
}
.openCloseInputDiv.checked .openCloseInputShow:after{
    background: white;
    font-weight: bold;
    color: black;
}
.openCloseInputDiv.checked .openCloseInputShow:before{
    background: none;
    font-weight: normal;
    color: white;
}
.uploadPicSection{
    width: 100%;
    border: solid 2px #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.uploadPicSection .uploadPic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    flex-direction: column;
    opacity: .3;
    font-size: 18px;
    margin-bottom: 5px;
}
.uploadPicSection .uploadPic img{
    width: 120px;
    margin-bottom: 15px;
}
.uploadPicSection .uploadPic span{
    font-size: 18px;
}
.uploadPicSection .labelForClick{
    cursor: pointer;
    opacity: 1;
    z-index: 99;
    font-weight: bold;
    color: var(--koochita-yellow);
    font-size: 24px;
    text-align: center;
    width: 100%;
}

.form-control:read-only{
    background: white;
}
.uploadPicSection.highlight{
    box-shadow: 0px 0px 5px 1px var(--koochita-blue);
}
.showUploadedFiles{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.form-control.correctInput{
    border-bottom: solid 2px green !important;
}
.form-control.wrongInput{
    border-bottom: solid 2px red !important;
}
.boldDescriptionText{
    font-size: 20px;
    font-weight: bold;
}


.reviewShowSection{
    display: flex;
}
.reviewShowSection > div{
    width: 50%;
}

.questionBodies .inputQuestionSec{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}
.questionBodies .inpQ{
    width: calc(100% - 60px);
    background: #f2f2f2;
    padding: 5px;
    margin-right: 10px;
    display: flex;
    border-radius: 5px;
    align-items: flex-end;
}
.questionBodies .inpQ > textarea{
    width: 100%;
    border: none;
    background: none;
    resize: none;
}
.questionBodies .inpQ > button{
    width: 65px;
    padding: 5px 0px;
    color: var(--koochita-blue);
    background: #f2f2f2;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
}

.topInfoFixed .infosSec{
    display: flex;
    padding: 0px 20px;
}

.inputReviewSec .uploadedFiles{
    display: flex;
    flex-wrap: wrap;
}
.searchYouFriendDiv{
    display: flex;
    flex-wrap: wrap;
    cursor: text;
    position: relative;
}
.searchYouFriendDiv .acceptedUserFriend{
    display: flex;
    background: var(--koochita-blue);
    padding: 1px 10px;
    margin: 5px 5px;
    align-items: center;
    color: white;
    padding-left: 3px;
}
.searchYouFriendDiv input{
    width: 280px;
    border: none;
    padding: 10px;
}
.searchYouFriendDiv .acceptedUserFriend .iconClose{
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.searchYouFriendDiv .searchResultUserFriend{
    position: absolute;
    background: #f3f3f3;
    top: 100%;
    z-index: 9;
    width: 98%;
    padding: 10px;
    right: 1%;
    box-shadow: 0px 0px 3px 1px #adadad;
    max-height: 200px;
    overflow-y: auto;
    display: none;
}
.searchYouFriendDiv .searchResultUserFriend.open{
    display: block;
}
.searchYouFriendDiv .searchResultUserFriend .result{
    cursor: pointer;
    padding: 5px 7px;
    align-items: center;
    font-size: 15px;
    margin: 7px 0px;
    display: flex;
}
.searchYouFriendDiv .searchResultUserFriend .result:hover{
    background: var(--koochita-blue);
    color: white;
}
.searchYouFriendDiv .searchResultUserFriend .result.UserIcon:before{
    margin-left: 5px;
}

@media (max-width: 1200px) {
    .reviewButs .but{
        font-size: 10px;
    }
}
@media (max-width: 991px) {
    .showBody .infoSec{
        height: auto;
    }
}
@media (max-width: 767px) {
    .createPageMainBody .bodd .MainHeader{
        flex-direction: column;
    }
    .reviewShowSection{
        display: block;
    }
    .reviewShowSection > div{
        width: 100%;
    }
    .openReviewSec{
        position: fixed;
        top: 0px;
        right: 0px;
        padding: 0;
        z-index: 999999;
    }

    .openReviewSec .inputReviewBodies{
        height: 100vh;
        overflow: auto;
    }
    .openReviewSec .bodySec{
        min-height: 50vh;
    }
    .topInfoFixed .infosSec{
        padding: 0px 10px;
    }
    .topInfoFixed .pic{
        width: 60px;
        height: 45px;
    }
    .mainHeaderButts{
        margin-top: 15px;
    }
    .mainHeaderButts > div{
        flex-direction: column-reverse;
    }
    .mainHeaderButts > div .text{
        font-size: .7em;
    }
    .fastAccess{
        justify-content: space-evenly;
    }
    .fastAccess .tab{
        margin: 0px;
        flex-direction: column;
        font-size: 18px;
    }
    .fastAccess .tab .text{
        font-size: .5em;
    }
    .topInfoFixed .mainHeaderButts{
        display: none;
    }
    .topInfoFixed .tabRow{
        width: 100%;
    }
    .topInfoFixed{
        height: 140px;
        top: -140px;
    }
}
