
body {
    font-family: 'IRANSansWeb' !important;
}
.topPic{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.mainPic{
    min-height: 100vh;
}
.sidePics{
    width: 100%;
    height: 100%;
    max-height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidePics1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    flex-direction: column;
}
.topSidePic1{

}
.bottomSidePic1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.topStartButton{
    width: 49%;
    font-size: 26px;
    border-radius: 15px;
    height: 100px;
    font-weight: bold;
    background: #307da2;
}
.travelUsImg{
    width: 50%
}
.startChar{
    font-size: 45px;
    font-weight: bold;
}
.sidePic2{
    position: absolute;
    top: 65px;
    left: 80px;
    width: 290px;
}
.sidePic2Content{
    font-size: 29px;
    color: white;
    font-weight: bold;
    padding: 20px;
    background-color: #0000006e;
}
.sidePic2Links{
    border-bottom: solid red 2px;
    margin-bottom: 10px;
    padding: 0px 18px;
    padding-bottom: 5px;
    cursor: pointer;
    position: relative;
}
.lastSidePic2Lind{
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.topSidePic2{
    color: black;
    position: absolute;
    top: -39px;
    right: 10px;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: space-between;
    direction: rtl;
    align-items: center;
}
.arrowDiv{
    height: 10px;
}
#arrowImg{
    transition: .5s;
    width: 20px;
}
.arrowImgTop{
    transform: rotate(180deg);
}
.introChar{
    font-size: 40px;
    font-weight: bold;
}
.circleRed{
    width: 13px;
    height: 13px;
    background: red;
    position: absolute;
    left: -44px;
    border-radius: 50%;
    bottom: 14px;
}
.otherPics{
    width: 100%;
}
.otherPicCommon{
    margin-top: 25px;
    width: 100%;
}
.otherPicImg{
    width: 100%;
}
.loginPopUp{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000c2;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.loginDiv{
    width: 400px;
    background: white;
    border-radius: 10px;
    border: solid 5px var(--koochita-green);
    max-height: 100vh;
    overflow: auto;
}
.topIconDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    position: relative;
}
.loginInputDiv{
    direction: rtl;
    text-align: right;
    padding: 30px;
    font-size: 22px;
    padding-top: 10px;
}
.closeButton{
    color: var(--koochita-light-green);
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.closeButton:before{
    font-size: 32px;
    line-height: 48px;
    color: var(--koochita-light-green);
    content: "\00d7";
}
.loginText{
    font-size: 25px;
    color: var(--koochita-dark-green);
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}
.loginButtonsMainDiv{
    background: var(--koochita-dark-green);
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
    width: 100%;
}
.registerNow{
    text-align: center;
    margin-top: 20px;
    color: #00388c;
    cursor: pointer;
}
.registerNow:hover{
    color: #007dc5;
}

@media (max-width: 767px) {
    body{
        overflow: hidden;
        -moz-overflow:hidden;
    }
    .topPic{
        position: fixed;
        top: 0px;
        right: 0px;
    }
    .sidePic2{
        left: auto;
    }
}

@media (max-width: 620px) {
    .sidePics1{
        width: calc(100% - 50px);
    }
    .bottomSidePic1{
        flex-direction: column;
    }
    .topStartButton{
        width: 300px;
    }
    .travelUsImg{
        width: 300px;
    }
}