body {
    min-width: 0;
}

.fullWidthBoot{
    width: 100% !important;
}
.userProfilePageCoverImg {
    background-color: darkgrey;
    width: 100%;
    height: 300px;
    position: relative;
}

.mainBodyUserProfile {
    background-color: #f5f5f5;
    display: inline-block;
    width: 100%;
}

.mainDivContainerProfilePage {
    max-width: 1188px;
    padding: 0 24px;
    margin: 0px auto;
}

.circleBase {
    border-radius: 50%;
    background: #ccc;
}

.profilePicUserProfile {
    border: 10px solid white;
    position: absolute;
    width: 170px;
    height: 170px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.userProfileInfo {
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    position: absolute;
    right: 60px;
    top: -65px;
    padding: 5px 50px 5px 25px;
    cursor: default;
}

.userProfileInfo > div:first-child {
    font-weight: 700;
}

.userProfileInfo > div:not(:last-child) {
    font-size: 20px;
}

.postsMainFiltrationBar , .userProfilePostsFiltration {
    background-color: white;
    padding: 0;
    direction: rtl;
    display: inline-block;
    width: 100%;
}

.userProfilePostsFiltration {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 10px;
}
.userProfilePostsFiltration > span{
    text-align: center;
    width: fit-content;
}

.postsMainFiltrationBar {
    padding-right: 70px;
    border-radius: 40px 0px 0px 40px;
}

.userPageBodyTopBar {
    padding: 0;
    float: inherit;
    width: 800px;
    position: relative;
    margin: 0px auto;
}

.postsMainFiltrationBar > a:hover {
    border-bottom: 5px solid var(--koochita-blue);
}
.profileHeaderLinksTab{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    width: 100%;
    padding: 3px 0px;
}
.profileHeaderLinksTab:hover{
    border-bottom: 3px solid var(--koochita-blue);
    color: var(--koochita-blue);
}
.profileHeaderLinksTab.active {
    border-bottom: 3px solid var(--koochita-blue);
    color: var(--koochita-blue);
}
.profileHeaderLinksTab .icon{
    font-size: 30px;
    line-height: 30px;
}
.profileHeaderLinksTab .text{
    font-size: 9px;
}
.postsMainFiltrationBar > a , .userProfilePostsFiltration > span {
    margin: 0 17px;
    font-size: 12px;
    padding: 10px 0 5px;
    border-bottom: 5px solid white;
    cursor: pointer;
    float: right;
    color: black;
}

.userProfilePostsFiltration > span{
    margin: 0px;
}

.otherActivitiesChoices::after {
    content: '\E04A';
    font-family: Shazde_Regular2 !important;
    margin-right: 5px;
}

.userProfileActivitiesDetailsMainDiv {
    margin-top: 5px;
    padding: 0px 5px;
}
.userProfileDetailsMainDiv{
    padding: 0px 5px;
}

.userProfilePostsFiltrationContainer {
    width: 100%;
}

.userProfilePostsFiltrationContainer .userProfilePostsFiltration , .userProfilePostsSearchContainer{
    background-color: white;
    color: #777777;
    padding: 0px;
}

.userProfilePostsFiltrationContainer .userProfilePostsFiltration > span:hover {
    color: var(--koochita-blue);
}

.userProfilePostsFiltrationContainer .userProfilePostsFiltration > span {
    float: right;
    margin: 0 16px;
    border-bottom: none;
    padding-bottom: 10px;
    width: 100%;
}

.userProfilePostsSearchContainer {
    display: inline-block;
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(1) {
    float: right;
}

.userPostsPage .userProfilePostsSearchContainer > span,
.userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(2) > span,
.userArticlesPage .userProfilePostsSearchContainer > span,
.userQuestionsPage .userProfilePostsSearchContainer > span {
    margin: 0 15px;
    font-size: 14px;
    padding: 5px 0;
    /*border-bottom: 5px solid white;*/
    cursor: pointer;
    float: left;
}

.userProfilePostsSearchContainer > span:hover {
    color: var(--koochita-blue);
}

.userProfilePostsSearchContainer .inputBox {
    float: right;
    width: 60%;
}

.inputBox {
    padding: 2px 10px;
    font-size: 0.8em;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    line-height: 1.42857143;
    width: auto;
}

.inputBox textarea {
    outline: none;
}

.inputBoxInputSearch {
    text-align: right;
    margin-top: 3px;
    height: 21px;
    resize: none;
    width: 100%;
    float: right;
    font-size: 12px;
    border: none;
    background-color: transparent;
}

.rightColBoxes {
    background-color: white;
    padding: 0 10px 15px;
    margin-top: 5px;
    border-radius: 10px;
}


.mainDivHeaderText {
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
    margin: 20px 0;
    position: relative;
    margin-top: 0px;
}

.mainDivHeaderText > h3, .mainDivHeaderText > div {
    font-size: 17px;
    font-weight: 700;
    line-height: 32px;
    position: absolute;
    top: 0px;
    right: -5px;
    background: white;
    padding: 0 10px;
    color: var(--koochita-blue);
    margin: 0;
}

.mainDivHeaderText > div {
    right: inherit;
    color: var(--koochita-blue);
    font-size: 10px;
    font-weight: 500;
    top: 0px;
    left: 0px;
    cursor: pointer;
    border-radius: 10px;
}

.userProfileLevelDetails {
    position: relative;
    padding: 5px 25px 30px;
    padding-bottom: 0px;
}

.levelIconDiv.currentLevel {
    position: absolute;
    right: 40px;
    top: 5px;
}

.levelIconDiv.nextLevel {
    position: absolute;
    left: 11px;
    top: 5px;
}

.upperBox {
    background-color: var(--koochita-blue);
    width: 40px;
    height: 33px;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    border-color: black;
    position: absolute;
    left: -5px;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    cursor: default;
    text-align: center;
}

.userProfileLevelDetails .inner {
    transform: rotate(45deg);
    background-color: var(--koochita-blue);
    border: 3px solid black;
    width: 30px;
    height: 30px;
    top: 5px;
    left: -15px;
    position: relative;
    border-radius: 5px;
}

.userProfileLevelDetails .outer {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 20px;
    height: 40px;
    overflow: hidden;
    transform: rotate(90deg);
}

.levelDetailsMainDiv {
    text-align: right;
    padding: 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #656565;
    font-size: 13px;
    height: 45px;
}


.levelDetailsPoints {
    direction: rtl;
}

.w3-black {
    border: 2px solid black;
    float: right;
    width: 100%;
    margin-top: 10px;
    background-color: black;
}

.userProfileLevelDetails .w3-blue {
    background-color: var(--koochita-blue) !important;
    float: right;
    height: 8px;
}

.medalsMainBox {
    height: 130px ;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.picturesMainBox {
    height: 90px ;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.picturesDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    margin: 0;
    height: 90px;
    border: 1px solid black;
    cursor: pointer;
    overflow: hidden;
}

.medalsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 5px 1%;
    height: 110px;
    border: 1px solid black;
    overflow: hidden;
}

.activitiesMainDiv {
    padding: 5px 15px;
}

.activitiesLinesDiv {
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0;
    position: relative;
}

.activitiesLinesDiv:first-child {
    padding: 0 0 5px;
}

.activitiesLinesDiv:first-child > div {
    top: -5px;
}

.activityTitle {
    position: absolute;
    /*font-size: 14px;*/
    color: #888888;
    top: 10px;
    right: 0;
    cursor: default;
    padding: 0 5px;
    background-color: white;
}

.activityNumbers {
    position: absolute;
    cursor: default;
    color: var(--koochita-blue);
    top: 10px;
    left: 0;
    padding: 0 5px;
    background-color: white;
    direction: rtl;
}

/*posts page styles*/

.postsMainDivInSpecificMode {
    padding: 0;
    float: right;
}

.postsLeftDivInSpecificMode {
    padding: 0 5px 0 0;
}

.postsRightDivInSpecificMode {
    padding: 0 0 0 5px;
}

.postsMainDivInSpecificMode  .postMainDivShown {
    padding: 10px;
}

.postsMainDivInSpecificMode .photosCol > div:nth-child(1) {
    height: 210px;
}

.postsMainDivInSpecificMode .commentPhotosMainDiv {
    margin: 0;
}

.postsMainDivInSpecificMode , .commentPhotosShow{
    border-bottom: none;
}

.postsMainDivInSpecificMode .quantityOfLikes {
    border-top: 1px solid #E5E5E5;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    padding-top: 10px;
    text-align: right;
}

.quantityOfLikes > span, .feedbackStatistic > span {
    color: var(--koochita-blue);
}

.numberOfPhotosMainDiv {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 15px;
    color: white;
    text-align: center;
    padding: 4px 20px;
    border: none !important;
}

.numberOfPhotos {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

.postTextShown {
    overflow: hidden;
}

.showMoreText {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 10px;
    display: inline-block;
}

.showMoreText::before {
    content: '\E091';
    font-family: shazdemosafer-tour !important;
    font-size: 35px;
    color: var(--koochita-light-green);
    position: absolute;
    bottom: -23px;
    left: 0;
}

.showLessText {
    color: var(--koochita-light-green);
    cursor: pointer;
}

.commentWriterDetailsShow {
    display: inline-block;
    width: 100%;
}

.commentWriterPicShow {
    width: 55px;
    height: 55px;
    background-color: #E5E5E5;
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.userProfileName {
    display: inline-block;
    font-size: 15px;
}

.commentWriterExperiencePlace  {
    color: #16174f;
    cursor: pointer;
    font-size: 10px;
}

.commentContentsShow > p {
    word-break: normal;
    text-align: justify;
}

.commentPhotosShow {
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.photosCol > div {
    margin-top: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.photosCol img {
    cursor: pointer;
}

.postsMainDivInSpecificMode .photosCol {
    border-top: 1px solid #E5E5E5;
}

.postMainDivShown , .postsFiltersMainDiv {
    float: right;
    direction: rtl;
    background: white;
    /*margin-top: 10px;*/
    padding: 10px 20px;
}

.commentWriterExperienceParticipation , .userProfileName , .userProfileNameAnswers {
    color: var(--koochita-blue);
    cursor: pointer;
}

/*photos and videos*/

.userProfilePhotosAndVideos  .userProfilePostsSearchContainer .inputBox {
    width: 100%;
}

.sharedPhotosAndVideos {
    width: 49%;
    border: 3px solid white;
    display: inline-block;
    float: right;
    height: 200px;
    margin-top: 5px;
    background-color: #888888;
    cursor: pointer;
}

.sharedPhotosAndVideos:nth-child(even) {
    margin-right: 2%;
}

/*answers and questions*/

.userProfileQAndA .userProfilePostsSearchContainer .inputBox ,
.userProfileArticles .userProfilePostsSearchContainer .inputBox {
    width: 50%;
}

.answersBoxMainDiv {
    position: relative;
    margin-top: 10px;
    padding: 10px 10px 0;
    background-color: white;
}

.answersOptionsBoxes {
    background-color: #e5e5e5;
    display: inline-block;
    float: right;
    direction: rtl;
    margin: 5px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.answersActions {
    top: 15px !important;
}

.answersActions {
    position: absolute;
    top: 5px;
    left: 15px;
    height: 32px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answersActionsIcon {
    position: relative;
}

.answersActionsIcon::before {
    content: '\E091';
    font-family: shazdemosafer-tour !important;
    font-size: 35px;
    color: #666;
}

.questionsActionsMoreDetails {
    background-color: #E5E5E5;
    color: #7f7f7f;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 5px;
    font-weight: 500;
    z-index: 1;
}

.questionsActionsMoreDetails > span {
    padding: 5px 0;
    display: block;
    text-align: right;
    cursor: pointer;
}

.questionsActionsMoreDetails > span:hover {
    color: var(--koochita-blue);
}

.questionsActionsMoreDetails > span:not(:last-child) {
    border-bottom: 1px solid #999999;
}

.showingQuestionCompletely {
    background-color: #E5E5E5;
    border-radius: 10px;
    color: #7f7f7f;
    padding: 8px 5px;
    position: absolute;
    top: 20px;
    left: 75px;
    font-weight: 500;
    cursor: pointer;
}

.answersWriterDetailsShow {
    display: inline-block;
    width: 100%;
}

.answersWriterPicShow {
    width: 55px;
    height: 55px;
    background-color: #E5E5E5;
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.answersWriterExperienceDetails {
    display: inline-flex;
    flex-direction: column;
    color: #666666;
    margin-bottom: 10px;
    direction: rtl;
    float: right;
    text-align: right;
    width: 60%;
}

.answersWriterExperienceDetails > div:last-child {
    text-align: right;
}

.userProfileNameAnswers {
    color: var(--koochita-blue);
    cursor: pointer;
    font-size: 19px;
    line-height: 1.7;
}

.answersWriterExperiencePlace {
    color: #16174f;
    cursor: pointer;
}

.questionContentMainBox {
    border-bottom: 1px solid #E5E5E5;
    padding: 0 10px 30px;
    text-align: justify;
    direction: rtl;
    font-size: 14px;
    line-height: 1.6;
}


.numberOfAnswers {
    float: right;
    color: #a0a0a0;
    font-weight: 600;
    direction: rtl;
    margin-left: 10px;
}

.numberOfAnswers > span {
    color: var(--koochita-blue);
}

.showAnswersToggle {
    float: right;
    color: darkblue;
    position: relative;
    cursor: pointer;
    /*font-weight: 600;*/
}

.showAnswersToggle::before {
    content: '\E04A';
    font-family: shazdemosafer-tour !important;
    font-size: 14px;
    position: absolute;
    left: -15px;
    top: -1px;
}

.replyBtn {
    background-color: var(--koochita-yellow);
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

.answerPlaceMainDiv , .newAnswerPlaceMainDiv {
    margin: 10px 0 5px;
    display: inline-block;
    width: 100%;
}

.theOne .answerPlaceMainDiv {
    padding-top: 30px;
    position: relative;
}

.answerPlaceMainDiv {
    border-top: 1px solid #e5e5e5;
    margin-top: 0;
    padding-top: 10px;
}

.newAnswerPlaceMainDiv{
    margin-top: 20px;
    border-top: 1px solid #E5E5E5;
    padding: 10px 0;
}

.answerWriterProfilePic , .newAnswerWriterProfilePic {
    float: right;
    margin-left: 5px;
}

.answerPlaceMainDiv .answerWriterProfilePic {
    width: 50px;
    height: 50px;
    margin-top: 7px;
}

.answerBoxText {
    background-color: #eaeaea;
    padding: 25px 10px;
    position: relative;
    text-align: justify;
    direction: rtl;
    display: inline-block;
    float: right;
    width: 80%;
    border-radius: 10px;
}

.answerBoxText .replyWriterUsername {
    font-size: 14px;
    top: 5px;
}

.answerBoxText .answerSmileyIcon {
    bottom: 20px;
}

.replyWriterUsername {
    color: var(--koochita-blue);
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 10px;
    direction: rtl;
    cursor: default;
}

.commentSmileyIcon , .answerSmileyIcon {
    position: absolute;
    left: 15px;
    bottom: 10px;
    cursor: pointer;
}

.answerBoxText .answerSmileyIcon {
    bottom: 20px;
}

.answerStatistics {
    position: absolute;
    bottom: -23px;
    right: 10px;
    font-size: 14px;
}

.numberOfLikeAnswer , .likeAnswer:hover {
    color: red;
}

.answerStatistics .numberOfLikeAnswer::before {
    position: relative;
    left: inherit;
    top: inherit;
    color: red;
    font-size: 20px;
}

.numberOfDislikeAnswer , .dislikeAnswer:hover {
    color: darkred;
}

.answerStatistics .numberOfDislikeAnswer::before {
    position: relative;
    left: inherit;
    top: 3px;
    color: darkred;
    font-size: 20px;
}

.numberOfLikeAnswer::before {
    content: '\E057';
    font-family: shazdemosafer-tour !important;
    position: absolute;
    left: -80px;
    top: 36px;
}

.numberOfDislikeAnswer::before {
    content: '\E058';
    font-family: shazdemosafer-tour !important;
    position: absolute;
    left: -40px;
    top: 43px;
}

.answerStatistics .numberOfLikeAnswer::before {
    position: relative;
    left: inherit;
    top: inherit;
    color: red;
    font-size: 20px;
}


.answerStatistics .numberOfDislikeAnswer::before {
    position: relative;
    left: inherit;
    top: 3px;
    color: darkred;
    font-size: 20px;
}

.actionToAnswer {
    display: inline-block;
    float: right;
    font-size: 35px;
    margin: 10px 20px 0 0;
}

.likeAnswer , .dislikeAnswer , .likeAnswerClicked , .dislikeAnswerClicked {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    /*margin: 20px 20px 0 0;*/
    float: right;
}

.likeAnswer::before {
    content: '\E1F9';
    font-family: Shazde_Regular2 !important;
    position: absolute;
    left: -5px;
    top: -13px;
}

.likeAnswerClicked::before {
    content: '\E057';
    font-family: Shazde_Regular2 !important;
    position: absolute;
    left: -4.5px;
    top: -13px;
}

.dislikeAnswer::before {
    content: '\E1F8';
    font-family: Shazde_Regular2 !important;
    position: absolute;
    left: -8px;
    top: -9px;
}

.dislikeAnswerClicked::before {
    content: '\E058';
    font-family: Shazde_Regular2 !important;
    position: absolute;
    left: -4.5px;
    top: -9px;
}

.newAnswerPlaceMainDiv .inputBox {
    width: 90%;
    float: right;
    position: relative;
}

.newAnswerWriterProfilePic {
    width: 45px;
    height: 45px;
    float: right;
    margin-left: 5px;
}

.newAnswerPlaceMainDiv .inputBoxInput {
    text-align: right;
    font-size: 12px;
    border: none;
    height: 39px;
    background-color: transparent;
}

.newAnswerPlaceMainDiv textarea {
    text-align: right;
    margin-top: 15px;
    height: 35px;
    resize: none;
    width: 94%;
    float: right;
}

.replyAnswerTitle {
    color: var(--koochita-blue);
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 10px;
    direction: rtl;
    cursor: default;
}

.newCommentPlaceMainDiv .commentSmileyIcon {
    top: 20px;
    left: 7px;
}

.replyToCommentMainDiv .commentSmileyIcon {
    top: 20px;
    left: 7px;
}

.seePrevAnswers {
    color: darkblue;
    position: absolute;
    left: 87px;
    top: 5px;
    cursor: pointer;
}

.seeNextAnswers {
    color: darkblue;
    position: absolute;
    left: 87px;
    bottom: -22px;
    cursor: pointer;
}

/*articles*/

.usersArticlesMainDiv {
    background-color: white;
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.articleImgMainDiv {
    position: relative;
    float: right;
    width: 45%;
    height: 180px;
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}

.articleImgMainDiv > a {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.articleImgMainDiv > a > img {
    width: 100%;
}
.articleImgMainDiv .userPic{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: -5px;
    bottom: -5px;
    border: solid 5px white;
}

.articleDetailsMainDiv {
    float: right;
    width: 55%;
    padding-right: 25px;
    margin: 5px 0;
}

.articleTagsMainDiv {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.articleTags {
    background-color: var(--koochita-yellow);
    color: white;
    float: right;
    padding: 1px 8px;
    border-radius: 3px;
}

.articleTitleMainDiv {
    font-size: 13px;
    font-weight: 700;
    float: right;
    width: 100%;
    text-align: right;
    padding: 10px 0;
}

.articleTitleMainDiv > a, .articleTitleMainDiv > a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.articleSummarizedContentMainDiv {
    text-align: justify;
    color: #666666;
    direction: rtl;
    line-height: 2;
    font-size: 12px;
    padding: 5px 0 10px;
    float: right;
    cursor: default;
}

.articleSpecificationsMainDiv {
    display: inline-block;
    width: 100%;
    color: #888888;
    font-size: 10px;
}

.articleSpecificationsMainDiv > div {
    float: right;
    direction: rtl;
    margin-left: 15px;
    cursor: default;
}

.articleCommentsMainDiv {
    position: relative;
    padding-right: 23px;
}

.articleCommentsMainDiv::before {
    content: '\E06B';
    font-family: Shazde_Regular2 !important;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: -5px;
}
.articleWriterMainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.articleWriterMainDiv::before {
    content: '\E06E';
    font-family: Shazde_Regular2 !important;
    margin-left: 5px;
}

.articleWatchListMainDiv {
    position: relative;
    padding-right: 20px;
}

.articleWatchListMainDiv::before {
    content: '\E050';
    font-family: Shazde_Regular2 !important;
    position: absolute;
    right: 0;
    top: -3px;
    font-size: 15px;
}

.userProfilePostsFiltration > span.active{
    border-bottom: 3px solid var(--koochita-blue);
    color: var(--koochita-blue);
    text-align: center;
    font-weight: 700;
}

.userProfileBio{
    text-align: justify;
    direction: rtl;
    font-size: 12px;
}

.userProfileTagsSection{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.userProfileTags{
    font-size: 11px;
    background: var(--koochita-green);
    color: white;
    padding: 2px 7px;
    border-radius: 5px;
    margin: 3px;
}

.userProfileScoreSection{
    display: flex;
    direction: rtl;
    text-align: center;
    padding: 10px 0px;
}

.userProfileScoreSection > div,.userProfileScoreSection > a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.userProfileScoreSection > a{
    padding-right: 4px;
}

.userTripMainBody{
    position: relative;
    background: white;
    border-radius: 5px;
    width: 700px;
    max-height: calc(100vh - 90px);
    /*height: fit-content;*/
    padding: 10px;
    direction: rtl;
    overflow: hidden;
}

.myBioInput{
    width: 100%;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    border: solid 2px var(--koochita-light-green);
    /*background: #e4e4e4;*/
    background: #efefef;
    font-size: 13px;
}

.myTripHeaders{
    color: var(--koochita-dark-green);
    font-size: 21px;
}

.tripModalBody{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tripButton{
    padding: 4px 10px;
    border: solid 2px var(--koochita-light-green);
    border-radius: 16px;
    cursor: pointer;
    color: #656565;
    margin: 5px;
}

.tripButton.active{
    background: var(--koochita-light-green);
    color: white;
}

.saveBioButton{
    background: var(--koochita-blue);
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 7px;
    margin-left: 15px;
}

.cancelBioButton{
    background: none;
    color: var(--koochita-blue);
    border: none;
    padding: 4px 10px;
}

.bioClassSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.msgHeaderButton{
    cursor: pointer;
    background: whitesmoke;
    color: black;
    padding: 2px 5px;
    border-radius: 6px;
    position: relative;
}

.settingHeaderButton{
    cursor: pointer;
    background: whitesmoke;
    color: black;
    padding: 2px 5px;
    border-radius: 6px;
    margin-right: 12px;
}

.profilePicturesRow{
    position: relative;
    display: flex;
    justify-content: space-between;
    /*margin-bottom: 10px;*/
}

.profilePicturesRow.kind0{
    height: 100px;
}

.profilePicturesRow.kind1{
    height: 200px;
}

.profilePicturesRow.kind2{
    height: 150px;
}

.profilePicturesRow.kind3{
    height: 250px;
}

.profilePictureDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    border: solid 2px whitesmoke;
    cursor: pointer;
    position: relative;
}

.profilePictureDiv img{
    transition: .2s;
}

.profilePictureDiv:hover img{
    transform: scale(1.1);
}

.userPagePicSection{
    position: absolute;
    width: 170px;
    height: 170px;
    bottom: -1px;
    right: -85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addPicForUser{
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 21px;
    cursor: pointer;
    z-index: 9;
    background-color: #000000ba;
    padding: 2px;
}

.addPicByUser{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 2px;
}


/*responsive for tablets*/

.cropper-face{
    background-color: unset !important;
}
.cropper-view-box{
    border: solid white 2px;
    outline: none !important;
}
.cropProfileImg{
    background: var(--koochita-blue);
    color: white;
    border: none;
    padding: 3px 10px;
    border-radius: 8px;
    display: none;
}
.uploadSection{
    text-align: center;
}
.newImageButton{
    cursor: pointer;
    background: var(--koochita-green);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 10px 0px;
    transition:  .3s;
}
.newImageButton:hover{
    background: var(--koochita-dark-green);
}
.nowImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nowImg .profilePicUserProfile{
    position: relative;
    width: 80px;
    height: 80px;
    border: solid 4px var(--koochita-blue);
    margin-bottom: 5px;
}
.oldBrowser{
    color: gray;
    font-size: 11px;
}
.orSec{
    height: 1px;
    background: gray;
    width: 100%;
    position: relative;
    margin: 25px 0px;
}
.orSec span{
    position: absolute;
    right: calc(50% - 15px);
    font-size: 20px;
    color: var(--koochita-dark-green);
    top: -15px;
    background: white;
    padding: 0px 15px;
}
.ourPic{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    max-height: 240px;
    overflow-y: auto;
}
.oPs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
    transition: .4s;
}
.oPs.active{
    border: solid 5px var(--koochita-light-green);
    box-shadow: 0 0 20px 5px var(--koochita-light-green);
}
.oPs img{
    width: 100%;
}
.whoAmI{
    display: none;
}


.notData{
    display: flex;
    direction: rtl;
    text-align: revert;
    align-items: center;
    padding: 10px;
    /*background: var(--koochita-yellow);*/
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    filter: grayscale(1);
    opacity: .5;
}
.notData .pic{
    width: 100px;
}
.notData .info{
    font-size: 20px;
    margin-right: 15px;
}
.notData .info .firstLine{
    font-size: 1.1em;
    font-weight: bold;
}
.notData .info .sai{
    font-size: .8em;
}
.notData .info .butt{
    background: var(--koochita-blue);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: .9em;
    box-shadow: -1px 1px 3px 1px #868686;
}

.medalsSection{
    background: white;
    direction: rtl;
    text-align: right;
    border-radius: 10px;
    margin-bottom: 10px;
}
.medalsSection .rowTitle{
    font-size: 20px;
    border-bottom: solid 2px var(--koochita-blue);
    padding-bottom: 5px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.medalsSection .rowTitle .link{
    font-size: 10px;
    cursor: pointer;
}
.medalsSection .medals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.medalsSection .medals .medalCard{
    width: 170px;
    height: 240px;
    background: white;
    cursor: pointer;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #d4d4d4;
    margin: 5px;
    border-radius: 10px;
    transition: transform 1s, box-shadow .1s;
    font-size: 20px;
}
.medalsSection .medals .medalCard.showBack{
    transform: rotateY(180deg);
    box-shadow: 0px 0px 5px 2px #d2d2d2;
}
.medalsSection .medals .medalCard:hover{
    box-shadow: 0px 0px 5px 2px #d2d2d2;
}
.medalsSection .medals .notTacken{
    text-align: center;
    padding: 10px 15px;
    background: var(--koochita-blue);
    color: white;
    border-radius: 30px;
}
.medalsSection .medals .medalCard .pic{
    width: 150px;
    height: 150px;
    display: flex;
    position: relative;
}
.medalsSection .medals .medalCard .frontCard{
    width: 100%;
}
.medalsSection .medals .medalCard .frontCard .pic > div{
    background-size: 150px 150px;
    height: 100%;
    background-repeat: no-repeat;
}
.medalsSection .medals .medalCard .frontCard .onPic{
    height: 100%;
    background-position: right;
    z-index: 2;
    position: absolute;
}
.medalsSection .medals .medalCard .frontCard .onPic.blinking{
    animation: blinking 2s infinite;
}
.medalsSection .medals .medalCard .frontCard .offPic{
    width: 100%;
    background-position: left;
}
.medalsSection .medals .medalCard .name{
    border-bottom: solid 1px gray;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: .9em;
}
.medalsSection .medals .medalCard .summery{
    font-size: .6em;
    color: var(--koochita-blue);
    text-align: center;
}

.medalsSection .medals .medalCard .backCard{
    transform: rotateY(180deg);
    text-align: center;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.medalsSection .medals .medalCard .backCard .name{
    border: none;
    color: var(--koochita-red);
    font-size: 1em;
    font-weight: bold;
}
.medalsSection .medals .medalCard .backCard .pic{
    width: 65px;
    height: 65px;
    margin: 0px auto;
}
.medalsSection .medals .medalCard .backCard .text{
    font-size: .6em;
    margin-bottom: 32px;
}
.medalsSection .medals .medalCard .backCard .rate{
    border-top: solid 1px gray;
    padding-top: 5px;
    font-size: .9em;
    color: var(--koochita-blue);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.medalsSection .medals .medalCard .animLine{
    height: 10px;
    border-radius: 10px;
    width: 150px !important;
    margin: 0px auto;
    padding: 0 !important;
    border-bottom: none !important;
    margin-top: 10px;
    max-width: 100%;
}

.showBannerPic{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    overflow: hidden;
    margin: 5px 0px;
    width: 100%;
}
.bannerPicItem{
    margin: 5px;
    cursor: pointer;
}
.bannerPicItem.active{
    border: solid 5px var(--koochita-light-green);
}
.bannerPicItem > img{
    width: 100%;
}
.editReviewPicturesSection{
    background-color: #0000009e;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
}
.newMsgCount{
    position: absolute;
    left: -10px;
    top: -10px;
    background: var(--koochita-red);
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.profileMobileSection{
    display: none;
}
.followButton{
    border: none;
    margin-right: 10px;
    direction: rtl;
}
.followButton.mobile{
    width: 98%;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    font-size: 18px;
    margin: 10px 1%;
    background: var(--koochita-blue);
    color: white;
}
.followButton.followed{
    background: white !important;
    color: black !important;
    border: solid 1px;
    display: flex;
    align-items: center;
}
.followButton .text:after{
    content: 'Follow';
}
.followButton.followed .text:after{
    content: 'Following';
}
.followButton.followed .addMemberIcon{
    display: none;
}
.followButton.followed:after{
    content: "\E02B" !important;
    font-family: Shazde_Regular2 !important;
}
.followerHeaderSection{
    position: absolute;
    z-index: 1;
    background: white;
    direction: rtl;
    font-size: 26px;
    padding: 0px 5px;
    border-radius: 5px 0px 0px 5px;
    right: 125px;
    bottom: 50px;
    width: max-content;
}

.festivalContent .articleSummarizedContentMainDiv > span{
    font-size: 11px;
    text-align: justify;
    direction: rtl;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 1188px) {

    .userProfilePostsFiltrationContainer .userProfilePostsFiltration > span:first-child {
        font-size: 12px;
    }

    .userProfilePostsFiltrationContainer .userProfilePostsFiltration > span {
        margin: 0 10px;
        font-size: 13px;
    }

    .userPostsPage .userProfilePostsSearchContainer > span,
    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(2) > span,
    .userArticlesPage .userProfilePostsSearchContainer > span{
        margin: 0 7px;
        font-size: 13px;
    }

    .userQuestionsPage .userProfilePostsSearchContainer > span {
        margin: 0 6px;
        font-size: 12px;
    }

    .answerBoxText {
        width: 78%;
    }

    .actionToAnswer {
        margin: 10px 10px 0 0;
    }
}

@media (max-width: 992px) {
    /*top bar*/
    .userPagePicSection{
        right: 10px;
    }

    .userPageBodyTopBar {
        width: 100%;
        padding: 0 85px 0 0;
    }

    .userProfileInfo {
        right: 140px;
    }

    .postsMainFiltrationBar {
        direction: rtl;
        padding-right: 13%;
    }

    .postsMainFiltrationBar > a {
        display: flex;
        justify-content: center;
        margin: 0 2.6%;
        float: right;
    }

    .showUsersPostsLink {
        width: 8%;
    }

    .showUsersPhotosAndVideosLink {
        width: 13%;
    }

    .showUsersQAndAsLink {
        width: 18.1%;
    }

    .showUsersArticlesLink {
        width: 7.1%;
    }

    .showUsersScores {
        width: 8%;
    }

    .otherActivitiesChoices {
        width: 13.8%;
    }

    /*main bar*/

    .userProfileActivitiesDetailsMainDiv {
        padding: 0;
    }

    .userProfileDetailsMainDiv {
        padding: 0 0 0 10px;
    }

    .userProfilePostsFiltrationContainer .userProfilePostsFiltration > span {
        margin: 0 1%;
        font-size: 12px;
    }

    .mainDivContainerProfilePage {
        padding: 0 10px;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer {
        padding: 5px 5px 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        direction: rtl;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(2) > span {
        font-size: 11px;
        margin: 0 1.7%;
        word-spacing: -1px;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(2) {
        width: 70%;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > span:nth-child(2) {
        width: 17.5%;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > span:nth-child(3) {
        width: 16%;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > span:nth-child(5) {
        width: 20%;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > span:nth-child(6) {
        width: 11.5%;
    }

    .answerBoxText {
        width: 73%;
    }

    .articleDetailsMainDiv {
        padding-right: 5px;
    }

    .articleSpecificationsMainDiv > div {
        margin-left: 10px;
    }

    .articleSpecificationsMainDiv > div:last-child {
        margin-left: 0;
    }

    .articleWatchListMainDiv {
        padding-right: 15px;
    }

}

@media (max-width: 768px) {

    .msgHeaderButton{
        width: 100%;
    }

    .userProfilePageCoverImg{
        height: 220px;
    }
        /*top bar*/
    .userPagePicSection {
        right: auto;
        bottom: 65px;
        width: 140px;
        height: 140px;
    }

    .userPageBodyTopBar {
        display: flex;
        justify-content: center;
    }

    .profilePicUserProfile {
        width: 150px;
        height: 150px;
    }

    .userProfileInfo {
        text-align: center;
        right: inherit;
        top: -70px;
        padding: 5px 25px;
    }

    .userPageBodyTopBar {
        padding: 0;
    }

    .postsMainFiltrationBar {
        margin: 0 5px;
        padding-right: 0;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(2) > span {
        margin: 0 0.8%;
    }

    .userQuestionsPage .userProfilePostsSearchContainer > span {
        font-size: 11px;
    }

    .newAnswerPlaceMainDiv .inputBox {
        width: 88%;
    }

    .answerBoxText {
        width: 72%;
    }

    .postsMainFiltrationBar > a , .userProfilePostsFiltration > span{
        font-size: 12px;
    }

    .userTripMainBody{
        max-height: 100vh !important;
        height: 100vh;
        z-index: 9;
        overflow-y: auto;
        padding-bottom: 50px;
    }

    .placeSuggestionBody{
        width: 100%;
        height: 100vh;
        top: 0;
        margin-top: 0;
        max-height: 100vh;
    }
    .ourSuggestion{
        max-height: 25vh !important;
        height: 25vh !important;
    }
    .userProfileDetailsMainDiv{
        display: none;
    }
    .bioClassSection{
        position: fixed;
        bottom: 0px;
        background: #ffffffe6;
        padding: 15px 0px;
    }
    .ourPic{
        max-height: 1000px;
        overflow-y: hidden;
    }
    .tripModalBody{
        min-height: 50vh;
    }

    .mainDivContainerProfilePage {
        padding: 0;
    }
    .profilePicUserProfile {
        width: 120px;
        height: 120px;
        border: 4px solid white;
    }
    .postsMainFiltrationBar > a {
        font-size: 12px;
    }

    .userProfileInfo > div:not(:last-child) {
        font-size: 17px;
    }

    .userProfileDetailsMainDiv {
        padding: 0 5px;
    }

    .postsLeftDivInSpecificMode {
        padding: 0 2.5px 0 0;
    }

    .postsRightDivInSpecificMode {
        padding: 0 0 0 2.5px;
    }

    .answerBoxText {
        width: 78%;
    }

    .profileHeaderLinksTab.active{
        border-bottom: 5px solid var(--koochita-blue);
        background: var(--koochita-blue);
        color: white;
        padding: 7px 4px;
        border-radius: 15px 15px 0px 0px;
    }
    .postsMainFiltrationBar{
        padding-top: 5px;
    }
    .userProfileActivitiesDetailsMainDiv{
        margin-top: 0px;
    }

    .userProfilePostsFiltration{
        background-color: var(--koochita-blue) !important;
        border-radius: 0px;
        color: white;
    }
    .userProfilePostsFiltration > span{
        color: white;
    }
    .userProfilePostsFiltration .active{
        background-color: #f8f8f8;
        border-bottom: none !important;
        margin-top: 5px !important;
        border-radius: 15px 15px 0px 0px;
        padding-right: 5px;
        padding-left: 5px;
    }
    .postsMainFiltrationBar > a, .userProfilePostsFiltration > span{
        border-bottom: none !important;
    }

    .userProfilePostsFiltration.photoAndVideo > span{
        width: 25% !important;
    }

    .userProfilePostsFiltration.questionSecTab > span{
        width: 50% !important;
    }
    .userProfilePostsFiltration.pcType{
        background-color: white !important;
    }
    .userProfilePostsFiltration.pcType > span{
        color: var(--koochita-blue) !important;
    }

    .newSafarnamehSection label{
        font-size: 12px;
    }

    .commentWriterExperienceParticipation, .userProfileName, .userProfileNameAnswers{
        margin-top: 0px;
    }
    .profileMobileSection{
        display: block;
    }
    .profileMobileSection .bioSec{
        background: white;
        max-height: 115px;
        overflow: hidden;
        padding: 0px 15px;
        height: auto;
        /*transition: max-height .4s;*/
    }
    .profileMobileSection .bioSec.show{
        max-height: 1000px;
    }
    .profileMobileSection .bioSec.show .bioText{
        display: block;
    }
    .profileMobileSection .bioSec .bioText{
        font-size: 11px;
        text-align: justify;
        direction: rtl;
        line-height: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .profileMobileSection .mobileTabs{
        background: white;
        display: flex;
        justify-content: space-around;
        border-bottom: solid 1px #dedede;
        padding-top: 15px;
        position: relative;
    }
    .profileMobileSection .mobileTabs.stickToTop{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9;
        box-shadow: 0px 0px 9px 1px #0000006b;
    }
    .profileMobileSection .profileMobileStickHeader{
        height: 60px;
        margin-bottom: 10px;
        background-color: white;
    }
    .profileMobileSection .mobileTabs .tab{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 25%;
        color: #9e9e9e;
    }
    .profileMobileSection .mobileTabs .tab .bottomLine{
        transition: .3s;
        width: 0px;
        height: 3px;
        background-color: var(--koochita-blue);
    }
    .profileMobileSection .mobileTabs .tab.selected{
        color: var(--koochita-blue);
    }
    .profileMobileSection .mobileTabs .tab.selected .bottomLine{
        width: 100% !important;
        color: var(--koochita-blue);
    }
    .profileMobileSection .mobileTabs .tab .icon{
        font-size: 30px;
        line-height: 25px;
    }
    .profileMobileSection .mobileTabs .tab .name{
        font-size: 9px;
        margin-bottom: 3px;
    }
}


@media (max-width: 500px) {
    .medalsSection .medals .medalCard .animLine{
        height: 6px;
    }
    .medalsSection .medals .medalCard{
        width: 110px;
        height: 180px;
        font-size: 15px;
    }
    .medalsSection .medals .medalCard .frontCard .pic > div{
        background-size: 80px 80px;
    }
    .medalsSection .medals .medalCard .pic{
        width: 85px;
        height: 85px;
    }
    .medalsSection .medals .medalCard .backCard .pic{
        width: 50px;
        height: 50px;
    }

    .notData {
        justify-content: center;
        text-align: center;
    }
    .notData .info .sai{
        font-size: .6em;
    }
    .notData .info .firstLine{
        font-size: .7em;
    }
}

@media (max-width: 480px) {

    /*topBar*/

    .postsMainFiltrationBar {
        overflow-x: scroll;
        float: right;
        white-space: nowrap;
        direction: rtl;
        display: flex;
        scrollbar-width: none;
    }

    .postsMainFiltrationBar > a {
        float: initial;
        width: auto;
    }

    .postsLeftDivInSpecificMode, .postsRightDivInSpecificMode {
        width: 100%;
        padding: 0;
    }

    .userProfilePostsFiltrationContainer .userProfilePostsFiltration {
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
    }

    .userProfilePostsFiltrationContainer .userProfilePostsFiltration > span {
        width: auto;
    }

    .userPostsPage .userProfilePostsSearchContainer > span {
        font-size: 12px;
    }

    .userPostsPage .userProfilePostsSearchContainer,
    .userPhotosAndVideosPage .userProfilePostsSearchContainer,
    .userQuestionsPage .userProfilePostsSearchContainer,
    .userArticlesPage .userProfilePostsSearchContainer {
        padding: 5px 5px 5px 0;
    }

    .sharedPhotosAndVideos {
        width: 100%;
        margin: 5px 0  0 !important;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:first-child {
        width: 43%;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(4) {
        display: block;
    }

    .userPhotosAndVideosPage .userProfilePostsSearchContainer > div:nth-child(2) > span {
        margin: 0 10px;
        width: auto !important;
    }

    .userQuestionsPage .userProfilePostsSearchContainer > span {
        width: 23%;
        text-align: left;
    }

    .userQuestionsPage .userProfilePostsSearchContainer div.clear-both {
        display: block;
    }

    .userProfileQAndA .userProfilePostsSearchContainer .inputBox {
        width: 65%;
    }

    .newAnswerPlaceMainDiv .inputBox {
        width: 82%;
    }

    .questionSubMenuBar .replyBtn {
        margin-left: 0;
    }

    .answerBoxText {
        width: 81%;
    }

    .actionToAnswer {
        display: flex;
        float: left;
        margin: 0 0 0 7%;
    }

    .actionToAnswer > div {
        margin-right: 10px;
    }

    .seeNextAnswers, .seePrevAnswers {
        left: 7%;
    }

    .articleImgMainDiv, .articleDetailsMainDiv {
        width: 100%;
    }

    .usersArticlesMainDiv {
        border-bottom: 1px solid #e5e5e5;
    }
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



