.pcBannerPic{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.pcSafarnamehMainBig{
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.pcSafarnamehMainBig .imgSec{
    height: 300px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pcSafarnamehMainBig .content{
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}
.pcSafarnamehMainBig .content .name{
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}
.pcSafarnamehMainBig .content .icons{
    color: lightgray;
    margin-right: 15px;
    display: flex;
}
.pcSafarnamehMainBig .content .icons div{
    margin-left: 10px;
    font-size: .9em !important;
}
.pcSafarnamehMainBig .content .icons div i{
    margin-left: 3px
}


.pcSafarnamehMainSmall{
    display: flex;
    height: 70px;
    margin-bottom: 20px;
}
.pcSafarnamehMainSmall .imgSec{
    width: 90px;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 15px;
}
.pcSafarnamehMainSmall .content{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(100% - 110px);
}
.pcSafarnamehMainSmall .content .name{
    color: rgba(0, 0, 0, .75)
}
.pcSafarnamehMainSmall .content .icons{
    color: gray;
    display: flex;
}
.pcSafarnamehMainSmall .content .icons div{
    margin-left: 14px;
    font-size: .7em !important;
}
.pcSafarnamehMainSmall .content .icons div i{
    margin-left: 3px;
}


.safarnamehMainCategoryListMobile .newFull{
    width: 100%;
    padding: 5px;
    margin: 0px 10px;
}

@media (max-width: 767px) {
    .mainTopPicture{
        position: relative;
    }
    .mainTopPicture .content{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 28px;
        text-align: center;
    }
    .mainTopPicture .content .text{
        /*font-size: 40vw;*/
        font-size: 140px;
        padding: 0px 5px;
        padding-bottom: 10px;
        color: white;
        margin-bottom: 57px;
    }
    .mainTopPicture .content .withBack{
        background: #00000040;
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainTopPicture .content .trans{
        background: linear-gradient(180deg, #00000040, transparent);
        width: 100%;
        height: 20%;
    }
    .mainTopPicture .content .text > div{
        font-family: Shin !important;
        line-height: 25px;
        padding: 0px 17px;
    }
    .safarnamehList{
        margin-bottom: 40px;
    }
    .safarnamehList .titleSec{
        color: #333;
        font-size: 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .safarnamehList .titleSec:before{
        content: '';
        position: absolute;
        background: var(--koochita-green);
        width: 100%;
        top: 50%;
        height: 2px;
        right: 0px;
    }
    .safarnamehList .titleSec .title{
        background: white;
        z-index: 2;
        padding: 0px;
        color: #101010;
    }
    .safarnamehList .list{
        display: flex;
        flex-wrap: wrap;
    }

    .safarnCardMobile{
        position: relative;
        width: 200px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 23px;
        margin-bottom: 10px;
    }
    .safarnCardMobile .icon{
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 22px;
        color: black;
        z-index: 2;
    }
    .safarnCardMobile .contents{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .safarnCardMobile .contents .userPic{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        left: -3px;
        top: -3px;
        border: solid 3px white;
    }
    .safarnCardMobile .contents .name{
        position: absolute;
        bottom: 0px;
        color: white;
        width: 100%;
        font-weight: normal;
        text-align: center;
        padding: 0px 10px;
        padding-bottom: 30px;
        font-size: 18px;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: linear-gradient(0deg, black, transparent);
    }


    body{
        background: white;
    }
    .rowSafarnamehCard{
        display: flex;
        width: 99%;
        margin: 20px auto;
        margin-left: 0px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: solid #d3d3d330 1px;
    }
    .rowSafarnamehCard .imgSec{
        position: relative;
        width: 150px;
        height: 100px;
    }
    .rowSafarnamehCard .imgSec .safarPic{
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        z-index: 1;
    }
    .rowSafarnamehCard .imgSec .icon{
        position: absolute;
        left: 7px;
        top: 7px;
        color: black;
        font-size: 18px;
    }
    .rowSafarnamehCard .imgSec .userInfos{
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -3px;
        right: -3px;
        z-index: 2;
        border: solid 4px white;
    }
    .rowSafarnamehCard .content{
        color: black;
        width: calc(100% - 165px);
        margin-right: 10px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .rowSafarnamehCard .content .title{
        color: black;
        font-weight: bold;
        font-size: 1.5em;
        margin: 0px;
        margin-bottom: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .rowSafarnamehCard .content .summery{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        font-size: 1em;
    }
    .gnMainPicOfArticle .mainImg{
        height: 300px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .safarnamehMainCategoryListMobile{
        overflow-y: auto;
        background: white;
        position: relative;
        border: solid 2px black;
        border-top: 0px;
        height: 100%;
        /*max-height: 250px;*/
        padding-top: 30px;
    }
    .safarnamehMainCategoryListMobile .list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .safarnamehMainCategoryListMobile .categ{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 23%;
        border: solid 1px lightgrey;
        margin: 3px;
        color: #333;
        border-radius: 10px;
    }
    .safarnamehMainCategoryListMobile .categ .categIcon{
        margin: 10px 0px;
    }
    .safarnamehMainCategoryListMobile .categ .categIcon img{
        height: 40px;
    }
    .safarnamehMainCategoryListMobile .categ .title{
        font-size: 12px;
        margin-bottom: 5px;
        text-align: center;
    }

    .searchInMobileSafarnamehBody .title{
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .searchInMobileSafarnamehBody .searchInput{
        font-size: 23px;
        width: 95%;
        padding: 5px;
        border: none;
        border-bottom: solid 2px #868686;
    }
    .searchInMobileSafarnamehBody .searchButton{
        font-size: 22px;
        background: var(--koochita-yellow);
        color: white;
        border: none;
        border-radius: 10px;
        padding: 5px 25px;
        box-shadow: 1px 1px 5px 1px #6f6f6f;
    }

}
