.secHeadMain{
    direction: rtl;
    text-align: right;
    position: relative;
    padding: 0px 20px;
    background-color: var(--koochita-yellow);
}

.secHeadTabs:not(:first-child) {

    margin-right: 20px;
}

.secHeadTabs {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #16174f;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    height: 40px;
}

.secHeadNavs{
    display: flex;
}

.secHeadTabsSubList{
    position: absolute;
    top: 40px;
    z-index: 10;
    display: none;
    flex-direction: column;
    min-width: 130px;
    background-color: var(--koochita-yellow);
    border-radius: 0px 0px 10px 10px;
}

.secHeadTabs:hover .secHeadTabsSubList{
    display: flex;
}

.secHeadTabsSubList > a{
    color: black;
    padding: 10px 5px;
    font-size: 12px;
    text-align: center;
}

.secHeadTabsSubList > a:hover{
    background-color: #88070B;
    color: white;
}

.linkRoute{
    color: #16174f !important;
    font-size: 15px;
}

.spanMarginSecHead{
    flex-wrap: wrap;
}

.spanMarginSecHead > span {
    margin: 3px 7px 0;
}

.spanMarginSecHead > a {
    display: flex;
    align-items: center;
}

.secHeadTabsSubList > a:last-child {
    border-radius:  0 0 10px 10px;
}

.secHeaderPathDiv{
    margin-right: 10px;
    /*min-width: 90px;*/
}

.yelCol{
    color: var(--koochita-yellow);
}

.listSecHeadContainer{
    font-size: 20px;
    flex-wrap: nowrap;
}

.fluidPlacePath{
    background-color: white;
    padding-top: 10px;
    overflow-y: hidden;
    overflow-x: auto;
}

.linkRoute{
    min-width: 60px;
}

@media (max-width: 889px) {
    .secHeadTabs{
        margin-right: 13px;
        font-size: 10px;
        font-weight: 800;
    }
}

@media (max-width: 650px){

    .listSecHeadContainer{
        width: fit-content;
    }
    .linkRoute {
        font-size: 12px;
    }
    .spanMarginSecHead{
        padding: 0px;
        padding-left: 10px;
    }
}
