.headerContainer{
    direction: ltr;
}
.headerButtonsSection{
    right: 0;
    left: auto;
}
.headerSearchIcon{
    transform: scale(1, 1);
    margin-left: 2px;
    justify-content: flex-start;
}
.headerBookMarkHeader{
    text-align: left;
    padding-left: 24px;
    padding-right: 0px;
}
.bookMarkContent{
    text-align: left;
    margin-left: 15px;
    margin-right: 0px;
}
.mainLoginButton{
    border-radius: 30px 10px 10px 30px;
}
.languageButton{
    border-radius: 10px 0px 0px 10px !important;
    margin-right: -16px !important;
    margin-left: 0px !important;
    padding-left: 8px !important;
    padding-right: 24px !important;
}