.spGoWhere{
    margin-right: 5px;
    margin-left: 0px;
}
.closeSearchPan{
    right: 10px;
    left: auto;
}
.visitSuggestionDiv{
    float: right;
}
.spIcons{
    float: left;
    margin: 0px 3px 0px 0px;
}
.stateName{
    padding-right: 0px;
    padding-left: 21px;
}