
.popover-title{
    direction: ltr;
}
.chooseLastDay{
    position: absolute;
    background: #0000006b;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chooseLastDay .confirm{
    background: green;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 7px;
    font-size: 12px;
}
.chooseLastDay .change{
    background: red;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 7px;
    font-size: 12px;
}
.timeSec{
    display: flex;
}
.newEventBox{
    padding: 10px;
    border: solid 1px gray;
    margin-top: 20px;
    border-radius: 10px;
}
.newEventBox .til{
    font-size: 23px;
    font-weight: bold;
    color: var(--koochita-green);
}
.newEventBox .sec_{
    margin-top: 10px;
    padding-top: 10px;
}
.newEventBox .sec_.tBordre{
    border-top: solid 1px lightgray;
}
.newEventBox .sec_ .hea{
    font-size: 15px;
    margin-bottom: 6px;
}
.newEventBox .sec_ .selectKindRow{
    display: flex;
    align-items: center;
}
.newEventBox .sec_ .selectKindRow .item{
    padding: 10px;
    margin: 0px 10px;
    border: solid 1px lightgray;
    border-radius: 25px;
    font-size: 12px;
    cursor: pointer;
}
.newEventBox .sec_ .selectKindRow .item.selected{
    background: var(--koochita-yellow);
}

.eventRows{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.eventRows .newEventBox{
    text-align: center;
    padding: 30px 10px;
    font-size: 14px;
    color: gray;
    cursor: pointer;
    padding-top: 20px;
    margin: 5px 10px;
}
.eventRows .newEventBox .text{
    width: 80%;
    text-align: center;
    margin: 0px auto;
}
.eventRows .newEventBox .icon{
    font-size: 60px;
    line-height: 0px;
    margin-top: 20px;
}

.eventAdded{
    border: solid 1px lightgray;
    padding: 5px;
    border-radius: 10px;
    font-size: 11px;
    margin-left: 20px;
}
.eventAdded .picSec{
    width: 150px;
    height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
}
.eventAdded .picSec .mealType{
    position: absolute;
    top: 5px;
    background: black;
    color: white;
    padding: 2px 5px;
    border-radius: 20px;
}
.eventAdded .infoSec{
    border-top: solid 1px lightgray;
    margin-top: 5px;
}
.eventAdded .infoSec .buttons{
    display: flex;
    align-items: center;
    padding-top: 5px;
    justify-content: flex-end !important;
}
.eventAdded .infoSec .buttons > button{
    font-size: 9px;
    margin-right: 10px;
    padding: 3px 10px;
}

.chooseButSection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.chooseButSection .chooseBut{
    font-size: 12px;
    border: solid 1px lightgray;
    padding: 5px 10px;
    margin: 0px 5px;
    border-radius: 20px;
    cursor: pointer;
}
.chooseButSection .chooseBut input[type="radio"]{
    display: none;
}
.chooseButSection .chooseBut.selected{
    background: var(--koochita-yellow);
}


.transportInfoSec{
    display: flex !important;
    align-items: center;
    flex-wrap: wrap;
    direction: rtl;
    float: unset;
}
.transportInfoSec > div{
    width: 100%;
    display: flex;
    align-items: center;
}


.plane_section {
    height: 100%;
}
.plane_section .whiteBox{
    height: calc(100% - 125px);
}
.plane_section .planSection{
    height: 100%;
    overflow: hidden;
}
.plane_section .planSection .planStepSection{
    padding: 10px;
    width: 100%;
    border-left: solid 1px lightgray;
    height: 100%;
    overflow: auto;
}
.plane_section .planSection .mapSection{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background: gray;
}
.plane_section .placeOnMapIcon{
    z-index: -1 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    border: solid 2px red;
    position: relative;
}

.myIconOnMap{
    position: relative;
    width: 35px !important;
    height: 35px !important;
    margin-top: -37px !important;
    margin-left: -17px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myIconOnMap .imgInIcon{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: solid 2px blue;
    z-index: 1;
}
.myIconOnMap .imgInIcon > img{
    height: 100%;
}
.myIconOnMap .topOnPic{
    position: absolute;
    z-index: 2;
    bottom: 105%;
    transition: .3s;
    white-space: nowrap;
}

.seenPlaceType, .mealType, .specialType{
    font-size: 14px;
    background: red;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: solid 2px black;
    padding: 0px 5px;
}
.mealType{
    background: var(--koochita-blue);
}
.specialType{
    background: var(--koochita-green);
}

.myIconOnMap:after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background: blue;
    transform: rotate(45deg);
}

.plane_section .planSection .emptyPlan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 27px;
    opacity: .2;
    padding: 0px 40px;
}
.plane_section .planSection .planStepSection .addNewEventBox{
    text-align: center;
    border: solid 1px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 0px;
    font-size: 30px;
    background: #4dc7bc73;
    box-shadow: 2px 2px 3px 2px #929292;
}
.plane_section .planSection .planStepSection .addNewEventBox .text{

}
.plane_section .planSection .planStepSection .addNewEventBox .plusChar{
    font-size: 50px;
    line-height: 30px;
    margin-top: 10px;
}

.plane_section .planSection .planStepSection .placeBoxesSection{
    margin-top: 20px;
}
.plane_section .planSection .planStepSection .placeBoxesSection .placeCard{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px lightgray;
}
.plane_section .planSection .planStepSection .placeBoxesSection .moveSec{
    margin-left: 10px;
    cursor: move;
}
.plane_section .planSection .planStepSection .placeBoxesSection .placeCard .imgSection{
    width: 150px;
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plane_section .planSection .planStepSection .placeBoxesSection .placeCard .infoSection{
    width: 100%;
}
.plane_section .planSection .planStepSection .placeBoxesSection .placeCard .infoSection .name{
    display: flex;
    align-items: center;
}
.seenPlaceTypeRow, .mealTypeRow, .specialTypeRow{
    background: white;
    border: dashed 1px black;
    border-radius: 0px;
    font-size: 10px;
    padding: 0px 5px;
}
.seenPlaceTypeRow{
    color: red;
}
.mealTypeRow{
    color: var(--koochita-blue);
}
.specialTypeRow{
    color: var(--koochita-green);
}

.plane_section .planSection .planStepSection .placeBoxesSection .placeCard .infoSection .time{
    font-size: 10px;
}
.plane_section .planSection .planStepSection .placeBoxesSection .placeCard .infoSection .ratesAndReview{
    display: flex;
    align-items: center;
    font-size: 13px;
}
.plane_section .planSection .planStepSection .placeBoxesSection .placeCard .infoSection .ratesAndReview .rate{

}
.plane_section .planSection .planStepSection .placeBoxesSection .placeCard .infoSection .ratesAndReview .review{
    color: gray;
    margin-right: 10px;
}
.plane_section .planSection .planStepSection .placeBoxesSection .placeCard .infoSection .buttonsGroup{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: auto;
}
.plane_section .planSection .planStepSection .placeBoxesSection .placeCard .infoSection .buttonsGroup button{
    font-size: 11px;
    padding: 2px 5px;
    margin: 5px 0px;
}
.plane_section .planSection .planStepSection .placeBoxesSection .placeCard .infoSection .description{
    color: gray;
    font-size: 11px;
}


.moveManIcon{
    width: 35px;
}
.leaflet-div-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

.ligthBRT{
    border-top: solid 1px lightgray;
}

.chooseButSection{
    margin-top: 5px;
}
.chooseButSection .chooseBut.disabled{
    opacity: .3;
}
.eventModal .eventInputSection{
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px;
}
.eventModal .eventSectionPartSec{
    border-top: solid 1px;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}
.eventModal .eventSectionPartSec .title{
    margin-left: 10px;
}

.mapForSpecialEvent{
    width: 100%;
    height: 500px;
    max-height: 80vh;
    background: lightgrey;
}
.isSetMapMarker{
    margin-right: 20px;
    font-size: 10px;
}
.isSetMapMarker.false{
    color: red;
}
.isSetMapMarker.true{
    color: green;
}

