.mg-tp-30per {
    margin-top: 30%;
}

.visibility-hidden {
    visibility: hidden;
}

.width-auto {
    width: auto;
}

.mg-tp-10 {
    margin-top: 10px;
}

.border-radius-50per {
    border-radius: 50%;
}