
.button {
    display: inline;
    height: 100%;
    overflow: hidden;
    margin-right: 10px;
    border: 1px solid #00AF87;
    float: left;
}

.button a,
.button span,
.button input {
    display: block;
    overflow: visible;
    margin: 0;
    border: none;
    background-color: #00AF87;
    font: bold 1em/14px Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #fff;
    text-shadow: #00AF87 0 0 0;
    white-space: nowrap;
    cursor: pointer;
    float: left;
}

.button input {
    margin: -1px 0;
    padding: 2px 6px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .button input {
        margin: 0;
        padding: 2px 9px;
    }
}

.button a,
.button span {
    display: block;
    padding: 2px 9px;
}

.button a,
.button a:hover,
.button a:focus,
.button a:active,
.button a:visited {
    color: #fff;
    text-decoration: none;
}

.button.cr span {
    text-transform: uppercase;
}

.booking .button {
    float: none;
}

.rndBtn {
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(128, 128, 128, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.35);
    cursor: pointer;
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
    -webkit-font-smoothing: antialiased;
}

.rndBtn:hover {
    text-decoration: none;
}

.rndBtn:disabled {
    cursor: default;
    box-shadow: none;
    text-shadow: none;
}

.rate {
    display: block;
    position: relative;
    overflow: hidden;
    margin-right: 4px;
}

.rate img {
    position: absolute;
}

.sizedThumb {
    overflow: hidden;
}

.sprite-orangeAlert {
    /*background-image: url('/sprites/global_pack-v80f659f859ee64d830b2608cd586657e.png');*/
    background-position: left -1250px;
    width: 18px;
    height: 18px;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img, abbr {
    border: 0;
}

address, caption, cite, code, dfn, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: bold;
}

q:before, q:after {
    content: "";
}

p {
    margin-bottom: 12px;
}

body {
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #2c2c2c;
    background-color: #f1f1f1;
}

legend {
    margin-left: -8px !ie;
}

input[type=radio], input[type=checkbox] {
    cursor: pointer;
}

input[disabled=disabled] {
    cursor: auto;
}

.br {
    line-height: 14px;
}

.wrap {
    height: 100%;
    overflow: hidden;
}

.easyClear {
    zoom: 1;
}

.easyClear:after {
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    content: ".";
    visibility: hidden;
    zoom: 1;
}

.floatContainer:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.floatContainer {
    display: inline-block;
}

.street-address,
.locality span[property="v:postal-code"] {
    unicode-bidi: embed;
    direction: ltr;
}

.rtl .locality span[property="v:locality"],
.rtl .locality {
    direction: rtl;
    unicode-bidi: embed;
}

.phoneNumber {
    unicode-bidi: embed;
    direction: ltr;
}

img.tracking {
    display: none !important;
}

i.eg {
    display: block;
    color: #565656;
    font-size: 85%;
    font-style: normal;
    clear: both;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearFix {
    clear: both;
}

img {
    vertical-align: text-top;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

h2, h3, h4, h5, h6, caption, legend {
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
}

h1 {
    font: normal 1em/110% Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
}

#BODYCON h1 {
    font-size: 2.5835em;
    font-weight: bold;
    color: #000;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #4a4a4a;
}

h3 {
    font-size: 1.0835em;
    font-weight: bold;
    color: #4a4a4a;
}

h4, h5, h6 {
    font-size: 1em;
    font-weight: bold;
    color: #4a4a4a;
}

legend {
    color: #2c2c2c;
}

select {
    padding: 1px;
    border: 1px solid #c8c8c8;
    background-color: #fff;
}

input.text {
    margin-right: 2px;
    padding: 2px;
    border: 1px solid #c8c8c8;
    background-color: #fff;
}

.overlay .inner .sep.flags {
    margin: 0 -2px;
}

.ad {
    position: relative;
    z-index: 200 !important;
    margin: 0 auto;
}

.ad.iab_leaBoa.loaded {
    margin: 16px 0;
}

.balance .ad.iab_leaBoa {
    z-index: 200 !important;
}

.box .iab_medRec div {
    white-space: nowrap;
}

.iab_supSky {
    width: 160px;
}

.iab_medRec {
    width: 300px;
}

.sidebar .gptAd {
    margin: 15px 0 19px 0;
    padding-bottom: 17px;
    border-bottom: 1px solid #e6e6e6;
}

.iab_leaBoa {
    text-align: center;
    line-height: 0;
}

iframe {
    border: none;
}

.gptAd {
    margin-bottom: 15px;
    min-width: 1px;
}

#iframediv {
    position: relative;
    z-index: 1002;
}

.mobileLink {
    display: block;
    text-decoration: none !important;
    font: bold 60px Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    /*background: transparent url("/img2/mobile/homeLink.gif") no-repeat 60px center;*/
    color: #2c2c2c !important;
    border: 2px solid black;
    padding: 10px 10px 10px 210px;
}

.mobileLink.android {
    font-size: 15pt;
    padding: 5px 5px 5px 50px;
    border-width: thin;
    /*background: transparent url("/img2/mobile/homeLink-small.gif") no-repeat 10px center;*/
}

.globalNav2011_reset {
    background-color: #fff;
}

.globalNav2011_reset #PAGE {
    width: 100%;
    padding: 0;
    background-color: #f1f1f1;
}

.globalNav2011_reset #PAGE.bg_f8 {
    background-color: #f8f8f8;
}

.globalNav2011_reset #MAINWRAP {
    width: 983px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}

.globalNav2011_reset #MAIN {
    width: 983px;
    margin: 0 auto;
    background-color: #fff;
}

.globalNav2011_reset #FOOT {
    width: 983px;
    margin: 0 auto;
}

.relativeDate {
    color: #535353;
}

.relativeDate:hover {
    cursor: pointer;
    text-decoration: none;
}

a, a:visited, a:active {
    color: #069;
    text-decoration: none;
    outline: none;
}

.ui_button a,
.ui_button a:visited,
.ui_button a:active,
.ui_button a:hover,
.ui_button a:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.hvrIE6 {
    cursor: pointer;
}

.hvrIE6:hover {
    text-decoration: underline;
}

.taLnk {
    color: #069;
    cursor: pointer;
}

.taLnk.disabled {
    color: #d6d6d6;
    cursor: default;
}

.taLnk:hover,
.taLnk.mseOvr {
    text-decoration: underline;
}

.taLnk:hover,
.taLnk.mseOvr.disabled {
    text-decoration: none;
}

#HEAD {
    background: #fff;
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    position: relative;
    width: 100%;
    z-index: 204;
    -webkit-font-smoothing: antialiased;
}

#HEAD .masthead {
    margin: 0 auto;
    position: relative;
}

.fluid #HEAD .masthead {
    margin: 0;
}

#HEAD .container {
    margin: 0 auto;
    min-height: 37px;
    position: relative;
    width: 983px;
}

#HEAD .header {
    color: #656565;
    display: inline-block;
    font-size: 1em;
    line-height: 15px;
    margin: 4px 0 0 0;
    overflow: hidden;
    vertical-align: middle;
    width: 400px;
    zoom: 1;
    display: inline !ie;
}

#HEAD .tabs {
    margin: 0 auto;
    width: 994px;
}

#HEAD .tabs > li {
    display: block;
    float: left;
    height: auto;
    margin: 1px 0 0;
    position: relative;
}

#HEAD .tabs > li:hover {
    background: none;
    box-shadow: none;
}

#HEAD .tabs a:hover {
    text-decoration: none;
}

#HEAD .tabs a::after {
    display: block;
    content: attr(data-title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
    margin-bottom: -1px;
}

#HEAD .single-chevron-down {
    color: #fff;
    font-size: 12px;
}

#HEAD .backBtn {
    background-color: #589422;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    padding: 8px 14px 8px 12px;
    position: relative;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
    -moz-tap-highlight-color: rgba(255, 255, 255, 0.5);
    tap-highlight-color: rgba(255, 255, 255, 0.5);
}

.hidden {
    display: none;
}

.ui_modal {
    left: -9999em;
    top: -9999em;
    z-index: 10004;
    display: inline-block;
    padding: 48px;
    background-color: #ebebeb;
    background-color: #fff;
    border-color: #ebebeb;
    border-color: #fff;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ui_modal.fade_short {
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.ui_modal.fade_in {
    opacity: 1;
}

@media (max-width: 767px) {
    .ui_modal {
        padding: 16px;
    }
}

.ui_modal.small {
    padding: 18px;
}

.ui_modal.dark {
    background-color: #2C2C2C;
}

.ui_modal.no_x .ui_close_x {
    display: none;
}

.ui_modal.no_padding {
    padding: 0;
}

.ui_modal.fullwidth {
    width: 100%;
}

.ui_modal .header_text {
    display: block;
    margin: -5px 0 8px;
    font-size: 26px;
    line-height: 30px;
    color: #4a4a4a;
}

.ui_modal .subheader_text {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 22px;
    color: #4a4a4a;
}

.ui_modal .body_text {
    font-size: 12px;
    line-height: 16px;
    color: #4a4a4a;
}

.ui_modal_card {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10004;
    box-sizing: border-box;
    -ms-flex-direction: column;
}

.ui_modal_card.is-active {
    display: -webkit-box;
    display: flex;
}

.ui_modal_card * {
    box-sizing: inherit;
}

.ui_modal_card .modal-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.ui_modal_card .modal-content,
.ui_modal_card .modal-card {
    margin: 0 12px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
}

@media (min-width: 768px) {
    .ui_modal_card .modal-content, .ui_modal_card .modal-card {
        margin: 0 auto;
        max-height: calc(100vh - 48px);
    }
}

.ui_modal_card .modal-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-height: calc(100vh - 48px);
    padding: 48px 0;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    width: 640px;
    background-color: #fff;
}

@media (max-width: 767px) {
    .ui_modal_card .modal-card {
        max-height: none;
        height: 100%;
        width: 100%;
        margin: 0;
    }
}

.ui_modal_card .ui_close_x,
.ui_modal_card .modal-close {
    display: block;
    width: 48px;
    height: 48px;
}

.ui_modal_card .ui_close_x:before,
.ui_modal_card .modal-close:before {
    font-size: 32px;
    line-height: 48px;
}

.ui_modal_card .modal-card-head {
    padding: 0 48px 48px;
}

@media (max-width: 767px) {
    .ui_modal_card .modal-card-head {
        padding: 0 16px 16px;
    }
}

.ui_modal_card .modal-card-head,
.ui_modal_card .modal-card-foot {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    flex-shrink: 0;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: relative;
}

.ui_modal_card .modal-card-title {
    color: #00AF87;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 24px;
    line-height: 1;
    margin: 0;
}

.ui_modal_card .modal-card-foot {
    padding: 24px 48px 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.ui_modal_card .modal-card-foot .ui_button:not(:last-child) {
    margin-right: 10px;
}

.ui_modal_card .modal-card-body {
    -webkit-overflow-scrolling: touch;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 0 48px;
}

@media (max-width: 767px) {
    .ui_modal_card .modal-card-body {
        padding: 0 16px;
    }
}

.ui_backdrop {
    display: block;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ui_backdrop.dark {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    filter: alpha(opacity 80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
}

.ui_backdrop.light {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    filter: alpha(opacity 80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
}

.ui_backdrop.fade_short {
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.ui_backdrop.fade_in {
    opacity: 1;
}

.ui_close_x {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    text-align: center;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
    cursor: pointer;
}

.ui_close_x:before {
    font-size: 28px;
    line-height: 36px;
    color: #00AF87;
    content: "\00d7";
}

.ui_close_x:hover {
    opacity: .7;
}

.ui_modal .ui_close_x {
    width: 48px;
    height: 48px;
}

.ui_modal .ui_close_x:before {
    font-size: 32px;
    line-height: 48px;
}

.small .ui_close_x {
    width: 24px;
    height: 24px;
}

.small .ui_close_x:before {
    font-size: 18px;
    line-height: 24px;
}

.ui_modal.small .ui_close_x:before {
    font-size: 24px;
}

.dark .ui_close_x:before {
    color: #fff;
}

.flat_buttons #BODYCON .offer.premium {
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .15);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flat_buttons.sitewide .overlay .offer.premium .priceBlock:not(.lte_ie8):after,
.flat_buttons #BODYCON .offer.premium .priceBlock:not(.lte_ie8):after {
    border-color: #000;
    position: absolute;
    top: 50%;
    right: 13px;
    width: 7px;
    height: 7px;
    margin-top: -4px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    content: "";
    -ms-transform: rotate(-45deg);
    -sand-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.flat_buttons #BODYCON .offer.premium img.chevron {
    display: none;
}

.rtl.flat_buttons.sitewide .overlay .offer.premium,
.rtl.flat_buttons #BODYCON .offer.premium {
    box-shadow: -1px 1px 0 0 rgba(0, 0, 0, .15);
}

.masthead_notification {
    position: relative;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.masthead_notification .masthead_notifctr_dropdown {
    position: absolute;
    top: 35px;
    left: -10px;
    min-width: 270px;
    max-width: 380px;
    margin-top: 2px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: none;
    border-radius: 2px;
}

.masthead_notification .notifdd_title {
    position: relative;
    font-weight: bold;
    padding: 16px 24px;
    color: #333;
    font-size: 16px;
    line-height: 20px;
}

.masthead_notification .notifdd_title:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #e5e5e5;
    left: 0;
    right: 0;
    bottom: 0;
}

.masthead_notification .notifdd_loading {
    padding: 12px 0;
    background-color: #fff;
    text-align: center;
}

.modules-engagement-notification-dropdown .notifdd_empty {
    margin: 24px;
    font-size: 13px;
    line-height: 17px;
    color: #b7b7b7;
}

.modules-engagement-notification-dropdown .notifdd_notif_container {
    position: relative;
    min-height: 54px;
    background-color: #fff;
    font-size: 13px;
    line-height: 18px;
}

@-webkit-keyframes Rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes Rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.warning {
    background-color: #F6EFE9;
    border: 1px solid #C00;
    color: #C00;
    line-height: 17px;
    margin-bottom: 14px;
    padding: 9px 13px;
}

.overlayContents {
    display: none;
}

.ui_button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    padding: 9px 16px 8px;
    font-weight: bold;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 3px;
    background-clip: padding-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.ui_button:focus {
    text-decoration: none;
    outline: none;
}

.ui_button.hidden {
    display: none;
}

.ui_button.small {
    padding: 7px 10px 6px;
    font-size: 12px;
    line-height: 15px;
}

.ui_button.small .ui_loader > span {
    width: 7px;
    height: 6px;
}

.ui_button.small .ui_loader > span::before {
    width: 6px;
    height: 6px;
    border-radius: 6px;
}

.ui_button.large {
    padding: 11px 22px 10px;
    font-size: 16px;
    line-height: 19px;
}

.ui_button.large .ui_loader > span {
    width: 13px;
    height: 10px;
}

.ui_button.large .ui_loader > span::before {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.ui_button.resize {
    font-size: 10px;
}

.ui_button.fullwidth {
    width: 100%;
}

.ui_button.danger {
    border-color: #e5e5e5 #b7b7b7 #b7b7b7 #e5e5e5;
    background-color: #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.05);
    color: #d80007;
}

.ui_button .ui_loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: center;
}

.ui_button.loading {
    color: transparent !important;
    pointer-events: none;
}

.ui_button.loading .ui_loader {
    display: -webkit-box;
    display: flex;
}

.ui_button.standard .ui_loader > span::before,
.ui_button.secondary .ui_loader > span::before {
    -webkit-animation-name: pulseDotLight;
    animation-name: pulseDotLight;
}

.ui_button.original .ui_loader > span::before,
.ui_button.primary .ui_loader > span::before {
    background-color: #fff;
    -webkit-animation-name: pulseDotDark;
    animation-name: pulseDotDark;
}

.styleguide .ui_button {
    font-weight: bold;
}

.styleguide .ui_button.disabled {
    pointer-events: none;
}

.ui_button.original {
    border-color: #fc0 #e4a000 #e4a000 #fc0;
    background-color: #fc0;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.15);
    color: #000;
}

.rtl .ui_button.original {
    border-color: #fc0 #fc0 #e4a000 #e4a000;
    box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.15);
}

.ui_button.original.disabled {
    opacity: .35;
    border-color: transparent;
    box-shadow: none;
    cursor: auto;
}

.offer:hover .ui_button.original:not(.disabled),
.ui_button.original:not(.disabled):hover {
    text-decoration: none;
    border-color: #ffb300 #e4a000 #e4a000 #ffb300;
    background-color: #ffb300;
}

.rtl .offer:hover .ui_button.original:not(.disabled),
.rtl .ui_button.original:not(.disabled):hover {
    border-color: #ffb300 #ffb300 #e4a000 #e4a000;
}

.offer:active .ui_button.original:not(.disabled),
.ui_button.original:not(.disabled):active {
    background-color: #f5ac00;
    border-color: #f5ac00;
    box-shadow: none;
}

.ui_button.primary {
    border-color: #00AF87 #2f582c #2f582c #00AF87;
    background-color: #00AF87;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.25);
    color: #fff;
}

.rtl .ui_button.primary {
    border-color: #00AF87 #00AF87 #2f582c #2f582c;
    box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.25);
}

.ui_button.primary.disabled {
    opacity: .35;
    border-color: transparent;
    box-shadow: none;
    cursor: auto;
}

.offer:hover .ui_button.primary:not(.disabled),
.ui_button.primary:not(.disabled):hover {
    text-decoration: none;
    border-color: #007c60 #2f582c #2f582c #007c60;
    background-color: #007c60;
}

.rtl .offer:hover .ui_button.primary:not(.disabled),
.rtl .ui_button.primary:not(.disabled):hover {
    border-color: #007c60 #007c60 #2f582c #2f582c;
}

.offer:active .ui_button.primary:not(.disabled),
.ui_button.primary:not(.disabled):active {
    background-color: #00634c;
    border-color: #00634c;
    box-shadow: none;
}

.ui_button.secondary {
    border-color: #e5e5e5 #b7b7b7 #b7b7b7 #e5e5e5;
    background-color: #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.05);
    color: #00AF87;
}

.rtl .ui_button.secondary {
    border-color: #e5e5e5 #e5e5e5 #b7b7b7 #b7b7b7;
    box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.05);
}

.ui_button.secondary.disabled {
    opacity: .35;
    border-color: #b7b7b7;
    box-shadow: none;
    cursor: auto;
}

.offer:hover .ui_button.secondary:not(.disabled),
.ui_button.secondary:not(.disabled):hover {
    text-decoration: none;
    border-color: #00AF87;
}

.offer:active .ui_button.secondary:not(.disabled),
.ui_button.secondary:not(.disabled):active {
    border-color: #3d6e39;
    box-shadow: none;
    color: #3d6e39;
}

.offer:active .ui_button.secondary:not(.disabled).chevron:after,
.ui_button.secondary:not(.disabled):active.chevron:after {
    border-color: #3d6e39;
}

.ui_icon:before {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: inherit;
    line-height: 1;
    font-family: 'Shazde_Regular' !important;
    -ms-transform: rotate(-0.001deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}

.rtl .ui_icon:before,
.rtl .ui_icon:after {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1)";
    transform: scale(-1, 1);
}

.ui_icon.activities:before {
    content: "\e063";
}

.ui_icon.add-friend-fill:before {
    content: "\e087";
}

.ui_icon.adult:before {
    content: "\e06e";
}

.ui_icon.alert:before {
    content: "\e096";
}

.ui_icon.arrow-left:before {
    content: "\e07f";
}

.ui_icon.arrow-up:before {
    content: "\e076";
}

.ui_icon.bar:before {
    content: "\e068";
}

.ui_icon.bell:before {
    content: "\e0a1";
}

.ui_icon.bubble-rating-bg:before {
    content: "\e00a";
}

.ui_icon.bubble-rating-empty:before {
    content: "\e00d";
}

.ui_icon.bubble-rating-full:before {
    content: "\e00b";
}

.ui_icon.bubble-rating-half:before {
    content: "\e00c";
}

.ui_icon.calendar:before {
    content: "\e015";
}

.ui_icon.camera:before {
    content: "\e010";
}

.ui_icon.casino:before {
    content: "\e0dd";
}

.ui_icon.castle:before {
    content: "\e0de";
}

.ui_icon.clock:before {
    content: "\e016";
}

.ui_icon.comments:before {
    content: "\e06b";
}

.ui_icon.custom-note:before {
    content: "\e09d";
}

.ui_icon.dmo:before {
    content: "\e098";
}

.ui_icon.duration:before {
    content: "\e0db";
}

.ui_icon.email:before {
    content: "\e022";
}

.ui_icon.expand:before {
    content: "\e083";
}

.ui_icon.facebook:before {
    content: "\e0d3";
}

.ui_icon.family:before {
    content: "\e0df";
}

.ui_icon.filter:before {
    content: "\e0da";
}

.ui_icon.flights:before {
    content: "\e004";
}

.ui_icon.friend-fill:before {
    content: "\e086";
}

.ui_icon.friend:before {
    content: "\e013";
}

.ui_icon.friends:before {
    content: "\e014";
}

.ui_icon.globe-world:before {
    content: "\e018";
}

.ui_icon.heart:before {
    content: "\e011";
}

.ui_icon.hotels:before {
    content: "\e000";
}

.ui_icon.instagram:before {
    content: "\e0d1";
}

.ui_icon.internet:before {
    content: "\e0eb";
}

.ui_icon.lock:before {
    content: "\e08d";
}

.ui_icon.map-pin-fill:before {
    content: "\e01a";
}

.ui_icon.map-pin:before {
    content: "\e019";
}

.ui_icon.map:before {
    content: "\e0d9";
}

.ui_icon.member:before {
    content: "\e0aa";
}

.ui_icon.menu-bars:before {
    content: "\e035";
}

.ui_icon.menu:before {
    content: "\e0dc";
}

.ui_icon.my-trips:before {
    content: "\e0c5";
}

.ui_icon.night:before {
    content: "\e075";
}

.ui_icon.note:before {
    content: "\e09d";
}

.ui_icon.notification-bell:before {
    content: "\e05f";
}

.ui_icon.parking:before {
    content: "\e05d";
}

.ui_icon.pencil-paper:before {
    content: "\e00e";
}

.ui_icon.pencil:before {
    content: "\e00f";
}

.ui_icon.phone:before {
    content: "\e026";
}

.ui_icon.photo:before {
    content: "\e0b1";
}

.ui_icon.pinterest:before {
    content: "\e0d2";
}

.ui_icon.play:before {
    content: "\e0c0";
}

.ui_icon.plus:before {
    content: "\e02f";
}

.ui_icon.pool:before {
    content: "\e064";
}

.ui_icon.power:before {
    content: "\e0f5";
}

.ui_icon.present:before {
    content: "\e070";
}

.ui_icon.printer:before {
    content: "\e027";
}

.ui_icon.prohibited:before {
    content: "\e074";
}

.ui_icon.quote:before {
    content: "\e0b9";
}

.ui_icon.refresh:before {
    content: "\e036";
}

.ui_icon.resort:before {
    content: "\e0e4";
}

.ui_icon.restaurants:before {
    content: "\e001";
}

.ui_icon.search:before {
    content: "\e056";
}

.ui_icon.seat-flat-bed:before {
    content: "\e0f9";
}

.ui_icon.seat-regular:before {
    content: "\e0f7";
}

.ui_icon.settings-fill:before {
    content: "\e090";
}

.ui_icon.share:before {
    content: "\e09a";
}

.ui_icon.single-chevron-down-circle-fill:before {
    content: "\e040";
}

.ui_icon.single-chevron-down-circle:before {
    content: "\e03f";
}

.ui_icon.single-chevron-down:before {
    content: "\e03e";
}

.ui_icon.single-chevron-left-circle-fill:before {
    content: "\e043";
}

.ui_icon.single-chevron-left-circle:before {
    content: "\e042";
}

.ui_icon.single-chevron-left:before {
    content: "\e041";
}

.ui_icon.single-chevron-right-circle-fill:before {
    content: "\e03d";
}

.ui_icon.single-chevron-right-circle:before {
    content: "\e03c";
}

.ui_icon.single-chevron-right:before {
    content: "\e03b";
}

.ui_icon.single-chevron-up-circle-fill:before {
    content: "\e03a";
}

.ui_icon.single-chevron-up-circle:before {
    content: "\e039";
}

.ui_icon.single-chevron-up:before {
    content: "\e038";
}

.ui_icon.spa:before {
    content: "\e0e8";
}

.ui_icon.star:before {
    content: "\e023";
}

.ui_icon.suitcase:before {
    content: "\e0c3";
}

.ui_icon.sun:before {
    content: "\e069";
}

.ui_icon.thumbs-down-fill:before {
    content: "\e058";
}

.ui_icon.thumbs-up-fill:before {
    content: "\e057";
}

.ui_icon.tickets:before {
    content: "\e060";
}

.ui_icon.times:before {
    content: "\e02c";
}

.ui_icon.train:before {
    content: "\e0d8";
}

.ui_icon.travelers-choice-badge:before {
    content: "\e08b";
}

.ui_icon.twitter:before {
    content: "\e0d4";
}

.ui_icon.usb:before {
    content: "\e0f6";
}

.ui_icon.users:before {
    content: "\e0be";
}

.ui_icon.wifi:before {
    content: "\e05c";
}

.ui_icon.youtube:before {
    content: "\e0d5";
}

#PAGE {
    font-size: .75em;
    overflow: hidden;
}

#MAIN {
    position: relative;
    height: 100%;
    overflow: hidden !important;
    border: 1px solid #e3e3e3;
    clear: both;
}

#BODYCON {
    position: relative;
    _left: 3px;
    width: 768px;
    zoom: 1;
    overflow: hidden !important;
    margin-bottom: 15px;
    padding: 0 14px;
    border-left: 1px solid #e6e6e6;
    float: left;
}

#BODYCON h1 {
    margin-bottom: 4px;
}

#BODYCON:after {
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    content: ".";
}

.gridA {
    height: 100%;
    overflow: hidden;
}

.overlay.ocal {
    margin-top: 20px;
}

.calendar {
    position: relative;
    width: 350px;
    height: 175px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    /*background: #fff url("/img2/generic/site/bgSolidRule_oliveDrab.gif") 50% 0 repeat-y;*/
    overflow: hidden;
}

.calendar .month {
    position: absolute;
    width: 161px;
    padding: 5px 7px;
}

.calendar .month thead th {
    padding-bottom: 4px;
    font-weight: bold;
    color: #217148;
    text-align: center;
}

.calendar .month thead th.caption {
    padding-bottom: 10px;
}

.calendar .month tbody td {
    width: 23px;
    height: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #2c2c2c;
    text-align: center;
    vertical-align: middle;
}

.calendar .month tbody .disabled {
    color: #8d8d8d;
}

.calendar .month tbody .invalid {
    background: #DDD;
    text-decoration: line-through;
}

.calendar .month tbody .arrive {
    /*background: url("/img2/vacationrentals/vr_email_cal_arrive.gif");*/
    text-decoration: line-through;
}
/**/
.calendar .month tbody .depart {
    /*background: url("/img2/vacationrentals/vr_email_cal_depart.gif");*/
}

.calendar .month tbody td a {
    display: block;
    color: #2c2c2c;
    cursor: pointer;
}

.calendar .month tbody td.today a {
    color: #c60;
}

.desktop .calendar .month tbody td a:hover {
    background-color: #f6df9c;
}

.calendar .month tbody td.selected {
    background-color: #d9e4c4;
}

#REVIEWS .circularAvWrap,
#REVIEWS .facebookFriend,
#REVIEWS div.avatar {
    border: 0;
}

.full_width {
    min-width: 900px;
    max-width: 1132px;
    margin: 0 auto;
}

#MAINWRAP.responsive_body {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#MAINWRAP.ui_container.responsive_body #MAIN {
    /*min-width: none;*/
    max-width: none;
}

#MAINWRAP.responsive_body #MAIN {
    width: initial;
    min-width: 1024px;
    max-width: 1132px;
    width: 100%;
    margin: 0 auto;
    left: 0;
}

.deckTools .srtTools {
    height: 100%;
    overflow: hidden;
    padding: 6px 0 4px;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    margin-bottom: 12px;
}

.sortArrow {
    padding-right: 12px;
}

.deckTools .pagination {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #e5e5e5;
}

.pagination {
    height: 100%;
    overflow: hidden;
    padding: 7px 0;
}

.unified.pagination {
    text-align: center;
    padding: 12px 10px;
    background-color: #fff;
}

.unified.pagination .pageNumbers {
    display: inline-block;
    padding-top: 2px;
}

.unified.pagination .pageNum {
    display: block;
    float: left;
    padding: 0 12px;
    margin: 0 10px;
    line-height: 30px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #00AF87;
}

.unified.pagination .pageNum:hover {
    color: #000;
}

.unified.pagination.narrow .pageNum {
    margin: 0 5px;
}

.unified.pagination .separator {
    display: block;
    float: left;
    padding: 0 8px;
    line-height: 30px;
}

.unified.pagination .pageNum.current {
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #00AF87;
    border-color: #00AF87;
    font-size: 1.0835em;
    cursor: default;
}

.unified.pagination .pageNum.current:hover {
    text-decoration: none;
}

.unified.pagination .nav {
    display: block;
    line-height: 33px;
    height: 33px;
    font-size: 1.0835em;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 3px;
}

.unified.pagination .nav.previous {
    float: left;
    border: 1px solid #00AF87;
    color: #fff;
}

.unified.pagination .nav.previous.ui_button {
    border-color: #00AF87 #2f582c #2f582c #00AF87;
    color: #fff;
}

.DISABLED .unified.pagination .nav.previous.ui_button:hover,
.DISABLED .unified.pagination .nav.next.ui_button:hover {
    text-decoration: none;
    border-color: #448040 #2f582c #2f582c #448040;
    background-color: #448040;
}

.unified.pagination .nav.next {
    float: right;
    box-shadow: none;
}

.unified.pagination .nav.next {
    color: #fff;
}

.unified.pagination .nav.disabled,
.unified.pagination .nav.disabled:hover {
    border: 1px solid #CCC;
    color: #CCC;
    background: transparent;
    cursor: default;
    text-decoration: none;
    font-weight: normal;
    text-shadow: none;
}

.radius .note {
    display: block;
    margin-top: 4px;
    padding-left: 2px;
    font-style: italic;
    font-size: .9165em;
    color: #656565;
}

.removeAllFilters {
    float: left;
    padding: 3px 0 0 10px;
}

.staticMap {
    padding-bottom: 20px;
}

.staticMap .portrait {
    display: block;
    height: 300px;
}

.staticMap .landscape {
    display: block;
    height: 133px;
}

#STATIC_MAP {
    vertical-align: baseline;
}

#HAC_PROGRESS_CONTAINER {
    display: none;
}

.deckTools .srtTools {
    margin-bottom: 10px;
    border-top: 0;
}

.resources .pipe {
    color: #bbb;
}

div.activeView {
    display: block;
}

.listing .quote {
    margin-bottom: 15px;
    padding-bottom: 2px;
    font-weight: bold;
    font-size: 1.1670em;
}

.listing {
    padding: 10px 0 14px;
    border-top: 1px solid #e3e3e3;
}

.listing:hover {
    box-shadow: 0 0 5px 2px #ccc;
}

.listing.first {
    padding-top: 0;
    border-top: none;
}

.listing .distance {
    margin-bottom: 6px;
}

.listing .average {
    margin: 5px 0 6px;
    font-size: 1.1670em;
}

.quality {
    margin-bottom: 6px;
}

.quality .rate {
    margin: 3px 0 0 5px;
    float: right;
}

.quality .average {
    margin-top: 5px;
    font-size: 1.1670em;
}

.quality .distance {
    margin: 5px 0 3px;
    font-size: 1.125em;
}

.entry .rating {
    margin: 2px 0 0;
}

.entry .rating .more {
    font-size: 1.1670em;
    line-height: 18px;
}

.entry .date {
    color: #999;
}

#PAGE.filterSearch .gridA {
    overflow: visible;
}

.toggle .header {
    /*background-image: url('/sprites/global_pack-v80f659f859ee64d830b2608cd586657e.png');*/
    background-position: left -3166px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.toggle .header.on {
    /*background-image: url('/sprites/global_pack-v80f659f859ee64d830b2608cd586657e.png');*/
    background-position: left -3197px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.rebrand_2017 .restaurants_list.no_bottom_padding {
    padding: 0 !important;
}

.rebrand_2017 .restaurants_list.no_bottom_padding #HEADING {
    top: 0 !important;
}

.rebrand_2017 .masthead {
    margin-bottom: 12px;
}

.prw_meta_saves_badge {
    position: absolute;
    top: 2px;
    right: 2px;
}

.p13n_geo_hotels {
    margin-bottom: 20px;
}

#p13n_tag_header_wrap {
    overflow: visible !important;
}

#HEADING {
    text-align: center !important;
}

/*#PAGE {*/
/*min-width: initial!important;*/
/*}*/
body {
    background-color: #fff !important;
}

#PAGE #BODYCON {
    overflow: visible !important;
}

.iab_medRec {
    margin-left: -24px;
}

input {
    font-family: inherit;
}

.list .listing.rebrand.first {
    border-top: none;
}

.list .listing.rebrand .ui_column.booking {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
}

.listing.rebrand .ui_column.booking {
    height: 100%;
}

.list .listing.rebrand {
    position: relative;
    height: 160px;
    border-bottom: 1px solid #e5e5e5;
}

.list .listing.rebrand .prw_meta_saves_badge {
    top: 5px;
}

.list .listing.rebrand:hover {
    z-index: 1;
    box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.25), 0 -12px 12px -12px rgba(0, 0, 0, 0.25);
}

.listing .title a {
    color: #333;
    text-decoration: none;
    outline: none;
    vertical-align: middle;
    display: inline-block;
}

.listing .title {
    color: #333;
    text-decoration: none;
    outline: none;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
}

.listing .rating.rebrand {
    margin-bottom: 6px;
}

.listing .rating.rebrand .ui_bubble_rating {
    font-size: 18px;
}

.listing .rating.rebrand .ui_bubble_rating:before,
.listing .rating.rebrand .ui_bubble_rating:after {
    line-height: normal;
}

.listing .rating.rebrand a {
    color: #666;
    font-weight: normal;
}

.unified.pagination {
    border-bottom: none;
    border-top: none;
}

.unified.pagination .pageNum.taLnk {
    color: #666;
}

.unified.pagination .pageNum.taLnk:hover {
    color: #000;
    text-decoration: none;
}

#PAGE.redesign_2015 {
    background-color: #fff;
}

.redesign_2015 #MAIN,
.redesign_2015 #MAINWRAP {
    overflow: visible !important;
    background-color: transparent;
    border: none;
}

.ui_container.responsive_body {
    overflow: hidden;
}

.redesign_2015 #BODYCON {
    margin: 0;
    width: 100%;
    padding: 0;
    border: none;
}

.eatery_filters {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.list .listing {
    box-shadow: inset 0 0 0 1px #fff;
}

#headingWrapper {
    color: #fff;
    font-size: 2.8em;
    height: 40px;
    margin: 18px 0 12px;
}

.lhr .verticalFilters {
    margin-bottom: 12px;
}

.lhr .verticalFilters .selectedFilters .label,
.lhr .verticalFilters .selectedFilters .label a {
    color: #00AF87;
    font-size: 14px;
}

.lhr .verticalFilters .filterItem a {
    color: #666;
}

.lhr .verticalFilters .filterItem a:hover {
    text-decoration: none;
}

.lhr .verticalFilters .collapsible.expanded .lhrFilter,
.lhr .verticalFilters .collapsible .lhrFilter.selected,
.lhr .verticalFilters .collapsible .lhrFilter.alwaysShowItem {
    display: block;
}

.lhr .verticalFilters .collapsible.expanded .hidden,
.lhr .verticalFilters .collapsible .filterAddOn.less,
.lhr .verticalFilters .collapsible .lhrFilter {
    display: none;
}

.lhr .verticalFilters .establishmentTypeFilters .selected {
    font-weight: bold;
}

.lhr .verticalFilters .filterAddOn .text {
    display: inline;
}

.lhr .verticalFilters .filterAddOn,
.lhr .verticalFilters .lhrFilter {
    cursor: pointer;
    display: block;
    position: relative;
    text-decoration: none;
    padding: 6px 0;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lhr .verticalFilters .lhrFilter.header {
    cursor: auto;
    font-size: 14px;
    color: #b7b7b7;
}

.lhr.reduced_height .verticalFilters .filterAddOn,
.lhr .verticalFilters .lhrFilter .filterName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.lhr .verticalFilters .selectedFilters .lhrFilter.selected .filterName:before {
    display: none;
}

.lhr .verticalFilters .filterName .match {
    font-weight: bold;
}

.lhr .verticalFilters .lhrFilter .count {
    color: #666;
    font-size: .9em;
    vertical-align: top;
}

.lhr.hideCount .verticalFilters .lhrFilter .count {
    display: none;
}

.lhr .verticalFilters .filterAddOn:hover .text {
    text-decoration: underline;
}

.lhr.sidebar .gptAd {
    border-bottom: none;
    margin-bottom: 0;
}

.lhr .verticalFilters .clear {
    color: #666;
    font-size: 12px;
    margin-right: 18px;
    float: right;
    cursor: pointer;
}

.lhr .verticalFilters .clear:hover {
    text-decoration: underline;
}

.lhr .deals .rating {
    margin: 1px 0 0;
}

.lhr .rating .rate,
.rating em {
    font-style: normal;
    float: left;
}

.lhr .wrap {
    height: 100%;
    display: block;
}

.listing .rating {
    height: auto;
}

.lhr .rating .rate,
.lhr .rating em {
    font-style: normal;
    float: left;
}

.lhr .rate {
    display: block;
    position: relative;
    margin-right: 4px;
}

.lhr .deals .posted {
    clear: both;
}

#filterSearch,
#filterSearch:focus {
    padding-left: 12px;
    padding-bottom: 10px;
    width: 278px;
    border: none;
    box-shadow: none;
    background: none;
    outline: none;
}

#filterSearch.placeholder {
    color: #b7b7b7;
    /*background: url('/img2/icons/typeahead/label/mag_glass_v2.png') no-repeat 12px 0;*/
    background-size: 14px 14px;
    padding-left: 32px;
    width: 260px;
    text-overflow: ellipsis;
}

.list .easyClear:after {
    display: none;
}

.list .listing {
    position: relative;
    height: 160px;
    padding: 20px 0;
    border-top: none;
}

.list .listing .booking .seeOther {
    text-align: center;
    display: block;
    color: #069;
}

.list .listing .rating .reviewCount {
    height: 18px;
    line-height: 18px;
    font-size: 14px;
}

.bxDivider + .bxDivider {
    display: none;
}

.eatery_overview .error {
    color: #d80007;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 12px;
}

.lhr.reduced_height .verticalFilters .filterAddOn {
    padding: 6px 0 6px;
}

.listing .booking .ui_button .offer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -4px;
    left: 0;
    border-left: 5px solid transparent;
    border-top: 4px solid #000;
}

.listing .booking .ui_button .offer {
    position: absolute;
    background-color: #ff6500;
    padding: 0 4px;
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    top: 3px;
    left: -6px;
    color: #fff;
    border-radius: 0 3px 3px 0;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lhr .filterGroupTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    color: #333;
    padding: 23px 0 11px;
}

.lhr .filterGroupTitle .text {
    float: left;
}

.lhr .filterGroupTitle .clear,
.lhr .filterGroupTitle .text {
    line-height: 20px;
}

.prw_restaurants_restaurant_filters {
    border-bottom: 1px solid #e5e5e5;
}

#LHR {
    position: relative;
}

.listing .ui_columns {
    position: absolute;
    left: 160px;
    right: 0;
    top: 20px;
    bottom: 20px;
    margin: 0 12px;
}

.listing .title {
    margin-bottom: 10px;
    color: #333;
}

.listing .booking {
    text-align: center;
}

.listing .booking .ui_button.original.stacked {
    margin-bottom: 6px;
}

.ui_icon.calendar {
    background: none;
}

.listing .ui_button {
    padding: 5px 0;
}

.meta .messages .message {
    color: #666;
}

.meta .messages .message a {
    color: #069;
}

#EATERY_SEARCH_RESULTS .entry .description {
    width: 320px;
    float: left;
}

.full_width_page #PAGE #MAINWRAP.horizontal_xsell {
    min-width: 1024px;
}

#BODYCON,
#BODYCON .balance {
    float: left;
}

.rtl #BODYCON,
.rtl #BODYCON .balance {
    float: right;
}

#MAIN #BODYCON,
#MAIN #BODYCON .gridA {
    overflow: visible !important;
    zoom: 1;
}

#MAIN:after,
.gridA:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.gptAd.scrollAd {
    position: fixed;
}

.odcHotel {
    overflow: hidden;
    clear: both;
}

.odcHotel.blDetails {
    margin: 2px 0 10px;
    float: none;
    height: auto;
    line-height: 16px;
}

.odcHotel .icnLink {
    margin-right: 5px;
    overflow: hidden;
}

.odcHotel .notLast {
    margin-right: 15px;
}

.blLinks .ui_icon {
    color: #00AF87;
}

.p13n_tag_cloud.regular {
    text-align: left;
    height: 71px;
    clear: both;
    margin-top: 25px;
    padding-right: 12px;
}

.p13n_tag_cloud.expanded {
    height: 160px;
}

.p13n_tag_cloud.war_smaller_buttons .jfy_cloud {
    box-shadow: none;
    padding: 5px 16px 5px 16px;
    font-size: 1.1em;
    line-height: 17px;
    margin-bottom: 8px;
}

.p13n_tag_cloud.war_smaller_buttons .jfy_cloud.selected {
    box-shadow: none;
    border: 1px solid #54943c;
    padding: 5px 16px 5px 16px;
    color: #54943c;
    background-color: #fff;
}

.p13n_tag_cloud .jfy_cloud {
    float: left;
}

.p13n_tag_cloud .jfy_cloud {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    box-shadow: none;
    border-radius: 5px;
    padding: 5px 16px 5px 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 17px;
    color: #454545;
    margin-right: 2px;
    margin-bottom: 8px;
    cursor: pointer;
    white-space: nowrap;
}

.p13n_tag_cloud .jfy_cloud:hover {
    color: #54943c;
    border: 1px solid #1b5605;
}

.rtl.p13n_tag_cloud .jfy_cloud.selected {
    padding: 5px 5px 5px 15px;
}

.p13n_tag_cloud .jfy_cloud.selected {
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.5);
    padding: 5px 15px 5px 1px;
    color: white;
    background-color: #54943c;
}

.p13n_tag_cloud .jfy_cloud.selected .check {
    width: 17px;
    height: 100%;
    margin: -1px -2px 0 2px;
    white-space: nowrap;
}

.p13n_tag_cloud .jfy_cloud .check
.tab_link_tags .tab .check {
    background-image: none;
    width: 0;
}

.p13n_tag_cloud .jfy_cloud.selected .check {
    width: 17px;
    height: 100%;
    white-space: nowrap;
}

.rate.b05 img {
    left: 0;
    top: -189px;
}

.rate.b10 img {
    left: 0;
    top: -168px;
}

.rate.b15 img {
    left: 0;
    top: -147px;
}

.rate.b20 img {
    left: 0;
    top: -126px;
}

.rate.b25 img {
    left: 0;
    top: -105px;
}

.rate.b30 img {
    left: 0;
    top: -84px;
}

.rate.b35 img {
    left: 0;
    top: -63px;
}

.rate.b40 img {
    left: 0;
    top: -42px;
}

.rate.b45 img {
    left: 0;
    top: -21px;
}

.rate.b50 img {
    left: 0;
    top: 0;
}

.rate.gb00 img {
    left: 0;
    top: -231px;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .gptAd {
    margin: 0;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content a {
    cursor: pointer;
    color: #333333;
    font-weight: normal;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .subTitle {
    font-weight: normal;
    font-size: 14px;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .title {
    font-size: 20px;
    position: relative;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .view_all {
    font-size: 16px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .option .ui_column {
    overflow: hidden;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .poi {
    display: block;
    position: relative;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .poi:hover .thumbnail {
    opacity: 0.8;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .thumbnail {
    position: relative;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .detail {
    padding: 10px 0;
    color: #666666;
    min-height: 62px;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .detail .ui_button {
    padding: 5px 25px;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .item {
    margin-bottom: 6px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 14px;
    padding: 0;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .item.name {
    font-weight: bold;
    position: relative;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .item.name.wrap {
    display: table-cell;
    height: 30px;
    padding-bottom: 6px;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .poiTitle {
    font-size: 16px;
    font-weight: normal;
    color: #000000;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .wrap .poiTitle {
    /* used to center DWALC titles vertically */
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .review_count {
    color: #666666;
    padding-left: 3px;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .rating-widget {
    display: inline-block;
    font-size: 14px;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .section {
    margin-bottom: 30px;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .sizing_wrapper {
    position: relative;
    overflow: hidden;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .centering_wrapper {
    display: inline-block;
    position: absolute;
    top: 50%;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .centering_wrapper .npp {
    top: -60px !important;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .poi .attribution .text {
    padding: 0 6px;
    display: inline-block;
    vertical-align: middle;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .poi .attribution {
    position: absolute;
    display: block;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6px 4px;
    margin: 0;
    background: -webkit-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.8) 100%);
    background: -moz-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00000000', endColorStr='#CC000000', gradientType='0');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00000000',endColorStr='#CC000000',gradientType='0')";
    cursor: pointer;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    line-height: 1.1em;
    font-size: 10px;
    vertical-align: middle;
    white-space: normal;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .titleLink {
    vertical-align: middle;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .prw_common_centered_thumbnail {
    border-radius: 2px;
    overflow: hidden;
}

div.ppr_rup.ppr_priv_hotels_redesign_header #hotels_lf_header {
    position: relative;
}

div.ppr_rup.ppr_priv_hotels_redesign_header #p13n_tag_header_wrap {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

div.ppr_rup.ppr_priv_hotels_redesign_header #p13n_tag_header {
    min-width: 1024px;
    max-width: 1132px;
    margin: 0 auto;
    padding: 0 18px 0;
}

div.ppr_rup.ppr_priv_hotels_redesign_header .restaurants_list #p13n_tag_header {
    max-width: 100%;
    padding: 0 0 30px;
}

div.ppr_rup.ppr_priv_hotels_redesign_header .restaurants_list #p13n_tag_header #HEADING {
    top: 12px;
}

div.ppr_rup.ppr_priv_hotels_redesign_header .restaurants_list #p13n_welcome_message {
    max-width: 1132px;
    overflow: visible;
    margin: 0 auto;
    padding: 0 18px;
}

div.ppr_rup.ppr_priv_hotels_redesign_header #p13n_welcome_message {
    display: block;
    margin: 24px 0 0;
    padding: 0;
    overflow: hidden;
}

div.ppr_rup.ppr_priv_hotels_redesign_header #p13n_welcome_message #HEADING.p13n_geo_hotels {
    display: block;
    position: relative;
    max-width: none;
    color: #2c2c2c;
    font-size: 34px;
    font-weight: bold;
    line-height: normal;
    text-shadow: none;
    text-align: left;
}

.restaurants_list div.ppr_rup.ppr_priv_hotels_redesign_header #p13n_welcome_message #HEADING.p13n_geo_hotels,
div.ppr_rup.ppr_priv_hotels_redesign_header .p13n_see_through #p13n_welcome_message #HEADING.p13n_geo_hotels {
    color: #fff;
}

div.ppr_rup.ppr_priv_hotels_redesign_header #p13n_big_photo_wrap {
    z-index: 0;
    top: 0;
    bottom: 30px;
    overflow: hidden;
}

.h_map_side_by_side div.ppr_rup.ppr_priv_hotels_redesign_header #p13n_tag_header {
    max-width: 100%;
}

.h_map_side_by_side div.ppr_rup.ppr_priv_hotels_redesign_header #p13n_welcome_message #HEADING.p13n_geo_hotels {
    display: block;
}

.h_map_side_by_side div.ppr_rup.ppr_priv_hotels_redesign_header #p13n_tag_header {
    max-width: inherit;
    padding: 0 0 60px;
}
.r_map_position_ul_fake .restaurants_list div.ppr_rup.ppr_priv_hotels_redesign_header #p13n_welcome_message #HEADING.p13n_geo_hotels {
    color: #2C2C2C;
    display: block;
    font-size: 34px;
    font-weight: bold;
    line-height: normal;
    max-width: none;
    position: relative;
    text-align: left;
    text-shadow: none;
}

.r_map_position_ul_fake .restaurants_list div.ppr_rup.ppr_priv_hotels_redesign_header #p13n_tag_header {
    padding: 10px;
}

div.prw_rup.prw_common_centered_thumbnail .sizing_wrapper {
    position: relative;
    overflow: hidden;
}

div.prw_rup.prw_common_centered_thumbnail .centering_wrapper {
    display: inline-block;
    position: absolute;
    top: 50%;
}