
.ui_popover {
    z-index: 500;
    left: -9999em;
    top: -9999em;
    display: inline-block;
    padding: 36px;
    background-color: #fff;
    border: 1px solid;
    border-color: #e0e0e0;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.35);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ui_popover .header_text {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #00AF87;
}
.ui_popover .body_text {
    font-size: 12px;
    line-height: 16px;
    color: #4a4a4a;
}
.ui_popover.small {
    padding: 18px 24px;
}
.ui_popover.dark {
    background-color: #333;
    border-color: #333;
    color: #fff;
}
.ui_popover.dark .header_text,
.ui_popover.dark .body_text {
    color: #fff;
}
.hidden {
    display: none;
}
.ui_modal {
    left: -9999em;
    top: -9999em;
    z-index: 10004;
    display: inline-block;
    padding: 48px;
    background-color: #ebebeb;
    background-color: #fff;
    border-color: #ebebeb;
    border-color: #fff;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media(max-width:767px) {
    .ui_modal {
        padding: 16px;
    }
}
.ui_modal.small {
    padding: 18px;
}
.ui_modal.dark {
    background-color: #2C2C2C;
}
.ui_modal.fullwidth {
    width: 100%;
}
.ui_modal .header_text {
    display: block;
    margin: -5px 0 8px;
    font-size: 26px;
    line-height: 30px;
    color: #4a4a4a;
}
.ui_modal .subheader_text {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 22px;
    color: #4a4a4a;
}
.ui_modal .body_text {
    font-size: 12px;
    line-height: 16px;
    color: #4a4a4a;
}
.ui_modal_card {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10004;
    box-sizing: border-box;
    -ms-flex-direction: column;
}
.ui_modal_card * {
    box-sizing: inherit;
}
.ui_modal_card .modal-content,
.ui_modal_card .modal-card {
    margin: 0 12px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
}
@media(min-width:768px) {
    .ui_modal_card .modal-content, .ui_modal_card .modal-card {
        margin: 0 auto;
        max-height: calc(100vh - 48px);
    }
}
.ui_modal_card .modal-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-height: calc(100vh - 48px);
    padding: 48px 0;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    width: 640px;
    background-color: #fff;
}
@media(max-width:767px) {
    .ui_modal_card .modal-card {
        max-height: none;
        height: 100%;
        width: 100%;
        margin: 0;
    }
}
.ui_modal_card .ui_close_x,
.ui_modal_card .modal-close {
    display: block;
    width: 48px;
    height: 48px;
}
.ui_modal_card .ui_close_x:before {
    font-size: 32px;
    line-height: 48px;
}
.ui_backdrop {
    display: block;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.ui_backdrop.dark {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    filter: alpha(opacity 80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
}
.ui_backdrop.light {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    filter: alpha(opacity 80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
}
.ui_close_x {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    text-align: center;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
    cursor: pointer;
}
.ui_close_x:before {
    font-size: 28px;
    line-height: 36px;
    color: #00AF87;
    content: "\00d7";
}
.ui_close_x:hover {
    opacity: .7;
}
.ui_modal .ui_close_x {
    width: 48px;
    height: 48px;
}
.ui_modal .ui_close_x:before {
    font-size: 32px;
    line-height: 48px;
}
.small .ui_close_x {
    width: 24px;
    height: 24px;
}
.small .ui_close_x:before {
    font-size: 18px;
    line-height: 24px;
}
.ui_modal.small .ui_close_x:before {
    font-size: 24px;
}
.dark .ui_close_x:before {
    color: #fff;
}
.button {
    display: inline;
    height: 100%;
    overflow: hidden;
    margin-right: 10px;
    border: 1px solid #00AF87;
    float: left;
}
.button a,
.button span,
.button input {
    display: block;
    overflow: visible;
    margin: 0;
    border: none;
    background-color: #00AF87;
    font: bold 1em/14px Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #fff;
    text-shadow: #00AF87 0 0 0;
    white-space: nowrap;
    cursor: pointer;
    float: left;
}
.button input {
    margin: -1px 0;
    padding: 2px 6px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .button input {
        margin: 0;
        padding: 2px 9px;
    }
}
.button a,
.button span {
    display: block;
    padding: 2px 9px;
}
.button a,
.button a:hover,
.button a:focus,
.button a:active,
.button a:visited {
    color: #fff;
    text-decoration: none;
}
.button.cr span {
    text-transform: uppercase;
}
.booking .button {
    float: none;
}
.rating {
    height: 100%;
    overflow: hidden;
}
.ui_button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    padding: 9px 16px 8px;
    font-weight: bold;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 3px;
    background-clip: padding-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}
.ui_button:focus {
    text-decoration: none;
    outline: none;
}
.ui_button.hidden {
    display: none;
}
.ui_button.small {
    padding: 7px 10px 6px;
    font-size: 12px;
    line-height: 15px;
}
.ui_button.small .ui_loader>span {
    width: 7px;
    height: 6px;
}
.ui_button.large {
    padding: 11px 22px 10px;
    font-size: 16px;
    line-height: 19px;
}
.ui_button.resize {
    font-size: 10px;
}
.ui_button.fullwidth {
    width: 100%;
}
.ui_button.danger {
    border-color: #e5e5e5 #b7b7b7 #b7b7b7 #e5e5e5;
    background-color: #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.05);
    color: #d80007;
}
.ui_button.loading {
    color: transparent!important;
    pointer-events: none;
}
.ui_button.loading .ui_loader {
    display: -webkit-box;
    display: flex;
}
.ui_button.primary {
    border-color: #00AF87 #2f582c #2f582c #00AF87;
    background-color: #00AF87;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.25);
    color: #fff;
}
.rtl .ui_button.primary {
    border-color: #00AF87 #00AF87 #2f582c #2f582c;
    box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.25);
}
.ui_button.primary.chevron:after {
    border-color: #fff;
}
.ui_button.primary.disabled {
    opacity: .35;
    border-color: transparent;
    box-shadow: none;
    cursor: auto;
}
.offer:hover .ui_button.primary:not(.disabled),
.ui_button.primary:not(.disabled):hover {
    text-decoration: none;
    border-color: #007c60 #2f582c #2f582c #007c60;
    background-color: #007c60;
}
.rtl .offer:hover .ui_button.primary:not(.disabled),
.rtl .ui_button.primary:not(.disabled):hover {
    border-color: #007c60 #007c60 #2f582c #2f582c;
}
.offer:active .ui_button.primary:not(.disabled),
.ui_button.primary:not(.disabled):active {
    background-color: #00634c;
    border-color: #00634c;
    box-shadow: none;
}
.ui_button.secondary {
    border-color: #e5e5e5 #b7b7b7 #b7b7b7 #e5e5e5;
    background-color: #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.05);
    color: #00AF87;
}
.rtl .ui_button.secondary {
    border-color: #e5e5e5 #e5e5e5 #b7b7b7 #b7b7b7;
    box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.05);
}
.ui_button.secondary.chevron:after {
    border-color: #00AF87;
}
.ui_button.secondary.disabled {
    opacity: .35;
    border-color: #b7b7b7;
    box-shadow: none;
    cursor: auto;
}
.offer:hover .ui_button.secondary:not(.disabled),
.ui_button.secondary:not(.disabled):hover {
    text-decoration: none;
    border-color: #00AF87;
}
.offer:active .ui_button.secondary:not(.disabled),
.ui_button.secondary:not(.disabled):active {
    border-color: #3d6e39;
    box-shadow: none;
    color: #3d6e39;
}
.offer:active .ui_button.secondary:not(.disabled).chevron:after,
.ui_button.secondary:not(.disabled):active.chevron:after {
    border-color: #3d6e39;
}
.sizedThumb {
    overflow: hidden;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img, abbr {
    border: 0;
}
address, caption, cite, code, dfn, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: bold;
}
q:before,
q:after {
    content: "";
}
p {
    margin-bottom: 12px;
}
body {
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #2c2c2c;
    background-color: #f1f1f1;
}
legend {
    margin-left: -8px!ie;
}
input[type=radio],
input[type=checkbox] {
    cursor: pointer;
}
input[disabled=disabled] {
    cursor: auto;
}
.br {
    line-height: 14px;
}
.wrap {
    height: 100%;
    overflow: hidden;
}
.easyClear {
    zoom: 1;
}
.easyClear:after {
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    content: ".";
    visibility: hidden;
    zoom: 1;
}
.street-address,
.locality span[property="v:postal-code"] {
    unicode-bidi: embed;
    direction: ltr;
}
.rtl .locality span[property="v:locality"],
.rtl .locality {
    direction: rtl;
    unicode-bidi: embed;
}
.street-address-rtl {
    unicode-bidi: embed;
    direction: rtl;
}
.phoneNumber {
    unicode-bidi: embed;
    direction: ltr;
}
img.tracking {
    display: none!important;
}
i.eg {
    display: block;
    color: #565656;
    font-size: 85%;
    font-style: normal;
    clear: both;
}
.b {
    font-weight: bold;
}
.i {
    font-style: italic;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearFix {
    clear: both;
}
img {
    vertical-align: text-top;
}
.pointer {
    cursor: pointer;
}
.hidden {
    display: none;
}
h2, h3, h4, h5, h6, caption, legend {
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
}
h1 {
    font: normal 1em/110% Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
}
#BODYCON h1 {
    font-size: 2.5835em;
    font-weight: bold;
    color: #000;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #4a4a4a;
}
h3 {
    font-size: 1.0835em;
    font-weight: bold;
    color: #4a4a4a;
}
h4, h5, h6 {
    font-size: 1em;
    font-weight: bold;
    color: #4a4a4a;
}
legend {
    color: #2c2c2c;
}
select {
    padding: 1px;
    border: 1px solid #c8c8c8;
    background-color: #fff;
}
input.text {
    margin-right: 2px;
    padding: 2px;
    border: 1px solid #c8c8c8;
    background-color: #fff;
}
.ad {
    position: relative;
    z-index: 200!important;
    margin: 0 auto;
}
iframe {
    border: none;
}
.relativeDate {
    color: #535353;
}
.relativeDate:hover {
    cursor: pointer;
    text-decoration: none;
}
a,
a:visited,
a:active {
    color: #069;
    text-decoration: none;
    outline: none;
}
.ui_button a,
.ui_button a:visited,
.ui_button a:active,
.ui_button a:hover,
.ui_button a:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}
.taLnk {
    color: #069;
    cursor: pointer;
}
.taLnk.disabled {
    color: #d6d6d6;
    cursor: default;
}
.taLnk:hover,
.taLnk.mseOvr {
    text-decoration: underline;
}
.taLnk:hover,
.taLnk.mseOvr.disabled {
    text-decoration: none;
}
#HEAD {
    background: #fff;
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    position: relative;
    width: 100%;
    z-index: 204;
    -webkit-font-smoothing: antialiased;
}
#HEAD .masthead {
    margin: 0 auto;
    position: relative;
}
.fluid #HEAD .masthead {
    margin: 0;
}
#HEAD .container {
    margin: 0 auto;
    min-height: 37px;
    position: relative;
    width: 983px;
}
#HEAD .header {
    color: #656565;
    display: inline-block;
    font-size: 1em;
    line-height: 15px;
    margin: 4px 0 0 0;
    overflow: hidden;
    vertical-align: middle;
    width: 400px;
    zoom: 1;
    display: inline!ie;
}
#HEAD .tabs {
    margin: 0 auto;
    width: 994px;
}
#HEAD .tabs>li {
    display: block;
    float: left;
    height: auto;
    margin: 1px 0 0;
    position: relative;
}
#HEAD .tabs>li:hover {
    background: none;
    box-shadow: none;
}
#HEAD .tabs a:hover {
    text-decoration: none;
}
#HEAD .single-chevron-down {
    color: #fff;
    font-size: 12px;
}
#HEAD .backBtn {
    background-color: #589422;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    padding: 8px 14px 8px 12px;
    position: relative;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
    -moz-tap-highlight-color: rgba(255, 255, 255, 0.5);
    tap-highlight-color: rgba(255, 255, 255, 0.5);
}
.masthead_notification {
    position: relative;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.masthead_notification .masthead_notifctr_dropdown {
    position: absolute;
    top: 35px;
    left: -10px;
    min-width: 270px;
    max-width: 380px;
    margin-top: 2px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: none;
    border-radius: 2px;
}
.masthead_notification .notifdd_title {
    position: relative;
    font-weight: bold;
    padding: 16px 24px;
    color: #333;
    font-size: 16px;
    line-height: 20px;
}
.masthead_notification .notifdd_title:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #e5e5e5;
    left: 0;
    right: 0;
    bottom: 0;
}
.masthead_notification .notifdd_loading {
    padding: 12px 0;
    background-color: #fff;
    text-align: center;
}
.modules-engagement-notification-dropdown .notifdd_empty {
    margin: 24px;
    font-size: 13px;
    line-height: 17px;
    color: #b7b7b7;
}
.warning {
    background-color: #F6EFE9;
    border: 1px solid #C00;
    color: #C00;
    line-height: 17px;
    margin-bottom: 14px;
    padding: 9px 13px;
}
.invisible {
    visibility: hidden;
}
#PAGE {
    font-size: .75em;
}
#MAIN {
    position: relative;
    height: 100%;
    overflow: hidden;
    clear: both;
    border: 1px solid #e3e3e3;
}
#BODYCON {
    width: 983px;
    padding-bottom: 15px;
}
#BODYCON.adjust_padding {
    margin-top: 15px;
}
#BODYCON .balance {
    width: 624px;
    padding: 0 14px 5px;
    border-right: 1px solid #e6e6e6;
    float: left;
}
#BODYCON:after {
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    content: ".";
}
.gridA {
    height: 100%;
    overflow: hidden;
}
.gridA .balance {
    width: 467px;
}
.rating {
    margin-left: 2px;
}
.rating .more {
    font-size: 14px;
}
.rating .more span {
    margin: 1px 0 0 2px;
}
#MAIN {
    border: 0;
}
#MAINWRAP {
    max-width: 1024px;
    width: auto!important;
    border: 1px solid #e3e3e3;
}
#BODYCON .balance {
    width: 644px;
    padding: 0 20px 5px 0;
}
form span.error_msg {
    display: none;
    font-style: italic;
    color: #901000;
    padding: 3px 0 5px 25px;
    margin-bottom: 5px;
}
DIV.prw_rup.prw_reviews_member_info_hsx div.avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 0;
    border: none;
    margin-bottom: 8px;
}
DIV.prw_rup.prw_reviews_member_info_hsx img.avatar {
    padding: 0;
    border: none;
    border-radius: 100%;
}
DIV.prw_rup.prw_reviews_member_info_hsx .username .scrname {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 11px;
    color: #666;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;
}
DIV.prw_rup.prw_reviews_member_info_hsx .avatarImage .imgWrap {
    border-radius: 100%;
}
DIV.prw_rup.prw_reviews_member_info_hsx .member_info {
    width: 80px;
}
DIV.prw_rup.prw_reviews_text_summary_hsx .entry {
    margin: 5px 0 0;
}
DIV.prw_rup.prw_reviews_text_summary_hsx .entry .partial_entry {
    font-size: 14px;
    line-height: 20px;
    color: #666;
    margin: 0;
}
DIV.prw_rup.prw_reviews_text_summary_hsx .partial_entry span.taLnk {
    margin-left: 4px;
    color: #069;
}
DIV.prw_rup.prw_reviews_response_header .header {
    margin-bottom: 16px;
    font-size: 14px;
    color: #333;
    font-weight: normal;
}
DIV.prw_rup.prw_reviews_vote_line_hsx {
    overflow: hidden;
    margin-top: 12px;
    width: 111%;
}
DIV.prw_rup.prw_reviews_vote_line_hsx div.helpful {
    overflow: visible;
    float: none;
}
DIV.prw_rup.prw_reviews_vote_line_hsx .hsx_thank_button {
    height: 20px;
    padding: 0 6px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: inline-block;
    background: #fff;
    color: #666;
    text-align: center;
    box-sizing: border-box;
}
DIV.prw_rup.prw_reviews_vote_line_hsx .hsx_thank_button .emphasizeWithColor {
    color: #00af87;
}
DIV.prw_rup.prw_reviews_vote_line_hsx .hsx_thank_button .thankUser {
    color: #666;
}
DIV.prw_rup.prw_reviews_vote_line_hsx .hsx_thank_button .ui_icon {
    font-size: 16px;
    line-height: 12px;
}
DIV.prw_rup.prw_reviews_vote_line_hsx .hsx_thank_button:hover {
    border-color: #00af87;
    color: #00af87;
    cursor: pointer;
}
DIV.prw_rup.prw_reviews_vote_line_hsx .tooltips.wrap {
    width: auto;
}
DIV.prw_rup.prw_reviews_vote_line_hsx .taLnk {
    margin-right: 16px;
}
DIV.prw_rup.prw_reviews_vote_line_hsx .taLnk .respondTxt,
DIV.prw_rup.prw_reviews_vote_line_hsx .taLnk .ui_icon {
    color: #666;
}
DIV.prw_rup.prw_reviews_vote_line_hsx .taLnk .respondTxt {
    margin-left: 6px;
}
DIV.prw_rup.prw_reviews_vote_line_hsx .taLnk .ui_icon {
    font-size: 16px;
}
DIV.prw_rup.prw_reviews_vote_line_hsx .isHelpful {
    font-size: 12px;
    margin: 4px 8px 0 0;
    color: #666;
    line-height: normal;
    float: left;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .wrap {
    overflow: visible;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .taLnk {
    color: #069;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .headers {
    width: 100%;
    padding: 16px;
    background: #f5f5f5;
    margin-top: -8px;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .loadingShade {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
}
.listingLoading DIV.prw_rup.prw_reviews_basic_review_hsx .loadingShade {
    display: block;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .loadingShade .ui_spinner {
    position: absolute;
    top: 111px;
    left: 50%;
    width: 44px;
    height: 44px;
    margin-top: -22px;
    margin-left: -22px;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .reviewItemInline .ui_bubble_rating {
    font-size: 18px;
    margin: 0 8px 0 1px;
    display: inline-block;
    position: relative;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .reviewItemInline .ratingDate {
    font-size: 12px;
    color: #666;
    vertical-align: 1px;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .quote {
    margin: 8px 0 0;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .entry,
DIV.prw_rup.prw_reviews_basic_review_hsx .displayText {
    font-size: 14px;
    line-height: 20px;
    color: #666;
    padding: 0;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .quote a {
    margin: 0 0 8px;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .quote a {
    font-family: Arial;
    font-size: 20px;
    color: #333;
    font-style: normal;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .note {
    color: #b7b7b7;
    font-size: 12px;
    margin-top: 12px;
    font-style: italic;
    border-top: 1px solid #e5e5e5;
    padding-top: 6px;
    display: inline-block;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .review.hsx_review .quote a:hover {
    cursor: pointer;
}
DIV.prw_rup.prw_reviews_basic_review_hsx .review.hsx_review .searchHit {
    background-color: rgba(255, 204, 0, 0.24);
    color: #666;
}
DIV.prw_rup.prw_common_location_rating .rate img {
    position: static;
}
DIV.prw_rup.prw_common_location_rating .ui_bubble_rating {
    float: left;
    font-size: 14px;
    margin-right: 6px;
}
.circularAvWrap
div.avatar {
    border: 2px solid #e5e5e5;
    border-radius: 100%;
    float: left;
    padding: 3px!important;
}
.circularAvWrap .circularAvatar
div.avatar img.avatar {
    border-radius: 100%;
}
.circularAvatar {
    border-radius: 100%;
}
.memberOverlayLink .taLnk:hover {
    text-decoration: none;
}
.ui_popover.rs {
    max-width: 250px;
    padding: 24px;
    position: absolute;
}
.ui_close_x.rs::before {
    color: #000;
}
.ulBlueLinks:hover {
    text-decoration: underline;
}
.problem {
    font-size: .9165em;
}
.username {
    clear: both;
}
.username.mo {
    height: 100%;
    overflow: hidden;
}
.username.mo .expand_inline {
    font-size: 1.0905em;
}
.username.mo .hvrIE6 {
    cursor: pointer;
}
.username.mo .hvrIE6:hover,
.username.mo .hvrIE6.mseOvr {
    text-decoration: underline;
}
.inlineReviewUpdate .col1of2 {
    margin-right: 22px;
}
.inlineReviewUpdate .username.mo .scrname {
    display: block;
    width: 112px;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
}
.inlineReviewUpdate .avatar a:hover {
    text-decoration: none;
}
.inlineReviewUpdate .badgeContainer {
    position: relative;
    width: 82px;
    min-height: 22px;
    height: auto!important;
    height: 22px;
    margin: 14px 0 0;
    padding: 6px 2px 3px;
    color: #333;
    border: 1px solid;
    text-align: center;
    word-wrap: break-word;
}
.inlineReviewUpdate .badgeContainer:hover {
    cursor: hand;
    text-decoration: none;
}
.inlineReviewUpdate .badgeContainer img {
    position: absolute;
}
.inlineReviewUpdate .badgeContainer img.icon {
    top: -17px;
    left: 30px;
}
.inlineReviewUpdate .badgeContainer img.gradient {
    width: 86px;
    top: 0;
    left: 0;
}
.inlineReviewUpdate .totalBadge {
    border-color: #e5e5e5;
    background: #f5f5f5;
}
.inlineReviewUpdate .totalBadge .labelText {
    position: relative;
    font-size: .9165em;
    color: #00a680;
}
.inlineReviewUpdate .helpful {
    padding: 0 0 0 1px;
    font-size: 1em;
}
.inlineReviewUpdate .helpful .yes.gradient {
    padding: 1px 5px 2px;
    margin: 1px 0 0;
    border: 0;
    font-size: 1em;
    font-weight: normal;
}
.inlineReviewUpdate .helpful .helpful_text {
    margin-right: 3px;
}
.inlineReviewUpdate .reportProblem {
    padding: 0;
    height: 100%;
    overflow: hidden;
    text-align: right;
}
.memberBadging {
    font-size: .9165em;
    margin-top: 4px;
}
.memberBadging .badge {
    cursor: pointer;
    margin: 0;
}
.memberBadging .badgeText {
    width: 110px;
}
.memberBadging .icon,
.memberBadging .badgeText {
    display: inline-block;
    vertical-align: middle;
}
.memberBadging.g10n .badge {
    margin: 0 0 3px;
}
.memberBadging.g10n .badge .icon {
    padding-right: 4px;
}
div.recentReviewMsg {
    margin-bottom: 6px;
}
#BODYCON,
#BODYCON .balance {
    float: left;
}
.rtl #BODYCON,
.rtl #BODYCON .balance {
    float: right;
}
#MAIN #BODYCON,
#MAIN #BODYCON .gridA {
    overflow: visible!important;
    zoom: 1;
}
#MAIN:after,
.gridA:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.gptAd.scrollAd {
    position: fixed;
}
.csa .inner {
    margin: 14px 0 0;
    padding: 3px 0 14px;
    border-bottom: 1px solid #E6E6E6;
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
}
.Hotels .csa .inner {
    margin: 14px 24px 0;
}
.thumbnails ul {
    height: 100%;
    overflow: hidden;
}
.thumbnails ul li a,
.thumbnails ul li a img {
    display: block;
}
.thumbnails ul li {
    position: relative;
    z-index: 1;
    margin-right: 9px;
    background-color: #fff;
    float: left;
}
.media {
    margin-bottom: 14px;
}
.media .thumbnails {
    margin: -10px 0 10px;
}
.media .thumbnails ul {
    height: 100%;
    overflow: hidden;
    margin: 0;
}
.media .thumbnails ul li {
    display: inline;
    position: relative;
    z-index: 1;
    margin: 10px 5px 0;
    background-color: #fff;
    float: left;
}
.media .thumbnails ul li a {
    display: block;
    border: 5px solid #d9e4c4;
}
.media .thumbnails ul li a:hover {
    border-color: #91b155;
}
.media .thumbnails ul li a:hover {
    border-color: #fff;
}
.media .thumbnails .video {
    top: 21px;
    left: 20px;
}
.media .all {
    margin: 0 0 8px;
}
.basic_review .media .thumbnails img {
    width: 50px;
    height: 50px;
}
.basic_review .media .more {
    margin-top: 4px;
    font-size: 1.0em;
}
.basic_review .media .thumbnails ul li {
    margin: 10px 1px 0;
}
.QA_form textarea::-moz-placeholder,
.answerForm textarea::-moz-placeholder {
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
}
.QA_form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 10em;
    overflow: auto;
    padding: 20px;
    border: none;
    font: 1.167em/1.14 Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #333;
    resize: none;
}
.QA_form textarea.collapsed {
    height: 5em;
}
.QA_form_wrap .textarea {
    border: none;
}
.QA_form textarea:focus,
.answerForm textarea:focus {
    outline: none;
}
.QA_form .submitWrap {
    margin-top: 10px;
}
.QA_form .submitWrap .guidelines {
    display: inline-block;
    margin: 7px 0 0 7px;
    white-space: nowrap;
    color: #069;
}
.QA_form .submitWrap .submit {
    font-weight: bold;
    line-height: 1;
}
.QA_form .optIn {
    margin: 10px 0;
    padding: 0 7px;
}
.QA_form .optIn input {
    margin-right: 7px;
}
.QA_form .optIn label {
    vertical-align: top;
}
.QA_form_wrap {
    margin: 20px 0;
    padding: 20px;
    background-color: #f5f5f5;
}
.QA_form_wrap .QA_form_header {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}
.QA_form_wrap .col1of2 {
    width: 120px;
    margin-right: 22px;
    float: left;
}
.QA_form_wrap .col1of1,
.QA_form_wrap .col2of2,
.answerForm .col1of1,
.answerForm .col2of2 {
    height: 100%;
    overflow: visible;
    border-radius: 4px;
}
.QA_form_wrap .col2of2 {
    margin-left: 145px;
}
.QA_form_wrap .member_info .QARep {
    font-size: 1em;
    font-weight: bold;
    color: #00AF87;
    clear: both;
}
.QA_form_wrap .member_info .QAReviewer {
    font-size: 1em;
    color: #666;
    clear: both;
}
.QA_form_wrap .member_info .location {
    font-size: .9165em;
}
.QA_form_wrap .textWrap {
    border: 4px solid #f5f5f5;
    background-color: #fff;
}
.QA_form_wrap .innerBubble {
    position: relative;
    border: 1px solid #e5e5e5;
    color: #333;
}
.QA_form_wrap .col2of2 .innerBubble:before,
.QA_form_wrap .col2of2 .innerBubble:after {
    display: block;
    position: absolute;
    width: 0;
    border-style: solid;
    content: "";
}
.QA_form_wrap .col2of2 .innerBubble:before {
    top: 25px;
    left: -15px;
    border-color: transparent #e5e5e5;
    border-color: rgba(255, 255, 255, 0) #e5e5e5;
    border-width: 13px 15px 13px 0;
}
.QA_form_wrap .col2of2 .innerBubble:after {
    top: 26px;
    left: -14px;
    border-color: transparent #fff;
    border-color: rgba(255, 255, 255, 0) #fff;
    border-width: 12px 14px 12px 0;
}
.QA_errors {
    margin: 12px 2px 0 0;
    padding: 5px 5px 5px 5px;
    color: #d80007;
    text-align: left;
}
.ui_tagcloud_group {
    display: inline-block;
    padding-top: 12px;
}
.ui_tagcloud_group .ui_tagcloud,
.ui_tagcloud_group .ui_tag {
    margin: 0 6px 12px 0;
}
.ui_tagcloud,
.ui_tag {
    background-color: #fff;
    color: #333;
    border: 1px solid;
    border-color: #e5e5e5 #b7b7b7 #b7b7b7 #e5e5e5;
    border-radius: 12px;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.05);
    padding: 4px 12px;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    float: left;
}
.ui_tagcloud:hover,
.ui_tag:hover {
    text-decoration: none;
    border-color: #00AF87;
    color: #00AF87;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
}
.ui_tagcloud.selected,
.ui_tag.selected {
    border-color: #00AF87;
    background-color: #00AF87;
    color: #fff;
    box-shadow: none;
}
.ui_tagcloud:focus,
.ui_tag:focus {
    outline: none;
}
.ui_tagcloud.hidden,
.ui_tag.hidden {
    display: none;
}
.ui_tagcloud.disabled,
.ui_tag.disabled {
    color: #00AF87;
    border-color: #e5e5e5;
    box-shadow: none;
    cursor: default;
}
.ui_tagcloud.truncate,
.ui_tag.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui_bubble_rating {
    display: inline-block;
    position: relative;
}
.ui_bubble_rating:before,
.ui_bubble_rating:after {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: inherit;
    line-height: 1;
    font-family: "TripAdvisor_Regular"!important;
    -ms-transform: rotate(-0.001deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}
.ui_bubble_rating:before {
    color: #fff;
    display: block;
    content: "\e00a\e00a\e00a\e00a\e00a";
}
.ui_bubble_rating:after {
    position: absolute;
    top: 0;
    left: 0;
    color: #00AF87;
}
.ui_bubble_rating.bubble_0:after,
.ui_bubble_rating.bubble_00:after {
    content: "\e00d\e00d\e00d\e00d\e00d";
}
.ui_bubble_rating.bubble_05:after {
    content: "\e00c\e00d\e00d\e00d\e00d";
}
.ui_bubble_rating.bubble_1:after,
.ui_bubble_rating.bubble_10:after {
    content: "\e00b\e00d\e00d\e00d\e00d";
}
.ui_bubble_rating.bubble_15:after {
    content: "\e00b\e00c\e00d\e00d\e00d";
}
.ui_bubble_rating.bubble_2:after,
.ui_bubble_rating.bubble_20:after {
    content: "\e00b\e00b\e00d\e00d\e00d";
}
.ui_bubble_rating.bubble_25:after {
    content: "\e00b\e00b\e00c\e00d\e00d";
}
.ui_bubble_rating.bubble_3:after,
.ui_bubble_rating.bubble_30:after {
    content: "\e00b\e00b\e00b\e00d\e00d";
}
.ui_bubble_rating.bubble_35:after {
    content: "\e00b\e00b\e00b\e00c\e00d";
}
.ui_bubble_rating.bubble_4:after,
.ui_bubble_rating.bubble_40:after {
    content: "\e00b\e00b\e00b\e00b\e00d";
}
.ui_bubble_rating.bubble_45:after {
    content: "\e00b\e00b\e00b\e00b\e00c";
}
.ui_bubble_rating.bubble_5:after,
.ui_bubble_rating.bubble_50:after {
    content: "\e00b\e00b\e00b\e00b\e00b";
}
.rtl .ui_bubble_rating:before,
.rtl .ui_bubble_rating:after {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1)";
    transform: scale(-1, 1);
}
@media print {
    .ui_bubble_rating:before {
        color: transparent;
    }
}
.ui_icon:before {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: inherit;
    line-height: 1;
    font-family: "TripAdvisor_Regular"!important;
    -ms-transform: rotate(-0.001deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}
.rtl .ui_icon:before,
.rtl .ui_icon:after {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1)";
    transform: scale(-1, 1);
}
.rtl .ui_icon.checkbox-checked:before,
.rtl .ui_icon.checkbox-checked:after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.rtl .ui_icon.checkmark-boxed:before,
.rtl .ui_icon.checkmark-boxed:after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.rtl .ui_icon.checkmark-circle-fill:before,
.rtl .ui_icon.checkmark-circle-fill:after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.rtl .ui_icon.checkmark:before,
.rtl .ui_icon.checkmark:after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.rtl.domn_iw .ui_icon.ui_icon.question-circle-fill:before,
.rtl.domn_iw .ui_icon.ui_icon.question-circle-fill:after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.button.microMeta_ylw {
    border: none;
}
#MAINWRAP {
    border: 0;
}
#HEADING .rating {
    font-size: 24px;
    line-height: 28px;
    position: relative;
}
#HEADING .rating .ui_bubble_rating {
    bottom: 4px;
}