.float-right {
    float: right;
}

.float-left {
    float: left;
}

.rtl {
    direction: rtl;
}

.clear-both {
    clear: both;
}

/*1st box styles*/

input[type="checkbox"], input[type="radio"] {
    display: none !important;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    color: #666666;
}

input[type="checkbox"] + label span, input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url('../../images/check_radio_sheet.png') left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span, input[type="radio"]:checked + label span {
    background: url('../../images/check_radio_sheet.png') -19px top no-repeat;
}

.moreItems, .lessItems {
    display: block;
    cursor: pointer;
    line-height: 30px;
    font-size: 12px;
}


.moreItems2 {
    display: block;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    text-align: -webkit-right;
}

.lessItems2 {
    display: block;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    text-align: -webkit-right;
}

/*2nd box styles*/

.filterGroupTitle {
    color: gray !important;
    /*color: #963019 !important;*/
}

/*3rd box styles*/
/*hotel list Icon*/

.shTIcon {
    font-family: shazde_regular2 !important;
    font-size: 20px;
}

.passengerIcon:before {
    content: '\E0DF';
    color: var(--koochita-light-green);
}

.minusPlusIcons {
    font-family: 'Shazde_Regular2' !important;
    font-size: 25px;
    line-height: 25px;
    color: #30b4a6;
    cursor: pointer;
    display: inline-block;
    float: left;
}

.plus:before {
    content: '\E031';
}

.minus:before {
    content: '\E034';
}

.calendarIcon {
    color: #30b4a6 !important;
    font-size: 22px;
    top: -2px;
}

.searchBottomArrowIcone:before {
    content: '\E04A';
    position: absolute;
    top: 14px;
    cursor: pointer;
}

.searchTopArrowIcone:before {
    content: '\E044';
    position: absolute;
    top: 14px;
    cursor: pointer;
}

.arrowPassengerIcone:before {
    left: 10%;
}

/*3rd box styles*/
/*details of hotel*/

.numBetweenMinusPlusBtn {
    float: left;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

/*calender section*/
.calenderBox {
    width: 22%;
    padding: 7px 8px;
    border: 2px solid #E5E5E5;
    display: inline-block;
    position: absolute;
    right: 22%;
    border-radius: 10px;
    text-align: right;
    font-weight: 700;
}

.dateLabel {
    position: relative;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    margin: 0 !important;
    cursor: pointer;
    float: right;
    max-width: 40%;
}

.inputDateLabel {
    background: transparent;
    width: 85px;
    border: none;
    position: absolute;
    top: 7px;
    right: 24%;
    cursor: pointer;
    text-align: center;
}

/*room section*/
.roomBox {
    width: 18%;
    padding: 5px 8px;
    border: 2px solid #E5E5E5;
    display: inline-block;
    position: absolute;
    right: 46%;
    border-radius: 10px;
    text-align: right;
    font-weight: 700;
}

/*search btn section*/
.srchBox {
    display: inline-block;
    position: absolute;
    right: 65%;
}

.srchBtn {
    background-color: var(--koochita-light-green);
    border: none;
    color: white;
    width: 100%;
    font-size: 2.2em;
    border-radius: 10px;
    padding: 5px 30px;
}

/*pop up*/
.roomPassengerPopUp {
    text-align: center !important;
    position: absolute;
    background-color: white;
    padding: 10px;
    top: 55px;
    right: 12%;
    left: 12%;
    border-radius: 5px;
    z-index: 999;
    border: 2px solid #e5e5e5;
}

.rowOfPopUp {
    height: 28px;
    font-size: 1.2em;
    margin-bottom: 5px;
    clear: both;
}

.selectAgeChild {
    direction: rtl;
    border: none !important;
}

/*4th box styles*/

.childrenPopUpAlert {
    width: 100%;
    margin-bottom: 5px;
    color: red;
    font-size: 0.8em;
}

.childAge {
    width: 32%;
    height: 45px;
    float: right;
}

#container1 {
    top: 400px !important;
}

/*inline styles*/

#p13n_welcome_message > div:nth-child(2) {
    height: 50px;
    margin-bottom: 25px;
}

#roomDetail {
    font-size: 1.1em;
    display: inline-block;
    cursor: pointer;
}

#room_number {
    float: right;
}

#roomCapacityBoxIcon {
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
}

#passengerArrowDown {
    display: inline-block;
}

#passengerArrowUp {
    display: inline-block;
}

#passengerNoSelectPane > div:nth-child(1) > div:nth-child(2) {
    margin-right: 25px;
}

#calendar-container-edit-2placeDate {
    margin-right: 14px !important;
}

#calendar-container-edit-2placeDate > span {
    color: #30b4a6 !important;
    font-size: 20px;
    line-height: 32px;
    position: absolute;
    right: 7px;
}

/*5th style Box After #BODYCON*/

.loader {
    /*border: 16px solid #f3f3f3;*/
    /*border-radius: 50%;*/
    background-image: url('../../images/loading.gif');
    /*border-top: 16px solid blue;*/
    /*border-right: 16px solid green;*/
    /*border-bottom: 16px solid red;*/
    width: 100px;
    height: 100px;
    /*-webkit-animation: spin 2s linear infinite;*/
    /*animation: spin 2s linear infinite;*/
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*.listBoxesMainDivs > a:nth-child(1) > div > div {*/
/*    width: 200px;*/
/*    height: 120px;*/
/*}*/

/*.listBoxesMainDivs > a:nth-child(1) > div > div > div {*/
/*    margin-top: -66px;*/
/*}*/

/*.listBoxesMainDivs > a:nth-child(1) > div:nth-child(3) > div:nth-child(2) > a > span {*/
/*    color: #16174F;*/
/*}*/

#EATERY_FILTERS_CONT > div:nth-child(1) > div > div > img:nth-child(1) {
    width: 100%;
}

#EATERY_FILTERS_CONT > div:nth-child(1) > div > div > img:nth-child(2) {
    margin-top: 18px;
    width: 100%;
}

/*search input of hotel List*/
.hl_inputBox {
    width: 100%;
    padding: 2px 7px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ebebeb;
    line-height: 30px;
    margin: 0 0 10px;
}


/*style of ordering*/

.ordering {
    display: inline-block;
    width: 15%;
    font-size: 14px;
}

.orders {
    cursor: pointer;
    padding-bottom: 12px;
    text-align: center;
}

.selectOrder {
    border-bottom: 2px solid var(--koochita-light-green);
    color: var(--koochita-light-green);
}

/*low distance styles*/

.lowDistance {
    width: 23%;
    position: absolute;
    left: -8px;
    background-color: white !important;
    padding: 10px;
    z-index: 10000013;
    box-shadow: 0px 1px 8px 3px #cccccc;
}

.inputDistance {
    padding: 5px;
    color: #464646;
}

.errDistance {
    color: #ff1515;
    font-size: 0.7em;
}

.textDistance {
    margin: 5px 0;
    color: #92321b;
    font-size: 0.7em;
}

/*hotel list Icon*/

.shTIcon {
    font-family: shazde_regular2 !important;
    font-size: 20px;
}

.bottomArrowIcon:before {
    content: '\E04A';
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: pointer;
}

.placeListHeader {
    height: 100px;
    position: relative;
}

.placeListTitle {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}
.saveAsBookmarkMainDiv, .sharePageMainDiv{
    padding: 5px 20px;
    background: #c3c3c3 !important;
    margin-top: 10px;
    border-radius: 10px;
}
.sharePageMainDiv {
    padding: 7px 20px !important;
    position: relative;
    font-weight: bold;
    /*display: flex;*/
}
#share_box, #share_box_mobile{
    bottom: -165px !important;
    left: 0px !important;
}

.ui_icon.heart:before {
    font-size: 2em;
}

.postsActionsChoices {
    text-align: center !important;
}

.eachPlace {
    float: right;
    display: flex;
    justify-content: space-around;
    padding: 0px 2px;
    margin-bottom: 15px;
}

div.prw_rup.prw_restaurants_restaurants_coverpage_content .item.name {
    max-width: 200px;
}

.listShareIconPc{
    display: inline-block;
    float: right;
    font-size: 17px;
    line-height: 15px;
    margin-right: 10px;
}

.sharePageLabel{
    display: inline-block;
    margin-right: 10px;
}

.placeListBody{
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
}

.placeListSortDiv{
    margin-bottom: 10px;
    padding-top: 5px;
}

.placeListBodyContentSection{
    direction: rtl;
    padding: 9px 18px;
    border-right: 1px solid #e5e5e5;
}

.placeListBodyFilterSection{
    direction: rtl;
    padding: 10px;
    padding-right: 0px;
}

.filterGroupTitle{
    /*padding: 0 0 11px !important;*/
    font-size: 20px;
}

.poiTitle{
    font-size: 16px;
    font-weight: normal;
    color: #000000;
}

.contentDetailName{
    width: 95%;
    margin: 7px 0px;
}

.listBoxesMainDivs{
    width: 100%;
}

.contentImgSection{
    position: relative;
}
.contentImgSection .locationIcon{
    position: absolute;
    left: 8px;
    bottom: 12px;
    font-size: 20px;
    color: var(--koochita-red);
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.contentImgSection .locationIcon:after{
    content: '';
    width: 20px;
    height: 20px;
    background: var(--koochita-red);
    position: absolute;
    bottom: -10px;
    transform: rotateX(76deg);
    border-radius: 50%;
}

.contentImg{
    height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: .3s;
}

.contentImg:hover{
    opacity: 0.8;
}

.rating-count{
    display: flex;
    align-items: center;
}

.rating-widget{
    margin-left: 5px;
}

.review_count{
    color: #666666;
    font-size: 13px;
}

.itemState{
    float: right;
    padding: 0;
    font-size: 0.75em;
    color: #666666;
}
.bookMarkIconOnPic{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    color: black;
    cursor: pointer;
}
.bookMarkIconOnPic:hover{
    color: var(--koochita-yellow);
}

.heartOnPic{
    position: absolute;
    top: 0;
    right: 3px;
    font-size: 24px;
    color: black;
    cursor: pointer;
}

.heartOnPic:hover{
    color: red;
}

.filterItem{
    color: #666666;
    font-size: 0.75em;
    padding: 6px 0;
}

.headerFilter{
    margin-bottom: 15px;
}

.option{
    padding: 0px 5px;
}

.notingToShowDiv{
    background: #e2c8c2;
    display: flex;
    padding: 10px;
    align-items: center;
}

.notingToShowImgDiv{
    width: 120px;
}

.notingToShowTextDiv{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 15px;
}

.notingToShowClose{
    font-size: 65px;
    color: white;
    line-height: 1;
    cursor: pointer;
}

.goToCampain{
    cursor: pointer;
    color: blue;
}

.rebrand_2017 .masthead {
    margin-bottom: 0px !important;
}
.red-heart-fill::before {
    content: '\e012' !important;
    color: #ff0000 !important;
    float: right;
    font-family: Shazde_Regular2 !important;
    font-size: 22px;
    margin-top: 3px;
}
.elements{
    width: 200px;
    height: 200px;
    margin: 20px 5px;
    border: solid gray 3px;
}
.filtersExist {
    padding: 2%;
    margin: 2%;
    background-color: var(--koochita-light-green);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.filterCloseIcon {
    font-size: 1.5em;
    margin-right: 5px;
    cursor: pointer;
}
.hl_compareBtn {
    background-color: var(--koochita-yellow);
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0 10px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
}
.hl_compareBtn:hover {
    opacity: 0.75;
}
.filterGroupTitle{
    overflow: visible !important;
}
div.prw_rup.prw_common_centered_thumbnail .centering_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    top: auto;
}
div.prw_rup.prw_common_centered_thumbnail .sizing_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.searchBox{
    position: absolute;
    top: 70px;
    z-index: 9;
    width: 100%;
    background: #ebebeb;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 6px 12px 0px #e0e0e08a;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
}
.searchBox .result{
    font-size: 13px;
    margin: 3px 0px;
    padding: 5px 10px;
    border-bottom: solid 1px gainsboro;
    cursor: pointer;
    transition: .3s;
}
.searchBox .result:hover{
    background: white;
    border-radius: 14px;
    color: var(--koochita-light-green);
}
.searchBox .loading{
    width: 30px;
    margin: 0px auto;
}
.searchBox .loading svg{
    width: 100%;
    height: auto;
}
.searchBox .loading path{
    fill: var(--koochita-blue);
}

.globalSearchResult .result{
    padding: 5px 10px;
    margin: 5px 10px;
    border-bottom: solid 1px #e4e4e4;
}

.materialSearchSelected{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.materialSearchSelected .matSel{
    color: white;
    background: var(--koochita-light-green);
    border-radius: 5px;
    padding: 5px 7px;
    margin: 5px 0px;
    cursor: pointer;
}

.filterShow .filters{
    display: flex;
    color: white;
    background: var(--koochita-light-green);
    align-items: center;
    justify-content: center;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}
.filterHeaderWithClose{
    display: flex;
    justify-content: space-between;
}


.localShopCategoryFilterSection{
    padding: 10px;
    border: solid 2px #0000009c;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    height: 120px;
}
.localShopCategoryFilterSection .mainLocalShopCategoryList{
    display: flex;
    flex-direction: column;
    direction: rtl;
    position: absolute;
    right: 0px;
    width: 100%;
    transition: .3s;
    top: 10px;
    bottom: 10px;
    padding: 0px 10px;
}
.localShopCategoryFilterSection .mainLocalShopCategoryList.hideOnBottom{
    top: 100%;
    bottom: unset;
}
.localShopCategoryFilterSection .mainLocalShopCategoryList.hideOnTop{
    bottom: 100%;
    top: unset;
}
.localShopCategoryFilterSection .mainLocalShopCategoryList .header{
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}
.localShopCategoryFilterSection .mainLocalShopCategoryList .header .emptyRightArrowLine{
    width: 25px;
    height: 25px;
    border: solid 2px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}
.localShopCategoryFilterSection .mainLocalShopCategoryList .categorySections{
    display: flex;
}
.localShopCategoryFilterSection .mainLocalShopCategoryList .categorySections .locCategory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    padding: 5px 10px;
    border: solid 1px #545454;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    width: auto;
    cursor: pointer;
    transition: .2s;
}
.localShopCategoryFilterSection .mainLocalShopCategoryList .categorySections .locCategory:hover{
    background: var(--koochita-yellow);
    color: white;
}
.localShopCategoryFilterSection .mainLocalShopCategoryList .categorySections .locCategory.selected{
    background: var(--koochita-yellow);
    color: white;
}
.localShopCategoryFilterSection .mainLocalShopCategoryList .categorySections .locCategory .icon{
    /*display: none;*/
}
.localShopCategoryFilterSection .mainLocalShopCategoryList .categorySections .locCategory .name{
    font-size: .8em;
}


@media (min-width: 992px) and (max-width: 1189px) {
    .lhr .filterGroupTitle {
        font-size: 18px !important;
    }
    .sorting {
        font-size: 12px !important;
    }
}

@media (max-width: 992px) {

    .sorting {
        width: 100% !important;
        font-size: 9px !important;
    }

    .ordering {
        width: 15% !important;
        font-size: 11px !important;
    }

    .sharePageMainDiv {
        margin-left: -15px;
    }
}

@media (max-width: 845px) {

    .sorting {
        font-size: 8px !important;
    }

    .lhr .filterGroupTitle {
        font-size: 18px !important;
    }

    .ordering {
        width: 15% !important;
        font-size: 10px !important;
    }
}

@media (max-width: 767px) {

    .sorting {
        font-size: 8px !important;
    }
    .notingToShowDiv{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .notingToShowTextDiv{
        margin-top: 15px;
    }

    #PlaceController {
        padding: 5px 15px !important;
        border-right: none;
    }
    .eachPlace {
        margin-bottom: 10px;
    }
    .placeListHeader {
        margin-top: 25px;
    }
    .placeListTitle {

    }
    #helpBtnMainDiv {
        left: -24px !important;
    }
    .sharePageIcon::before,
    .sharePageIconFill::before {
        right: 33px !important;
    }
    .sharePageMainDiv {
        margin-left: -170px !important;
        padding: 7px 27px !important;
    }
    #share_box, #share_box_mobile{
        bottom: -165px !important;
        left: 160px !important;
    }
    #share_box::before, #share_box_mobile::before{
        left: 11px !important;
    }
    .lp_ar_contentOfFilters.fil{
        height: calc(100% - 90px) !important;
        overflow: hidden;
        background: white;
        position: relative;
        border: solid 2px black;
        border-top: 0px;
    }
    .eatery_filters {
        height: calc(100% - 175px) !important;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0px 10px;
        padding-bottom: 30px !important;
    }
    .filterHeaderWithClose{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .filterGroupTitle {
        margin: 5px 0;
        line-height: 30px;
    }
    .moreItems {
        padding: 5px 0;
        font-size: 0.8em;
        color: #333;
    }
    .lessItems {
        padding: 5px 0;
        font-size: 0.8em;
    }

    /*style of ordering*/
    .ordering {
        display: block;
        width: 100% !important;
        font-size: 17px !important;
    }
    .orders {
        padding: 5px;
        margin: 5px 0;
        text-align: center;
        border: 2px solid var(--koochita-light-green);
        border-radius: 10px;
        color: var(--koochita-light-green);
        min-height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .selectOrder {
        background-color: var(--koochita-light-green);
        color: white;
    }

    .placeListMobileTopPic{
        position: relative;
    }
    .placeListMobileTopPic .listTitle{
        position: absolute;
        top: 0px;
        background: #0000006e;
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        direction: rtl;
        flex-direction: column;
    }
    .placeListMobileTopPic .listTitle div{
        font-family: 'Shin' !important;
        text-align: center;
        font-size: 90px;
        line-height: 48px;
    }
    .placeListMobileTopPic .botGradient{
        position: absolute;
        background: linear-gradient(180deg, #0000006e, transparent);
        width: 100%;
        height: 20%;
        top: 80%;
    }
}

@media (max-width: 450px) {
    .eachPlace {
        display: block;
    }
}

/*[["\u0633\u0645\u0627\u0642 \u062e\u0634\u06a9 \u0648 \u0646\u06a9\u0648\u0628\u06cc\u062f\u0647","\u06cc\u06a9 \u067e\u06cc\u0645\u0627\u0646\u0647"],["\u0628\u0631\u0646\u062c","\u06cc\u06a9 \u0648 \u0646\u06cc\u0645 \u067e\u06cc\u0645\u0627\u0646\u0647"],["\u0639\u0635\u0627\u0631\u0647 \u0642\u0644\u0645 \u06cc\u0627 \u0645\u0631\u063a","\u0628\u0647 \u0645\u0642\u062f\u0627\u0631 \u0644\u0627\u0632\u0645"],["\u0644\u0648\u0628\u06cc\u0627 \u0686\u0634\u0645 \u0628\u0644\u0628\u0644\u06cc","\u062f\u0648 \u067e\u06cc\u0645\u0627\u0646\u0647"],["\u0633\u0628\u0632\u06cc \u0645\u0639\u0637\u0631 \u0622\u0634 \u062e\u0631\u062f \u0634\u062f\u0647","\u0646\u06cc\u0645 \u06a9\u06cc\u0644\u0648"],["\u06af\u0648\u062c\u0647 \u0641\u0631\u0646\u06af\u06cc","\u06cc\u06a9 \u06a9\u06cc\u0644\u0648"],["\u0646\u0645\u06a9 \u0648 \u0641\u0644\u0641\u0644","\u0628\u0647 \u0645\u0642\u062f\u0627\u0631 \u0644\u0627\u0632\u0645"],["\u0646\u0639\u0646\u0627 \u062f\u0627\u063a\u060c \u067e\u06cc\u0627\u0632 \u062f\u0627\u063a \u0648 \u0633\u06cc\u0631 \u062f\u0627\u063a","\u0628\u0647 \u0645\u0642\u062f\u0627\u0631 \u0644\u0627\u0632\u0645"]]*/
