body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'IRANSansWeb' !important;
}
a {
    text-decoration: none;
}

button,input,p,h1,h2,h3,h4,h5,h6,a,div,textarea{
    font-family: 'IRANSansWeb' !important;

}
.masthead_notification {
    position: relative;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.masthead_notification .masthead_notifctr_dropdown {
    position: absolute;
    top: 35px;
    left: -10px;
    min-width: 270px;
    max-width: 380px;
    margin-top: 2px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: none;
    border-radius: 2px;
}
.masthead_notification .notifdd_title {
    position: relative;
    font-weight: bold;
    padding: 16px 24px;
    color: #333;
    font-size: 16px;
    line-height: 20px;
}
.masthead_notification .notifdd_title:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #e5e5e5;
    left: 0;
    right: 0;
    bottom: 0;
}
.masthead_notification .notifdd_loading {
    padding: 12px 0;
    background-color: #fff;
    text-align: center;
}
.modules-engagement-notification-dropdown .notifdd_empty {
    margin: 24px;
    font-size: 13px;
    line-height: 17px;
    color: #b7b7b7;
}
.ui_button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    padding: 9px 16px 8px;
    font-weight: bold;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 3px;
    background-clip: padding-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}
.ui_button:focus {
    text-decoration: none;
    outline: none;
}
.ui_button.hidden {
    display: none;
}
.ui_button.small {
    padding: 7px 10px 6px;
    font-size: 12px;
    line-height: 15px;
}
.ui_button.danger {
    border-color: #e5e5e5 #b7b7b7 #b7b7b7 #e5e5e5;
    background-color: #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.05);
    color: #d80007;
}
.ui_button.primary {
    border-color: var(--koochita-light-green);
    background-color: var(--koochita-light-green);
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.25);
    color: #fff;
}
.rtl .ui_button.primary {
    border-color: var(--koochita-light-green) var(--koochita-light-green) var(--koochita-light-green) var(--koochita-light-green) ;
    box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.25);
}
.ui_button.primary.disabled {
    opacity: .35;
    border-color: transparent;
    box-shadow: none;
    cursor: auto;
}
.offer:hover .ui_button.primary:not(.disabled),
.ui_button.primary:not(.disabled):hover {
    text-decoration: none;
    border-color: #30b4a6;
    background-color: #30b4a6;
}
.rtl .offer:hover .ui_button.primary:not(.disabled),
.rtl .ui_button.primary:not(.disabled):hover {
    border-color: #30b4a6;
}
.offer:active .ui_button.primary:not(.disabled),
.ui_button.primary:not(.disabled):active {
    background-color: var(--koochita-light-green);
    border-color: var(--koochita-light-green);
    box-shadow: none;
}
.ui_button.secondary {
    border-color: #e5e5e5 #b7b7b7 #b7b7b7 #e5e5e5;
    background-color: #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.05);
    color: #00AF87;
}
.rtl .ui_button.secondary {
    border-color: #e5e5e5 #e5e5e5 #b7b7b7 #b7b7b7;
    box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.05);
}
.ui_button.secondary.chevron:after {
    border-color: #00AF87;
}
.ui_button.secondary.disabled {
    opacity: .35;
    border-color: #b7b7b7;
    box-shadow: none;
    cursor: auto;
}
.offer:hover .ui_button.secondary:not(.disabled),
.ui_button.secondary:not(.disabled):hover {
    text-decoration: none;
    border-color: #00AF87;
}
.offer:active .ui_button.secondary:not(.disabled),
.ui_button.secondary:not(.disabled):active {
    border-color: #3d6e39;
    box-shadow: none;
    color: #3d6e39;
}
.offer:active .ui_button.secondary:not(.disabled).chevron:after,
.ui_button.secondary:not(.disabled):active.chevron:after {
    border-color: #3d6e39;
}
.ui_button.chevron:not(.lte_ie8) {
    padding-right: 36px;
}
.ui_button.chevron:not(.lte_ie8):after {
    position: absolute;
    top: 50%;
    right: 13px;
    width: 6px;
    height: 6px;
    margin-top: -4px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    content: "";
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.ui_button.chevron.small:not(.lte_ie8) {
    padding-right: 30px;
}
.ui_button.chevron.small:not(.lte_ie8):after {
    width: 5px;
    height: 5px;
}
.ui_button.chevron.large:not(.lte_ie8) {
    padding-right: 42px;
}
.ui_button.chevron.large:not(.lte_ie8):after {
    width: 7px;
    height: 7px;
}
.rtl .ui_button.chevron:not(.lte_ie8):after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.hidden {
    display: none;
}
.ui_backdrop {
    display: block;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.ui_backdrop.dark {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    filter: alpha(80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
}
.ui_backdrop.light {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    filter: alpha(80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
}
.ui_backdrop.fade_short {
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}
.ui_backdrop.fade_in {
    opacity: 1;
}
.ui_close_x {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    text-align: center;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
    cursor: pointer;
}
.ui_close_x:before {
    font-size: 28px;
    line-height: 36px;
    color: #00AF87;
    content: "\00d7";
}
.ui_close_x:hover {
    opacity: .7;
}
.ui_modal .ui_close_x {
    width: 48px;
    height: 48px;
}
.ui_modal .ui_close_x:before {
    font-size: 32px;
    line-height: 48px;
}
.small .ui_close_x {
    width: 24px;
    height: 24px;
}
.small .ui_close_x:before {
    font-size: 18px;
    line-height: 24px;
}
.ui_modal.small .ui_close_x:before {
    font-size: 24px;
}
.dark .ui_close_x:before {
    color: #fff;
}
.ui_bubble_rating {
    display: inline-block;
    position: relative;
}
.ui_bubble_rating:before,
.ui_bubble_rating:after {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: inherit;
    line-height: 1;
    font-family: 'Shazde_Regular'!important;
    -ms-transform: rotate(-0.001deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}
.ui_bubble_rating:before {
    color: #fff;
    display: block;
    content: "\e00a\e00a\e00a\e00a\e00a";
}
.ui_bubble_rating:after {
    position: absolute;
    top: 0;
    left: 0;
    color: #4dc;
}
.ui_bubble_rating.bubble_0:after,
.ui_bubble_rating.bubble_00:after {
    content: "\e00d\e00d\e00d\e00d\e00d";
}
.ui_bubble_rating.bubble_05:after {
    content: "\e00c\e00d\e00d\e00d\e00d";
}
.ui_bubble_rating.bubble_1:after,
.ui_bubble_rating.bubble_10:after {
    content: "\e00b\e00d\e00d\e00d\e00d";
}
.ui_bubble_rating.bubble_15:after {
    content: "\e00b\e00c\e00d\e00d\e00d";
}
.ui_bubble_rating.bubble_2:after,
.ui_bubble_rating.bubble_20:after {
    content: "\e00b\e00b\e00d\e00d\e00d";
}
.ui_bubble_rating.bubble_25:after {
    content: "\e00b\e00b\e00c\e00d\e00d";
}
.ui_bubble_rating.bubble_3:after,
.ui_bubble_rating.bubble_30:after {
    content: "\e00b\e00b\e00b\e00d\e00d";
}
.ui_bubble_rating.bubble_35:after {
    content: "\e00b\e00b\e00b\e00c\e00d";
}
.ui_bubble_rating.bubble_4:after,
.ui_bubble_rating.bubble_40:after {
    content: "\e00b\e00b\e00b\e00b\e00d";
}
.ui_bubble_rating.bubble_45:after {
    content: "\e00b\e00b\e00b\e00b\e00c";
}
.ui_bubble_rating.bubble_5:after,
.ui_bubble_rating.bubble_50:after {
    content: "\e00b\e00b\e00b\e00b\e00b";
}
.rtl .ui_bubble_rating:before,
.rtl .ui_bubble_rating:after {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1)";
    transform: scale(-1, 1);
}
@media print {
    .ui_bubble_rating:before {
        color: transparent;
    }
}
.ui_input_checkbox .label,
.ui_input_checkbox label {
    position: relative;
}
.ui_input_checkbox .label:before,
.ui_input_checkbox label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    background-color: #fff;
    border: 1px solid #b7b7b7;
    border-radius: 2px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    font: normal bold normal 1em/1 'Shazde_Regular';
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
}
.ui_input_checkbox .input_hidden,
.ui_input_checkbox input {
    display: none;
}
.ui_input_checkbox .input_hidden:checked+.label:before,
.ui_input_checkbox input:checked+.label:before,
.ui_input_checkbox .input_hidden:checked+label:before,
.ui_input_checkbox input:checked+label:before {
    background-color: #00AF87;
    content: "\e02b";
    speak: none;
}
.ui_tabs {
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: inherit;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    line-height: 18px;
}
.ui_tabs .leading_title {
    display: inline-block;
    font-weight: bold;
}
.ui_tabs ul {
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
}
.ui_tabs li {
    display: inline-block;
}
.ui_tabs a {
    text-decoration: none;
}
.ui_tabs .ui_tab {
    display: inline-block;
    padding: 0 12px;
    text-align: center;
    cursor: pointer;
    color: #666;
    vertical-align: middle;
    height: 42px;
}
.ui_tabs .ui_tab:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.ui_tabs .ui_tab:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.ui_tabs .ui_tab:hover,
.ui_tabs .ui_tab:focus,
.ui_tabs .ui_tab.active {
    text-decoration: none;
    color: #333;
}
.ui_tabs .ui_tab.active {
    border-top: 2px solid transparent;
    border-bottom: 2px solid #00AF87;
    font-weight: bold;
}
.ui_tabs.centered {
    text-align: center;
}
.ui_tabs.small {
    font-size: 12px;
}
.ui_tabs.medium {
    font-size: 14px;
}
.ui_tabs.large {
    font-size: 16px;
}
.ui_tabs.inverted {
    border-bottom: none;
}
.ui_tabs.inverted ul {
    border-bottom: none;
}
.ui_tabs.inverted .ui_tab {
    color: #fff;
}
.ui_tabs.inverted .ui_tab:hover {
    color: rgba(255, 255, 255, 0.75);
}
.ui_tabs.inverted .ui_tab.active {
    color: #fff;
    border-bottom-color: #fff;
    padding: 13px;
}
.ui_tabs.toggle {
    border-bottom: none;
}
.ui_tabs.toggle .ui_tab {
    position: relative;
    border: 1px solid #e5e5e5;
    border-right: none;
    margin-right: 0;
    background-color: #fff;
}
.ui_tabs.toggle .ui_tab:hover {
    background-color: #f5f5f5;
    z-index: 2;
}
.ui_tabs.toggle .ui_tab:first-child {
    border-radius: 2px 0 0 2px;
}
.ui_tabs.toggle .ui_tab:last-child {
    border-radius: 0 2px 2px 0;
    border-right: 1px solid #e5e5e5;
}
.ui_tabs.toggle .ui_tab.active {
    background-color: #00AF87;
    border-color: #00AF87;
    color: #fff;
    z-index: 1;
}
.ui_icon:before {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: inherit;
    line-height: 1;
    font-family: 'Shazde_Regular'!important;
    -ms-transform: rotate(-0.001deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}
.rtl .ui_icon:before,
.rtl .ui_icon:after {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1)";
    transform: scale(-1, 1);
}
.ui_icon.casino:before {
    content: "\e0dd";
}
.ui_icon.globe-world:before {
    content: "\e018";
}
.ui_icon.member:before {
    content: "\e0aa";
}
.ui_icon.menu-bars:before {
    content: "\e035";
}
.ui_icon.menu:before {
    content: "\e0dc";
}
.ui_icon.my-trips:before {
    content: "\e0c5";
}
.ui_icon.notification-bell:before {
    content: "\e05f";
}
.ui_icon.pencil-paper:before {
    content: "\e00e";
}
.ui_icon.pencil:before {
    content: "\e00f";
}
.ui_icon.search:before {
    content: "\e056";
}
.ui_icon.single-chevron-down-circle-fill:before {
    content: "\e040";
}
.ui_icon.single-chevron-down-circle:before {
    content: "\e03f";
}
.ui_icon.single-chevron-down:before {
    content: "\e03e";
}
.ui_icon.single-chevron-left-circle-fill:before {
    content: "\e043";
}
.ui_icon.single-chevron-left-circle:before {
    content: "\e042";
}
.ui_icon.single-chevron-left:before {
    content: "\e041";
}
.ui_icon.single-chevron-right-circle-fill:before {
    content: "\e03d";
}
.ui_icon.single-chevron-right-circle:before {
    content: "\e03c";
}
.ui_icon.single-chevron-right:before {
    content: "\e03b";
}
.ui_icon.single-chevron-up-circle-fill:before {
    content: "\e03a";
}
.ui_icon.single-chevron-up-circle:before {
    content: "\e039";
}
.ui_icon.single-chevron-up:before {
    content: "\e038";
}
.ui_icon.thumbs-down-fill:before {
    content: "\e058";
}
.ui_icon.thumbs-up-fill:before {
    content: "\e057";
}
.ui_icon.times:before {
    content: "\e02c";
}
.ui_column {
    display: block;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 12px;
    box-sizing: border-box;
}
@media(max-width:767px) {
    .ui_column {
        padding: 8px;
    }
}
.ui_column>.ui_columns {
    margin-top: -12px;
    margin-bottom: -12px;
}
@media(max-width:767px) {
    .ui_column>.ui_columns {
        margin-top: -8px;
        margin-bottom: -8px;
    }
}
@media(max-width:767px) {
    .ui_column.is-4-mobile {
        -webkit-box-flex: 0;
        flex: none;
        width: 33.33333333%;
    }
    .ui_column.is-offset-4-mobile {
        margin-left: 33.33333333%;
    }
}
@media(min-width:768px) {
    .ui_column.is-4,
    .ui_column.is-4-tablet {
        -webkit-box-flex: 0;
        flex: none;
        width: 33.33333333%;
    }
    .ui_column.is-offset-4,
    .ui_column.is-offset-4-tablet {
        margin-left: 33.33333333%;
    }
}
@media(min-width:1024px) {

    .ui_column.is-4-desktop {
        -webkit-box-flex: 0;
        flex: none;
        width: 33.33333333%;
    }
}
@media(min-width:1188px) {

    .ui_column.is-4-widescreen {
        -webkit-box-flex: 0;
        flex: none;
        width: 33.33333333%;
    }
    .ui_column.is-offset-4-widescreen {
        margin-left: 33.33333333%;
    }
}
.ui_container {
    position: relative;
    padding: 0 24px;
    box-sizing: border-box;
}
@media(max-width:767px) {
    .ui_container {
        padding: 0 16px;
    }
    .ui_container.is-mobile {
        padding: 0 24px;
    }
}
@media(min-width:1024px) {
    .ui_container {
        margin: 0 auto;
        max-width: 1024px;
    }
    .ui_container.is-fluid {
        margin: 0 24px;
        max-width: none;
    }
}
@media(min-width:1188px) {
    .ui_container {
        max-width: 1188px;
    }
}
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.ui_spinner {
    text-align: center;
}
.ui_spinner:before {
    content: "";
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;
    border: 4px solid #00AF87;
    border-right-color: #f5f5f5;
    border-radius: 50%;
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
}
@-webkit-keyframes pulseDot {
    0%, 20% {
        background-color: #ccc;
    }
    10% {
        background-color: #00AF87;
    }
}
@keyframes pulseDot {
    0%, 20% {
        background-color: #ccc;
    }
    10% {
        background-color: #00AF87;
    }
}
@-webkit-keyframes pulseDotLight {
    0%, 20% {
        background-color: #ccc;
    }
    10% {
        background-color: #666;
    }
}
@keyframes pulseDotLight {
    0%, 20% {
        background-color: #ccc;
    }
    10% {
        background-color: #666;
    }
}
@-webkit-keyframes pulseDotDark {
    0%, 20% {
        background-color: #fff;
    }
    10% {
        background-color: #666;
    }
}
@keyframes pulseDotDark {
    0%, 20% {
        background-color: #fff;
    }
    10% {
        background-color: #666;
    }
}
.is-hidden {
    display: none!important;
}
@media(min-width:300px) {
    .is-hidden-tablet {
        display: none!important;
    }
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-bar-container {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-bar-container .global-nav-links {
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-bar-container .global-nav-actions {
    display: block;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    /*margin-left: ;*/
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-links-container {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-links-container ul {
    display: inline-block;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-links-container .global-nav-links-menu {
    display: block;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    overflow: hidden;
    white-space: normal;
}
@media(min-width:768px) and (max-width:1023px) {
    DIV.ppr_rup.ppr_priv_global_nav .global-nav-single-line.has-links .global-nav-bar-container {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 92px;
    }
    DIV.ppr_rup.ppr_priv_global_nav .global-nav-single-line.has-links .global-nav-links-container {
        position: relative;
    }
    DIV.ppr_rup.ppr_priv_global_nav .global-nav-single-line.has-links .global-nav-links {
        display: block;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        order: 1;
        position: relative;
        overflow: visible;
        height: 42px;
        margin-top: -3px;
        margin-left: -12px;
    }
    DIV.ppr_rup.ppr_priv_global_nav .global-nav-single-line.has-links .global-nav-links .global-nav-link {
        height: 41px;
    }
    DIV.ppr_rup.ppr_priv_global_nav .global-nav-single-line.has-links .global-nav-links:before {
        content: '';
        position: absolute;
        left: -24px;
        right: -24px;
        top: 0;
        bottom: 0;
        background-color: #fff;
        border-top: 1px solid #e5e5e5;
    }
    DIV.ppr_rup.ppr_priv_global_nav .global-nav-single-line.has-links .global-nav-green .global-nav-links:before {
        background-color: #00af87;
    }
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-logo {
    display: inline-block;
    vertical-align: top;
    user-select: none;
    margin-right: 12px;
    height: 50px;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-logo:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-logo img {
    width: 160px;
    vertical-align: middle;
    height: inherit;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-logo img.global-nav-svg {
    height: 50px;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-bar {
    background-color: #00af87;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-bar .ui_icon {
    color: #fff;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-bar-container {
    height: 50px;
    box-sizing: border-box;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-actions {
    height: 50px;
    padding-top: 2px;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-actions .ui_icon:before {
    font-size: 28px;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-actions .ui_icon:hover {
    color: #000;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-actions>div {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    line-height: 50px;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-actions>div:empty {
    margin-left: 0;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-hamburger {
    display: inline-block;
    margin-right: 12px;
    font-size: 28px;
    line-height: 45px;
    cursor: pointer;
}
DIV.ppr_rup.ppr_priv_global_nav .profile-name {
    color: #333;
    font-weight: bold;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-links {
    vertical-align: top;
    overflow: hidden;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-links .unscoped {
    font-weight: bold;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-bottom .global-nav-links-menu {
    height: 42px;
    box-sizing: border-box;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-link {
    box-sizing: border-box;
    letter-spacing: .125px;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-link>.ui_icon {
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-persistent.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10002;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-single-line .global-nav-links {
    display: inline-block;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-single-line .global-nav-link {
    height: 49px;
    box-sizing: border-box;
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-green .global-nav-link,
DIV.ppr_rup.ppr_priv_global_nav .global-nav-green .ui_icon {
    color: rgba(255, 255, 255, 0.9);
}
DIV.ppr_rup.ppr_priv_global_nav .global-nav-green .global-nav-link:hover:not(.active),
DIV.ppr_rup.ppr_priv_global_nav .global-nav-green .ui_icon:hover:not(.active) {
    color: #fff;
}
@media(max-width:767px) {
    DIV.ppr_rup.ppr_priv_global_nav .global-nav-logo {
        line-height: 45px;
    }
    DIV.ppr_rup.ppr_priv_global_nav .global-nav-logo img {
        width: 130px;
    }
}
DIV.ppr_rup.ppr_priv_global_nav .jewel {
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    padding: 0 4px;
    background-color: #ef6945;
    color: #fff;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-backdrop {
    z-index: -1;
    opacity: 0;
    transition: z-index 300ms, opacity 300ms;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-container {
    position: fixed;
    z-index: 20000;
    top: 0;
    bottom: 0;
    left: 0;
    width: 87vw;
    margin-left: 0;
    overflow-x: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    background-color: #fff;
    transition: margin 300ms;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-container.off-canvas {
    left: auto;
    margin-left: -100%;
    margin-left: -100vw;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-container .global-nav-link,
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-container .subLink {
    display: block;
    height: auto;
    padding: 0;
    color: #333;
    font-weight: normal;
    border: none;
    font-size: 16px;
    line-height: 20px;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-container .global-nav-link:hover,
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-container .subLink:hover {
    background: none;
    color: #333;
    text-decoration: none;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-container li {
    display: block;
    margin: 12px 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e5e5;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-container li,
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-container li a {
    color: #666;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-container .sidebar-nav-profile:last-child,
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-container .sidebar-nav-links-more:last-child,
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-container .global-nav-links-menu:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-header {
    height: 50px;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-header:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-close {
    display: inline-block;
    margin-right: 12px;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    cursor: pointer;
    color: #000;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-title {
    margin-bottom: 24px;
    color: #b7b7b7;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-links-container {
    position: relative;
    margin-top: 32px;
    padding-top: 32px;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-links-container:before {
    content: "";
    position: absolute;
    left: -16px;
    right: -16px;
    top: 0;
    border-top: 3px solid #f5f5f5;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-profile-container .ui_button {
    margin-bottom: 12px;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-profile-container .ui_button:last-child {
    margin-bottom: 0;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-profile-linker {
    margin: 0 -16px 24px -16px;
    padding: 24px 16px;
    background-color: #f5f5f5;
    cursor: pointer;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-profile-linker .global-nav-profile-linker {
    display: block;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-profile-linker .ui_icon {
    display: inline-block;
    font-size: 42px;
    width: 42px;
    height: 42px;
    vertical-align: bottom;
    color: #333;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-profile-linker .profile-link {
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-profile-linker .profile-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
DIV.ppr_rup.ppr_priv_global_nav .sidebar-nav-profile-linker .profile-link-text {
    font-size: 14px;
    line-height: 18px;
    color: #666;
}
@-webkit-keyframes cartIconBounce {
    0%, 100% {
        -webkit-transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
    }
}
@keyframes cartIconBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
}
DIV.ppr_rup.ppr_priv_global_nav_action_notif .masthead_notifctr_dropdown {
    margin-top: 0;
    z-index: 204;
    top: 47px;
    left: -230px!important;
}
DIV.ppr_rup.ppr_priv_global_nav_action_notif .masthead_notifctr_sprite {
    cursor: pointer;
}
DIV.ppr_rup.ppr_priv_global_nav_action_profile .global-nav-utility-activator {
    cursor: pointer;
}
DIV.ppr_rup.ppr_priv_global_nav_action_profile .login-button.ui_button {
    margin-left: 16px;
    margin-right: 8px;
    top: -4px;
}
DIV.ppr_rup.ppr_priv_global_nav_action_profile .name {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    max-width: 6em;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 18px;
    padding-top: 12px;
    margin: 0 4px;
    color: rgba(255, 255, 255, 0.9);
}
DIV.ppr_rup.ppr_priv_global_nav_action_profile .name::before {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: inherit;
    line-height: 1;
    font-family: 'Shazde_Regular'!important;
    -ms-transform: rotate(-0.001deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    content: '\e04a';
    font-size: 16px;
    position: absolute;
    right: 0;
}
DIV.ppr_rup.ppr_priv_global_nav_action_profile .global-nav-utility-activator:hover {
    color: #fff;
}
DIV.ppr_rup.ppr_priv_global_nav_action_profile .global-nav-utility-activator:hover .ui_icon,
DIV.ppr_rup.ppr_priv_global_nav_action_profile .global-nav-utility-activator:hover .name {
    color: #fff;
}
DIV.ppr_rup.ppr_priv_global_nav_action_trips .trips-icon {
    display: block;
    vertical-align: middle;
    cursor: pointer;
}
DIV.ppr_rup.ppr_priv_masthead_search .hidden {
    display: none;
}
@media(max-width:767px) {
    DIV.ppr_rup.ppr_priv_masthead_search .body_text {
        height: 100%;
    }
}
DIV.ppr_rup.ppr_priv_masthead_search .mag_glass_parent {
    display: inline-block;
    position: relative;
}
DIV.ppr_rup.ppr_priv_masthead_search .mag_glass_parent .separator {
    display: inline-block;
    height: 36px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    margin-top: -21px;
}
@media(max-width:767px) {
    DIV.ppr_rup.ppr_priv_masthead_search .mag_glass_parent .separator {
        display: none;
    }
}
DIV.ppr_rup.ppr_priv_masthead_search .mag_glass_parent .ui_icon.search {
    cursor: pointer;
    padding-left: 13px;
}
@media(max-width:767px) {
    DIV.ppr_rup.ppr_priv_masthead_search .mag_glass_parent .ui_icon.search {
        padding-left: 0;
    }
}
DIV.ppr_rup.ppr_priv_masthead_search input.focusClear {
    color: #b7b7b7;
}
DIV.ppr_rup.ppr_priv_masthead_search input::-webkit-input-placeholder {
    color: #b7b7b7;
}
DIV.ppr_rup.ppr_priv_masthead_search input:-moz-placeholder {
    color: #b7b7b7;
    opacity: 1;
}
DIV.ppr_rup.ppr_priv_masthead_search input::-moz-placeholder {
    color: #b7b7b7;
    opacity: 1;
}
DIV.ppr_rup.ppr_priv_masthead_search input:-ms-input-placeholder {
    color: #b7b7b7;
}
DIV.ppr_rup.ppr_priv_masthead_search .dual_search_loader_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    display: none;
}