#BODYCON a:hover {
    text-decoration: underline;
}

#MAIN table, #MAIN table tbody {
    border-collapse: separate;
}

#MAIN table tbody td {
    vertical-align: middle;
}

select, input, textarea {
    font: normal 1em Arial, Helvetica, sans-serif;
}

.p5 {
    padding: 5px;
}

.p0 {
    padding: 5px;
}

.complete {
    color: #3A8E1B;
}

.progress {
    color: #A62100;
}

#OptOut {
    margin-top: 20px;
}

#OptOut p {
    margin: 20px 0;
}

#OptOut .clear {
    clear: both;
}

#dummy {
    margin: 0;
}


a.grey {
    color: #666;
    font-size: 11px;
}

a.grey:visited {
    color: #666;
    font-size: 11px;
}

a.grey:link {
    color: #666;
    font-size: 11px;
}

a.grey:hover {
    color: #666;
    font-size: 11px;
}

div.subHeader {
    text-align: left;
    padding: 10px;
    background-color: #F4F4F4;
}

.hang {
    text-indent: -16px;
    margin-left: 16px;
}

.SortNavOff a img {
    display: none;
}

.SortNavOff a:link {
    display: block;
    background-color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: right;
    padding: 2px 2px;
    color: black;
}

.SortNavOff a:visited {
    display: block;
    background-color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: right;
    padding: 2px 2px;
    color: black;
}

.SortNavOff a:active {
    display: block;
    background-color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: right;
    padding: 2px 2px;
    color: black;
}

.SortNavOff a:hover {
    display: block;
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: right;
    padding: 2px 2px;
    color: black;
}

.SortNavOn a:link {
    display: block;
    background-color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: left;
    padding: 2px 2px;
    color: black;
}

.SortNavOn a:visited {
    display: block;
    background-color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: left;
    padding: 2px 2px;
    color: black;
}

.SortNavOn a:active {
    display: block;
    background-color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: left;
    padding: 2px 2px;
    color: black;
}

.SortNavOn a:hover {
    display: block;
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: left;
    padding: 2px 2px;
    color: black;
}

.inboxHeaders td {
    border-bottom: 1px solid #ccc;
    background-color: #FFF;
    padding: 3px 0;
}

.clear {
    clear: both;
}

.alignLeft {
    text-align: left;
}

.bottomNav div, .bottomNav td {
    color: #7E7E7E;
    padding: 12px;
}

.topicText {
    font-size: 12pt;
    font-weight: bold;
    padding-right: 10px;
    float: left;
}

a.gray {
    color: #666;
}

div.row div.oP1 {
    float: left;
    width: 60px;
    text-align: center;
}

div.row div.oP2 {
    float: left;
    width: 70px;
    margin-right: 10px;
    text-align: center;
}

div.row div.oP3 {
    float: left;
    width: 202px;
}

#MAIN .b-lrb {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#MAIN .right {
    float: right;
}

#MAIN .left {
    float: right;
}

#MAIN .p10 {
    padding: 10px;
}

#MAIN .m2m_link {
    background: transparent url(/img/m2m/m2m_ButtonBG.gif) no-repeat scroll right center;
    float: left;
    white-space: nowrap;
}

#MAIN .m2m_copy {
    margin-right: 4px;
    white-space: nowrap;
}

#MAIN .m2m_copy img {
    border: 0;
    vertical-align: middle;
    float: none;
}

#MAIN #inbox {
    vertical-align: top;
    width: 785px;
}

#MAIN .SortNavOff a, #MAIN .SortNavOn a,
#MAIN #PROFILE_MESSAGING .saveLeftNav .displayFolder .saveLink,
#MAIN #PROFILE_MESSAGING .saveLeftNav .selectedFolder .saveLink {
    color: #000 !important;
    text-decoration: none !important;
}

#MAIN .SortNavOn a img {
    vertical-align: middle;
}

#MAIN .heading {
    position: relative;
    margin: 13px 0 15px;
    padding-right: 180px;
}

.Settings #BODYCON {
    width: 955px;
}

.Settings a, .Settings .taLnk {
    color: #069;
}

.Settings table {
    width: 100%;
}

.Settings table thead td, .Settings table thead th {
    font-weight: normal;
}

.Settings table thead tr th {
    padding: 11px 0;
    font-size: 1.1670em;
    color: #000;
}

.Settings table tr td {
    padding: 7px 0;
}

.Settings table tr td.option {
    width: 76px;
    padding: 9px;
    text-align: center;
    color: #828282;
}

.Settings table tr td.subscribe {
    background-color: #f2f2f2;
}

#MAIN table.subscription, #MAIN table.subscription table, #MAIN table.subscription tbody {
    border-collapse: collapse;
}

.Settings table.subscription {
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}

.Settings table.subscription thead th {
    border-bottom: 1px solid #d2d2d2;
}

.Settings table.subscription thead td {
    border-bottom: 1px solid #d2d2d2;
}

.Settings table.subscription tbody td {
    border-top: 1px solid #eee;
    color: #828282;
    padding: 10px 0;
}

.Settings table.subscription tbody td strong {
    color: #333;
    font-weight: normal;
}

.Settings table.subscription table thead th {
    background-color: #f2f2f2;
    border-bottom: none;
}

.Settings .trigger {
    margin: 11px 15px 0 4px;
    float: right;
}

.Settings .trigger.inline {
    margin: 0;
    float: none;
    display: inline-block;
    *display: inline;
}

.Settings .trigger.inline li {
    display: inline-block;
    *display: inline;
}

.Settings .trigger .icn {
    position: relative;
    left: 2px;
    cursor: pointer;
}

.Settings form.notifications {
    padding: 0 32px;
}

#BODYCON td.messaging span {
    padding: 4px;
}

#BODYCON td.messaging span input {
    padding-right: 4px;
}

#MAIN {
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#MAIN .heading sup {
    font-size: .6em;
}

li.error {
    color: #c00;
}

.Settings h2, .MemberProfile h2, .members h2 {
    padding: 7px 15px 5px 10px;
    border-bottom: 1px solid #d5e3bb;
    background-color: #ecf1e1;
    font: bold 1.1670em Arial, sans-serif;
    line-height: 120%;
    color: #2c2c2c;
}

.formRule {
    border-bottom: 1px dotted #90b254;
}

.Settings div.arrow {
    float: left;
    height: 19px;
    width: 20px;
    margin-top: 35px;
}

.Settings #BODYCON .box {
    background-color: #ECF1E1;
    border: 1px solid #91B155;
    padding: 3px;
}

.Settings span.error {
    color: #c00;
}

.Settings .box .inner dd img {
    display: inline;
}

.Settings .box .inner .more {
    padding-bottom: 10px;
}

.Settings fieldset.save {
    clear: both;
    padding: 10px 0 0 103px;
}

#JfySettings h1 {
    font-size: 2em;
}

.icnLink {
    margin-right: 5px;
    overflow: hidden;
}

.fl {
    float: left;
}

.Messages #BODYCON.col {
    width: 100%;
}

#MESSAGES_CONTENT .msgArea {
    background-color: #fff;
    margin-top: 25px;
    padding: 12px;
}

#MESSAGES_CONTENT .saveLeftNav .displayFolder, #MESSAGES_CONTENT .saveLeftNav .selectedFolder {
    padding: 6px;
}

.memberProfile div.messagingButton, #MESSAGES_CONTENT div.messagingButton {
    border: 1px solid #c8c8c8;
    float: right;
    margin: 1px 5px 5px 0;
    padding: 4px 6px;
    background-color: #faf7f5;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fbfbfb', endColorstr='#ebebeb');
    background-image: -o-linear-gradient(bottom, #ebebeb 0, #ededed 22%, #f8f8f8 77%, #fbfbfb 100%);
    background-image: -moz-linear-gradient(bottom, #ebebeb 0, #ededed 22%, #f8f8f8 77%, #fbfbfb 100%);
    background-image: -webkit-linear-gradient(bottom, #ebebeb 0, #ededed 22%, #f8f8f8 77%, #fbfbfb 100%);
    background-image: -ms-linear-gradient(bottom, #ebebeb 0, #ededed 22%, #f8f8f8 77%, #fbfbfb 100%);
    background-image: -webkit-gradient(linear, bottom, top, color-stop(0%, #ebebeb), color-stop(22%, #ededed), color-stop(77%, #f8f8f8), color-stop(100%, #fbfbfb));
    background-image: linear-gradient(to top, #ebebeb 0, #ededed 22%, #f8f8f8 77%, #fbfbfb 100%);
}

.memberProfile div.messagingButton.gold, #MESSAGES_CONTENT div.messagingButton.gold {
    border-color: #F7C64C;
    background-color: #f9faca;
    background: -moz-linear-gradient(top, #f9faca 0, #f7c64c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9faca), color-stop(100%, #f7c64c));
    background: -webkit-linear-gradient(top, #f9faca 0, #f7c64c 100%);
    background: -o-linear-gradient(top, #f9faca 0, #f7c64c 100%);
    background: -ms-linear-gradient(top, #f9faca 0, #f7c64c 100%);
    background: linear-gradient(to bottom, #f9faca 0, #f7c64c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9faca', endColorstr='#f7c64c', GradientType=0);
}

#MESSAGES_CONTENT div.messagingButton .m2m_link {
    background: none;
}

.memberProfile .p5 {
    padding: 12px;
}

.avatarUI {
    position: relative;
    height: 620px;
    margin-top: 30px;
}

.avatarUI .circularAvWrap {
    position: relative;
    overflow: hidden;
    border: 2px solid #EDEDED;
    border-radius: 100%;
    padding: 3px;
    height: 84px;
    width: 84px;
}

.avatarUI .circularAvWrap .circularAvatar {
    display: block;
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

.avatarUI .circularAvWrap.loading .circularAvatar {
    display: none;
}

.avatarUI .description, .avatarUI .instructions {
    color: #4a4a4a;
}

.avatarUI .creatingAvatar {
    display: none;
    width: 585px;
    text-align: center;
}

.avatarUI .creatingAvatar.fromList .avatarList {
    overflow: auto;
    height: 355px;
    border: 1px solid #EBEBEB;
    padding: 10px 22px;
}

.avatarUI .creatingAvatar.fromList .avatarList .circularAvWrap {
    margin: 5px 5px;
    float: left;
    box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, .25);
    position: static;
}

.avatarUI .creatingAvatar.fromList .avatarList .circularAvWrap.current {
    border-color: #00AF87;
}

.avatarUI .uploadAvatarOptions {
    display: none;
    float: left;
}

.avatarUI .currentAvatar, .avatarUI .uploadAvatarOptions .avatarOption, .avatarUI .uploadAvatarPopup .avatarPreview {
    float: left;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.3335em;
}

.avatarUI .uploadAvatarOptions .avatarOption {
    width: 140px;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    height: 90px;
    cursor: pointer;
    color: #4a4a4a;
    margin: 10px 15px 0 15px;
    padding: 126px 35px 0 35px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25);
}

.avatarUI .uploadAvatarOptions .avatarOption:hover {
    border-color: #00AF87;
    box-shadow: 0 1px 1px 0 rgba(88, 148, 66, .25);
}

.avatarUI .uploadAvatarOptions .avatarOption.optionList {
    background: no-repeat center 56px;
}

.avatarUI .uploadAvatarOptions .avatarOption.optionUpload {
    background: no-repeat 52% 56px;
}

.avatarUI .uploadAvatarOptions .avatarOption.optionWebcam {
    background: no-repeat center 56px;
}

.avatarUI .currentAvatar {
    width: 140px;
    border-right: 1px solid #EBEBEB;
    height: 100%;
    margin: 0 16px 0 23px;
    padding: 0 30px 0 0;
}

.avatarUI .currentAvatar .description {
    padding-bottom: 10px;
    display: inline-block;
}

.avatarUI .currentAvatar .circularAvWrap, .avatarUI .uploadAvatarPopup .avatarPreview .circularAvWrap {
    margin: 20px auto;
}

.avatarUI .uploadAvatarPopup .actionsSide {
    float: left;
}

.avatarUI .uploadAvatarPopup .avatarPreview {
    float: right;
    width: 140px;
    height: 100%;
    border-left: 1px solid #EBEBEB;
    margin: 0 16px;
    padding: 0 28px 0 58px;
}

.avatarUI .uploadAvatarPopup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    width: 100%;
    height: 100%;
}

.avatarUI .uploadAvatarPopup .uploadAvatarPopupInner {
    padding: 30px;
    overflow: hidden;
    height: 450px;
    margin: 2px;
}

.avatarUI::-ms-browse {
    height: 30px;
    color: #069;
    line-height: 20px;
    font-size: 1.167em;
    font-weight: bold;
    border: 1px solid #C8C8C8;
    border-radius: 2px;
    padding: 4px 30px;
    margin-right: 3px;
    margin-bottom: 1px;
    background: #EBEBEB;
    background: -moz-linear-gradient(top, #FBFBFB 0, #EBEBEB 100%);
    background: -webkit-linear-gradient(top, #FBFBFB 0, #EBEBEB 100%);
    background: -o-linear-gradient(top, #FBFBFB 0, #EBEBEB 100%);
    background: -ms-linear-gradient(top, #FBFBFB 0, #EBEBEB 100%);
    background: linear-gradient(to bottom, #FBFBFB 0, #EBEBEB 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#EBEBEB', GradientType=0);
}

.avatarUI ::-webkit-file-upload-button {
    height: 40px;
    color: #069;
    line-height: 30px;
    font-size: 1.167em;
    font-weight: bold;
    border: 1px solid #C8C8C8;
    border-radius: 2px;
    padding: 4px 13px;
    background: #EBEBEB;
    background: -moz-linear-gradient(top, #FBFBFB 0, #EBEBEB 100%);
    background: -webkit-linear-gradient(top, #FBFBFB 0, #EBEBEB 100%);
    background: -o-linear-gradient(top, #FBFBFB 0, #EBEBEB 100%);
    background: -ms-linear-gradient(top, #FBFBFB 0, #EBEBEB 100%);
    background: linear-gradient(to bottom, #FBFBFB 0, #EBEBEB 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#EBEBEB', GradientType=0);
}

.avatarUI .creatingAvatar input {
    height: 40px;
    outline: 0;
    border: 1px solid #EBEBEB;
    background-color: white;
    width: 100%;
    border-radius: 2px;
    box-shadow: -3px 2px 8px 0 rgba(0, 0, 0, .25) inset;
    margin-bottom: 10px;
}

.avatarUI .uploadImgCropper, .rtl .avatarUI .uploadImgCropper {
    display: inline-block;
    text-align: left;
}

.avatarUI .uploadImgCropper {
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    max-height: 365px;
    max-width: 590px;
    box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, .25);
    margin-bottom: 10px;
}

#BODYCON {
    width: 777px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

#MAIN {
    background: none;
}

.MemberProfile table {
    width: 100%;
    margin-bottom: 23px;
}

.MemberProfile table thead td, .MemberProfile table thead th {
    border-bottom: solid 1px #d5e3bb;
    background-color: #ecf1e1;
    font-weight: bold;
}

.MemberProfile table thead tr th {
    padding: 6px 10px 4px;
}

.MemberProfile table thead tr th {
    font-size: 1.3335em;
}

.MemberProfile table tr td {
    padding: 7px 0;
}

.MemberProfile table tr td.option {
    width: 76px;
    padding: 9px;
    text-align: center;
}

.MemberProfile table tr td.subscribe {
    background-color: #f6f6ea;
}

.MemberProfile .trigger {
    margin: 5px 15px 0 4px;
    float: right;
}

.MemberProfile .trigger .icn {
    position: relative;
    left: 2px;
    cursor: pointer;
}

.MemberProfile form.notifications {
    padding: 0 20px;
}

.MemberProfile table.community label {
    padding-right: 10px;
    font-weight: normal;
    cursor: pointer;
}

.MemberProfile table.community td.messaging {
    padding: 10px 11px 14px;
    border-bottom: 1px dotted #c8d8aa;
}

#BODYCON td.messaging span {
    padding: 4px;
}

#BODYCON td.messaging span input {
    padding-right: 4px;
}

.MemberProfile div.arrow {
    float: left;
    height: 19px;
    width: 20px;
    margin-top: 35px;
}

.MemberProfile #BODYCON .box {
    background-color: #ECF1E1;
    border: 1px solid #91B155;
    padding: 3px;
}

.MemberProfile span.error {
    color: #c00;
}

.MemberProfile .box .inner dd img {
    display: inline;
}

.MemberProfile .avatarOptions {
    float: right;
    width: 675px;
    margin-top: 8px;
}

.MemberProfile fieldset.save {
    clear: both;
    padding: 10px 0 0 103px;
}

.memberData {
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    padding: 0 11px 5px;
}

.public, .private {
    border: 1px solid #e3e3e3;
    border-bottom: none;
    margin-bottom: 16px;
}

.public li, .private li {
    padding: 5px 11px 4px;
    line-height: 17px;
    border-bottom: 1px solid #e3e3e3;
}

.selected {
    background-color: #f1f1f1;
}

.children li {
    font-size: .9165em;
    border-bottom: none;
    padding: 0;
}

.memberCenter a, .memberCenter a:active, .memberCenter a:visited, .memberCenter .taLnk {
    color: #069;
}

.memberCenter .warning {
    border: 1px solid #E3E3E3;
    border-top: none;
    background-color: white;
    font-weight: bold;
    text-align: center;
}

#tagPrompt .title {
    background: #00AF87;
    padding: 13px;
    color: #FFF;
    font-weight: normal;
    font-size: 16px;
}

#tagPrompt .title2 {
    color: #000;
    font-weight: bold;
    padding: 13px 13px 0;
    font-size: 16px;
}

#memberTags {
    padding-bottom: 25px;
}

#memberTags .subtitle {
    font-weight: bold;
    padding: 10px 13px 0;
    font-size: 13px;
    color: #4a4a4a;
}

#memberTags .progressBar {
    height: 15px;
    background: #E9E9E9;
    display: inline-block;
}

#memberTags .progressBar.left {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#memberTags .progressBar.right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#memberTags .progressBar.filled {
    background: #6BA454;
}

#memberTags .progressBar.space {
    background: #FFF;
}

#memberTags .tags {
    padding: 6px 10px;
    width: 752px;
}

#memberTags .tagContainer {
    display: inline-block;
    cursor: pointer;
}

#memberTags .tag {
    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 6px 6px;
    font-weight: normal;
}

#memberTags .tagBubble {
    box-shadow: 0 1px #CCC;
    padding: 8px;
    margin: 6px 2px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

#memberTags .tagBubble .tagText {
    display: inline-block;
    vertical-align: middle;
    padding-right: 12px;
}

#memberTags .tagBubble:hover {
    color: #769B2B;
    border: 1px solid #8F8F8F;
}

#memberTags .tagContainer.tagged .tagBubble {
    background-color: #195019;
}

#memberTags .tagContainer.tagged .tagBubble .tagText {
    color: #FFF;
}

#memberTags .tagSelection {
    display: none;
}

#memberTags .tagBox {
    margin: 4px 2px;
    text-align: center;
    color: #FFF;
    height: 96px;
    border: 4px solid #FFF;
    position: relative;
}

#tagPrompt .submitOptions {
    padding: 12px 17px;
    background-color: #f0f0f0;
}

#tagPrompt .submitOptions .submitBtn, #tagPrompt .submitOptions .skipBtn {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    margin: 0 10px 0 0;
    font-size: 14px;
    cursor: pointer;
}

#tagPrompt .submitOptions .submitBtn {
    padding: 8px 44px;
    height: 20px;
    border-radius: 3px 3px;
    cursor: default;
    color: #FFF;
    border: 1px solid #a7a7a7;
    background: -moz-linear-gradient(top, rgba(215, 215, 215, 0.73) 0, rgba(160, 160, 160, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(215, 215, 215, 0.73)), color-stop(100%, rgba(160, 160, 160, 1)));
    background: -webkit-linear-gradient(top, rgba(215, 215, 215, 0.73) 0, rgba(160, 160, 160, 1) 100%);
    background: -o-linear-gradient(top, rgba(215, 215, 215, 0.73) 0, rgba(160, 160, 160, 1) 100%);
    background: -ms-linear-gradient(top, rgba(215, 215, 215, 0.73) 0, rgba(160, 160, 160, 1) 100%);
    background: linear-gradient(to bottom, rgba(215, 215, 215, 0.73) 0, rgba(160, 160, 160, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bad7d7d7', endColorstr='#a0a0a0', GradientType=0);
}

#tagPrompt .submitOptions .submitBtn.active {
    cursor: pointer;
    border: 1px solid #6BA353;
    background: -moz-linear-gradient(top, rgba(123, 188, 96, 0.73) 0, rgba(107, 164, 84, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(123, 188, 96, 0.73)), color-stop(100%, rgba(107, 164, 84, 1)));
    background: -webkit-linear-gradient(top, rgba(123, 188, 96, 0.73) 0, rgba(107, 164, 84, 1) 100%);
    background: -o-linear-gradient(top, rgba(123, 188, 96, 0.73) 0, rgba(107, 164, 84, 1) 100%);
    background: -ms-linear-gradient(top, rgba(123, 188, 96, 0.73) 0, rgba(107, 164, 84, 1) 100%);
    background: linear-gradient(to bottom, rgba(123, 188, 96, 0.73) 0, rgba(107, 164, 84, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba7bbc60', endColorstr='#6ba454', GradientType=0);
}

#tagPrompt .submitOptions .skipBtn {
    color: #069;
    display: inline-block;
}

#memberTags .tags .subtitle {
    font-size: 1.5em;
    height: 25px;
    padding-left: 5px;
}

.ui_button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    padding: 9px 16px 8px;
    font-weight: bold;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 3px;
    background-clip: padding-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.ui_button:focus {
    text-decoration: none;
    outline: none;
}

.ui_button.hidden {
    display: none;
}

.ui_button.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ui_button.small {
    padding: 7px 10px 6px;
    font-size: 12px;
    line-height: 15px;
}

.ui_button.small .ui_loader > span {
    width: 7px;
    height: 6px;
}

.ui_button.small .ui_loader > span::before {
    width: 6px;
    height: 6px;
    border-radius: 6px;
}

.ui_button.large {
    padding: 11px 22px 10px;
    font-size: 16px;
    line-height: 19px;
}

.ui_button.large .ui_loader > span {
    width: 13px;
    height: 10px;
}

.ui_button.large .ui_loader > span::before {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.ui_button.resize {
    font-size: 10px;
}

.ui_button.fullwidth {
    width: 100%;
}

.ui_button.danger {
    border-color: #e5e5e5 #b7b7b7 #b7b7b7 #e5e5e5;
    background-color: #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.05);
    color: #d80007;
}

.ui_button .ui_loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: center;
}

.ui_button.loading {
    color: transparent !important;
    pointer-events: none;
}

.ui_button.loading .ui_loader {
    display: -webkit-box;
    display: flex;
}

.ui_button.standard .ui_loader > span::before, .ui_button.secondary .ui_loader > span::before {
    -webkit-animation-name: pulseDotLight;
    animation-name: pulseDotLight;
}

.ui_button.original .ui_loader > span::before, .ui_button.primary .ui_loader > span::before {
    background-color: #fff;
    -webkit-animation-name: pulseDotDark;
    animation-name: pulseDotDark;
}

.ui_button.standard {
    border-color: #e6e6e6 #ccc #ccc #e6e6e6;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.07);
    color: #4a4a4a;
}

.rtl .ui_button.standard {
    border-color: #e6e6e6 #e6e6e6 #ccc #ccc;
    box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.07);
}

.ui_button.standard.chevron:after {
    border-color: #4a4a4a;
}

.ui_button.standard.disabled {
    opacity: .35;
    border-color: transparent;
    box-shadow: none;
    cursor: auto;
}

.offer:hover .ui_button.standard:not(.disabled), .ui_button.standard:not(.disabled):hover {
    text-decoration: none;
    background-color: #e6e6e6;
}

.offer:active .ui_button.standard:not(.disabled), .ui_button.standard:not(.disabled):active {
    background-color: #dfdfdf;
    border-color: #dfdfdf;
    box-shadow: none;
}

.ui_button.primary {
    border-color: #00AF87 #2f582c #2f582c #00AF87;
    background-color: #00AF87;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.25);
    color: #fff;
}

.rtl .ui_button.primary {
    border-color: #00AF87 #00AF87 #2f582c #2f582c;
    box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.25);
}

.ui_button.primary.chevron:after {
    border-color: #fff;
}

.ui_button.primary.disabled {
    opacity: .35;
    border-color: transparent;
    box-shadow: none;
    cursor: auto;
}

.ui_button_activator:hover .ui_button.primary:not(.disabled), .offer:hover .ui_button.primary:not(.disabled), .ui_button.primary:not(.disabled):hover {
    text-decoration: none;
    border-color: #007c60 #2f582c #2f582c #007c60;
    background-color: #007c60;
}

.rtl .ui_button_activator:hover .ui_button.primary:not(.disabled), .rtl .offer:hover .ui_button.primary:not(.disabled), .rtl .ui_button.primary:not(.disabled):hover {
    border-color: #007c60 #007c60 #2f582c #2f582c;
}

.ui_button_activator:active .ui_button.primary:not(.disabled), .offer:active .ui_button.primary:not(.disabled), .ui_button.primary:not(.disabled):active {
    background-color: #00634c;
    border-color: #00634c;
    box-shadow: none;
}

.ui_button.original {
    border-color: #fc0 #e4a000 #e4a000 #fc0;
    background-color: #fc0;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.15);
    color: #000;
}

.rtl .ui_button.original {
    border-color: #fc0 #fc0 #e4a000 #e4a000;
    box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.15);
}

.ui_button.original.chevron:after {
    border-color: #000;
}

.ui_button.original.disabled {
    opacity: .35;
    border-color: transparent;
    box-shadow: none;
    cursor: auto;
}

.offer:hover .ui_button.original:not(.disabled), .ui_button.original:not(.disabled):hover {
    text-decoration: none;
    border-color: #ffb300 #e4a000 #e4a000 #ffb300;
    background-color: #ffb300;
}

.rtl .offer:hover .ui_button.original:not(.disabled), .rtl .ui_button.original:not(.disabled):hover {
    border-color: #ffb300 #ffb300 #e4a000 #e4a000;
}

.offer:active .ui_button.original:not(.disabled), .ui_button.original:not(.disabled):active {
    background-color: #f5ac00;
    border-color: #f5ac00;
    box-shadow: none;
}

.hidden {
    display: none;
}

.ui_modal {
    left: -9999em;
    top: -9999em;
    z-index: 10004;
    display: inline-block;
    padding: 48px;
    background-color: #ebebeb;
    background-color: #fff;
    border-color: #ebebeb;
    border-color: #fff;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ui_modal.fade_short {
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.ui_modal.fade_in {
    opacity: 1;
}

@media (max-width: 767px) {
    .ui_modal {
        padding: 16px;
    }
}

.ui_modal.small {
    padding: 18px;
}

.ui_modal.dark {
    background-color: #2C2C2C;
}

.ui_modal.no_padding {
    padding: 0;
}

.ui_modal.fullwidth {
    width: 100%;
}

.ui_modal .header_text {
    display: block;
    margin: -5px 0 8px;
    font-size: 26px;
    line-height: 30px;
    color: #4a4a4a;
}

.ui_modal .subheader_text {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 22px;
    color: #4a4a4a;
}

.ui_modal .body_text {
    font-size: 12px;
    line-height: 16px;
    color: #4a4a4a;
}

.ui_modal_card {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10004;
    box-sizing: border-box;
    -ms-flex-direction: column;
}

.ui_modal_card.is-active {
    display: -webkit-box;
    display: flex;
}

.ui_modal_card * {
    box-sizing: inherit;
}

.ui_modal_card .modal-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.ui_modal_card .modal-content, .ui_modal_card .modal-card {
    margin: 0 12px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
}

@media (min-width: 768px) {
    .ui_modal_card .modal-content, .ui_modal_card .modal-card {
        margin: 0 auto;
        max-height: calc(100vh - 48px);
    }
}

.ui_modal_card .modal-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-height: calc(100vh - 48px);
    padding: 48px 0;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    width: 640px;
    background-color: #fff;
}

@media (max-width: 767px) {
    .ui_modal_card .modal-card {
        max-height: none;
        height: 100%;
        width: 100%;
        margin: 0;
    }
}

.ui_modal_card .ui_close_x, .ui_modal_card .modal-close {
    display: block;
    width: 48px;
    height: 48px;
}

.ui_modal_card .ui_close_x:before, .ui_modal_card .modal-close:before {
    font-size: 32px;
    line-height: 48px;
}

.ui_modal_card .modal-card-head {
    padding: 0 48px 48px;
}

@media (max-width: 767px) {
    .ui_modal_card .modal-card-head {
        padding: 0 16px 16px;
    }
}

.ui_modal_card .modal-card-head, .ui_modal_card .modal-card-foot {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    flex-shrink: 0;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: relative;
}

.ui_modal_card .modal-card-title {
    color: #00AF87;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 24px;
    line-height: 1;
    margin: 0;
}

.ui_modal_card .modal-card-foot {
    padding: 24px 48px 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.ui_modal_card .modal-card-foot .ui_button:not(:last-child) {
    margin-right: 10px;
}

.ui_modal_card .modal-card-body {
    -webkit-overflow-scrolling: touch;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 0 48px;
}

@media (max-width: 767px) {
    .ui_modal_card .modal-card-body {
        padding: 0 16px;
    }
}

.ui_backdrop {
    display: block;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ui_backdrop.dark {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
}

.ui_backdrop.light {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
}

.ui_backdrop.fade_short {
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.ui_backdrop.fade_in {
    opacity: 1;
}

.ui_close_x {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    text-align: center;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
    cursor: pointer;
}

.ui_close_x:before {
    font-size: 28px;
    line-height: 36px;
    color: #00AF87;
    content: "\00d7";
}

.ui_close_x:hover {
    opacity: .7;
}

.ui_modal .ui_close_x {
    width: 48px;
    height: 48px;
}

.ui_modal .ui_close_x:before {
    font-size: 32px;
    line-height: 48px;
}

.small .ui_close_x {
    width: 24px;
    height: 24px;
}

.small .ui_close_x:before {
    font-size: 18px;
    line-height: 24px;
}

.ui_modal.small .ui_close_x:before {
    font-size: 24px;
}

.dark .ui_close_x:before {
    color: #fff;
}

@keyframes spinnerArmFade {
    0% {
        background: #000;
    }
    100% {
        background: #FFF;
    }
}

@-o-keyframes spinnerArmFade {
    0% {
        background: #000;
    }
    100% {
        background: #FFF;
    }
}

@-ms-keyframes spinnerArmFade {
    0% {
        background: #000;
    }
    100% {
        background: #FFF;
    }
}

@-webkit-keyframes spinnerArmFade {
    0% {
        background: #000;
    }
    100% {
        background: #FFF;
    }
}

@-moz-keyframes spinnerArmFade {
    0% {
        background: #000;
    }
    100% {
        background: #FFF;
    }
}