.overlay {
    background: #fff;
}
.overlay .inner {
    padding: 8px 12px;
    background: #fff;
}
.overlay .inner .travelportDisclaimer {
    margin: 10px 0 5px;
    float: left;
}
.overlay .noPad {
    padding: 0;
    background: #fff;
}
.overlay .inner #overlay_description {
    width: 395px;
    overflow: auto;
    padding-bottom: 12px;
}
.overlay .inner #overlay_description_title {
    padding-bottom: 12px;
}
.overlay .inner #desc_prov_hotel {
    color: #999;
    font-size: .9165em;
    padding-top: 12px;
}
.overlay .close {
    z-index: 202;
    background: url("/img2/sprites/gui-v21.gif") no-repeat -50px 0;
    width: 12px;
    height: 12px;
    top: 8px;
    right: 8px;
}
.overlay .roundOuterClose {
    z-index: 10000;
    top: -17px;
    right: -17px;
    width: 35px;
    height: 34px;
    background-image: url('/img2/close.png');
}
.overlay .innerClose {
    z-index: 10000;
    background: url("/img2/icons/greenX.gif") no-repeat;
    background-position: center;
    width: 15px;
    height: 15px;
    top: 8px;
    right: 8px;
}
.overlay.s1 {
    border-width: 1px;
    border-style: solid;
}
.overlay.s2 {
    border-width: 2px;
    border-style: solid;
}
.overlay.s3 {
    border-width: 3px;
    border-style: solid;
}
.overlay.s4 {
    border-width: 4px;
    border-style: solid;
}
.overlay.s10px {
    border-width: 10px;
    border-style: solid;
}
.overlay.s1-2 {
    border-width: 1px 2px 2px 1px;
    border-style: solid;
}
.overlay.s5 {
    background-color: #FFFAE0;
    border: 1px solid #EADD89;
    font-family: Arial;
    font-size: 13px;
    color: #2c2c2c;
    margin: 10px;
}
.overlay.s7trans {
    border: 7px solid #ccc;
    border: 7px solid rgba(144, 144, 144, 0.65);
    background-color: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 5px;
}
.overlay.s7trans .anim_loop {
    margin: 0 45%;
}
.overlay.lg .close,
.overlay.mg .close,
.overlay.dg .close,
.overlay.persistentCR .close {
    background-position: -170px -2243px;
    width: 13px;
    height: 13px;
}
.overlay.persistentCR .legend {
    font-weight: bold;
    font-size: 1.5em;
    color: #000;
    margin: 0 0 5px;
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
}
.overlay.persistentCR .legend.rd {
    width: auto;
    color: white;
}
.overlay.persistentCR .legendMax {
    font-weight: bold;
    font-size: 1.475em;
    color: #2C2C2C;
    margin: 0 0 9px;
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    margin: 0 0 14px 0;
}
.overlay.persistentCR .legendMin {
    font-weight: bold;
    font-size: 1.475em;
    color: #2C2C2C;
    margin: 0 0 9px;
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    margin: 14px 0 14px 163px;
}
.persistentCR .sprite-greenX.rd1 {
    background-image: url("/img2/meta_sprites/pcr_rd_close.jpg");
    background-position: 0 0;
}
.persistentCR .sprite-greenX.rd1 div {
    color: #DCEACA;
}
#PCR_POST_DATE_HEADLINE {
    margin-right: 8px;
    margin-top: 8px;
    max-width: 212px;
}
#PCR_POST_DATE_HEADLINE.wide {
    max-width: 280px;
}
.overlay.persistentCR .hideShowContainer {
    top: 8px;
    right: 40px;
    position: absolute;
    text-align: right;
}
.overlay.persistentCR .hideShowContainer .sprite-hide {
    margin: 0 0 0 5px;
    float: right;
}
.overlay.persistentCR .hideShowContainer .sprite-show {
    margin: 0 0 0 5px;
    float: right;
}
.overlay.persistentCR .hideMe {
    float: right;
    display: none;
    color: #069;
}
.overlay.persistentCR .hideShowContainer .showMe {
    float: right;
    display: block;
    color: #069;
}
.overlay.og .close,
.overlay.yl .close {
    background-position: -170px -2324px;
    width: 13px;
    height: 13px;
}
.overlay.g .close {
    background-position: -74px -2277px;
    width: 25px;
    height: 25px;
    top: -15px;
    right: -15px;
}
.overlay.r .close {
    background-position: -170px -2269px;
    width: 13px;
    height: 13px;
}
.overlay.gry .close {
    background-position: -74px -2277px;
    width: 25px;
    height: 25px;
    top: -15px;
    right: -15px;
}
.overlay.verywide {
    width: 775px;
}
.overlay.wide {
    width: 675px;
}
.overlay.mediumwide {
    width: 500px;
}
.overlay.medium {
    width: 450px;
}
.overlay.update2012 .close {
    z-index: 202;
    background: url("/img2/icons/grClose2.gif") no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    top: 8px;
    right: 8px;
}
.overlay.update2012 .rgba_arrow_png24 {
    left: -24px;
    width: 24px;
    background-image: url("/img2/arrows/arrow_grn_lft_alpha.png");
    _background-image: url("/img2/arrows/arrow_grn_lft.png");
    z-index: 9998;
    height: 32px;
}
.overlay.np .inner {
    padding: 0;
}
.overlay.lbbd {
    z-index: 9999;
}
.overlay.relative {
    margin: 3px;
}
.xCloseGreen {
    background: url("/img2/icons/x-close-green.png") no-repeat;
    width: 16px;
    height: 16px;
    top: 8px;
    right: 8px;
    z-index: 10000;
}
.overlay.typeO,
.overlay.typeAt {
    background: #D9E4C4;
    border: 1px solid #91B155;
    border-right-color: #217148;
    border-bottom-color: #217148;
    padding: 3px;
}
.overlay.typeAt .inner {
    padding-top: 15px;
}
.overlay.fb {
    background-color: #6D84B4;
    padding: 4px;
}
.overlay.fb .inner {
    padding: 1px 0 0;
    background: #EFF2F7;
}
.overlay.fb .close {
    background: url("/img2/facebook/fbClose.gif");
    width: 13px;
    height: 13px;
    top: 10px;
    right: 10px;
}
.overlay.mh .inner {
    padding: 14px 10px;
}
.overlay.hp {
    background-color: #000;
    filter: alpha(opacity=80);
    opacity: .8;
}
.overlay.hp .inner {
    background-color: transparent;
    color: #fff;
}
.overlay.hp .close {
    background: url("/img2/facebook/home_close.gif") no-repeat 0 0;
    width: 9px;
    height: 9px;
    top: 4px;
    right: 4px;
}
.overlay.typeB4 {
    border: 4px solid #e3631c;
}
.overlay.topValLB {
    border: 2px solid #D67B00;
}
.overlay.lg {
    border-color: #c0d0a1;
}
.overlay.mg {
    border-color: #00AF87;
}
.overlay.dg {
    border-color: #00AF87;
}
.overlay.vdg {
    border-color: #276642;
}
.overlay.og {
    border-color: #d67b00;
}
.overlay.yl {
    border-color: #fb0;
}
.overlay.dkyl {
    border-color: #c93;
}
.overlay.g {
    border-color: #2c2c2c;
}
.overlay.r {
    border-color: #B44525;
}
.overlay.gry {
    border-color: #484848;
}
.overlay.lgry {
    border-color: #E2E2E2;
}
.overlay.narrow {
    width: 500px;
}
.overlay.bg_lg .inner {
    background-color: #f2f6eb;
}
.overlay h1.title {
    height: 100%;
    overflow: hidden;
    padding: 4px 0 6px 7px;
    font: bold 1.3335em/100% Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #fff;
    cursor: move;
}
.overlay.dg h1.title {
    background-color: #00AF87;
}
.overlay.withClose .close {
    background: url("/img2/sprites/floating_maps-v18.png") -14px 2px no-repeat;
    top: 3px;
    width: 23px;
    height: 16px;
}
.crOverlayButton {
    width: 94px;
    cursor: pointer;
}
.overlay.commerceOverlay {
    width: 420px;
    border: 4px solid #d67b00;
}
.overlay.commerceIEOverlay {
    background: #EE7818;
    padding: 4px;
}
.overlay.commerceOverlay .close {
    background-position: -170px -2324px;
    width: 13px;
    height: 13px;
}
.overlay.kinder b {
    padding-right: 16px;
}
.overlay.dmoLB {
    width: 500px;
    border: none;
}
.overlay.dmoLB .inner {
    padding: 0;
}
.overlay.dmoLBevt {
    width: 524px;
    border: none;
}
.overlay.dmoLBevt .inner {
    padding: 0;
}
.overlay.dmoLBmap {
    width: 731px;
    border: none;
}
.overlay.dmoLBmap .inner {
    padding: 0;
}
.overlay.fatNotice .inner {
    padding: 40px 150px;
    background-color: #f5f5f5;
    font: bold 1.8335em Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #00AF87;
}
.overlay.fatNotice_2011 {
    -moz-box-shadow: 0 0 0 5px rgba(128, 128, 128, 0.6);
    -webkit-box-shadow: 0 0 0 5px rgba(128, 128, 128, 0.6);
    box-shadow: 0 0 0 5px rgba(128, 128, 128, 0.6);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    border-width: 3px;
    border-color: #00AF87;
}
.overlay.fatNotice_2011 .inner {
    padding: 40px 150px;
    background-color: #f3f3f3;
    font: bold 1.8335em Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #000;
}
.overlay.spring2015 {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.overlay.spring2015 .close {
    background: url("/img2/icons/x-close-green.png") no-repeat;
    width: 16px;
    height: 16px;
    top: 8px;
    right: 8px;
}
.overlay.ovrFooter {
    position: fixed!important;
    width: 321px;
    bottom: 36px!important;
    top: auto!important;
    left: auto!important;
    right: 1%!important;
    margin-right: 26px;
}
.PackageHolidayPromoPopup {
    margin-top: -120px;
}
.MetaFacebookDhtmlPopup {
    margin-left: 200px;
    margin-top: -45px;
}
.overlay.mediaBox .inner.withClose {
    padding-right: 18px;
}
.overlay .help {
    width: 300px;
    margin-right: 5px;
}
.overlay .suggest ul.arrows {
    width: 47.5%!important;
    margin: 10px 0 0;
}
.overlay .suggest ul.arrows.first {
    margin-right: 14px;
}
.overlay.recentCallout {
    margin-top: 24px;
    margin-left: -12px;
    border: none;
    background: transparent;
}
.overlay.recentCallout .inner {
    padding: 43px 0 0 0;
    background: transparent;
}
.overlay.pvYes .inner {
    padding: 8px 25px 11px 12px;
}
.overlay.persistentCR {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
}
.overlay.persistentCR .inner {
    background: inherit;
    padding: 0;
}
.overlay.rgba_gry {
    -moz-box-shadow: 0 0 0 5px rgba(128, 128, 128, 0.6);
    -webkit-box-shadow: 0 0 0 5px rgba(128, 128, 128, 0.6);
    box-shadow: 0 0 0 5px rgba(128, 128, 128, 0.6);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
.overlay.rgba_dark {
    border: 5px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}
.overlay.shadow {
    -moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
}
.overlay.tcnavdet {
    margin-top: 25px;
    width: 500px;
}
.overlay.tcnavdetlrg {
    width: 625px;
}
.overlay.tcnavdet .inner {
    padding: 23px 29px 13px;
}
.overlay.tcnavdet .close {
    z-index: 202;
    background: url("/img2/icons/grClose2.gif") no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    top: 8px;
    right: 8px;
}
.overlay.tcnavdet .rgba_arrow_png24 {
    top: -24px;
    left: 15px;
    width: 32px;
    height: 24px;
    background-image: url("/img2/arrows/arrow_grn_up_alpha.png");
    _background-image: url("/img2/arrows/arrow_grn_up.png");
    z-index: 9998;
}
.rtl .overlay.tcnavdet .rgba_arrow_png24 {
    right: auto;
    left: 15px;
}
.overlay.tclb .inner {
    padding: 23px 0;
}
.overlay.tclb .close {
    background: url("/img2/icons/grClose2.gif") no-repeat;
    background-position: center;
}
.rgba_arrow_up_png24 {
    width: 32px;
    height: 24px;
    background: url("/img2/arrows/arrow_grn_up_alpha.png") 0 0 no-repeat;
    top: -24px;
}
.rgba_arrow_up_gif19 {
    width: 32px;
    height: 19px;
    background: url("/img2/arrows/arrow_grn_up.gif") 0 0 no-repeat;
    top: -19px;
}
.rgba_arrow_rgt_png24 {
    width: 24px;
    height: 32px;
    background: url("/img2/arrows/arrow_grn_rgt_alpha.png") 0 0 no-repeat;
}
.rgba_arrow_rgt_gif19 {
    width: 19px;
    height: 32px;
    background: url("/img2/arrows/arrow_grn_rgt.gif") 0 0 no-repeat;
}
.rgba_arrow_lft_png24 {
    width: 24px;
    height: 32px;
    background: url("/img2/arrows/arrow_grn_lft_alpha.png") 0 0 no-repeat;
}
.rgba_arrow_lft_gif19 {
    width: 19px;
    height: 32px;
    background: url("/img2/arrows/arrow_grn_lft.gif") 0 0 no-repeat;
}
.flyoutContentsNarrow {
    margin-top: 12px;
    width: 130px;
}
.flyoutContentsWide {
    padding-top: 12px;
    width: 200px;
}
.overlay.micro_meta_flyout {
    width: 305px;
    margin: 0;
    border: 5px solid rgba(128, 128, 128, 0.6);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: transparent;
}
.overlay.micro_meta_flyout {
    border: 5px solid #b2b2b2\9;
}
.overlay.micro_meta_flyout .inner {
    padding: 8px 12px;
    background-color: #fff;
    border: 3px solid #00AF87;
}
.overlay.micro_meta_flyout .close {
    top: 11px;
    right: 11px;
    width: 13px;
    height: 13px;
    background-position: -170px -2243px!important;
}
.micro_meta_flyout.gray .inner {
    border: 0!important;
    background-color: #F8F8F8!important;
}
.overlay.help_center {
    padding: 10px;
}
.overlay.help_center .heading {
    color: #00AF87;
    font-size: 1.50em;
    padding-bottom: 10px;
}
.overlay.help_center li {
    padding-left: 20px;
    margin-left: 5px;
}
.overlay.help_center ul.indent {
    padding-left: 20px;
}
.overlay.commerceOverlay.rgba_flyout {
    width: 428px;
    margin: 0;
    border: 5px solid rgba(128, 128, 128, 0.6);
    border: 5px solid #b2b2b2\9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: transparent;
}
.overlay.date_picker_calendar.rgba_flyout {
    box-shadow: none;
}
.overlay.glnew_lightbox {
    width: 600px;
    height: auto;
    border: 5px solid #FFF;
}
.overlay.typeLD.relAbove .ldarrow,
.overlay.typePS.relAbove .ldarrow {
    border-color: #d3d3d3 transparent transparent;
    border-style: solid;
    border-width: 10px;
    bottom: -20px;
}
.overlay.typeLD.relBelow .ldarrow,
.overlay.typePS.relBelow .ldarrow {
    border-color: transparent transparent #d3d3d3;
    border-style: solid;
    border-width: 10px;
    top: -20px;
}
.overlay.typeLD.relAbove .ldarrow:before,
.overlay.typePS.relAbove .ldarrow:before {
    position: absolute;
    border-color: white transparent transparent;
    border-style: solid;
    border-width: 9px;
    content: " ";
    left: -9px;
    top: -10px;
}
.overlay.typeLD.relBelow .ldarrow:before,
.overlay.typePS.relBelow .ldarrow:before {
    position: absolute;
    border-color: transparent transparent white;
    border-style: solid;
    border-width: 9px;
    content: " ";
    left: -9px;
    top: -8px;
}
.overlay.typeLD,
.overlay.typePS {
    background-color: white;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 0 0 10px #808080;
    font-size: .7em;
    color: #656565;
    width: 300px;
}
.overlay.typeLD .inner,
.overlay.typePS .inner {
    border-radius: 5px;
}
.overlay.typePS {
    width: 110px;
}
.overlay.typePS.aboveRibbon {
    width: 216px;
}
.overlay.typePS.belowRibbon {
    width: 164px;
}
.overlay.typePS .ldarrow {
    left: 40px;
}
.overlay.typePS.aboveRibbon .ldarrow {
    left: 155px;
}
.overlay.typePS .inner p {
    margin: 0;
}
.overlay.typePS .inner p.first {
    font-size: 1.15em;
    font-weight: bold;
    margin-bottom: .5em;
}
.overlay.typePS .inner em {
    font-style: normal;
    color: #e60;
}
.overlay.relative.typeSA {
    font: .7em/130% Arial, Tahoma, 'Bitstream Vera Sans', sans-serif;
    color: #656565;
    background: none;
    margin: 0;
}
.overlay.typeSA .inner {
    width: 165px;
    padding: 8px 10px;
    margin: 10px 0 0 -30px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}
.overlay.typeSA .inner p {
    margin: 0;
}
.overlay.typeSA .inner p.first {
    font-size: 1.15em;
    font-weight: bold;
    margin-bottom: .5em;
}
.overlay.typeSA .inner em {
    font-style: normal;
    color: #e60;
}
.overlay.typeSA .arrow {
    position: absolute;
    top: 25px;
    left: -39px;
    border: 9px solid transparent;
    border-left-width: 0;
    border-right-color: #d3d3d3;
}
.overlay.typeSA .arrow:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 1px;
    border: 10px solid transparent;
    border-left-width: 0;
    border-right-color: #fff;
}
.overlay.typeSA.relAbove .ldarrow {
    border-color: #d3d3d3 transparent transparent;
    border-style: solid;
    border-width: 10px;
    bottom: -19px;
}
.overlay.typeSA.relBelow .ldarrow {
    border-color: transparent transparent #d3d3d3;
    border-style: solid;
    border-width: 10px;
    top: -9px;
}
.overlay.typeSA.relAbove .ldarrow:before {
    position: absolute;
    border-color: white transparent transparent;
    border-style: solid;
    border-width: 9px;
    content: " ";
    left: -9px;
    top: -10px;
}
.overlay.typeSA.relBelow .ldarrow:before {
    position: absolute;
    border-color: transparent transparent white;
    border-style: solid;
    border-width: 9px;
    content: " ";
    left: -9px;
    top: -8px;
}
.overlay.typeSA .ldarrow {
    left: 16px;
}
.overlay.typeAC {
    background: initial;
}
.overlay.typeAC .inner {
    width: 215px;
    margin: -26px 0 0 8px;
    padding: 17px;
    line-height: 18px;
    border: 1px solid #D3D3D3;
    box-shadow: 0 0 5px #D3D3D3;
}
.overlay.typeAC .arrow {
    position: absolute;
    top: 0;
    left: 0;
    border: 9px solid transparent;
    border-left-width: 0;
    border-right-color: #D3D3D3;
}
.overlay.typeAC .arrow:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 2px;
    border: 10px solid transparent;
    border-left-width: 0;
    border-right-color: #FFF;
}
.overlay.typeAAG_PP {
    background: transparent;
}
.overlay.typeAAG_PP .inner {
    width: 110px;
    margin: -44px 0 0 8px;
    padding: 18px;
    line-height: 18px;
    color: #2c2c2c;
    box-shadow: -6px 12px 40px 0 rgba(0, 0, 0, 0.2);
}
.overlay.typeAAG_PP .arrow {
    position: absolute;
    top: 0;
    left: 0;
    border: 9px solid transparent;
    border-left-width: 0;
    border-right-color: #FFF;
}
.overlay.typeAAG_PP.ie8 .inner {
    border: 1px solid #D3D3D3;
}
.overlay.typeAAG_PP.ie8 .arrow {
    border-right-color: #D3D3D3;
}
.overlay.typeAAG_PP.ie8 .arrow:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 2px;
    border: 10px solid transparent;
    border-left-width: 0;
    border-right-color: #FFF;
}
.overlay.footerPocketWithInsert {
    position: fixed!important;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.rtl .overlay.footerPocketWithInsert .closeOverlayLarge {
    right: -10px;
}
.rtl .albumLightbox.overlay.footerPocketWithInsert .closeOverlayLarge {
    right: auto;
}
.overlay.meta_lightbox_v3 .closeOverlayLarge,
.overlay.footerPocketWithInsert .closeOverlayLarge {
    z-index: 20002;
    background: url("/img2/buttons/close_overlay_large.png") no-repeat 0 0;
    width: 50px;
    height: 47px;
    top: -12px;
    right: -10px;
}
.overlay.whiteFlyOut {
    width: 250px;
    margin: 0;
    box-shadow: 2px 2px 20px -1px rgba(128, 128, 128, 0.6);
}
.overlay.partner_attrib {
    width: 500px;
}
.overlay.relative.partner_attrib .inner {
    padding: 8px 28px 8px 12px;
}
.flyout_arrow {
    left: -11px;
    width: 11px;
    top: 0;
    background-image: url("/img2/arrows/border_yellow_flyout.png");
    z-index: 9998;
    height: 19px;
}
.flyout_white_arrow {
    left: -11px;
    width: 11px;
    top: 20px;
    background-image: url("/img2/arrows/border_white_flyout.png");
    height: 19px;
}
.flyout_icon_close {
    z-index: 202;
    background-image: url("/img2/userreview/hotel_edit/icon_close.png");
    width: 9px;
    height: 9px;
    top: 8px;
    right: 8px;
}
.balloon_holder {
    background-color: #FFFAE0;
    font-family: Arial;
    font-size: 13px;
    color: #2c2c2c;
    margin: 12px;
    margin-right: 20px;
    line-height: 17px;
    max-width: 300px;
}
.ryokanOverlay .ryokanArrow {
    background-image: url("/img2/arrows/arrow_gry_lft_reg_error.png");
    width: 12px;
    height: 29px;
    left: -12px;
}
.ryokanOverlay.overlay {
    border-radius: 3px;
    box-shadow: 0 0 7px #999;
    color: #656565;
}
.overlay.tooltip .inner {
    padding: 12px;
}
.overlay.tooltip.noBackdrop .inner {
    box-shadow: -4px 15px 45px 2px rgba(0, 0, 0, 0.3);
}
.overlay.tooltip .inner.withClose {
    padding: 18px;
}
.overlay.tooltip .inner h1 {
    font-size: 2.167em;
    padding: 0 0 20px;
    font-weight: normal;
    color: #FFF;
}
.overlay.tooltip .inner h3 {
    font-size: 1.3335em;
    font-weight: normal;
    padding-bottom: 6px;
    color: #FFF;
}
.overlay.tooltip .arrowLeft,
.overlay.tooltip .arrowRight,
.overlay.tooltip .arrowUp,
.overlay.tooltip .arrowDown {
    border: 6px solid;
    position: absolute;
}
.overlay.tooltip .arrowLeft {
    margin-left: -10px;
    top: 40%;
    right: 100%;
}
.overlay.tooltip .arrowRight {
    margin-right: -10px;
    top: 40%;
    left: 100%;
}
.overlay.tooltip .arrowUp {
    margin-top: -10px;
    left: 40%;
    bottom: 100%;
}
.overlay.tooltip .arrowDown {
    margin-bottom: -10px;
    right: 40%;
    top: 100%;
}
.overlay.tooltip.big .inner {
    padding: 18px;
}
.overlay.tooltip.big .inner.withClose {
    padding: 24px;
}
.overlay.tooltip.big .arrowLeft,
.overlay.tooltip.big .arrowRight,
.overlay.tooltip.big .arrowUp,
.overlay.tooltip.big .arrowDown {
    border: 12px solid;
}
.ltr .overlay.tooltip .arrowLeft,
.rtl .overlay.tooltip .arrowRight {
    border-top-color: transparent!important;
    border-bottom-color: transparent!important;
    border-left-color: transparent!important;
}
.ltr .overlay.tooltip .arrowRight,
.rtl .overlay.tooltip .arrowLeft {
    border-top-color: transparent!important;
    border-bottom-color: transparent!important;
    border-right-color: transparent!important;
}
.overlay.tooltip .arrowUp {
    border-top-color: transparent!important;
    border-right-color: transparent!important;
    border-left-color: transparent!important;
}
.overlay.tooltip .arrowDown {
    border-bottom-color: transparent!important;
    border-right-color: transparent!important;
    border-left-color: transparent!important;
}
.overlay.tooltip.bigger .inner {
    padding: 24px;
}
.overlay.tooltip.bigger .inner.withClose {
    padding: 30px;
}
.overlay.tooltip.small {
    max-width: 256px;
}
.overlay.tooltip .close {
    position: absolute;
    background: none;
    cursor: pointer;
    padding: 5px;
    top: 5px;
    right: 4px;
    width: 16px;
    height: 16px;
    z-index: 1;
}
.overlay.tooltip .close:before {
    content: "x";
    font-size: 1.75em;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
    line-height: 16px;
    color: #FFF;
}
:root .overlay.tooltip .close:before {
    content: "\2715";
}
.overlay.tooltip .close:hover:before {
    opacity: .7;
}
.overlay.tooltip.ttWhite .close:before,
.overlay.tooltip.ttWhite h1,
.overlay.tooltip.ttWhite h3 {
    color: #00AF87;
}
.overlay.tooltip.ttWhite .arrow {
    background-image: none;
    border-color: #FFF;
}
.overlay.tooltip.ttBlack .inner {
    background-color: #404040;
    color: #FFF;
}
.overlay.tooltip.ttBlack .arrow {
    border-color: #404040;
}
.overlay.tooltip.ttDarkGray .inner {
    background-color: #545454;
    color: #FFF;
}
.overlay.tooltip.ttDarkGray .arrow {
    border-color: #545454;
}
.overlay.tooltip.ttGreen .inner {
    background-color: #00AF87;
    color: #CEFBBD;
}
.overlay.tooltip.ttGreen .arrow {
    border-color: #00AF87;
}
.overlay.tooltip.orange {
    background-color: #e46715;
    color: #fff;
}
.overlay.tooltip.orange .inner {
    background-color: #e46715;
    color: #fff;
    padding: 36px;
}
.overlay.tooltip.orange .arrowUp {
    border-color: #e46715;
}
.guidelinesOverlay .unverifiedOwner,
.guidelinesOverlay .answersGuidelines {
    width: 427px;
}
.guidelinesOverlay .unverifiedOwner h4,
.guidelinesOverlay .answersGuidelines h4 {
    margin-bottom: 20px;
    font-size: 1.75em;
    font-weight: normal;
    color: #00AF87;
}
.guidelinesOverlay .unverifiedOwner .content,
.guidelinesOverlay .answersGuidelines .content {
    font-size: 1.167em;
    line-height: 1.28;
}
.guidelinesOverlay .unverifiedOwner .buttons {
    margin-top: 20px;
}
.guidelinesOverlay .unverifiedOwner .rndBtn {
    font-weight: bold;
}
.guidelinesOverlay .answersGuidelines .prefix {
    font-weight: bold;
}
.guidelinesOverlay .answersGuidelines li {
    margin: 15px 0 0 15px;
    list-style: disc;
}
.answersOverlay .inner {
    padding: 30px;
}
.answersOverlay h3 {
    font-size: 2.33em;
    font-weight: normal;
    color: #00AF87;
    margin-bottom: 28px;
}
.answersOverlay .tabContent h3 {
    margin-top: 20px;
}
.answersOverlay .translationInner {
    border: 4px solid #f5f5f5;
    border-radius: 4px;
    margin-bottom: 20px;
}
.answersOverlay .extraBoundary {
    border: 1px solid #d6d6d6;
    padding: 15px;
}
.answersOverlay .answerTranslation {
    margin-bottom: 15px;
    font-size: 1.35em;
}
.answersOverlay .member_info {
    margin-bottom: 15px;
}
.answersOverlay .username {
    font-size: 1.15em;
    color: #666;
}
.answersOverlay .rndBtnLarge {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 25px;
}
.answersOverlay .gBranding {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #b7b7b7;
}
.confirmationPrompt h3 {
    font-size: 1.6em;
    line-height: 21px;
    color: #00AF87;
    margin-bottom: 1em;
}
.confirmationPrompt .confirmBtn {
    margin-right: 20px;
}
.confirmationPrompt .cancelBtn {
    cursor: pointer;
    color: #069;
}
h4.answer-iap {
    font-size: 1em;
}
.answersOverlay .overlayContent {
    color: #666;
}
.answersOverlay textarea:focus,
.answersOverlay input[type='text']:focus {
    outline: none;
}
.answersOverlay textarea,
.answersOverlay input[type='text'] {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font: 1.167em/1.14 Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #333;
}
.answersOverlay textarea {
    height: 10em;
    overflow: auto;
    padding: 20px;
    resize: none;
}
.answersOverlay input[type='text'] {
    padding: 10px 20px;
}
.answersOverlay .tabContent {
    padding: 0 13px 13px;
    color: #666;
    min-width: 500px;
}
.overlayTabs {
    display: inline-block;
    display: inline!ie;
    zoom: 1;
    height: 100%;
    overflow: hidden;
    margin: 0 13px -3px;
    margin-bottom: 0!ie;
    border: solid #b7b7b7;
    border-width: 1px 1px 0 1px;
    border-radius: 4px 4px 0 0;
    position: relative;
    z-index: 1;
    bottom: -1px;
}
.overlayTabs .tabItem {
    height: 14px;
    margin: 0 -1px 0 1px;
    padding: 11px 19px 13px;
    background-color: #f5f5f5;
    border-right: 1px solid #b7b7b7;
    border-left: 1px solid #fff;
    border-top: 0;
    border-bottom: 0;
    float: left;
    font: 1.167em Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #333;
    _height: 17px;
}
.overlayTabs:first-child {
    margin: 0 -1px 0 0;
}
.overlayTabs .tabItem.active,
.overlayTabs .tabItem:hover {
    color: #666;
    background-color: #fff;
    background-image: none;
}
.overlayTabs .tabItem.active {
    border-bottom-color: #fff;
    color: #00AF87;
    font-weight: bold;
    padding-bottom: 14px;
    cursor: default;
}
.overlayTabs .tabItem.inactive:hover {
    cursor: pointer;
}
.overlayTabsWrap {
    border-top: 1px solid #b7b7b7;
}
.answersOverlay .questionTab {
    padding-top: 14px;
}
.answersOverlay .questionTab p {
    margin: 14px 0;
}
.answersOverlay fieldset {
    margin-top: 10px;
}
.answersOverlay .privMess .col1of2 {
    width: 90px;
}
.answersOverlay .privMess .col2of2 {
    padding-left: 90px;
    width: auto;
}
.answersOverlay .privMess #captcha_box .col2of2 {
    padding-left: 120px;
}
.answersOverlay #main-form.privMess {
    width: 100%;
}
.answersOverlay #main-form.privMess .error {
    margin-left: 90px;
}
.answersOverlay #main-form.privMess .text,
.answersOverlay #main-form.privMess textarea {
    width: 100%;
    margin: 0;
}
.answersOverlay #main-form.privMess .guidelines {
    font-size: 1em;
}
.answersOverlay #main-form.privMess fieldset {
    margin: 10px 0;
    overflow: visible;
}
.answersOverlay #main-form.privMess label {
    width: 80px;
    vertical-align: top;
    margin-top: 10px;
    font-size: 1.1670em;
    line-height: 1.14;
}
.answersOverlay #main-form.privMess #captcha_box label {
    width: 110px;
}
.answersOverlay #main-form.privMess .captcha .verification,
.answersOverlay #main-form.privMess .captcha .guidelines {
    margin-top: 4px;
}
.answersOverlay #main-form.privMess #captcha_box #recaptcha_image {
    margin-bottom: 12px;
}
.answersOverlay #main-form.privMess #captcha_box #recaptcha_response_field {
    width: 189px;
}
.answersOverlay #main-form.privMess .txt2,
.answersOverlay #main-form.privMess .txt3 {
    margin-bottom: 5px;
}
.answersOverlay #main-form.privMess textarea,
.answersOverlay #main-form.privMess input[type='text'] {
    border: 1px solid #b7b7b7;
    font-size: 1.1670em;
    line-height: 1.14;
}
.answersOverlay #main-form.privMess textarea {
    vertical-align: top;
    margin-left: 0;
}
.sprite-middot {
    background-image: url('/sprites/global_pack-v80f659f859ee64d830b2608cd586657e.png');
    background-position: left -1062px;
    background-repeat: no-repeat;
    padding: 0 0 4px 11px;
    line-height: 17px;
}
.css_commerce_buttons .commerceBtn {
    background: #FEC206;
    background: -moz-linear-gradient(top, #FEE4A3 0, #FEC206 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FEE4A3), color-stop(100%, #FEC206));
    background: -webkit-linear-gradient(top, #FEE4A3 0, #FEC206 100%);
    background: -o-linear-gradient(top, #FEE4A3 0, #FEC206 100%);
    background: -ms-linear-gradient(top, #FEE4A3 0, #FEC206 100%);
    background: linear-gradient(to bottom, #FEE4A3 0, #FEC206 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FEE4A3', endColorstr='#FEC206', GradientType=0);
    border: 1px solid;
    border-color: #FDB22A #f1a928 #f1a928 #FDB22A;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .35);
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.css_commerce_buttons .lang_zhTW .commerceBtn,
.css_commerce_buttons .lang_ja .commerceBtn {
    font-weight: normal;
}
.css_commerce_buttons .commerceBtn.hidden {
    display: none;
}
.css_commerce_buttons .commerceBtn:hover,
.css_commerce_buttons .commerceBtnHover:hover {
    background: #FEC103;
    background: -moz-linear-gradient(top, #F7BB00 0, #FEC103 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FEC103), color-stop(100%, #FEC103));
    background: -webkit-linear-gradient(top, #F7BB00 0, #FEC103 100%);
    background: -o-linear-gradient(top, #F7BB00 0, #FEC103 100%);
    background: -ms-linear-gradient(top, #F7BB00 0, #FEC103 100%);
    background: linear-gradient(to bottom, #F7BB00 0, #FEC103 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F7BB00', endColorstr='#FEC103', GradientType=0);
}
.css_commerce_buttons .commerceBtnLrg {
    font-size: 1.5em;
    height: 32px;
    line-height: 32px;
}
.css_commerce_buttons .commerceBtnMed {
    font-size: 1.1670em;
    height: 25px;
    line-height: 25px;
}
.css_commerce_buttons .commerceBtnSml {
    font-size: 1em;
    height: 18px;
    line-height: 18px;
}
.css_commerce_buttons .dates_holder .commerceBtnLrg {
    width: 146px;
}
.css_commerce_buttons .crOverlayButton .commerceBtnMed {
    width: 113px;
}
.css_commerce_buttons .crOverlayButton .commerceBtnSml {
    width: 92px;
}
.css_commerce_buttons .chkRates .commerceBtnLrg {
    margin-top: 6px;
    padding: 0 19px;
}
.css_commerce_buttons .commerceBtnLrgAlt {
    margin-bottom: 3px;
    padding: 0 19px;
}
.css_commerce_buttons .metaDatePicker .commerceBtnLrgAlt.hide {
    display: none;
}
.lang_sr.css_commerce_buttons .commerceBtnLrgAlt.viewdeals {
    padding: 0 8px;
}
.css_commerce_buttons .metaDatePicker .commerceBtnLrgAlt.blu {
    height: 30px;
    margin-top: 0;
    line-height: 30px;
}
.css_commerce_buttons .blu {
    background: #2280d8;
    background: -moz-linear-gradient(top, #3da4ea 0, #2280d8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3da4ea), color-stop(100%, #2280d8));
    background: -webkit-linear-gradient(top, #3da4ea 0, #2280d8 100%);
    background: -o-linear-gradient(top, #3da4ea 0, #2280d8 100%);
    background: -ms-linear-gradient(top, #3da4ea 0, #2280d8 100%);
    background: linear-gradient(to bottom, #3da4ea 0, #2280d8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff3da4ea', endColorstr='#ff2280d8');
    border-color: #2890dc #177ebf #01689b;
    border-radius: 2px;
    box-shadow: 0 3px 2px -2px rgba(153, 153, 153, .85), inset 0 1px 0 rgba(255, 255, 255, .35);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}
.css_commerce_buttons .commerceBtnHover.blu:hover {
    background: #217fd7;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00217fd7', endColorstr='#00217fd7');
}
.fbcBtnlarge {
    padding: 3px 8px 4px 29px;
    border: 1px solid #29447e;
    background-color: #627aad;
    background-repeat: no-repeat;
    font: bold 1.0835em/1.0835em 'Lucida Grande', Verdana, Arial, sans-serif!important;
    cursor: pointer;
    color: #fff;
    white-space: nowrap;
}
span.fbcBtnlarge {
    float: left;
}
.fbcBtnsmall {
    padding: 1px 6px 3px 24px;
    background-color: #627aad;
    background-repeat: no-repeat;
    border: 1px solid #29447e;
    cursor: pointer;
    color: #fff;
    font: bold 1em/1em 'Lucida Grande', Verdana, Arial, sans-serif!important;
    white-space: nowrap;
}
.WoF-error-dlg {
    width: 565px;
}
.facebookConnect3 {
    display: inline-block;
    position: relative;
    width: auto;
    height: 32px;
    padding: 0 13px 0 46px;
    border-radius: 4px;
    border-bottom: 2px solid #2b416f;
    background-color: #3b5998;
    font: bold 1.0835em/32px 'Lucida Grande', Verdana, Arial, sans-serif!important;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
}
.facebookConnect3:after {
    display: block;
    position: absolute;
    top: 0;
    left: 32px;
    width: 1px;
    height: 32px;
    background: #344e86;
    content: "";
}
.googleConnect {
    display: inline-block;
    position: relative;
    width: auto;
    height: 32px;
    padding: 0 13px 0 46px;
    border-radius: 4px;
    border-bottom: 2px solid #98251a;
    background-color: #d03324;
    font: bold 1.0835em/32px 'Lucida Grande', Verdana, Arial, sans-serif!important;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
}
.googleConnect:after {
    display: block;
    position: absolute;
    top: 0;
    left: 32px;
    width: 1px;
    height: 32px;
    background: #b72d20;
    content: "";
}
.vkConnect {
    display: inline-block;
    position: relative;
    width: auto;
    height: 32px;
    padding: 0 13px 0 46px;
    border-radius: 4px;
    border-bottom: 2px solid #2e455e;
    background: url('/img2/langs/ru/buttons/vkontakteButtonLogo.png') 0 0 no-repeat #4f76a0;
    font: bold 1.0835em/32px 'Lucida Grande', Verdana, Arial, sans-serif!important;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
}
.vkConnect:after {
    display: block;
    position: absolute;
    top: 0;
    left: 32px;
    width: 1px;
    height: 32px;
    background: #466a90;
    content: "";
}
.vkSmallBtn {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background: url('/img2/langs/ru/buttons/vkIcon15x15.gif') 0 0 no-repeat;
    float: left;
}
.sprite-samsungLogo {
    background-image: url('/sprites/global_pack-v80f659f859ee64d830b2608cd586657e.png');
    background-position: left -4392px;
    display: inline-block;
    margin-bottom: -6px;
    width: 57px;
    height: 20px;
    padding-bottom: 1px;
}