
.ui_popover {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.35);
	display: inline-block;
	left: -9999em;
	padding: 36px;
	top: -9999em;
	z-index: 500;
}
.ui_popover.arrow_right .arrow {
	margin-top: -155px !important;
}
.ui_popover .body_text {
	color: #4a4a4a;
	font-size: 12px;
	line-height: 16px;
}
.ui_popover .memberOverlay {
	margin: -18px -12px;
}
/*//////////////*/
.memberOverlay.simple {
	color: #333;
	font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
	width: 280px;
}
.memberOverlay.simple .username {
	font-size: 1.167em;
	font-weight: bold;
	margin: 7px 0 8px;
}
.memberOverlay.simple .profileItem {
	margin-bottom: 6px;
}
.memberOverlay.simple .profileLinks {
	margin: 12px 0 7px;
}
.memberOverlay.simple.moRedesign {
	width: 450px;
}
.lang_en .memberOverlay.simple.moRedesign {
	width: 388px;
}
/*////////////*/
.memberOverlayRedesign {
	margin-top: 7px;
}
.memberOverlayRedesign .memberreviewbadge {
	margin-left: -5px;
}
.memberOverlayRedesign .memberdescription {
	display: block;
	list-style: inside none disc;
	margin: 10px 0 6px;
}
.memberOverlayRedesign .memberdescription li {
	margin-bottom: 3px;
}
.memberOverlayRedesign .memberTags {
	margin-top: 3px;
}
.memberOverlayRedesign .memberTags li {
	display: inline-block;
}
.memberOverlayRedesign .memberTag {
	background-color: #f5f5f5;
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	color: #333;
	display: inline-block;
	font-size: 11px;
	margin-right: 3px;
	margin-top: 7px;
	padding: 4px 7px;
}
.memberOverlayRedesign .memberTag:visited {
	color: #333;
}
.memberOverlayRedesign .memberTag:hover {
	text-decoration: none;
}
.memberOverlayRedesign .viewAllTags {
	float: right;
	margin: 8px 5px 0;
}
.memberOverlayRedesign .viewAllTags img {
	margin-top: 1px;
}
.memberOverlay.simple .memberOverlayRedesign .reviewchart {
	clear: none;
	float: left;
	margin-right: 20px;
	padding-top: 0;
}
.memberOverlayRedesign .barlogo {
	border-top: medium none;
	margin-top: 12px;
	padding-top: 0;
}
.memberOverlayRedesign .lowerMemberOverlay {
	border-top: 1px dotted #ccc;
	margin-top: 14px;
}
.memberOverlayRedesign .counts {
	float: left;
	font-size: 13px;
	margin-top: 28px;
}
.memberOverlayRedesign .counts li {
	margin-bottom: 10px;
}
.memberOverlayRedesign .count {
	border: 1px solid #c1c1c1;
	border-radius: 4px;
	color: #333;
	font-weight: bold;
	margin-right: 3px;
	padding: 3px 6px;
}
.memberOverlayRedesign .count:visited {
	color: #333;
}
.memberOverlayRedesign .count:hover {
	text-decoration: none;
}
.memberOverlayRedesign .baseNav {
	background: rgba(0, 0, 0, 0) linear-gradient(#fff, #e6e6e6) repeat scroll 0 0;
	border: 1px solid #d1d1d1;
	height: 40px;
	margin: 20px -12px -8px;
}
.memberOverlayRedesign .baseNav a:first-child, .memberOverlayRedesign .baseNav script:first-child + a {
	border-right: 1px solid #d1d1d1;
}
.memberOverlayRedesign .baseNav a {
	display: inline-block;
	font-size: 13px;
	line-height: 40px;
	text-align: center;
	width: 49%;
}
.memberOverlayRedesign .baseNav a img {
	margin: 2px 4px;
}
.memberOverlayRedesign .baseNav .fullWidthBaseNav {
	border: medium none;
	width: 100%;
}
.memberOverlayRedesign .username.reviewsEnhancements {
	color: #16174f;
	font-size: 20px;
}
.memberOverlayRedesign .memberdescriptionReviewEnhancements {
	color: #666;
	display: block;
	font-size: 12px;
	list-style: outside none none;
	margin: 10px 0 6px;
}
.memberOverlayRedesign .memberdescriptionReviewEnhancements li {
	margin-bottom: 3px;
}
.memberOverlayRedesign .memberTagsReviewEnhancements li {
	display: inline-block;
}
.memberOverlayRedesign .memberTagReviewEnhancements {
	background-color: white;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	color: #666;
	display: inline-block;
	font-size: 11px;
	margin-bottom: 10px;
	margin-right: 3px;
	margin-top: 7px;
	padding: 8px;
}
.memberOverlayRedesign .memberTagReviewEnhancements:visited {
	color: #333;
}
.memberOverlayRedesign .memberTagReviewEnhancements:hover {
	border: 1px solid var(--koochita-light-green);
	color: var(--koochita-light-green);
	text-decoration: none;
}
.memberOverlayRedesign .viewAllTagsReviewEnhancements {
	float: right;
	margin: 8px 5px 0;
}
.memberOverlayRedesign .viewAllTagsReviewEnhancements img {
	margin-top: 1px;
}
.memberOverlayRedesign .histogramReviewEnhancements {
	padding-top: 20px;
}
.memberOverlayRedesign .barlogoReviewEnhancements {
	color: #b7b7b7;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 10px;
}
.memberOverlayRedesign .chartRowReviewEnhancements {
	display: table-row;
	font-size: 12px;
	line-height: 18px;
	white-space: nowrap;
}
.memberOverlayRedesign .rowCellReviewEnhancements {
	display: table-cell;
	padding-bottom: 3px;
}
.memberOverlayRedesign .rowLabelReviewEnhancements {
	color: #666;
	padding-right: 11px;
}
.memberOverlayRedesign .rowBarReviewEnhancements {
	width: 100%;
}
.memberOverlayRedesign .barReviewEnhancements {
	background: #e5e5e5 none repeat scroll 0 0;
	box-sizing: border-box;
	display: inline-block;
	height: 12px;
	position: relative;
	top: 3px;
	vertical-align: top;
	width: 100%;
}
.memberOverlayRedesign .fillReviewEnhancements {
	background: var(--koochita-light-green) none repeat scroll 0 0;
	display: inline-block;
	height: 12px;
	position: absolute;
}
.memberOverlayRedesign .rowCountReviewEnhancements {
	box-sizing: border-box;
	color: #666;
	padding-left: 6px;
	text-align: right;
	vertical-align: top;
}
.memberOverlayRedesign .countsReviewEnhancements {
	display: block;
	line-height: 24px;
	margin: 10px 0;
	overflow: hidden;
}
.memberOverlayRedesign .iconReviewEnhancements {
	color: var(--koochita-light-green);
	font-size: 14px;
	padding-left: 5px;
}
.memberOverlayRedesign .badgeTextReviewEnhancements {
	color: #666;
	font-size: 12px;
}
.memberOverlayRedesign .countsReviewEnhancementsItem {
	display: inline;
	float: left;
	width: 50%;
}
		.memberBadging.g10n .amexTitle {
	margin-bottom: 3px;
}
.memberBadging.g10n .badge {
	margin: 0 0 3px;
}
.memberBadging.g10n .badge.levelBadge {
	font-weight: bold;
	margin-bottom: 5px;
}
.memberBadging.g10n .badge .icon {
	padding-right: 4px;
}
body.lang_de .memberBadging.g10n .levelBadge, body.lang_el .memberBadging.g10n .levelBadge {
	line-height: 1.5em;
	padding-right: 20px;
}

.memberOverlay.simple .memberreviewbadge {
	height: 23px;
	width: 180px;
}
.memberOverlay.simple .g10n .memberreviewbadge {
	height: auto;
	width: auto;
}
.memberOverlay.simple .memberreviewbadge .badgeinfo {
	display: inline;
	float: left;
	margin-left: 6px;
	margin-top: 2px;
}
.memberOverlay.simple .memberreviewbadge .badgetext {
	color: #000;
	font-weight: bold;
	margin: 5px 3px;
	padding-top: 2px;
}
.memberOverlay.simple .g10n .memberreviewbadge .badgeinfo {
	display: block;
	float: none;
	font-size: 15px;
	margin-top: 0;
}
.memberOverlay.simple .g10n .memberreviewbadge .badgeinfo span {
	background-color: var(--koochita-light-green);
	background-image: url("Level_shape_28px.png");
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: normal;
	height: 28px;
	line-height: 29px;
	text-align: center;
	width: 28px;
}