/*1st box of Styles*/

.ui_overlay::before {
    content: '';
    position: absolute;
    left: 24px;
    top: -10px;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    -webkit-filter: drop-shadow(0 0 0 #b7b7b7);
    filter: drop-shadow(0 0 0 #b7b7b7);
    box-shadow: 0 0 0 #b7b7b7 \9;
    -webkit-filter: drop-shadow(0 0 0 #999);
    filter: drop-shadow(0 0 0 #999);
}

/*inline styles*/

#my-trips-not {
    display: none;
    bottom: auto;
    left: 156px;
    position: absolute;
    top: 20px;
}

.profilePage #bookmarkmenu {
    top: 30px;
    left: 176px;
}

.profilePage #my-trips-not {
    top: 30px;
    left: 140px;
}

.masthead-recent-class {
    background-color: #f9f9f9
}

.masthead-recent-class > div:nth-child(1) {
    text-align: right;
    padding: 0 24px;
}

#masthead-trips {
    overflow: auto;
    max-height: 400px
}

#mainDivTripImageRecentViewBodyProfile {
    width: 150px;
    height: 150px;
    border: 2px solid #a0a0a0;
    cursor: pointer;
}

.bg-color-recentlyViewBodyProfile {
    background-color: #cfcfcf
}

#createTripTextRecentlyViewBodyProfile {
    padding: 5px;
    font-size: 11px;
    margin-bottom: 7px;
    border-bottom: 1px solid var(--koochita-light-green);
}

#createTripTextRecentlyViewBodyProfile > p {
    color: var(--koochita-light-green);
    display: inline;
}

#createTripTextRecentlyViewBodyProfileElse {
    padding: 5px;
    margin-bottom: 7px;
    border-bottom: 1px solid var(--koochita-light-green);
}

#bookmarkmenu {
    display: none;
    bottom: auto;
    left: 197px;
    position: absolute;
    top: 20px
}

.font-size-12em {
    font-size: 1.2em;
}
