
.display-none{
    display: none;
}

h1 {
    font-size: 28px !important;
}
h2{
    font-size: 22px !important;
}
h3 {
    font-size: 20px !important;
}
h4{
    font-size: 18px !important;
}
h5 {
    font-size: 15px !important;
}
h6{
    font-size: 14px !important;
}
p {
    line-height: 30px;
    font-size: 14px !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #bebebe;
}
::-webkit-scrollbar-thumb:hover {
    background: #969696;
}
.resizeImgClass{
    width: 100%;
}

.hidden {
    display: none !important;
}
a {
    text-decoration: none !important;
}
a:link {
    text-decoration: none !important;
}

#darkModeMainPage {
    display: none;
    z-index: 998;
    backdrop-filter: blur(2px);
}
.fullyCenterContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.importantFullyCenterContent{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.languageIcon:before{
    content: "\E017";
}
.addPostIcon:before{
    content: "\e030";
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    font-size: inherit;
    line-height: 1;
    -ms-transform: rotate(-.001deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}
.ppr_priv_global_nav_action_trips{
    cursor: pointer;
}

.arrowAfter:after{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-family: "Shazde_Regular" !important;
    -ms-transform: rotate(-0.001deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e04a';
    font-size: 16px;
}

.autoCursor:before{
    cursor: auto !important;
}

input[type="checkbox"] + label span, input[type="radio"] + label span{
    margin: -4px 0 0 0 !important;
}
input[type="checkbox"] + label span, input[type="radio"] + label span{
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(../../images/check_radio_sheet.png) left top no-repeat;
    cursor: pointer;
}
input[type="checkbox"], input[type="radio"]{
    display: none;
}
input[type="checkbox"]:checked + label span, input[type="radio"]:checked + label span{
    background: url(../../images/check_radio_sheet.png) -19px top no-repeat;
}
input[type="checkbox"] + label, input[type="radio"] + label{
    color: #666666;
}


.loaderDiv{
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000c7;
}
.loader_200 {
    width: 260px !important;
    height: 290px !important;
    background-size: 300px;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: var(--koochita-yellow)90;*/
}

.userPictureDiv{
    overflow: hidden;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.placeHolderAnime{
    background: radial-gradient(circle,white 0%, #d2d2d242 35%);
    background-size: 400% 400%;
    animation: gradient 1.2s infinite;
    height: 100%;
    width: 100%;
}

.resultLineAnim{
    width: 60%;
    height: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.confirmButton{
    background-color: var(--koochita-light-green);
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.showOneLineText{
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lessShowText{
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.modalBlackBack{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background: #000000b8;
    z-index: 1001;
    display: none;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.modalBlackBack .closeModal{
    position: absolute;
    left: 5px;
    top: 0px;
    font-size: 30px;
    color: var(--koochita-light-green);
    cursor: pointer;
}
.modalBlackBack.showModal{
    display: flex;
    opacity: 1;
}
#darkModal {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9999;
    width: 100%;
    height: 100%;
    /*backdrop-filter: blur(2px);*/
}

.modalBody{
    background: white;
    padding: 25px;
    direction: rtl;
    position: relative;
}

.modalBlackBack.fullCenter{
    align-items: center !important;
}

.topLightBorder{
    border-top: 1px solid #e5e5e5;
}
.leftLightBorder{
    border-left: 1px solid #e5e5e5;
}
.rightLightBorder{
    border-right: 1px solid #e5e5e5;
}
.bottomLightBorder{
    border-bottom: 1px solid #e5e5e5;
}
.unselectedText{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.oneRowText{

}

.inConfirmLabel{
    margin-right: 12px;
    font-size: 9px;
    font-weight: normal;
    cursor: default;
    background: var(--koochita-blue);
}

.loginHelperSection{
    position: fixed;
    background: #000000e3;
    width: 100% !important;
    height: 100% !important;
    z-index: 999;
    right: 0;
    top: 0;
}
.loginHelperSection .helperDescriptionDiv{
    background: white;
    width: 300px;
    left: 100px;
    position: absolute;
    top: 65px;
    border-radius: 5px;
}

.headerLoginHelper.loginHelperSection .goToLeft{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 17%;
    width: 100%;
    font-size: 17px;
}
.loginHelperSection .helperDescriptionDiv .iconClose{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    cursor: pointer;
    color: var(--koochita-red)
}
.loginHelperSection .helperDescriptionDiv .text{
    margin-bottom: 20px;
    text-align: center;
}

.loginHelperSection .pic{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.leftTopArrow:before{
    content: '';
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    position: absolute;
    left: 20px;
    background: white;
    top: -5px;
}
.rightBottomArrow:before{
    content: '';
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    background: white;
    bottom: -5px;
}

.welcomeMsgModalFooter{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #000000cf;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.welcomeMsgModalFooter .showMsgButton{
    position: absolute;
    background: white;
    top: 106px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 20%;
    border-radius: 32px;
    color: var(--koochita-red);
    font-weight: bold;
    padding: 2px 0px;
}
.welcomeMsgModalFooter .showMsgButton .num{
    border-bottom: solid 2px;
    width: 40px;
    text-align: center;
}
.welcomeMsgModalFooter img{
    margin-bottom: 35px;
    height: calc(100vh - 235px);
    max-width: 90%;
}

.playIconOnPicSection:before{
    content: '\E0C0';
    font-family: 'Shazde_Regular2' !important;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #00000059;
    color: white;
    z-index: 1;
    font-size: 50px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (min-width: 991px){
    .showOnTablet{
        display: none;
    }
}

@media (max-width: 991px) {
    .hideOnTablet{
        display: none !important;
    }
    .listContainer{
        position: relative;
        padding: 0 24px;
        box-sizing: border-box;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 20px !important;
    }
    h2{
        font-size: 14px !important;
    }
    h3 {
        font-size: 14px !important;
    }
    h4{
        font-size: 14px !important;
    }
    h5 {
        font-size: 14px !important;
    }
    h6{
        font-size: 14px !important;
    }



    .loginHelperSection .pic{
        width: 90%;
        max-width: 400px;
    }

    .hideOnPhone {
        display: none !important;
        width: 0;
        height: 0;
    }
    .modalBlackBack {
        align-items: unset;
        z-index: 9999;
    }

    .modalBlackBack.fullCenter{
        transition: .3s;
        height: 0;
        top: unset;
        bottom: 0px;
        display: flex !important;
        overflow: hidden;
    }
    .modalBlackBack.fullCenter.showModal{
        height: 100%;
    }
    .modalBlackBack.fullCenter .modalBody{
        position: absolute;
        bottom: 0;
        width: 100% !important;
        padding: 25px 10px;
        border-radius: 20px 20px 0px 0px;
    }

    .loginHelperSection .headerLoginHelper{
        display: none !important;
    }
}

@media (max-width: 400px){
    .welcomeMsgModalFooter .showMsgButton{
        left: 16%;
    }
}

@media only screen and (min-width:768px) {
    .hideOnScreen {
        display: none !important;
        width: 0;
        height: 0;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

:root {
    --koochita-blue: #0076a3;
    --koochita-light-green: #4dc7bc;
    --koochita-dark-green: #053a3e;
    --koochita-green: #0d6650;
    --koochita-red: #720d19;
    --koochita-yellow: #fcc156;
}
