.sprite-check_active {
    background-image: url('/sprites/answers_pack-v62ce7a7639191ed6aad4b0f355a75578.png');
    background-position: left 0;
    width: 9px;
    height: 7px;
}
.sprite-check_inactive {
    background-image: url('/sprites/answers_pack-v62ce7a7639191ed6aad4b0f355a75578.png');
    background-position: left -7px;
    width: 9px;
    height: 7px;
}
.sprite-downvote {
    background-image: url('/sprites/answers_pack-v62ce7a7639191ed6aad4b0f355a75578.png');
    background-position: left -14px;
    width: 15px;
    height: 16px;
}
.sprite-downvote-inactive {
    background-image: url('/sprites/answers_pack-v62ce7a7639191ed6aad4b0f355a75578.png');
    background-position: left -30px;
    width: 15px;
    height: 16px;
}
.sprite-downvote-hover {
    background-image: url('/sprites/answers_pack-v62ce7a7639191ed6aad4b0f355a75578.png');
    background-position: left -46px;
    width: 15px;
    height: 16px;
}
.sprite-upvote {
    background-image: url('/sprites/answers_pack-v62ce7a7639191ed6aad4b0f355a75578.png');
    background-position: left -62px;
    width: 15px;
    height: 16px;
}
.sprite-upvote-inactive {
    background-image: url('/sprites/answers_pack-v62ce7a7639191ed6aad4b0f355a75578.png');
    background-position: left -78px;
    width: 15px;
    height: 16px;
}
.sprite-upvote-hover {
    background-image: url('/sprites/answers_pack-v62ce7a7639191ed6aad4b0f355a75578.png');
    background-position: left -94px;
    width: 15px;
    height: 16px;
}
.sprite-trash {
    background-image: url('/sprites/answers_pack-v62ce7a7639191ed6aad4b0f355a75578.png');
    background-position: left -110px;
    width: 7px;
    height: 11px;
}
.sprite-tooltip-arrow {
    background-image: url('/sprites/answers_pack-v62ce7a7639191ed6aad4b0f355a75578.png');
    background-position: left -121px;
    width: 10px;
    height: 12px;
}
.tabs_answers {
    color: #333;
}
.tabs_answers .title {
    color: #00AF87;
    font-size: 2.5em;
    font-weight: normal;
}
.tabs_answers .tabs_header {
    border-bottom: 1px solid #e5e5e5;
}
.tabs_answers .seeAll {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
    font-size: 1.167em;
    color: #333;
}
.question {
    position: relative;
    margin: 20px 0;
    padding: 20px 0 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
}
.question.singleQuestion {
    margin-bottom: 0;
    padding: 20px 0;
    border-top: none;
    border-bottom: 1px solid #e5e5e5;
}
.question:first-child {
    padding-top: 0;
    border-top: none;
}
.question>.col1of2 {
    width: 135px;
    float: left;
}
.question>.col2of2 {
    height: 100%;
    overflow: visible;
    margin-left: 145px;
    border-radius: 4px;
}
.question .member_info {
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #666;
}
.question .member_info .location {
    font-size: .9165em;
    word-wrap: break-word;
    color: #333;
}
.question .member_info .scrname {
    display: inline;
}
.question .googleTranslation {
    position: relative;
    top: -3px;
    margin: 0;
    line-height: 28px;
    cursor: pointer;
}
.question .questionSummaryWrap {
    border: 4px solid #f5f5f5;
    border-radius: 4px;
}
.questionSummaryWrap .innerBubble {
    position: relative;
    padding: 20px;
    border: 1px solid #e5e5e5;
    color: #333;
}
.questionSummaryWrap .innerBubble:before,
.questionSummaryWrap .innerBubble:after {
    display: block;
    position: absolute;
    width: 0;
    border-style: solid;
    content: "";
}
.questionSummaryWrap .innerBubble:before {
    top: 25px;
    left: -15px;
    border-color: transparent #e5e5e5;
    border-color: rgba(255, 255, 255, 0) #e5e5e5;
    border-width: 13px 15px 13px 0;
}
.questionSummaryWrap .innerBubble:after {
    top: 26px;
    left: -14px;
    border-color: transparent #fff;
    border-color: rgba(255, 255, 255, 0) #fff;
    border-width: 12px 14px 12px 0;
}
.questionSummaryWrap .questionText {
    font: 1.5em/1.4 Georgia, "Times New Roman", "Century Schoolbook L", serif;
    font-style: italic;
    word-wrap: break-word;
}
.questionSummaryWrap .questionText h2 {
    font: inherit;
}
.questionSummaryWrap .questionMeta {
    margin-top: 5px;
    line-height: 28px;
}
.questionSummaryWrap .subTime {
    margin-right: 10px;
    color: #666;
}
.questionSummaryWrap .questionMeta .sprite-trash {
    display: inline-block;
    margin-bottom: -1px;
}
.questionSummaryWrap .questionMeta .deleteButton,
.questionSummaryWrap .questionMeta .reportWrap,
.questionSummaryWrap .questionMeta .postButton {
    margin-right: 10px;
}
.questionSummaryWrap .reportWrap .problem {
    font-size: 1em;
}
.question .postCount {
    margin: 5px 0 10px;
}
.question .postCount.noAnswers {
    margin: 10px 0;
}
.question .showAll {
    margin-right: 10px;
    font-size: 1.0835em;
}
.question .noAnswersLabel {
    margin-right: 10px;
    font-size: 1.0835em;
    color: #b7b7b7;
}
.answerCTA {
    position: relative;
    white-space: nowrap;
    display: inline-block;
}
.answerForm .answerCTA {
    position: absolute;
    top: -29px;
    left: 43px;
}
.answerCTA .outer {
    border: 2px solid #00AF87;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(164, 164, 164, 0.8);
    background-color: white;
    text-shadow: none;
}
.answerCTA .inner {
    padding: 8px 12px;
    background: #fff;
}
.answerCTA .pointer {
    position: relative;
    top: -2px;
    text-align: center;
}
.answerCTA .bc_lp_cta_triangle {
    position: absolute;
    left: -8px;
    top: 11px;
}
.ownerAnswer .avatar {
    border-color: #00AF87;
}
.answerMeta {
    margin-top: 5px;
    line-height: 28px;
    margin-right: 40px;
}
.answerMeta .deleteButton,
.answerMeta .reportWrap {
    margin-right: 10px;
}
.answer .googleTranslation {
    position: relative;
    top: -3px;
    margin: 0;
    line-height: 28px;
    cursor: pointer;
}
.basicAnswer {
    margin: 10px 0;
}
.basicAnswer:first-child {
    padding-top: 0;
}
.basicAnswer>.col1of2 {
    width: 35px;
    float: left;
}
.basicAnswer>.col2of2 {
    height: 100%;
    overflow: visible;
    margin-left: 45px;
    border-radius: 4px;
}
.basicAnswer .member_info {
    margin: 5px 0;
}
.basicAnswer .member_info .QALocation,
.basicAnswer .member_info .QAReviewer,
.basicAnswer .member_info .QARep {
    font-size: .9165em;
}
.basicAnswer .member_info .QALocation {
    margin-left: 5px;
    color: #666;
}
.basicAnswer .member_info .QARep,
.basicAnswer .member_info .QAReviewer {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #e5e5e5;
}
.basicAnswer .member_info .QARep {
    color: #00AF87;
    font-weight: bold;
}
.basicAnswer .answerText {
    margin: 5px 45px 10px 0;
    font-size: 1.167em;
    line-height: 1.285;
    color: #333;
}
.basicAnswer .answerMeta {
    margin-top: 10px;
}
.basicAnswer .subTime {
    margin-right: 10px;
    color: #666;
}
.basicAnswer .answerMeta .sprite-trash {
    display: inline-block;
    margin-bottom: -1px;
}
.QA_vote {
    margin-bottom: 5px;
}
.QA_vote .voteIcon {
    display: block;
    margin: auto;
    cursor: pointer;
    position: relative;
}
.QA_vote .ui_icon {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--koochita-light-green);
    width: 30px;
}
.QA_vote .ui_icon.inactive {
    color: #b7b7b7;
    cursor: default;
}
.QA_vote .voteCount {
    margin: 5px 0;
    font-size: .9165em;
    font-family: Arial Regular, Arial, Verdana, "Bitstream Vera Sans", Helvetica, sans-serif;
    text-align: center;
    color: var(--koochita-light-green);
    width: 30px;
}
.QA_vote .voteCount div {
    overflow: visible;
}
.QA_vote .message {
    position: relative;
    top: -24px;
    left: -13px;
    z-index: 2002;
}
.QA_vote .tooltip {
    display: none;
    border: 2px solid #b7b7b7;
    border-radius: 3px;
    padding: 4px 15px;
    position: absolute;
    top: 0;
    right: 32px;
    white-space: nowrap;
    background-color: #fff;
    font-size: 10px;
    line-height: 14px;
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
}
.QA_vote .tooltip.new {
    background-color: #9f9;
}
.QA_vote .sprite-tooltip-arrow {
    display: none;
    position: absolute;
    right: 25px;
    top: 7px;
}
.QA_vote .single-chevron-up-circle-fill,
.QA_vote .single-chevron-down-circle-fill,
.QA_vote .voteIcon:hover .single-chevron-up-circle,
.QA_vote .voteIcon:hover .single-chevron-down-circle {
    display: none;
}
.QA_vote .voteIcon:hover .tooltip,
.QA_vote .voteIcon:hover .sprite-tooltip-arrow,
.QA_vote .voteIcon:hover .single-chevron-up-circle-fill,
.QA_vote .voteIcon:hover .single-chevron-down-circle-fill,
.QA_vote .message .tooltip,
.QA_vote .message .sprite-tooltip-arrow {
    display: block;
}
.QA_stats {
    display: table;
    border-bottom: 1px solid #e5e5e5;
}
.QA_stats .section {
    display: table-cell;
    vertical-align: top;
    padding: 20px;
    border-left: 1px solid #e5e5e5;
    font-size: 1.167em;
}
.QA_stats .section:first-child {
    padding-left: 0;
    border: none;
}
.QA_stats .rndBtn {
    font-size: .857em;
    height: auto;
    padding: 0 12px;
}
.QA_stats .rndBtn {
    font-size: 14px;
    padding: 9px 16px 8px;
}
.QA_stats .explain {
    width: 46%;
    line-height: 1.285;
}
.QA_stats .answerCount {
    width: 27%;
    text-align: center;
}
.QA_stats .answerCount .count {
    margin-right: 10px;
    font-size: 2.5em;
    color: #00AF87;
}
.QA_stats .answerCount .countTxt {
    overflow: hidden;
}
.QA_stats .answerCount .countTxt.block {
    display: block;
}
.QA_stats .askQuestion {
    vertical-align: middle;
    text-align: center;
}
.QA_stats+.deckTools .srtTools {
    border-top: none;
}
#QA_SIDEBAR {
    margin-bottom: 20px;
}
#QA_SIDEBAR h2 {
    font-weight: normal;
}
#QA_SIDEBAR h2 img {
    margin-right: 7px;
}
#QA_SIDEBAR .question-circle-fill {
    font-size: 22px;
    line-height: 26px;
    color: #00AF87;
    float: left;
    margin: -2px 7px 0 0;
}
#QA_SIDEBAR .item {
    padding: 7px 0;
    border-bottom: 1px solid #e5e5e5;
}
#QA_SIDEBAR .col2of3 {
    width: 200px;
    overflow: hidden;
    margin-left: 5px;
    word-wrap: break-word;
    float: left;
}
#QA_SIDEBAR .subTime {
    margin-top: 3px;
    font-size: .8335em;
    color: #666;
}
#QA_SIDEBAR .col3of3 {
    margin-left: 15px;
    color: #666;
    float: right;
}
#QA_SIDEBAR .count {
    display: block;
    font-size: 2em;
    line-height: 24px;
    text-align: center;
}
#QA_SIDEBAR .count.hasAnswers {
    color: #00AF87;
}
#QA_SIDEBAR .annotation {
    display: block;
    margin-top: 6px;
    font-size: .8335em;
}
#QA_SIDEBAR .block_footer {
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}
#QA_SIDEBAR .noQuestions {
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}
#QA_SIDEBAR .textWrap {
    margin-bottom: 10px;
    border: 4px solid #f5f5f5;
    background-color: #fff;
}
#QA_SIDEBAR .innerBubble {
    position: relative;
    border: 1px solid #e5e5e5;
    color: #333;
}
#QA_SIDEBAR textarea {
    padding: 10px 15px;
}
#QA_SIDEBAR textarea.collapsed {
    height: 4em;
}
#QA_SIDEBAR button.submit.ui_button {
    padding: 9px 16px 8px;
}
#QA_SIDEBAR button.submit {
    padding: 0 32px;
}
.QA_form textarea::-moz-placeholder,
.answerForm textarea::-moz-placeholder {
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
}
.QA_form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 10em;
    overflow: auto;
    padding: 20px;
    border: none;
    font: 1.167em/1.14 Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #333;
    resize: none;
}
.QA_form textarea.collapsed {
    height: 5em;
}
.QA_form_wrap .textarea {
    border: none;
}
.QA_form textarea:focus,
.answerForm textarea:focus {
    outline: none;
}
.QA_form .submitWrap {
    margin-top: 10px;
}
.QA_form .submitWrap .guidelines {
    display: inline-block;
    margin: 7px 0 0 7px;
    white-space: nowrap;
    color: #069;
}
.QA_form .submitWrap .submit {
    font-weight: bold;
    line-height: 1;
}
.QA_form .optIn {
    margin: 10px 0;
    padding: 0 7px;
}
.QA_form .optIn input {
    margin-right: 7px;
}
.QA_form .optIn label {
    vertical-align: top;
}
.QA_form .submitSpinner,
.answerForm .submitSpinner {
    height: 16px;
    width: 16px;
    margin: 5px 12px;
    background-image: url('/img2/spinner.gif');
}
.QA_form_wrap {
    margin: 20px 0;
    padding: 20px;
    background-color: #f5f5f5;
}
.QA_form_wrap .QA_form_header {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}
.QA_form_wrap .col1of2 {
    width: 120px;
    margin-right: 22px;
    float: left;
}
.QA_form_wrap .col1of1,
.QA_form_wrap .col2of2,
.answerForm .col1of1,
.answerForm .col2of2 {
    height: 100%;
    overflow: visible;
    border-radius: 4px;
}
.QA_form_wrap .col2of2 {
    margin-left: 145px;
}
.QA_form_wrap .member_info .QARep {
    font-size: 1em;
    font-weight: bold;
    color: #00AF87;
    clear: both;
}
.QA_form_wrap .member_info .QAReviewer {
    font-size: 1em;
    color: #666;
    clear: both;
}
.QA_form_wrap .member_info .location {
    font-size: .9165em;
}
.QA_form_wrap .textWrap {
    border: 4px solid #f5f5f5;
    background-color: #fff;
}
.QA_form_wrap .innerBubble {
    position: relative;
    border: 1px solid #e5e5e5;
    color: #333;
}
.QA_form_wrap .col2of2 .innerBubble:before,
.QA_form_wrap .col2of2 .innerBubble:after {
    display: block;
    position: absolute;
    width: 0;
    border-style: solid;
    content: "";
}
.QA_form_wrap .col2of2 .innerBubble:before {
    top: 25px;
    left: -15px;
    border-color: transparent #e5e5e5;
    border-color: rgba(255, 255, 255, 0) #e5e5e5;
    border-width: 13px 15px 13px 0;
}
.QA_form_wrap .col2of2 .innerBubble:after {
    top: 26px;
    left: -14px;
    border-color: transparent #fff;
    border-color: rgba(255, 255, 255, 0) #fff;
    border-width: 12px 14px 12px 0;
}
.questionToolTip {
    width: 300px;
    line-height: 1.75em;
    color: #00AF87;
}
.submitSpinner {
    height: 16px;
    width: 16px;
    margin: 5px 12px;
    background-image: url('/img2/spinner.gif');
}
.QA_suggestions {
    color: #666;
    margin-top: 10px;
    line-height: 1.50em;
}
.QA_suggestions ul {
    list-style-type: circle;
    margin-left: 15px;
    list-style-position: inside;
}
.QA_suggestions li span {
    vertical-align: middle;
}
.QA_form #p-altsessid,
.QA_form #i-altsessid,
.QA_form #obj_id {
    position: absolute;
    z-index: -1;
}
.QA_errors {
    margin: 12px 2px 0 0;
    padding: 5px 5px 5px 5px;
    color: #d80007;
    text-align: left;
}
.tablet_desktop #ANSWERS_TAB {
    margin-top: 32px;
}
.tablet_desktop #ANSWERS_TAB .title {
    margin-bottom: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid #b7b7b7;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
}
.answerForm {
    position: relative;
    margin-top: 10px;
}
.answerForm .col1of2 {
    width: 35px;
    margin-right: 10px;
    float: left;
}
.answerForm .col2of2 {
    margin-left: 45px;
}
.answerForm textarea {
    box-sizing: border-box;
    width: 100%;
    height: 6em;
    overflow: auto;
    margin-top: 2px;
    padding: .5em;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    font: 1.167em Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #333;
    resize: none;
}
.answerForm textarea.collapsed {
    height: 2.4em;
}
.answerForm .captchaWrap {
    margin-top: .8em;
}
.answerForm .submitWrap {
    margin-top: 10px;
}
.answerForm .guidelines {
    font-size: .9165em;
}
.question .answerForm .postButton {
    font-size: 1em;
}
.answer {
    position: relative;
    margin: 20px 0;
    padding: 20px 0 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
}
.answer,
.ownerAnswer {
    background-color: #fff;
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
}
.answer.new,
.ownerAnswer.new {
    background-color: #BFB;
}
.answer:first-child {
    padding-top: 0;
    border-top: none;
}
.answer>.col1of2 {
    width: 135px;
    float: left;
}
.answer>.col2of2 {
    height: 100%;
    overflow: visible;
    margin-left: 145px;
    border-radius: 4px;
}
.answer .member_info {
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #666;
}
.answer .member_info {
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #666;
}
.answer .member_info .QARep {
    clear: both;
    font-weight: bold;
    color: #00AF87;
}
.answer .member_info .QAReviewer {
    clear: both;
    font-weight: bold;
    color: #666;
}
.answer .member_info .location {
    font-size: .9165em;
    word-wrap: break-word;
    color: #333;
}
.answer .answerSummaryWrap {
    border: 4px solid #f5f5f5;
    border-radius: 4px;
}
.answer .innerBubble {
    position: relative;
    padding: 20px;
    border: 1px solid #e5e5e5;
    color: #333;
    min-height: 64px;
}
.answer .innerBubble:before,
.answer .innerBubble:after {
    display: block;
    position: absolute;
    width: 0;
    border-style: solid;
    content: "";
}
.answer .innerBubble:before {
    top: 25px;
    left: -15px;
    border-color: transparent #e5e5e5;
    border-color: rgba(255, 255, 255, 0) #e5e5e5;
    border-width: 13px 15px 13px 0;
}
.answer .innerBubble:after {
    top: 26px;
    left: -14px;
    border-color: transparent #fff;
    border-color: rgba(255, 255, 255, 0) #fff;
    border-width: 12px 14px 12px 0;
}
.answer .answerText {
    margin-right: 40px;
    font-size: 1.167em;
    line-height: 1.285;
    word-wrap: break-word;
}
.answer .answerText p:last-child {
    margin: 0;
}
.answer .subTime {
    margin-right: 10px;
    color: #666;
}
.answer .answerMeta .sprite-trash {
    display: inline-block;
    margin-bottom: -1px;
}
.answer .reportWrap .problem {
    font-size: 1em;
}
.QA_owners {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.QA_owners .content {
    font-size: 1.167em;
}
.QA_owners .content a {
    color: #069;
}
.QA_owners .content p {
    margin-bottom: 0;
}
.QA_moreQuestions {
    margin: 20px 0;
    padding: 20px;
    background-color: #f5f5f5;
}
.QA_moreQuestions .moreHeader {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}
.QA_moreQuestions .questionList {
    margin-top: 20px;
}
.QA_moreQuestions .question {
    margin: 0 0 7px;
    padding: 0 0 7px;
    border-top: none;
    border-bottom: 1px solid #e5e5e5;
}
.QA_moreQuestions .moreQuestionsAnswer {
    width: 100%;
}
.QA_moreQuestions .col1of2 {
    width: 45px;
    float: left;
}
.QA_moreQuestions .col2of2 {
    height: 100%;
    overflow: visible;
    margin-left: 45px;
}
.QA_moreQuestions .questionMeta {
    color: #666;
}
.QA_moreQuestions .answersLink {
    float: right;
}
.QA_moreQuestions .seeAll {
    margin-top: 15px;
}
.QA_moreQuestions .questionLink,
.QA_moreQuestions .answersLink,
.QA_moreQuestions .seeAll {
    font-size: 1.167em;
}
.travel_answers_page #SOC_FOOTER {
    display: none;
}
.travel_answers_page #HR_HACKATHON_CONTENT {
    padding: 0;
    border: none;
    box-shadow: none;
}
.travel_answers_page #HR_HACKATHON_CONTENT .bc_text_content .textLinks.revised {
    padding: 4px 0 15px;
}
.travel_answers_page #HR_HACKATHON_CONTENT .textLinks.revised .textLink {
    width: 128px;
    padding: 0 0 0 8px;
}
.travel_answers_page #HR_HACKATHON_CONTENT .textLinks.revised .textLink.odd {
    padding: 0 10px 0 0;
}
.travel_answers_page #HR_HACKATHON_CONTENT .offer.premium .priceBlock {
    width: 62px!important;
}
#BODYCON .QAsidebar {
    padding: 20px 0 0 18px;
}
.travel_answers_page .wrpHeader {
    border-bottom: 1px solid #e5e5e5;
}
.travel_answers_page .wrpHeader .apt {
    margin-top: 5px;
    margin-right: 18px;
    float: left;
}
#HEADING_GROUP.QAHeadingGroup {
    width: auto;
    margin-left: 61px;
}
#HEADING_GROUP.QAHeadingGroup.noPhoto {
    margin-left: 0;
}
#HEADING_GROUP.floatContainer.QAHeadingGroup {
    display: block;
}
.travel_answers_page #HEADING_GROUP #HEADING .altHead {
    clear: none;
    float: none;
}
#HEADING_GROUP.QAHeadingGroup h1 {
    font-size: 2.5em;
}
.QAHeadingGroup .rating a {
    line-height: 14px;
}
.QAHeadingGroup .headerCTA .postButton {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}
.QAHeadingGroup .headerCTA .showAllBtn {
    margin-top: 21px;
}
.QAHeadingGroup .info {
    margin-top: 3px;
}
.QAHeadingGroup .rating {
    font-size: 1.0835em;
    line-height: 1;
    float: left;
}
.QAHeadingGroup .popRanking {
    margin-left: 19px;
    padding: 0;
    float: left;
    color: #00AF87;
}
.QAHeadingGroup .slim_ranking {
    margin: 0;
    font-size: 1.0835em;
    line-height: 1;
}
.QASort {
    font-size: 1.167em;
    font-weight: normal;
    color: #333;
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
}
.travel_answers_page .deckTools .srtTools #SORT_FORM {
    padding-top: 3px;
    float: left;
}
.travel_answers_page #LANG_FORM .sprite-date_picker-triangle {
    display: inline-block;
    height: 20px;
    width: 20px;
}
.privMess {
    width: 400px;
    background-color: #fff;
}
.privMess .error {
    margin: 8px 0;
    padding: 3px 0 3px 23px;
    background: url('/img2/alerts/warning_red.gif') no-repeat left 50%;
    color: #c00;
}
.privMess form {
    font-family: inherit;
}
.privMess form textarea {
    width: 400px;
    height: 128px;
    margin: 5px 0 10px;
    border: 1px solid #91b8a3;
    font-size: 100%;
    font-family: inherit;
    color: #565656;
}
.privMess form legend {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 137.5%;
}
.privMess form span {
    line-height: 140%;
}
.privMess form .context {
    margin-bottom: 1px;
}
.privMess form .cancel {
    font-size: 92.5%;
}
.privMess .guidelines {
    clear: both;
    display: block;
    text-align: right;
    margin-top: 1px;
    font-size: 85%;
    float: right;
}
.privMess .captcha_guidelines {
    margin-bottom: 5px;
}
.privMess .msgTools {
    margin-left: 57px;
}
.privMess.send .msgTools {
    margin-left: 80px;
}
.privMess.send .msgTools .form_send {
    color: #fff;
}
.privMess.send .captcha_msgTools {
    margin-top: 10px;
}
.privMess.send .captcha_cancel {
    float: right;
    display: block;
    line-height: 24px;
}
.privMess.send form label {
    font-weight: bold;
    float: left;
    width: 75px;
    text-align: right;
    margin-right: 3px;
}
.privMess.send form textarea {
    width: 319px;
    margin-left: 80px;
    margin-bottom: 2px;
}
.privMess.send form .from {
    margin: 0 0 8px 0;
    overflow: hidden;
}
.privMess.send form .from span {
    margin-left: 2px;
    line-height: normal;
}
.privMess.send form .subject .text {
    width: 261px;
    margin-left: 2px;
}
.privMess.send form .subject {
    margin: 0 0 5px 0;
    overflow: hidden;
}
.privMess.send form .verification span {
    display: inline-block;
    margin-left: 2px;
    line-height: normal;
}
.privMess.send #captcha_box {
    margin-top: 5px;
}
.privMess.send #captcha_box div.left {
    width: 71px;
    float: left;
    text-align: right;
    margin-right: 3px;
    font-weight: bold;
}
.privMess.send #captcha_box div.right {
    padding-left: 80px;
    width: auto;
}
.privMess.send #captcha_box #recaptcha_image {
    width: 300px;
    height: 57px;
    border: 1px solid #91B8A3;
}
.privMess.send #captcha_box #recaptcha_challenge_image {
    display: block;
}
.privMess.send #captcha_box .right .txt2 {
    color: #656565;
}
.privMess.send #captcha_box .right .txt3 {
    padding: 5px 0 5px;
    color: #656565;
}
.privMess.send #captcha_box .right .txt4 {
    padding: 13px 0 10px;
}
.privMess.send #captcha_box #recaptcha_response_field {
    width: 200px;
}
.privMess.send #bullying_notice {
    margin-left: 80px;
    padding: 10px 0 10px 0;
    color: red;
    font-family: inherit;
    font-style: italic;
}
.privMess.msg_reply {
    width: 700px;
}
.privMess.msg_reply form textarea,
.privMess.msg_reply.send form textarea {
    width: 619px;
    height: 300px;
    _width: 695px;
    padding: 2px;
}
.privMess.send.msg_reply form .subject .text {
    width: 561px;
}